
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">



<body>
	<f:metadata>
		<f:event type="preRenderView" listener="#{explorer.init}" />
	</f:metadata>

	<style>
.rf-pp-cntr {
	border: 0;
	background: transparent;
}

.rf-tab-hdr-act.rf-tab-hdr-top {
	vertical-align: middle;
}

.rf-tab-hdr-inact.rf-tab-hdr-top {
	vertical-align: middle;
}

.rf-tab-hdr-spcr {
	padding-left: 0 !important;
}

.rf-pp-cnt-scrlr {
	background: transparent;
}

.rf-pp-cnt {
	padding: 0;
	background: transparent;
	border: none;
	height: 80%;
}

.rf-tbp {
	padding-top: 3px;
}

.rf-tab-cnt {
	height: 229px;
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

.rf-tab-lbl {
	font-family: verdana, arial, sans-serif;
}

.rf-tab-hdr-act {
	padding-top: 4px !important;
}

.rf-msgs-inf {
    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
    color: green;
}
.rf-msg-inf {
    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
    color: green;
}
</style>
 <script src="js/jquery-ui-1.9.2.custom.js"></script>
 <script src="js/ZeroClipboard.js"></script>
<script>
	 function closePopup(){
	 alert("hi: " + #{empty facesContext.messages} + ", " + #{facesContext.isValidationFailed()});
	 //var empty = #{empty facesContext.maximumSeverity};
	 var empty = #{empty facesContext.messages};
	 if(empty){
		 #{rich:component("popupExport")}.hide(); return false;
		 }
 }
   				 function openOutlook(){  				 
  				 	var url = "mailto:?Subject="+escape("Download Link")
  				 	url = url + "&amp;body="+ escape(document.getElementById("explorerGrid:emailString").value);
	 				
	 				window.location.href=url;
	 				return false;
		 		}
 
</script>



	<h:form id="explorerForm" styleClass="common">
		<rich:messages id="errorMsg" />
		<table class="stylized" style="width: 98.5%;">
			<tfoot>
				<tr>

					<td style="height: 32px;vertical-align: bottom;"><h:panelGroup id="levelUp">
					
							<a4j:commandLink value="Local: &nbsp;" rendered="#{explorer.searchPathEnabled eq false and explorer.remoteFilesLoaded eq false}" limitRender="true" style="cursor:default;color:black;font-weight:bold;"/>
					     	<a4j:commandLink value="Remote: &nbsp;" rendered="#{explorer.searchPathEnabled eq false and explorer.remoteFilesLoaded eq true}" style="cursor:default;font-weight:bold;"/>				                									     
						    <a4j:repeat value="#{explorer.breadCrumbsList}" var="breadCrumb" rendered="#{explorer.searchPathEnabled eq false}" >
						       
						       <h:panelGroup rendered="#{breadCrumb.last eq false}">
							        <a4j:commandLink value="#{breadCrumb.name}" action="#{explorer.folderSelected}" render="levelUp tree searchUpperDiv"  onclick="#{rich:component('loadingPanel')} .show();hideDetailsPanel();" oncomplete="#{rich:component('loadingPanel')} .hide();"  >
							          <f:param value="#{breadCrumb.path}" name="selectedNodePath"></f:param>
							        </a4j:commandLink>
							        <h:outputText value="&nbsp;>&nbsp; "></h:outputText>
						        </h:panelGroup>
						        <h:outputText rendered="#{breadCrumb.last eq true}" value="#{breadCrumb.name}" style="font-weight:bold;"></h:outputText>
						   </a4j:repeat>

							<a4j:commandLink
								style="float:right;height:16px;padding-left:5px;"
								render="levelUp">
								<h:graphicImage value="/images/edit.png" title="Edit Search Path"
									style="border:0;height:16px;width:16px;"></h:graphicImage>

								<a4j:param assignTo="${explorer.searchPathEnabled}"
									value="#{!explorer.searchPathEnabled}"></a4j:param>
							</a4j:commandLink>
							
							<a4j:commandLink rendered="#{explorer.enableCIFSFileSharing eq true}"
								style="float:right;height:16px;padding-left:5px;" onclick="#{rich:component('loadingPanel')} .show()"
								render="levelUp searchUpperDiv" action="#{explorer.loadRemoteFiles}" onbegin="hideDetailsPanel();" oncomplete="#{rich:component('loadingPanel')} .hide();">
								<h:graphicImage value="/images/icon-load-unc.png" title="load UNC files"
									style="border:0;height:16px;width:16px;padding-top:3px;"></h:graphicImage>


							</a4j:commandLink>
							

							<h:outputText value="&nbsp;&nbsp;"></h:outputText>

							<h:inputText value="#{explorer.searchPath}"
								rendered="#{explorer.searchPathEnabled eq true}"
								onclick="hideDetailsPanel();" onselect="hideDetailsPanel();"
								style="width: 780px;float:right;"
								onkeypress="if(event.keyCode==13){document.getElementById('explorerForm:searchButton').click();return false;}return true;" />

							<a4j:commandButton id="searchButton" style="display:none;"
								action="#{explorer.searchByPath}" value="Search"
								render="levelUp tree searchUpperDiv"
								onclick="#{rich:component('loadingPanel')} .show()"
								oncomplete="#{rich:component('loadingPanel')} .hide();">
							</a4j:commandButton>

						</h:panelGroup></td>

				</tr>
			</tfoot>
		</table>



		<div 
			style="float: left; height: 525px; margin-top: 5px; width: 100%; max-width: 24%; max-height: 525px; margin-right: 5px;">
		<div id="search-tree">
			<table class="stylized" style="width: 100%;"  border="2">
				<thead >
					<tr>
						<th><span class="extend1">Folders</span> <h:panelGroup  
								id="expData" style="float: right;margin-top: 6px;">
							
								<a4j:commandLink id="exportButton" title="Export" onclick="#{rich:component('loadingPanel')}.show();"
									immediate="true" render="exportGrid"
									oncomplete="#{rich:component('popupExport')}.show();#{rich:component('loadingPanel')}.hide();"
									limitRender="true" action="#{explorer.createExport}"
									disabled="#{explorer.showExport eq false}"
									rendered="#{explorer.loggedInRole eq 'ADMINISTRATOR'}" >
									<h:graphicImage value="/images/icon-export.png" width="25" height="25"></h:graphicImage>
									</a4j:commandLink>
							</h:panelGroup></th>
					</tr>
				</thead>

			</table>
			</div>
			<div class="search-tree" >

				<table>

					<tr>
						<td style="height: 410px;vertical-align: top;"><h:inputHidden
								id="exportNodePath" value="#{jobController.exportNodePath}"></h:inputHidden>
							<rich:tree stateVar="exportNodePath" id="tree" keepSaved="true"
								nodeType="#{node.type}" var="node" value="#{explorer.rootNodes}"
								selectionType="ajax"
								selectionChangeListener="#{explorer.selectionChanged}"
								execute="tree" render="searchGrid levelUp"						
								>

								<rich:treeNode type="nt:folder" expanded="false" id="folderId"
									toggleListener="#{explorer.treeNodeToggled}"
									onbeforetoggle="#{rich:component('loadingPanel')} .show();"
									ontoggle="#{rich:component('loadingPanel')} .hide();">
									<h:inputHidden id="nodePath" value="#{node.path}"></h:inputHidden>
									<h:selectBooleanCheckbox value="#{node.selected}"
										id="folderCheckbox" name="#{node.path}"
										rendered="#{explorer.loggedInRole eq 'ADMINISTRATOR'}">
										<a4j:ajax listener="#{explorer.checkBoxToggled}"
											event="mouseout" render="expData"
											onbeforesubmit="addRemoveSelectedPath()"
											execute="explorerForm" disabled="false"></a4j:ajax>
									</h:selectBooleanCheckbox>
							                     
							                     #{node.name}
							                </rich:treeNode>

							</rich:tree></td>
					</tr>

				</table>
			</div>

		</div>

	</h:form>


	<h:form id="explorerGrid" styleClass="common">

		<div class="search-grid" style="width:74%">

			<table class="stylized">
				<thead>
					<tr height="30px">

						<th width="40%"><a4j:commandLink value="#{message['fExplorer.explorerGrid.name.header']}" immediate="true"
								actionListener="#{explorer.sort}" render="searchGrid">
								<f:param name="sortBy" value="name" />
							</a4j:commandLink></th>
						<th width="20%"><a4j:commandLink value="#{message['fExplorer.explorerGrid.modified.header']}" immediate="true"
								actionListener="#{explorer.sort}" render="searchGrid">
								<f:param name="sortBy" value="date" />
							</a4j:commandLink></th>
						<th width="25%"><a4j:commandLink value="#{message['fExplorer.explorerGrid.type.header']}" immediate="true"
								actionListener="#{explorer.sort}" render="searchGrid">
								<f:param name="sortBy" value="type" />
							</a4j:commandLink></th>
						<th width="15%"><a4j:commandLink value="#{message['fExplorer.explorerGrid.size.header']}" immediate="true"
								actionListener="#{explorer.sort}" render="searchGrid">
								<f:param name="sortBy" value="size" />
							</a4j:commandLink></th>

					</tr>
				</thead>
			</table>

			<h:panelGroup id="searchUpperDiv" layout="block"
				style="height: 448px;max-height: 448px;overflow-y:auto;background-color: #FFFFFF;border-top:0;border-right: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;">

				<a4j:region>
					<a4j:status onstart="#{rich:component('loadingPanel')} .show()"
						onstop="#{rich:component('loadingPanel')} .hide();"
						onsuccess="#{rich:component('loadingPanel')} .hide()"
						onerror="#{rich:component('loadingPanel')} .hide()" id="spinner"></a4j:status>
						<h:panelGroup id="searchGrid">

					<h:outputText value="#{message['fExplorer.explorerGrid.noFiles.text']}" rendered="#{empty explorer.firstLevelFiles}"/>
					<rich:dataTable id="searchGrid2" value="#{explorer.firstLevelFiles}"
						var="file" styleClass="stylized" rowKeyVar="rownum" first="0"
						onrowclick="selectRow('explorerGrid:searchGrid2', #{rownum});"
						onrowmouseover="highlightRow(this);"
						onrowmouseout="lowlightRow(this);"
						style="border:0;table-layout:fixed;">


						<rich:column id="name"
							style="border-right:0;border-left:0;width:40%;max-width:40%;min-width:40%;line-height: 20px; font-size:11px;padding-right:0;word-wrap:break-word;">

							<h:outputText value="&nbsp;&nbsp;&nbsp;" rendered="#{file.version}" />
							<a4j:commandLink actionListener="#{explorer.folderSelected}"
								rendered="#{file.type eq 'nt:folder'}"
								render="searchUpperDiv detailsDiv levelUp"
								oncomplete="#{rich:component('loadingPanel')} .hide();hideDetailsPanel();"
								style="color: black;cursor:default;">

								<h:graphicImage value="/images/open-folder.gif"
									style="padding-left:0px;border:0;" />
								
								<h:graphicImage value="/images/open-shared-folder.jpg" width="16" height="16" rendered="#{file.archive eq false and false}"
									style="padding-left:0px;border:0;" />

								<f:param value="#{file.path}" name="selectedNodePath"></f:param>
								<f:param value="#{file.archive}" name="isArchive"></f:param>
								
							</a4j:commandLink>

							<a4j:commandLink actionListener="#{explorer.fileSelected}" rendered="#{file.archive eq true}"
								render="detailsDiv versionsDiv levelUp pdfPopupDiv" onclick="#{rich:component('loadingPanel')} .show();"
								oncomplete="showDetailsPanel();#{rich:component('loadingPanel')} .hide();loadZeroClipboard();"
								style="color: black;cursor:default;font-size:11px;">
								<h:graphicImage value="/icons/grid/#{file.iconUrl}"
									rendered="#{file.type ne 'nt:folder'}" style="border: 0;" />

								<h:outputLabel value="&#160;"></h:outputLabel>
								<h:outputText value="#{file.name}"></h:outputText>

								<f:param value="#{file.path}" name="selectedNodePath"></f:param>
								<f:param value="#{file.version}" name="isVersion"></f:param>
							</a4j:commandLink>
							<a4j:commandLink actionListener="#{explorer.smbFileSelected}"  rendered="#{file.archive eq false}"
								render=" detailsDiv versionsDiv levelUp pdfPopupDiv" onclick="#{rich:component('loadingPanel')} .show();"
								oncomplete="showDetailsPanel();#{rich:component('loadingPanel')} .hide();"
								style="cursor:default;font-size:11px;">
								<h:graphicImage value="/icons/grid/#{file.iconUrl}"
									rendered="#{file.type ne 'nt:folder'}" style="border: 0;" />

								<h:outputLabel value="&#160;"></h:outputLabel>
								<h:outputText value="#{file.name}"></h:outputText>

								<f:param value="#{file.path}" name="selectedNodePath"></f:param>
								<f:param value="#{file.version}" name="isVersion"></f:param>
							</a4j:commandLink>							
							<a4j:commandLink action="#{explorer.readyToSendLink}" oncomplete="#{rich:component('emailUncLinkPopup')}.show();" rendered="#{file.archive eq false and file.type ne 'nt:folder' and explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq false and false}" render="emailString">
								<h:graphicImage value="/images/file_sharing_icon.png" height="20" width="20"  title="share file via email" />
								<a4j:param name="nodePath" value="#{file.path}"/>
							</a4j:commandLink>
	                        
	                        <a4j:commandLink action="#{explorer.emailUncUsingDefaultClient()}" oncomplete="openOutlook()" rendered="#{file.archive eq false and file.type ne 'nt:folder' and explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq true and false}" render="emailString">
						    	<h:graphicImage value="/images/file_sharing_icon.png" width="20" height="20"   title="Email document URL" ></h:graphicImage>
						    	<a4j:param name="nodePath" value="#{file.path}"/>
						    </a4j:commandLink>
							

							<a4j:commandLink rendered="#{file.nextVersionsSize > 0}" actionListener="#{explorer.expandVersions()}" render="searchGrid versionsDiv versionsModifiedDiv versionsSizeDiv versionsTypeDiv" oncomplete="#{rich:component('loadingPanel')} .hide();hideDetailsPanel();">
								<f:param value="#{file.path}" name="selectedNodePath"></f:param>
								<h:graphicImage value="/images/icon-file-versions.png" height="16" width="16" style="margin-left:10px;vertical-align:center;" title="show versions"></h:graphicImage>
							</a4j:commandLink>
							<h:panelGroup id="versionsDiv">
								<h:panelGroup rendered="#{explorer.nextVersionsSize > 0 and false}">
									<rich:dataTable id="versionsGrid" value="#{explorer.nextVersionsList}"
										var="nxtVer" styleClass="stylized" rowKeyVar="verrownum" first="0"
										onrowclick="selectVersionRow('explorerGrid:searchGrid:#{rownum}:versionsGrid',#{verrownum});selectVersionRow('explorerGrid:searchGrid:#{rownum}:versionsModifiedGrid',#{verrownum});selectVersionRow('explorerGrid:searchGrid:#{rownum}:versionsSizeGrid',#{verrownum});selectVersionRow('explorerGrid:searchGrid:#{rownum}:versionsTypeGrid',#{verrownum});"
										onrowmouseover="highlightRow(this);"
										onrowmouseout="lowlightRow(this);"
										style="border:0;table-layout:fixed;">
							
										<rich:column
											style="border-right:0;border-left:0;width:100%;max-width:100%;min-width:100%;line-height: 20px; font-size:10px;padding-right:0;word-wrap:break-word;">
											<h:outputText value="&nbsp;&nbsp;&nbsp;" />
											<a4j:commandLink actionListener="#{explorer.fileSelected}"
												onbegin="#{rich:component('loadingPanel')} .show();"
												oncomplete="showDetailsPanel();#{rich:component('loadingPanel')} .hide();deSelectRow('explorerGrid:searchGrid', 0);"
												limitRender="true" render="detailsDiv"
												style="color: black;cursor:default;">
												<h:graphicImage value="/icons/grid/#{nxtVer.iconUrl}"
													rendered="#{nxtVer.type ne 'nt:folder' and false}" style="border: 0;" />
				
												<h:outputLabel value="&#160;"></h:outputLabel>
												<h:outputText value="#{nxtVer.name}"></h:outputText>
				
												<f:param value="#{nxtVer.path}" name="selectedNodePath"></f:param>
											</a4j:commandLink>
											
										</rich:column>
										<rich:column rendered="false"
											style="border-right:0;border-left:0;">
											#{nxtVer.lastModified}
										</rich:column>
										<rich:column rendered="false"
											style="border-right:0;border-left:0;">
											#{nxtVer.fileSize}
										</rich:column>
								
									</rich:dataTable>
								</h:panelGroup>
							</h:panelGroup>
                                                      
						</rich:column>


						<rich:column
							style="width:20%;min-width:20%;max-width:20%; border-right:0;font-size:11px;line-height: 20px;padding-right:0;">
							<h:outputText value="&nbsp;&nbsp;&nbsp;" rendered="#{file.version}" />
							<h:outputText value="#{file.lastModified}"></h:outputText>
							<h:panelGroup id="versionsModifiedDiv">
							<h:panelGroup rendered="#{explorer.nextVersionsSize > 0  and false}">
								<rich:dataTable id="versionsModifiedGrid" value="#{explorer.nextVersionsList}"
									var="nxtVer" styleClass="stylized" rowKeyVar="verrownum" first="0"									
									onrowmouseover="highlightRow(this);"
									onrowmouseout="lowlightRow(this);"
									style="border:0;table-layout:fixed;">
						

									<rich:column rendered="true"
										style="border-right:0;border-left:0;width:100%;max-width:100%;min-width:100%;line-height: 20px; font-size:10px;padding-right:0;word-wrap:break-word;">
										<h:outputText value="&nbsp;&nbsp;&nbsp;" />
										#{nxtVer.lastModified}
									</rich:column>									
							
								</rich:dataTable>
							</h:panelGroup>
							</h:panelGroup>
							
						</rich:column>

						<rich:column
							style="width:25%;max-width:25%;min-width:25%; border-right:0;font-size:11px;line-height: 20px;padding-right:0;">
							<h:outputText value="&nbsp;&nbsp;&nbsp;" rendered="#{file.version}" />
							<h:outputText value="#{file.fileTypeDesc}"></h:outputText>
							<h:panelGroup id="versionsTypeDiv">
								<h:panelGroup rendered="#{explorer.nextVersionsSize > 0  and false}">
									<rich:dataTable id="versionsTypeGrid" value="#{explorer.nextVersionsList}"
										var="nxtVer" styleClass="stylized" rowKeyVar="verrownum" first="0"									
										onrowmouseover="highlightRow(this);"
										onrowmouseout="lowlightRow(this);"
										style="border:0;table-layout:fixed;">
							
	
									<rich:column
										style="border-right:0;border-left:0;width:100%;max-width:100%;min-width:100%;line-height: 20px; font-size:10px;padding-right:0;word-wrap:break-word;">
										<h:outputText value="&nbsp;&nbsp;&nbsp;" />
										#{nxtVer.fileTypeDesc}
									</rich:column>								
								
									</rich:dataTable>
								</h:panelGroup>
							</h:panelGroup>
							
						</rich:column>

						<rich:column
							style="width:15%;max-width:15%;min-width:15%; border-right:0;font-size:11px;line-height: 20px;padding-left:0;padding-right:0;">
							<h:outputText value="&nbsp;&nbsp;&nbsp;" rendered="#{file.version}" />
							<h:outputText value="#{file.fileSize}"
								rendered="#{file.type ne 'nt:folder'}"></h:outputText>
							<h:outputText value="#{file.fileFoldersCount}"
								rendered="#{file.type eq 'nt:folder'}"></h:outputText>
								<h:panelGroup id="versionsSizeDiv">
								<h:panelGroup rendered="#{explorer.nextVersionsSize > 0 and false}">
									<rich:dataTable id="versionsSizeGrid" value="#{explorer.nextVersionsList}"
										var="nxtVer" styleClass="stylized" rowKeyVar="verrownum" first="0"
										onrowmouseover="highlightRow(this);"
										onrowmouseout="lowlightRow(this);"
										style="border:0;table-layout:fixed;">
							
	
									<rich:column
										style="border-right:0;border-left:0;width:100%;height:100%;max-width:100%;min-width:100%;line-height: 20px; font-size:10px;padding-right:0;word-wrap:break-word;">
										<h:outputText value="&nbsp;&nbsp;&nbsp;" />
										#{nxtVer.fileSize}
									</rich:column>								
								
									</rich:dataTable>
								</h:panelGroup>
							</h:panelGroup>
						</rich:column>


					</rich:dataTable>
					</h:panelGroup>

				</a4j:region>

			</h:panelGroup>
			  
            
			<h:panelGroup layout="block" id="iconDiv">
				<table class="stylized-narrow" style="border: 1px solid #d2d2d2;">
					<tfoot>
						<tr>
							<td colspan="7"><div class="show-up"
									onclick="showDetailsPanel();"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</h:panelGroup>

			<h:panelGroup layout="block" id="detailsDiv"
				style="display:none;height:354px;max-height:354px;overflow:hidden;border: 1px solid #d2d2d2;">
				<div style="width: 100%; max-width:100%;height: 28px;padding-right:10px;background: url(images/bg-tableheader.png);border: 1px solid #d2d2d2;vertical-align: middle;">
					<div class="show-down" style="width: 99%;">
						<b>#{explorer.selectedNode.name}<h:outputText value="&#160;" />#{message['fExplorer.details.properties.header']}</b>
					
					 <div style="float:right;margin-right: 1%" >
				        <h:panelGroup layout="block"	rendered="#{explorer.selectedNode.type ne 'nt:folder'  and explorer.selectedNode.archive eq true}">
					        
					        <h:commandLink  immediate="true" action="#{explorer.downloadFile}" rendered="#{explorer.downloadEnabled eq true}" >
								<f:param name="nodeID"	value="#{explorer.selectedNode.downloadUrl}" ></f:param>
								<f:param name="version"	value="#{explorer.selectedNode.version}" ></f:param>
								<h:graphicImage value="/images/icon-open-download.png" width="16" height="19" title="Open/Download"></h:graphicImage>
						    </h:commandLink>
						    
						    <h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{explorer.downloadEnabled eq true}" ></h:outputText>
						    
						    <a4j:commandLink  immediate="true" action="#{explorer.viewPDF}" rendered="#{explorer.downloadEnabled eq true and explorer.selectedNode.name.endsWith('pdf') and false}" target="_blank" >
								<f:param name="nodeID"	value="#{explorer.selectedNode.downloadUrl}" ></f:param>
								<h:graphicImage value="/images/icon-view-pdf.png" width="20" height="20" title="View PDF"></h:graphicImage>
						    </a4j:commandLink>
						    
						    <h:link outcome="PdfViewer" target="_blank" rendered="#{explorer.enablePdfView eq true and false}">
						    <h:graphicImage value="/images/icon-view-pdf.png" width="20" height="20" title="View PDF"></h:graphicImage>
								   <f:param name="faces-redirect" value="true" ></f:param>
								   <f:param name="documentPath" value="#{explorer.selectedNode.downloadUrl}" ></f:param>
							</h:link>
						    <!-- <h:link rendered="#{explorer.enablePdfView eq true}">-->
						    <h:graphicImage value="/images/icon-view-pdf.png" rendered="#{explorer.showPdfIcon eq true}" width="18" height="19" title="View File Online" style="vertical-align: center;">
						    	<a4j:ajax event="click" listener="#{explorer.showPdf}" oncomplete="#{rich:component('pdfPopup')}.show();" render="pdfPopupDiv" ></a4j:ajax>
						    </h:graphicImage>
								    <!--<f:param name="faces-redirect" value="true" ></f:param>
								   <f:param name="documentPath" value="#{explorer.selectedNode.downloadUrl}" ></f:param>
							</h:link>							-->

						    <h:outputText value="&nbsp;&nbsp;" escape="false"  rendered="#{explorer.showPdfIcon eq true}"></h:outputText>
						    
						    <a4j:commandLink  immediate="true" execute="form"  rendered="#{explorer.fileRestoreEanbled eq true}"  >
	                           <h:graphicImage value="/images/icon-restore-file.png" width="18" height="19" title="Restore Document"  onclick="#{rich:component('popupRestoreFile')}.show();"></h:graphicImage>
	                        </a4j:commandLink>
	                        <h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{explorer.fileRestoreEanbled eq true}"></h:outputText>
	                        
	                        <h:graphicImage value="/images/icon-email-link.png" width="20" height="15" title="Email document URL"  rendered="#{explorer.linksShareEnabled eq true and explorer.showPdfIcon eq true}" onclick="#{rich:component('popupEmailOptions')}.show();" />
	                        
	                        <h:graphicImage value="/images/icon-email-link.png" width="20" height="15" title="Email document URL" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq false and explorer.showPdfIcon eq false}"  onclick="#{rich:component('emailLinkPopup')}.show();" ></h:graphicImage>

						    <h:graphicImage value="/images/icon-email-link.png" width="20" height="15" title="Email document URL" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq true and explorer.showPdfIcon eq false}" onclick="openOutlook()"></h:graphicImage>
						           
						    

	                        
							<h:commandLink  style="font-size:11px;margin-left: 10px;" title="email link" action="#{explorer.emailUsingDefaultClient}" rendered="#{explorer.linksShareEnabled eq true and false}">																    
							    <h:graphicImage value="/images/icon-email-link.png" height="18" width="20"></h:graphicImage>
							</h:commandLink>
	                       
	                        <h:outputText value="&nbsp;&nbsp;" escape="false"></h:outputText>
	                        
	                        <h:graphicImage value="/images/icon-email-doc.png" width="20" height="15" title="Email document" rendered="#{explorer.filesShareEnabled eq true and explorer.emailFileSizeExceeded eq false}" onclick="#{rich:component('emailFilePopup')}.show();"></h:graphicImage>
	                        
	                        <h:graphicImage value="/images/icon-email-doc.png" width="20" height="15" title="Email document" rendered="#{explorer.filesShareEnabled eq true and explorer.emailFileSizeExceeded eq true}" onclick="alert('Email document size exceeds max attachment size');"></h:graphicImage>
	                        
					        <h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{explorer.filesShareEnabled eq true}"></h:outputText>
					        
					        <a4j:commandLink  immediate="true" execute="form"   rendered="#{explorer.selectedNode.mediaFile eq true and explorer.mediaStreamingEnabled eq true}"  action="#{explorer.playMediaFile}"  render="mediaPopup" oncomplete="#{rich:component('mediaPopup')} .show();">
	                           <f:param name="filePath" value="#{explorer.selectedNode.path}"></f:param>
	                           <h:graphicImage value="/images/icon-play.png" width="20" height="20" title="Play"></h:graphicImage>
	                        </a4j:commandLink> 
						  	<h:outputText value="&nbsp;&nbsp;" rendered="#{explorer.selectedNode.mediaFile eq true}" escape="false"></h:outputText>
						  	
						  	<a4j:commandButton image="/images/icon-tag.png"	title="Edit Tag" rendered="#{explorer.enableDocumentTagging eq true}"  render="tagsGrid"
												oncomplete="#{rich:component('popupTags')}.show()"	actionListener="#{explorer.editTag}" immediate="true"  limitRender="true"/>
							<h:outputText value="&nbsp;&nbsp;" rendered="#{explorer.enableDocumentTagging eq true}" escape="false"></h:outputText>										    
					    </h:panelGroup>	
					    
					     <h:panelGroup rendered="#{explorer.selectedNode.type eq 'nt:folder'}" >
					       
					         <a4j:commandLink  immediate="true" action="#{explorer.prepareSyncPermissions}" render="nodePermissions" oncomplete="#{rich:component('loadingPanel')}.hide();" rendered="#{not explorer.selectedNode.path.contains('/SP/') and explorer.selectedNode.archive eq true}">								
								<h:graphicImage value="/images/icon-sync.png" width="20" height="20" title="Sync permissions with source"></h:graphicImage>
						    </a4j:commandLink>
						    <h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{not explorer.selectedNode.path.contains('/SP/')}"></h:outputText>
						    
						    <a4j:commandLink  immediate="true" rendered="#{explorer.folderRestoreEanbled eq true and explorer.selectedNode.archive eq true}"  limitRender="true" render="errorMsg recursiveGrid" onclick="#{rich:component('popupRestoreFolder')}.show();">
	                           <h:graphicImage value="/images/icon-restore.png" width="20" height="20" title="Restore Folder"></h:graphicImage>
	                        </a4j:commandLink>
	                        <h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{explorer.folderRestoreEanbled eq true}" ></h:outputText>
	                     				     
				         </h:panelGroup>
				         
				         <h:panelGroup rendered="#{explorer.selectedNode.type eq 'nt:file' and explorer.selectedNode.archive eq false}" >
				         	<h:commandLink  immediate="true" action="#{explorer.downloadUncFile}" rendered="#{explorer.downloadEnabled eq true}" >
								<f:param name="nodeID"	value="#{explorer.selectedNode.downloadUrl}" ></f:param>
								<h:graphicImage value="/images/icon-open-download.png" width="16" height="19" title="Open/Download"></h:graphicImage>
						    </h:commandLink>
						    <h:outputText value="&nbsp;&nbsp;" escape="false"></h:outputText>	
						    <h:graphicImage value="/images/icon-view-pdf.png" rendered="#{explorer.showPdfIcon eq true}" width="18" height="19" title="View File Online" style="vertical-align: center;">
						    	<a4j:ajax event="click" listener="#{explorer.showUncPdf}" oncomplete="#{rich:component('pdfPopup')}.show();" render="pdfPopupDiv" ></a4j:ajax>
						    </h:graphicImage>
						    <h:outputText value="&nbsp;&nbsp;" escape="false"></h:outputText>		
						    			       
							<a4j:commandLink action="#{explorer.readyToSendLink}" oncomplete="#{rich:component('emailUncLinkPopup')}.show();" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq false}" render="emailString">
								<h:graphicImage value="/images/icon-email-link.png" width="20" height="15"   title="share file via email" />
								<a4j:param name="nodePath" value="#{explorer.selectedNode.path}"/>
							</a4j:commandLink>
	                        
	                        <a4j:commandLink action="#{explorer.emailUncUsingDefaultClient()}" oncomplete="openOutlook()" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq true}" render="emailString">
						    	<h:graphicImage value="/images/icon-email-link.png" width="20" height="15"   title="Email document URL" ></h:graphicImage>
						    	<a4j:param name="nodePath" value="#{explorer.selectedNode.path}"/>
						    </a4j:commandLink>
						    

						    <h:outputText value="&nbsp;&nbsp;" escape="false"></h:outputText>
                     				     
				         </h:panelGroup>
				         <h:inputHidden id="emailString" value="#{explorer.emailString}"></h:inputHidden>
				         
				         <h:graphicImage value="images/icon-down.png" style="float:right;" onclick="hideDetailsPanel();">
				         </h:graphicImage>
				         
				    </div>
					
					</div>
					
					
				</div>

				<rich:tabPanel switchType="client">
					<rich:tab name="#{message['fExplorer.details.summary.tab.text']}"
						oncomplete="#{rich:component('loadingPanel')}.hide();">
						<table class="stylized-narrow"
							style="height: 229px;max-height: 229px;overflow: hidden;">

							<tbody>
								<tr class="odd">
									<td width="112" style="min-width:112px;">#{message['fExplorer.details.node.name.label']}</td>
									<td style="border-right:0;" colspan="2">#{explorer.selectedNode.name}</td>
								</tr>
								<tr>
									<td>#{message['fExplorer.details.node.path.label']}</td>
									<td colspan="2" style="border-right:0;word-break: break-all;" >#{explorer.selectedNode.path}</td>
								</tr>
								<tr class="odd">
									<td>#{message['fExplorer.details.node.type.label']}</td>
									<td colspan="1" style="border-right:0;">#{explorer.selectedNode.fileTypeDesc}</td>
																		<h:panelGroup rendered="#{explorer.showThumbnail}">											
										 <td rowspan="6" width="150">
										 	
							    			<h:graphicImage value="#{explorer.currentThumbnailPath}" alt="Thumbnail not available" width="150" height="150" style="margin-right: 20px">
							    				<a4j:ajax event="click" listener="#{explorer.showPdf}" oncomplete="#{rich:component('pdfPopup')}.show();" render="pdfPopupDiv"  disabled="#{explorer.showPdfIcon eq false}"></a4j:ajax>
							    			</h:graphicImage>
							    		</td> 
						    		</h:panelGroup>	
								</tr>
								<tr>
									<td>Size</td>
									<td style="border-right:0;"><h:outputText
											value="#{explorer.selectedNode.fileSize}"
											rendered="#{explorer.selectedNode.type ne 'nt:folder'}" /> <h:outputText
											value="#{explorer.selectedNode.fileFoldersCount}"
											rendered="#{explorer.selectedNode.type eq 'nt:folder'}" /></td>
											
								</tr>

								<tr class="odd">
									<td>#{message['fExplorer.details.node.createdDate.label']}</td>
									<td style="border-right:0;">#{explorer.selectedNode.createdDate}</td>
								</tr>

								<tr>
									<td>#{message['fExplorer.details.node.archiveDate.label']}</td>
									<td style="border-right:0;">#{explorer.selectedNode.archivedDate}</td>
								</tr>

								<tr class="odd">
									<td>#{message['fExplorer.details.node.modifiedDate.label']}</td>
									<td style="border-right:0;">#{explorer.selectedNode.lastModified}</td>
								</tr>

								<tr>
									<td>#{message['fExplorer.details.node.accessedDate.label']}</td>
									<td style="border-right:0;">#{explorer.selectedNode.lastAccessed}</td>
								</tr>
							</tbody>

						</table>


					</rich:tab>



					<rich:tab name="#{message['fExplorer.details.otherVersions.tab.text']}"
						oncomplete="#{rich:component('loadingPanel')}.hide();"
						rendered="#{explorer.nextVersionsSize > 0}">
						
						<rich:dataTable id="versionsGrid" value="#{explorer.nextVersionsList}"
							var="nxtVer" styleClass="stylized" rowKeyVar="verrownum" first="0"
							onrowclick="selectRow('explorerGrid:versionsGrid',#{verrownum});"
							onrowmouseover="highlightRow(this);"
							onrowmouseout="lowlightRow(this);"
							style="border:0;table-layout:fixed;">
						
							<rich:column
								style="border-right:0;border-left:0;">
								
								<a4j:commandLink actionListener="#{explorer.fileSelected}"
									onbegin="#{rich:component('loadingPanel')} .show();"
									oncomplete="#{rich:component('loadingPanel')} .hide();"
									limitRender="true"
									style="color: black;cursor:default;">
									<h:graphicImage value="/icons/grid/#{nxtVer.iconUrl}"
										rendered="#{nxtVer.type ne 'nt:folder'}" style="border: 0;" />
	
									<h:outputLabel value="&#160;"></h:outputLabel>
									<h:outputText value="#{nxtVer.name}" rendered="#{nxtVer.lastModified ne explorer.selectedNode.lastModified}"></h:outputText>
									<h:outputLabel value="#{nxtVer.name}" rendered="#{nxtVer.lastModified eq explorer.selectedNode.lastModified}"></h:outputLabel>
	
									<f:param value="#{nxtVer.path}" name="selectedNodePath"></f:param>
									<f:param value="true" name="isVersion"></f:param>
								</a4j:commandLink>
								
							</rich:column>
							<rich:column
								style="border-right:0;border-left:0;">
								<h:outputText value="#{nxtVer.lastModified}" rendered="#{nxtVer.lastModified ne explorer.selectedNode.lastModified}" />
								<h:outputLabel value="#{nxtVer.lastModified}" rendered="#{nxtVer.lastModified eq explorer.selectedNode.lastModified}" />
							</rich:column>
							<rich:column
								style="border-right:0;border-left:0;">
								<h:outputText value="#{nxtVer.fileSize}" rendered="#{nxtVer.lastModified ne explorer.selectedNode.lastModified}" />
								<h:outputLabel value="#{nxtVer.fileSize}" rendered="#{nxtVer.lastModified eq explorer.selectedNode.lastModified}" />
								
							</rich:column>
							
						</rich:dataTable>

					</rich:tab>
					
					
					
					<rich:tab name="#{message['fExplorer.details.security.tab.text']}"
						oncomplete="#{rich:component('loadingPanel')}.hide();">
						
							<a4j:outputPanel layout="block" id="uncMsg" styleClass="error" >
								<rich:message for="syncSource" id="msg" />
							</a4j:outputPanel>

						<h:panelGroup id="nodePermissions">
							<table class="stylized-narrow">
								<tbody>

									<tr class="odd">
										<td>#{message['fExplorer.details.node.securityAllow.label']}</td>
										<td style="border-right:0;">#{explorer.selectedNode.securityAllowGroupNames}</td>
									</tr>

									<tr>
										<td>#{message['fExplorer.details.node.securityDeny.label']}</td>
										<td style="border-right:0;">#{explorer.selectedNode.securityDenyGroupNames}</td>
									</tr>

									<tr class="odd">
										<td>#{message['fExplorer.details.node.shareAllow.label']}</td>
										<td style="border-right:0;width:80%;">#{explorer.selectedNode.shareAllowGroupNames}</td>
									</tr>

									<tr>
										<td style="border-bottom:1px solid #D2D2D2;">#{message['fExplorer.details.node.shareDeny.label']}</td>
										<td style="border-right:0;border-bottom: 1px solid #D2D2D2;">#{explorer.selectedNode.shareDenyGroupNames}</td>
									</tr>



								</tbody>
							</table>

							<span style="margin-right:20px;padding-top:3px; "> <h:button
									styleClass="btn-gray fright" outcome="EditPermissions"
									value="Security Editor"
									rendered="#{empty explorer.selectedNode.downloadUrl and explorer.loggedInRole eq 'ADMINISTRATOR' and explorer.selectedNode.archive eq true}">
									<f:param value="#{explorer.selectedNode.downloadUrl}"
										name="id1" />
									<f:param value="#{explorer.selectedNode.path}" name="id" />
								</h:button> <a4j:commandButton styleClass="btn-gray fright"
									value="Security Editor"
									actionListener="#{explorer.loadPermissions}"
									render="permissionsGrid" limitRender="true"
									oncomplete="#{rich:component('popupPermissions')}.show();#{rich:component('loadingPanel')}.hide();"
									rendered="#{not empty explorer.selectedNode.downloadUrl and explorer.loggedInRole eq 'ADMINISTRATOR' and explorer.selectedNode.archive eq true}"
									immediate="true">
									<a4j:param value="#{explorer.selectedNode.downloadUrl}"
										name="id1" />
									<a4j:param value="#{explorer.selectedNode.path}" name="id" />
									<a4j:param value="1" assignTo="#{explorer.saveOrSyncPermissions}"></a4j:param>
								</a4j:commandButton> <a4j:commandButton styleClass="btn-gray fright" immediate="true" id="syncSource"
									value="Sync Security" rendered="#{explorer.selectedNode.type eq 'nt:folder' and false}" title="Sync permissions with source"
										actionListener="#{explorer.prepareSyncPermissions}"
										render="nodePermissions" oncomplete="#{rich:component('loadingPanel')}.hide();">
								</a4j:commandButton>
								 
								</span>
						</h:panelGroup>

					</rich:tab>


					<rich:tab name="#{message['fExplorer.details.details.tab.text']}"
						oncomplete="#{rich:component('loadingPanel')}.hide();">
						<table class="stylized-narrow" style="table-layout: fixed;">
							<tbody>
								<tr class="odd">
									<td>#{message['fExplorer.details.node.uuid.label']}</td>
									<td style="border-right:0;width:80%;">#{explorer.selectedNode.uuid}</td>
								</tr>

								<h:panelGroup	rendered="#{not explorer.selectedNode.path.contains('/SP/')}">
									<tr>
										<td>#{message['fExplorer.details.node.unc.label']}</td>
										<td style="border-right:0;width:80%;word-wrap:break-word;">#{explorer.selectedNode.UNCPath} 
										  
										</td>
									</tr>
								</h:panelGroup>
								
								<h:panelGroup	rendered="#{explorer.selectedNode.path.contains('/SP/') and not empty explorer.selectedNode.contentType}">
									<tr>
										<td>#{message['fExplorer.details.node.contentType.label']}</td>
										<td style="border-right:0;width:80%;word-wrap:break-word;">#{explorer.selectedNode.contentType} 
										  
										</td>
									</tr>
									
									<tr class="odd">
										<td>#{message['fExplorer.details.node.spDocUrl.label']}</td>
										<td style="border-right:0;width:80%;word-wrap:break-word;">#{explorer.selectedNode.spDocUrl} 
										  
										</td>
									</tr>									
								</h:panelGroup>
								
								<h:panelGroup	rendered="#{explorer.selectedNode.linkedNode eq true}">
									<tr class="odd">
										<td style="border-bottom: 1px solid #D2D2D2;">#{message['fExplorer.details.node.duplicate.label']}</td>
										<td	style="border-right:0;width:80%;border-bottom: 1px solid #D2D2D2;">
										    <h:graphicImage	value="/images/icon-check.png" title="Duplicate Document" />
										</td>
									</tr>
								</h:panelGroup>
								
								<tr class="even">
									<td style="border-bottom: 1px solid #D2D2D2;"><h:outputText
											rendered="#{explorer.enableDocumentTagging eq true and explorer.selectedNode.type ne 'nt:folder'}"
											value="#{message['fExplorer.details.node.tag.label']}" /></td>
									<td	style="border-right:0;width:80%;border-bottom: 1px solid #D2D2D2;">
										<h:panelGroup id="tags"	rendered="#{explorer.enableDocumentTagging eq true and explorer.selectedNode.type ne 'nt:folder'}">
											<h:panelGroup	rendered="#{explorer.selectedNode.tags.length()>0}">
												<b>#{message['fExplorer.details.node.tag.addedBy.label']}: </b>#{explorer.selectedNode.tagUser}, <b>
													#{message['fExplorer.details.node.tag.addedOn.label']}: </b>#{explorer.selectedNode.tagTimeStamp} , <b>#{message['fExplorer.details.node.tag.addedTag.label']}:</b> #{explorer.selectedNode.tags}
											</h:panelGroup>
											
										</h:panelGroup>
									</td>
								</tr>
								<h:panelGroup rendered="#{not empty explorer.selectedNode.printerName}">
									<tr class="odd">
										<td>#{message['fExplorer.details.node.printerName.label']}</td>
										<td style="border-right:0;">#{explorer.selectedNode.printerName}</td>
									</tr>
	
									<tr>
										<td>#{message['fExplorer.details.node.machineName.label']}</td>
										<td style="border-right:0;">#{explorer.selectedNode.machineName}</td>
									</tr>
	
									<tr class="odd">
										<td>#{message['fExplorer.details.node.username.label']}</td>
										<td style="border-right:0;">#{explorer.selectedNode.username}</td>
									</tr>
	
									<tr>
										<td>#{message['fExplorer.details.node.totalPages.label']}</td>
										<td style="border-right:0;">#{explorer.selectedNode.totalPages}</td>
									</tr>
								</h:panelGroup>
								<tr class="odd">
									<td style="border-bottom: 1px solid #D2D2D2;">#{message['fExplorer.details.node.mode.label']}</td>
									<td style="border-right:0;width:80%;word-wrap:break-word;">
										  #{explorer.selectedNode.archivingMode}
									</td>
								</tr>
								<h:panelGroup rendered="#{explorer.showDocumentUrl eq true}">
								<tr class="even">
									<td style="border-bottom: 1px solid #D2D2D2;">#{message['fExplorer.details.node.downloadUrl.label']}</td>
									<td style="border-right:0;width:80%;word-wrap:break-word;">
										<div id="text-to-copy" style="display: none;">
										<h:panelGroup rendered="#{explorer.selectedNode.version ne true}">
										  	#{explorer.dnsServer}/downloadfile.jsp?nodeID=#{explorer.selectedNode.downloadUrl}
										  </h:panelGroup>
										  <h:panelGroup rendered="#{explorer.selectedNode.version eq true}">
										  	#{explorer.dnsServer}/downloadfile.jsp?nodeID=#{explorer.selectedNode.downloadUrl}&amp;version=1
										  </h:panelGroup>
										 </div>
										 <button id="click-to-copy" data-clipboard-target="text-to-copy">Copy to Clipboard</button>
										 <span id="copy-message"/>
									</td>
								</tr>
								</h:panelGroup>					
																							
								<tr class="odd">
									<td colspan="2">
									    <a4j:commandButton rendered="false"	image="/images/icon-tag.png" title="Edit Tag" styleClass="fright" render="tagsGrid"
											oncomplete="#{rich:component('popupTags')}.show()"	actionListener="#{explorer.editTag}" />
									</td>
								</tr>
                               
							</tbody>

						</table>
						<!-- pop-up to add/update document tags-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupTags" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Add/Update Document Tag" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupTags')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="tagsGrid"
								rendered="#{explorer.selectedNode ne null}">
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="200"><h:outputLabel value="Tag" />
											</td>
											<td width="700"><h:inputText id="tagsinput"
													value="#{explorer.selectedNode.tags}" style="width:400px;" onkeypress="if(event.keyCode==13){document.getElementById('explorerGrid:saveTag').click();return false;}return true;"
													maxlength="100" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Save" id="saveTag"
													actionListener="#{explorer.updateTags}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="#{rich:component('popupTags')}.hide(); return false;"
													render="tags" limitRender="true" /> <a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupTags')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>

					</rich:tab>

				</rich:tabPanel>

				
			</h:panelGroup>
			<div style="display:none;">
			<rich:popupPanel modal="true" autosized="true" resizeable="false"
				id="popupExport" domElementAttachment="form" followByScroll="false" style="background:white;">
				<f:facet name="header">
					<h:outputText value="Add Export Job" />
				</f:facet>
				<f:facet name="controls">
					<h:outputLink value="#"
						onclick="#{rich:component('popupExport')}.hide(); return false;">
							                X
							            </h:outputLink>
				</f:facet>
				 <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
				<h:panelGroup id="exportGrid">
				<rich:messages/>
					<table width="700" class="stylized">
						<tr class="odd">
							<td width="23%"><label>Name:</label>
							</td>
							<td colspan="2"><h:inputText id="jobName"
									value="#{jobController.job.name}" size="22" required="false"
									validatorMessage="#{message['job.jobName.matches.invalid']}">
									<f:validateRegex pattern="[a-zA-Z0-9 ._-]+" />
								</h:inputText>
							</td>
						</tr>
						<tr class="even">
							<td><label>Description:</label>
							</td>
							<td colspan="2"><h:inputText id="description"
									value="#{jobController.job.description}" size="50"
									validatorMessage="#{message['job.description.matches.invalid']}">
									<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)" />
								</h:inputText>
							</td>
						</tr>
						<tr class="odd">
							<td><label>Type:</label>
							</td>
							<td colspan="2"><h:selectOneRadio id="actionType"
									value="#{jobController.job.actionType}" layout="lineDirection"
									style="width: 418px;" required="false"
									styleClass="stylizedRadio">
									<f:ajax listener="#{jobController.actionTypeChangeListener}"
										event="change" render="agentList exportPaths agentType" />
									<f:selectItem itemValue="EXPORT" itemLabel="Export" />
									<f:selectItem itemValue="EXPORTSTUB"
										itemLabel="Export Stub Only (for SharePoint only)" />
								</h:selectOneRadio></td>
						</tr>
						<tr class="even">
							<td><label>Agent Type</label>
							</td>
							<td colspan="2"><h:selectOneRadio id="agentType"
									value="#{jobController.job.agent.type}"
									disabled="#{jobController.enableSharePoint eq false}"
									style="width: 250px;height: 27px;"
									styleClass="stylizedRadioWhite">

									<f:selectItem itemValue="FS" itemLabel="File System"
										itemDisabled="#{jobController.job.actionType eq 'EXPORTSTUB'}" />
									<f:selectItem itemValue="SP" itemLabel="SharePoint" />
									<f:ajax event="change" execute="agentType"
										listener="#{jobController.agentTypeChangeListener}"
										render="agentList exportPaths"></f:ajax>
								</h:selectOneRadio></td>
						</tr>
						<tr class="odd">
							<td><label>Agent</label>
							</td>
							<td colspan="2"><h:panelGroup id="agentList">
									<h:selectOneMenu value="#{jobController.job.agent.id}"
										rendered="#{jobController.job.agent.type eq 'FS'}"
										style="width: 138px;height: 27px">
										<f:selectItems value="#{agentRegController.getAllFSAgents()}"
											var="agent" itemLabel="#{agent.name}" itemValue="#{agent.id}" />

									</h:selectOneMenu>
									<h:selectOneMenu value="#{jobController.job.agent.id}"
										rendered="#{jobController.job.agent.type eq 'SP'}"
										style="width: 138px;height: 27px">
										<f:selectItems value="#{agentRegController.getAllSPAgents()}"
											var="agent" itemLabel="#{agent.name}" itemValue="#{agent.id}" />
										<f:ajax event="change" execute="agentType"
											listener="#{jobController.agentSelectionChangeListener}"
											render="agentList sharePointGrid"></f:ajax>
									</h:selectOneMenu>
								</h:panelGroup></td>
						</tr>
						<tr class="even">
							<td>
								<h:outputLabel value="Export as User:"/>
							</td>
							<td>
								<h:panelGroup id="exportCreds"><h:outputText value="#{jobController.remoteUserName}"/> </h:panelGroup> <a4j:commandLink value="edit" onclick="#{rich:component('popupChangeCreds')}.show();" style="margin-left:24px;"/>
							</td>
						</tr>						
					</table>
					<h:panelGroup id="exportPaths">
						<rich:dataTable id="pathGrid"
							value="#{jobController.exportPathList}" var="path"
							style="border:0;">

							<rich:column style="border:0;">
								<table width="850">
									<tr>
										<td width="25%"><h:outputLabel value="Source Path" style="margin-left: 10px;" />
										</td>
										<td><p style="word-wrap: break-word;">#{path.path}</p>
										</td>
									 </tr>
									 <tr>
									 	<td><h:outputLabel value="Destination Path" style="margin-left: 10px;"/>
										</td>
										<td colspan="2"><h:inputText
												value="#{path.destinationPath}" size="70"
												style="width: 500px"></h:inputText> <a4j:commandButton
												styleClass="btn-gray" value="..."
												rendered="${jobController.showSPGrid eq true}"
												oncomplete="#{rich:component('sharePointGrid')}.show()"
												render="sharePointGrid" action="#{jobController.selectPath}"
												immediate="true">
												<f:param name="current" value="#{path.path}" />
											</a4j:commandButton></td>
									</tr>
									<tr><td><h:outputLabel value="Include Sub-Folder" style="margin-left: 10px;" />
										</td>
										<td><h:selectBooleanCheckbox value="#{path.recursive}" />
										</td>												
									</tr>
									
									<tr>
										<td><h:outputLabel value="Export Size" style="margin-left: 10px;" />
										</td>
										<td><h:outputText value="#{path.folderSize}"
												rendered="#{jobController.job.actionType eq 'EXPORT'}" /> <h:outputText
												value="#{path.folderStubsSize}"
												rendered="#{jobController.job.actionType eq 'EXPORTSTUB'}" />
										</td>
									</tr>
								</table>
							</rich:column>
						</rich:dataTable>
						<!-- <h:panelGroup id="try">
							value: #{jobController.currentLibPath}
							<h:inputText id="try1" value="#{jobController.currentLibPath}"  />
							</h:panelGroup>-->

					</h:panelGroup>

					<table class="stylized">

						<tr>
							<td colspan="2"><br />
								<div class="fright">

									<h:commandButton value="Cancel"
										action="FileExplorer?faces-redirect=true"
										styleClass="btn-gray fright" immediate="true" rendered="false" />
									<a4j:commandButton value="Create"
										actionListener="#{jobController.saveExport}"
										styleClass="btn-orange"
										oncomplete="if(#{empty facesContext.maximumSeverity}){if(#{jobController.testUNCResponse eq 'failure'}){#{rich:component('popupConfirmation')}.show();}else{#{rich:component('popupExport')}.hide(); return false;}}" />
									<a4j:commandButton value="Cancel"
										style="margin-left:10px;margin-bottom:10px;"
										styleClass="btn-gray fright"
										onclick="#{rich:component('popupExport')}.hide(); return false;"
										render="" />

								</div>
								<div class="clear"></div></td>
						</tr>
					</table>

				</h:panelGroup>
			</rich:popupPanel>
			<rich:popupPanel modal="true" autosized="true" resizeable="false"
				id="sharePointGrid" domElementAttachment="form"
				followByScroll="false" style="background:white;">
				<f:facet name="header">
					<h:outputText style="height: 50px;"
						value="Select Sharepoint Library" />
				</f:facet>
				<f:facet name="controls">
					<h:outputLink value="#"
						onclick="#{rich:component('sharePointGrid')}.hide(); return false;">
							                X
							            </h:outputLink>
				</f:facet>
				<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 

				<h:panelGroup id="sharePointGrid2">
					<h:panelGroup layout="block" style="width: 100%;">
						<table class="stylized" width="700">
							<tr class="odd">
								<td colspan="2"><label>Share Point</label></td>
							</tr>
							<h:panelGroup rendered="false">
							<tr class="even">
								<td>
									<!-- <h:panelGrid id="sitePath" columns="2" styleClass="stylized" rowClasses="even,odd">
														<h:column><label>Site Path</label> </h:column>
														 
														<h:column> --> <label>Site Path</label></td>
								<td><h:selectOneMenu id="siteList"
										value="#{jobController.job.spPath}" style="width:300px;">
										<f:selectItems value="#{jobController.siteList}" var="site"
											itemLabel="#{site}" itemValue="#{site}" />
										<f:ajax event="change" execute="@this"
											listener="#{jobController.spSiteChangeListener}"
											render="libraryGrid1 tree"></f:ajax>
									</h:selectOneMenu> <!-- </h:column>
													</h:panelGrid>--></td>
							</tr>
							</h:panelGroup>
							<!-- <tr class="odd">
							<td colspan="2">
								<label>Select Library</label>
							</td>
						</tr>-->
							<tr class="odd">
								<td colspan="2">
									<!--<h:panelGrid id="libraryGrid" columns="2" styleClass="stylized" rowClasses="odd,even">
														<h:column>--> <label>Libraries:</label></td>
								<!--<td><label>Sub-Libraries:</label></td>-->
							</tr>
							<tr class="even">
								<td colspan="2">
									<dl class="type-category" style="overflow: scroll;">


										<!--<h:selectManyCheckbox value="#{jobController.selectedLibraries}" layout="pageDirection" style="margin-left: 30px;" >-->
										<h:selectOneListbox rendered="false" id="libraryGrid1"
											value="#{jobController.selectedLibrary}"
											style="margin-top:10px; margin-bottom:10px; width:600px;height:185px;background: white;border: 1px solid #d2d2d2;font-size: 12px;"
											size="10">
											<f:ajax event="click" execute="@this"
												listener="#{jobController.spLibrarySelectionListener}"
												render="libraryGrid1"></f:ajax>
											<f:selectItems value="#{jobController.libraryList}" var="n"
												itemLabel="#{n}" itemValue="#{n}">

											</f:selectItems>
										</h:selectOneListbox>
										<!-- </h:selectManyCheckbox>-->
                                        <a4j:region  >
										<rich:tree id="libTree" nodeType="#{node.type}" var="node"
											value="#{jobController.rootNodes}" toggleType="ajax"
											selectionType="ajax"
											selectionChangeListener="#{jobController.selectionChanged}" >
											<rich:treeNode type="site" expanded="true" id="siteId" toggleListener="#{jobController.spSiteToggled}" ontoggle="#{rich:component('loadingPanel')}.hide();"  >
								               	<h:inputHidden id="sitePath" value="#{node.path}"></h:inputHidden>
								               	<h:inputHidden id="siteGuid" value="#{node.guid}"></h:inputHidden>
		         									<h:selectBooleanCheckbox value="#{node.selected}" rendered="false" >
							                       <a4j:ajax event="change" execute="agentType" listner="#{jobController.librarySelected}" onbeforesubmit="addRemoveSelectedSPLib()" render="libTree" ></a4j:ajax>
							                    </h:selectBooleanCheckbox>	
							               		<h:outputText value="#{node.name}"/>
						                	</rich:treeNode>
											<rich:treeNode type="library" expanded="true" id="libId"
												toggleListener="#{jobController.spTreeNodeToggled}" ontoggle="#{rich:component('loadingPanel')}.hide();" >
												<h:inputHidden id="nodePath" value="#{node.path}"></h:inputHidden>
												<h:inputHidden id="nodeGuid" value="#{node.guid}"></h:inputHidden>
												<h:selectBooleanCheckbox value="#{node.selected}"
													rendered="false">
													<a4j:ajax event="change"
														listner="#{jobController.librarySelected}"
														onbeforesubmit="addRemoveSelectedSPLib()" render="libTree"></a4j:ajax>
												</h:selectBooleanCheckbox>
												<h:outputText value="#{node.name}" />
											</rich:treeNode>

										</rich:tree>
										</a4j:region>
									</dl> <!--</h:column>
									<h:column>--></td>

							</tr>
							<tr class="even">
								<td colspan="2">
									<div align="center" style="margin-bottom: 20px;">
										<a4j:commandButton value="Save"
											action="#{jobController.saveLibrarySelection}"
											render="exportPaths" styleClass="btn-gray" 
											oncomplete="#{rich:component('sharePointGrid')}.hide();">
										</a4j:commandButton>
									</div></td>
							</tr>
						</table>
					</h:panelGroup>
				</h:panelGroup>
			</rich:popupPanel>
			<rich:popupPanel modal="true" autosized="true" resizeable="false"
				id="popupChangeCreds" domElementAttachment="form"
				followByScroll="false" style="background:white;">
				<f:facet name="header">
					<h:outputText style="height: 50px;" value="Change export Credentials" />
				</f:facet>
				<f:facet name="controls">
					<h:outputLink value="#"
						onclick="#{rich:component('popupChangeCreds')}.hide(); return false;">
							                X
							            </h:outputLink>
				</f:facet>
				<rich:message for="username"/>
				<rich:message for="password"/>
				<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
					<table class="stylized">
						<tr class="odd">
							<td> <h:outputLabel value="Domain"/></td>
							<td>  <h:outputLabel value="Username"/> </td>
							<td>  <h:outputLabel value="Password"/> </td>
						</tr>
						<tr class="even">
							<td> <h:inputText id="domainName" value="#{jobController.remoteDomainName}"/></td>
							<td> <h:inputText id="username" value="#{jobController.remoteUserName}" requiredMessage="username cannot be empty" required="false"/> </td>
							<td> <h:inputSecret id="password" value="#{jobController.remoteUserPassword}" requiredMessage="password cannot be empty" required="false" redisplay="true"/></td>
						</tr>
						<tr class="odd">
							<td colspan="3">
								<a4j:commandButton value="Update" styleClass="btn-orange fright" render="exportCreds" actionListener="#{jobController.changeCredentials}" oncomplete="if(#{empty facesContext.maximumSeverity}){#{rich:component('popupChangeCreds')}.hide(); return false;}"/>
							</td>
						</tr>
					</table>
				</rich:popupPanel>
			<rich:popupPanel modal="true" autosized="true" resizeable="false"
				id="popupConfirmation" domElementAttachment="form" 
				followByScroll="false" style="background:white;">
				<f:facet name="header">
					<h:outputText style="height: 50px;" value="Change export Credentials" />
				</f:facet>
				<f:facet name="controls">
					<h:outputLink value="#"
						onclick="#{rich:component('popupConfirmation')}.hide(); return false;">
							                X
							            </h:outputLink>
				</f:facet>				
				<rich:message for="username"/>
				<rich:message for="password"/>
				<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
					<table class="stylized">
						<tr class="odd">
							<td> <h:outputLabel value="Access to remote share failed. Retry or Continue anyway?"/></td>
						</tr>						
						<tr class="even">
							<td colspan="1">
								<a4j:commandButton value="Retry" styleClass="btn-orange fright" onclick="#{rich:component('popupConfirmation')}.hide(); return false;"/>
								<a4j:commandButton value="Continue" styleClass="btn-orange fright" actionListener="#{jobController.saveExport}" oncomplete="#{rich:component('popupConfirmation')}.hide();#{rich:component('popupExport')}.hide(); return false;">
									<a4j:param id="continue" name="continue" value="true"/>
								</a4j:commandButton>
							</td>
						</tr>
					</table>
				</rich:popupPanel>				
			<rich:popupPanel modal="true" autosized="true" resizeable="false"
				id="popupPermissions" domElementAttachment="form" onshow="if(document.getElementById('explorerGrid:syncOrSavePermissions:0')!=null)document.getElementById('explorerGrid:syncOrSavePermissions:0').checked=true;"
				style="overflow:auto;background:white;" followByScroll="false">
				<f:facet name="header">
					<h:outputText style="height: 50px;" value="Choose Permissions" />
				</f:facet>
				<f:facet name="controls">
					<h:outputLink value="#"
						onclick="#{rich:component('popupPermissions')}.hide(); return false;">
							                X
							            </h:outputLink>
				</f:facet>
				<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
				<h:panelGroup id="permissionsGrid">
					<table class="stylized">
						<thead>
							<tr>
								<td colspan="2" style="background-color: #E9E9E9"><b>Document
										Information</b>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td width="20%">Name</td>
								<td width="80%">#{explorer.selectedNode.name}</td>
							</tr>
							<tr>
								<td>Path</td>
								<td>#{explorer.selectedNode.path}</td>
							</tr>
							<tr class="odd">
								<td>Type</td>
								<td>#{explorer.selectedNode.fileTypeDesc}</td>
							</tr>
						</tbody>
						<tfoot>
							<h:selectOneRadio id="syncOrSavePermissions"
								rendered="#{explorer.selectedNode.type eq 'nt:folder' and not explorer.selectedNode.path.contains('/SP/')}"
								layout="pageDirection" class="stylized" immediate="true"
								value="#{explorer.saveOrSyncPermissions}">
								<f:ajax event="change" render="syncPermissionDiv buttonsDiv"></f:ajax>
								<f:selectItem itemLabel="Select Users/Groups" itemValue="1" />
								<f:selectItem itemLabel="Auto Sync with source" itemValue="2" />
							</h:selectOneRadio>
						</tfoot>
					</table>
					<h:panelGroup id="syncPermissionDiv">
						<h:panelGroup rendered="#{explorer.saveOrSyncPermissions eq '2'}">
							<table class="stylized" width="100%">
								<tr>
									<td>
										To Synchronize current folder permissions with the repository, Click Sync button:
									</td>
									<td>
										<a4j:commandButton value="Sync" rendered="false"
									actionListener="#{explorer.syncPermissions}"
									styleClass="btn-gray" render="nodePermissions"
									oncomplete="#{rich:component('popupPermissions')}.hide();" />
									</td>
								</tr>
							</table>
				 									
				 									
						</h:panelGroup>
						<h:panelGroup rendered="#{explorer.saveOrSyncPermissions eq '1'}">
							<table class="stylized">
								<thead>
									<tr>
										<td colspan="4" style="background-color: #E9E9E9"><b>Security
												Permissions</b>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="4"><h:selectOneRadio
												id="permissionUsersOrGroups" layout="pageDirection"
												class="stylized" value="#{explorer.permissionUsersOrGroups}">
												<f:ajax event="change"
													render="allSecUserGroups allShareUserGroups"
													listener="#{explorer.groupsUsersSelectionChange}"></f:ajax>
												<f:selectItem itemLabel="Groups" itemValue="1" />
												<f:selectItem itemLabel="Users" itemValue="2" />
											</h:selectOneRadio></td>
									</tr>
									<tr class="odd">

										<td><h:panelGrid id="allSecUserGroups">
												<h:selectManyListbox id="securityAllListBox"
													style="width:250px;height:209px;background: white;"
													size="5"
													rendered="#{explorer.permissionUsersOrGroups eq 1}">
													<f:selectItems value="#{explorer.secAllGroups}" var="sid"
														itemValue="#{sid.sid}" itemLabel="#{sid.description}" />
												</h:selectManyListbox>
												<h:selectManyListbox id="securityAllusersListBox"
													style="width:250px;height:209px;background: white;"
													size="5"
													rendered="#{explorer.permissionUsersOrGroups eq 2}">
													<f:selectItems value="#{explorer.secAllUsers}" var="sid"
														itemValue="#{sid.sid}" itemLabel="#{sid.description}" />
												</h:selectManyListbox>
											</h:panelGrid></td>
										<td style="margin: 0;padding: 0;"><h:panelGroup
												style="direction: rtl;padding:0;margin-right: 0;margin-left:0;">
												<a4j:commandButton styleClass="btn-gray" value="Allow"
													action="#{explorer.securityAllow}"
													render="securityAllListBox securityAllusersListBox securityAllowListBox" />
												<br />
												<a4j:commandButton styleClass="btn-gray"
													style="margin-top:5px;" value="Deny"
													action="#{explorer.securityDeny}"
													render="securityAllListBox securityAllusersListBox securityDenyListBox" />
											</h:panelGroup></td>

										<td><h:selectManyListbox id="securityAllowListBox"
												style="width:250px;height:209px;background: white;" size="5">
												<f:selectItems value="#{explorer.securityAllowGroups}"
													var="sid" itemValue="#{sid.sid}"
													itemLabel="#{sid.description}" />
											</h:selectManyListbox> <a4j:commandButton styleClass="btn-gray fright"
												style="margin-top:5px;" value="Remove Allow"
												action="#{explorer.removeSecurityAllow}"
												render="securityAllListBox securityAllusersListBox securityAllowListBox" />
										</td>

										<td><h:selectManyListbox id="securityDenyListBox"
												style="width:250px;height:209px;background: white;" size="5">
												<f:selectItems value="#{explorer.securityDenyGroups}"
													var="sid" itemValue="#{sid.sid}"
													itemLabel="#{sid.description}" />
											</h:selectManyListbox> <h:panelGroup
												style="direction: rtl;padding:0;margin-right: 0;margin-left:0;">
												<a4j:commandButton styleClass="btn-gray fright"
													style="margin-top:5px;" value="Remove Deny"
													action="#{explorer.removeSecurityDeny}"
													render="securityAllListBox securityAllusersListBox securityDenyListBox" />

											</h:panelGroup></td>


									</tr>

								</tbody>
							</table>
							<table class="stylized">
								<thead>
									<tr>
										<td colspan="4" style="background-color: #E9E9E9"><b>Share
												Permissions</b>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr class="odd">

										<td><h:panelGrid id="allShareUserGroups">
												<h:selectManyListbox id="shareAllListBox"
													style="width:250px;height:209px;background: white;"
													size="5"
													rendered="#{explorer.permissionUsersOrGroups eq 1}">
													<f:selectItems value="#{explorer.shareAllGroups}" var="sid"
														itemValue="#{sid.sid}" itemLabel="#{sid.description}" />
												</h:selectManyListbox>
												<h:selectManyListbox id="shareAllusersListBox"
													style="width:250px;height:209px;background: white;"
													size="5"
													rendered="#{explorer.permissionUsersOrGroups eq 2}">
													<f:selectItems value="#{explorer.shareAllUsers}" var="sid"
														itemValue="#{sid.sid}" itemLabel="#{sid.description}" />
												</h:selectManyListbox>
											</h:panelGrid></td>
										<td style="margin: 0;padding: 0;"><h:panelGroup
												style="direction: rtl;padding:0;margin-right: 0;margin-left:0;">
												<a4j:commandButton styleClass="btn-gray" value="Allow"
													action="#{explorer.shareAllow}"
													render="shareAllListBox shareAllusersListBox shareAllowListBox" />
												<br />
												<a4j:commandButton styleClass="btn-gray"
													style="margin-top:5px;" value="Deny"
													action="#{explorer.shareDeny}"
													render="shareAllListBox shareAllusersListBox shareDenyListBox" />
											</h:panelGroup></td>

										<td><h:selectManyListbox id="shareAllowListBox"
												style="width:250px;height:209px;background: white;" size="5">
												<f:selectItems value="#{explorer.shareAllowGroups}"
													var="sid" itemValue="#{sid.sid}"
													itemLabel="#{sid.description}" />
											</h:selectManyListbox> <a4j:commandButton styleClass="btn-gray fright"
												style="margin-top:5px;" value="Remove Allow"
												action="#{explorer.removeShareAllow}"
												render="shareAllListBox shareAllusersListBox shareAllowListBox" />
										</td>

										<td><h:selectManyListbox id="shareDenyListBox"
												style="width:250px;height:209px;background: white;" size="5">
												<f:selectItems value="#{explorer.shareDenyGroups}" var="sid"
													itemValue="#{sid.sid}" itemLabel="#{sid.description}" />
											</h:selectManyListbox> <a4j:commandButton styleClass="btn-gray fright"
												style="margin-top:5px;" value="Remove Deny"
												action="#{explorer.removeShareDeny}"
												render="shareAllListBox shareAllusersListBox shareDenyListBox" />
										</td>


									</tr>


								</tbody>
							</table>
						</h:panelGroup>
					</h:panelGroup>
					<h:inputHidden id="hiddenRecursive"
						value="#{explorer.tempRecursive}" />
					<h:inputHidden id="hiddenBatchUpdate"
						value="#{explorer.tempBatchUpdate}" />
					<h:inputHidden id="hiddenMerge" value="#{explorer.tempMerge}" />
					<table class="stylized">
						<tr class="odd">
							<td><h:panelGroup
									rendered="#{explorer.selectedNode.type eq 'nt:folder'}">
									<h:selectBooleanCheckbox id="recursive"
										value="#{explorer.recursive}" style="vertical-align: middle;"
										onclick="document.getElementById('explorerGrid:hiddenRecursive').value=document.getElementById('explorerGrid:recursive').checked">
										<a4j:ajax onevent="click"
											listener="#{explorer.groupsUsersSelectionChange}" />
									</h:selectBooleanCheckbox>
									<h:outputLabel value="Apply to Sub-Folders" />
									<h:selectBooleanCheckbox id="batchUpdate"
										value="#{explorer.batchUpdate}"
										style="vertical-align: middle;margin-left: 10px;"
										onclick="document.getElementById('explorerGrid:hiddenBatchUpdate').value=document.getElementById('explorerGrid:batchUpdate').checked"></h:selectBooleanCheckbox>
									<h:outputLabel
										value="Background process (for large number of files)" />
									<h:selectBooleanCheckbox id="merge" value="#{explorer.merge}"
										style="vertical-align: middle;margin-left: 10px;"
										onclick="document.getElementById('explorerGrid:hiddenMerge').value=document.getElementById('explorerGrid:merge').checked"></h:selectBooleanCheckbox>
									<h:outputLabel value="Merge" />
								</h:panelGroup></td>
							<td>
								<div class="fright">
									<h:panelGroup id="buttonsDiv">
									<a4j:commandButton value="Cancel" immediate="true"
										styleClass="btn-gray fright"
										onclick="#{rich:component('popupPermissions')}.hide();return false;" />
									<a4j:commandButton value="Apply" rendered="#{explorer.saveOrSyncPermissions eq '1'}"
										actionListener="#{explorer.savePermissions}"
										styleClass="btn-gray" render="nodePermissions"
										oncomplete="#{rich:component('popupPermissions')}.hide();">
									</a4j:commandButton>
									<a4j:commandButton value="Apply" rendered="#{explorer.saveOrSyncPermissions eq '2'}"
										actionListener="#{explorer.syncPermissions}"
										styleClass="btn-gray" render="nodePermissions"
										oncomplete="#{rich:component('popupPermissions')}.hide();">
									</a4j:commandButton>
								</h:panelGroup>
								</div>
							</td>
						</tr>						
					</table>


					</h:panelGroup>
			</rich:popupPanel>
			
			
		   <rich:popupPanel id="mediaPopup" modal="true" followByScroll="false" autosized="false" width="472" height="312" style="top:10px;" resizeable="false" >
		        <f:facet name="header">
		            <h:outputText value="Video Player" />
		        </f:facet>
		        <f:facet name="controls">
		            <h:outputLink   value="#" onclick="#{rich:component('mediaPopup')}.hide();jwplayer().stop();" >
		                Close X
		            </h:outputLink>
		        </f:facet>
		   
		         <ui:include src="/MediaPlayer.xhtml"></ui:include>
            </rich:popupPanel>
            <rich:popupPanel id="pdfPopup" modal="true" autosized="false" width="800" height="1000" style="top:10px;" resizeable="false" >
		        <f:facet name="header">
		            <h:outputText value="ShareArchiver File Viewer" />
		        </f:facet>
		        <f:facet name="controls">
		            <h:outputLink   value="#" onclick="#{rich:component('pdfPopup')}.hide();" >
		                Close X
		            </h:outputLink>
		        </f:facet>
		        <h:panelGroup id="pdfPopupDiv" style="width:100%;height:100%;">
		         	<iframe src="#{explorer.pdfViewerUrl}=#{explorer.urlForPdf}" width="100%" height="100%" ></iframe>
		         </h:panelGroup> 
            </rich:popupPanel>
            
			<rich:popupPanel modal="true" autosized="false" resizeable="false" id="popupEmailOptions" domElementAttachment="form" width="650" height="180" style="top:10px;background:white;" onshow="document.getElementById('searchForm:receiverNameLink').focus();" >
							<f:facet name="header">
							           <h:outputText value="#{message['fExplorer.popup.popupEmailOptions.title.text']}" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#" onclick="#{rich:component('popupEmailOptions')}.hide(); return false;">
							               Close X
							    </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							
							 <h:panelGrid  columns="2" style="margin-left:10px;">
							        	<h:column>
							        		<h:outputLabel value="#{message['fExplorer.popup.emailOptions.heading']}"/>
							        	</h:column>
							        	<h:column>
							        		<h:selectOneRadio
													value="#{explorer.linkOption}" layout="lineDirection"
													style="width: 100%;" required="true"
													styleClass="stylizedRadio">
													<f:ajax listener="#{explorer.linkOptionListner}"
														event="change" render="emailString" />
													<f:selectItem itemValue="1" itemLabel="#{message['fExplorer.popup.emailOptions.download.text']}" />
													<f:selectItem itemValue="2" itemLabel="#{message['fExplorer.popup.emailOptions.view.text']}" />
											</h:selectOneRadio>
							        	</h:column>
							        	<h:column></h:column>
							        	<h:column>
							        		<a4j:commandButton styleClass="btn-gray fright" value="Confirm" style="font-size:11px;" limitRender="true" onbegin="#{rich:component('popupEmailOptions')}.hide();" oncomplete="#{rich:component('emailLinkPopup')}.show();"  rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq false}" />
							        		
											<a4j:commandButton styleClass="btn-gray fright" value="Confirm" style="font-size:11px;" limitRender="true" onbegin="#{rich:component('popupEmailOptions')}.hide();" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq true}"  title="Email document URL" oncomplete="openOutlook()" />
							        	</h:column>
							        </h:panelGrid>
				</rich:popupPanel>
            		  	            
            
            
            <rich:popupPanel id="emailLinkPopup" modal="true" domElementAttachment="form" followByScroll="false" autosized="false" width="540" height="320" style="top:10px;background-color:white;" resizeable="false" >
		        <f:facet name="header">
		            <h:outputText value="#{message['fExplorer.popup.emailLinkPopup.title.text']}" />
		        </f:facet>
		        <f:facet name="controls">
		            <h:outputLink   value="#" onclick="#{rich:component('emailLinkPopup')}.hide();" >
		                Close X
		            </h:outputLink>
		        </f:facet>
		        
		        <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>    
		        
		         <h:panelGrid  columns="2" style="margin-left:10px;">
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.name.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailNameLink}" ></h:inputText>
		           </h:column> 
		           
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.emailTo.text']}"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailToLink}" style="width: 400px;"></h:inputText>
		           </h:column>
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.subject.text']}"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailSubjectLink}" style="width: 400px;"></h:inputText>
		           </h:column>
		           
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.comments.text']}"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputTextarea value="#{explorer.emailBodyLink}"  style="width:409px;resize:none;" rows="4"></h:inputTextarea>
		           </h:column>
		           
		           <h:column></h:column>
		           <h:column>
		              <a4j:commandButton value="Send" styleClass="btn-gray" action="#{explorer.emailLink}" oncomplete="#{rich:component('emailLinkPopup')}.hide();"/>
		           </h:column>
		         </h:panelGrid>
		          
            </rich:popupPanel>
 			<rich:popupPanel id="emailUncLinkPopup" modal="true" domElementAttachment="form" followByScroll="false" autosized="false" width="540" height="320" style="top:10px;background-color:white;" resizeable="false" >
		        <f:facet name="header">
		            <h:outputText value="#{message['fExplorer.popup.emailLinkPopup.title.text']}" />
		        </f:facet>
		        <f:facet name="controls">
		            <h:outputLink   value="#" onclick="#{rich:component('emailUncLinkPopup')}.hide();" >
		                Close X
		            </h:outputLink>
		        </f:facet>
		        
		        <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>    
		        
		         <h:panelGrid  columns="2" style="margin-left:10px;">
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.name.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailSmbNameLink}" ></h:inputText>
		           </h:column> 
		           
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.emailTo.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailSmbToLink}" style="width: 400px;"></h:inputText>
		           </h:column>
		           
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.subject.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailSmbSubjectLink}" style="width: 400px;"></h:inputText>
		           </h:column>
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.comments.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputTextarea value="#{explorer.emailSmbBodyLink}"  style="width:409px;resize:none;" rows="4"></h:inputTextarea>
		           </h:column>
		           
		           <h:column></h:column>
		           <h:column>
		              <a4j:commandButton value="Send" styleClass="btn-gray" action="#{explorer.emailUncLink}" oncomplete="#{rich:component('emailUncLinkPopup')}.hide();"/>
		           </h:column>
		         </h:panelGrid>
		          
            </rich:popupPanel>            
            
            
             <rich:popupPanel id="emailFilePopup" modal="true" domElementAttachment="form" followByScroll="false" autosized="false" width="540" height="320" style="top:10px;background-color:white;" resizeable="false" >
		        <f:facet name="header">
		            <h:outputText value="#{message['fExplorer.popup.emailFilePopup.title.text']}" />
		        </f:facet>
		        <f:facet name="controls">
		            <h:outputLink   value="#" onclick="#{rich:component('emailFilePopup')}.hide();" >
		                Close X
		            </h:outputLink>
		        </f:facet>
		         <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>    
		     
		         <h:panelGrid  columns="2" style="padding-left:10px;">
		          
		          
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.name.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailNameFile}"></h:inputText>
		           </h:column> 
		           
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.emailTo.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailToFile}" style="width: 400px;"></h:inputText>
		           </h:column>
		           
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.subject.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputText value="#{explorer.emailSubjectFile}" style="width: 400px;"></h:inputText>
		           </h:column>
		           <h:column>
		              <h:outputText value="#{message['fExplorer.popup.email.comments.text']}:"></h:outputText>
		           </h:column>
		           <h:column>
		              <h:inputTextarea value="#{explorer.emailBodyFile}" style="width:409px;resize:none" rows="4"></h:inputTextarea>
		           </h:column>
		          		          
		           <h:column></h:column>
		           <h:column>
		              <a4j:commandButton value="Send" styleClass="btn-gray" action="#{explorer.emailFile}" oncomplete="#{rich:component('emailFilePopup')}.hide();"/>
		           </h:column>
		         </h:panelGrid>
		          
            </rich:popupPanel>
			<!-- pop-up for recursive folder restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFolder" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore Folder" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFolder')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="recursiveGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="Restore Folder Recursively" />
											</td>
											<td width="300"><h:selectBooleanCheckbox value="#{explorer.restoreRecursive}">

											</h:selectBooleanCheckbox>
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Restore" id="restoreFolder"
													action="#{explorer.restoreFolder}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="#{rich:component('popupRestoreFolder')}.hide(); return false;"
													limitRender="true" /> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFolder')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
						
						<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFile" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFile')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="Are you sure you want to restore the file?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFile"
													action="#{explorer.restoreFile}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="if(#{explorer.alreadyExists eq false}){#{rich:component('popupRestoreFile')}.hide(); return false;}else{#{rich:component('popupRestoreFile')}.hide(); #{rich:component('popupRestoreFileAE')}.show();}"
													limitRender="true" /> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFile')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
						
												<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFileAE" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreARGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="A file with the same name already exists, are you sure you want to restore?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFileAE"
													action="#{explorer.restoreFileAE}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													limitRender="true" /> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
			
			</div>
		</div>
		  
	</h:form>
</body>

</html>
