
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" >
	
	<h:body>
              <f:metadata>
                 <f:event type="preRenderView" listener="#{explorer.init}"  />
              </f:metadata>
              
                  <style>
                  .rf-pp-cntr{
                    border: 0;
                    background: transparent;
                   }
                  
                 .rf-tab-hdr-act.rf-tab-hdr-top {
                      vertical-align: middle;
                  }
                  .rf-tab-hdr-inact.rf-tab-hdr-top {
                      vertical-align: middle;
                  }
                  
                  .rf-tab-hdr-spcr{
                     padding-left: 0 !important;
                   }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                     height: 80%;
                   }
                   .rf-tbp{
                     padding-top: 3px;
                   }
                   .rf-tab-cnt{
                      height: 229px;
                      border: 0;
                      padding-left:0;
                      padding-right:0;
                     
                   }
                   .rf-tab-lbl{
                      font-family:verdana,arial,sans-serif  ;
                   }
                   
                    
				 .rf-tab-hdr-act {
				   padding-top:4px !important;
				 }
				 .wordwrap
				    {
				    /* wrap long text and urls */
				    white-space: pre; /* CSS 2.0 */
				    white-space: pre-wrap; /* CSS 2.1 */
				    white-space: pre-line; /* CSS 3.0 */
				    white-space: -pre-wrap; /* Opera 4-6 */
				    white-space: -o-pre-wrap; /* Opera 7 */
				    white-space: -moz-pre-wrap; /* Mozilla */
				    word-wrap: break-word; /* IE 5+ */
				    } 
				    .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; float:right;}
                </style>
<script src="js/jquery-ui-1.10.4.custom.js"></script>                 		
              <script>
  				 function openOutlookFE(){
  				 	var url = "mailto:?Subject="+escape("Shared Link")
  				 	url = url + "&amp;body="+ escape(document.getElementById("explorerGrid:emailString").value);
	 				
	 				window.location.href=url;
	 				return false;
		 		}
		 		
		 		jQuery(function() {
					jQuery("#search-tree").resizable({ animate: true });
				});
 
  			</script>
            
             
                    <h:form  id="explorerForm" styleClass="common" >	  
                       
                      <rich:messages ></rich:messages>
                    <table class="stylized" style="width: 100%">
						<tfoot>
							<tr>
															  
								  <td style="height: 32px;vertical-align: bottom;">
								     <h:panelGroup id="levelUp" >
								     	<a4j:commandLink value="Local: &nbsp;" rendered="#{explorer.searchPathEnabled eq false and explorer.remoteFilesLoaded eq false}" limitRender="true" style="cursor:default;color:black;font-weight:bold;"/>
								     	<a4j:commandLink value="Remote: &nbsp;" rendered="#{explorer.searchPathEnabled eq false and explorer.remoteFilesLoaded eq true}" style="cursor:default;font-weight:bold;"/>				                									     
									    <a4j:repeat value="#{explorer.breadCrumbsList}" var="breadCrumb" rendered="#{explorer.searchPathEnabled eq false}" >
									       
									       <h:panelGroup rendered="#{breadCrumb.last eq false}">
										        <a4j:commandLink value="#{breadCrumb.name}" action="#{explorer.folderSelected}" render="levelUp tree searchUpperDiv"  onclick="#{rich:component('loadingPanel')} .show();hideDetailsPanel();" oncomplete="#{rich:component('loadingPanel')} .hide();"  >
										          <f:param value="#{breadCrumb.path}" name="selectedNodePath"></f:param>
										        </a4j:commandLink>
										        <h:outputText value="&nbsp;>&nbsp; "></h:outputText>
									        </h:panelGroup>
									        <h:outputText rendered="#{breadCrumb.last eq true}" value="#{breadCrumb.name}" style="font-weight:bold;"></h:outputText>
									   </a4j:repeat>
									   
									    
									    
									    <a4j:commandLink  style="float:right;height:16px;padding-left:5px;" render="levelUp" >
								           <h:graphicImage value="/images/edit.png" style="border:0;height:16px;width:16px;"></h:graphicImage>
								           
								            <a4j:param assignTo="${explorer.searchPathEnabled}" value="#{!explorer.searchPathEnabled}"></a4j:param>
								      </a4j:commandLink>
								      <a4j:commandLink rendered="#{explorer.enableCIFSFileSharing eq true}"
											style="float:right;height:16px;padding-left:5px;" onclick="#{rich:component('loadingPanel')} .show()"
											render="levelUp searchUpperDiv" action="#{explorer.loadRemoteFiles}" onbegin="hideDetailsPanel();" oncomplete="#{rich:component('loadingPanel')} .hide();">
											<h:graphicImage value="/images/icon-load-unc.png" title="#{message['fExplorer.controls.loadUnc']}"
												style="border:0;height:16px;width:16px;padding-top:3px;"></h:graphicImage>
										</a4j:commandLink>
								      
								      
								        <h:outputText value="&nbsp;&nbsp;"></h:outputText>
									    
									    <h:inputText value="#{explorer.searchPath}" rendered="#{explorer.searchPathEnabled eq true}" onclick="hideDetailsPanel();"  onselect="hideDetailsPanel();" style="width: 780px;float:right;" onkeypress="if(event.keyCode==13){document.getElementById('explorerForm:searchButton').click();return false;}return true;"  />
									      
									    <a4j:commandButton id="searchButton" style="display:none;"   action="#{explorer.searchByPath}" value="Search"  render="levelUp tree searchUpperDiv"  onclick="#{rich:component('loadingPanel')} .show()" oncomplete="#{rich:component('loadingPanel')} .hide();"  >
									    </a4j:commandButton>
								   								   
								   </h:panelGroup>
								 
								  </td>
								  
							</tr>
						</tfoot>
					</table> 
					
				                          
				  
				   <div id="search-tree" style="float: left;width: 20%;max-width:20%;height: 525px;max-height:525px;margin-top:5px;margin-right: 0;" >
				    
					    <table class="stylized" style="width: 100%;" >
							<thead>
								<tr>
									<th><span class="extend1">Folders</span>  
									    <h:panelGroup id="expData" style="float: right;margin-top: 6px;" rendered="false" >							
									       <h:commandButton id="exportButton" value="Export" styleClass="btn-gray" action="#{explorer.createExport}"  disabled="${explorer.showExport ne true}" rendered="#{explorer.loggedInRole eq 'ADMINISTRATOR'}" /> 
								 	    </h:panelGroup>
								 	</th>
								</tr>
							</thead>
									
					    </table>   			
						<div class="search-tree" style="width:100% !important;max-width:100% !important;">	
				         
				           <table>	
						 
					   		   <tr><td style="height: 410px;vertical-align: top;">
					   				   		    
					   		           <h:inputHidden id="exportNodePath" value="#{jobController.exportNodePath}"></h:inputHidden>
								   <rich:tree id="tree"   nodeType="#{node.type}"  var="node" value="#{explorer.rootNodes}"  toggleType="ajax" 
							                selectionType="ajax"   selectionChangeListener="#{explorer.selectionChanged}" execute="tree"  render="searchGrid levelUp" onbegin="#{rich:component('loadingPanel')} .show();" onbeforedomupdate="#{rich:component('loadingPanel')} .hide();"  oncomplete="#{rich:component('loadingPanel')} .hide();" >
						                				                
							                <rich:treeNode type="nt:folder"  expanded="true" id="folderId"  toggleListener="#{explorer.treeNodeToggled}" onbeforetoggle="#{rich:component('loadingPanel')} .show();"  ontoggle="#{rich:component('loadingPanel')} .hide();"  >
							                	
							                	<h:inputHidden id="nodePath" value="#{node.path}"></h:inputHidden>
												
							                     #{node.name}
							                </rich:treeNode>		                
						              				                
							        </rich:tree>
						        
					            	    
					         </td></tr>
				        
				        </table>
				        </div>				
				
		            </div>
		                 
		             </h:form>  
		             
		             
		             <h:form id="explorerGrid" styleClass="common" >
		                				       
		                     <div class="search-grid" style="width:80% !important;" >
		                     
		                        <table class="stylized" >  
						            <thead>
										<tr height="30px">
											
											<th width="40%"> <a4j:commandLink value="Name" actionListener="#{explorer.sort}" render="searchGrid">
												<f:param name="sortBy" value="name"/>
												</a4j:commandLink> </th>
											<th width="20%">
												<a4j:commandLink value="Date Modified" actionListener="#{explorer.sort}" render="searchGrid">
												<f:param name="sortBy" value="date"/>
												</a4j:commandLink>
											</th>
											<th width="25%">
												<a4j:commandLink value="Type" actionListener="#{explorer.sort}" render="searchGrid">
												<f:param name="sortBy" value="type"/>
												</a4j:commandLink>
											</th>
											<th width="15%">
												<a4j:commandLink value="Size/Items" actionListener="#{explorer.sort}" render="searchGrid">
												<f:param name="sortBy" value="size"/>
												</a4j:commandLink>
											</th>
																																	
										 </tr>
									   </thead>					                 
					             </table>		                 
		                          
		                         <h:panelGroup id="searchUpperDiv" layout="block" style="height: 448px;max-height: 448px;overflow-y:auto;background-color: #FFFFFF;border-top:0;border-right: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;"> 
					                 	
					                <a4j:region >
					                  <a4j:status   onstart="#{rich:component('loadingPanel')} .show()" onstop="#{rich:component('loadingPanel')} .hide();" onsuccess="#{rich:component('loadingPanel')} .hide()" onerror="#{rich:component('loadingPanel')} .hide()" id="spinner" ></a4j:status>
					                 <h:panelGroup id="searchGrid">

										<h:outputText value="#{message['fExplorer.explorerGrid.noFiles.text']}" rendered="#{empty explorer.firstLevelFiles}"/>		
					                							        			               				                 
					                 <rich:dataTable  id="searchGrid2"    value="#{explorer.firstLevelFiles}"  var="file" styleClass="stylized"  rowKeyVar="rownum"   first="0" onrowclick="selectRow('explorerGrid:searchGrid2', #{rownum});" onrowmouseover="highlightRow(this);" onrowmouseout="lowlightRow(this);" style="border:0;"   >                            
			                              
			                                                         
			                             <rich:column style="border-right:0;border-left:0;width:40%;max-width:40%;min-width:40%;line-height: 20px; font-size:12px;padding-right:0;word-wrap:break-all;">
			                             	<h:outputText value="&nbsp;&nbsp;&nbsp;" rendered="#{file.version}" />           
				                               				                            
				                           <a4j:commandLink actionListener="#{explorer.folderSelected}"  rendered="#{file.type eq 'nt:folder'}"  render="searchUpperDiv detailsDiv levelUp" oncomplete="#{rich:component('loadingPanel')} .hide();hideDetailsPanel();" style="color: black;cursor:default;" >
					                             
				                                  <h:graphicImage value="/images/open-folder.gif"  style="padding-left:0;border:0;"/>		
					                             
					                             <f:param value="#{file.path}" name="selectedNodePath" ></f:param>	
					                             <f:param value="#{file.archive}" name="isArchive"></f:param>
				                             </a4j:commandLink>		
				                           
				                           
				                            <a4j:commandLink actionListener="#{explorer.fileSelected}"  render="detailsDiv levelUp pdfPopupDiv" oncomplete="showDetailsPanel();#{rich:component('loadingPanel')} .hide();loadZeroClipboard();" rendered="#{file.archive eq true}" style="color: black;cursor:default;" >
					                             <h:graphicImage value="/icons/grid/#{file.iconUrl}" rendered="#{file.type ne 'nt:folder'}" style="border: 0;"  />			                                 
					                             
					                             <h:outputLabel value="&#160;"></h:outputLabel>  
				                                 <h:outputText value="#{file.name}"></h:outputText>		
					                             
					                             <f:param value="#{file.path}" name="selectedNodePath" ></f:param>
					                             <f:param value="#{file.version}" name="isVersion"></f:param>	
				                             </a4j:commandLink>
				                             <a4j:commandLink actionListener="#{explorer.smbFileSelected}"  rendered="#{file.archive eq false}"
												render=" detailsDiv versionsDiv levelUp pdfPopupDiv" onclick="#{rich:component('loadingPanel')} .show();"
												oncomplete="showDetailsPanel();#{rich:component('loadingPanel')} .hide();"
												style="cursor:default;font-size:11px;">
												<h:graphicImage value="/icons/grid/#{file.iconUrl}"
													rendered="#{file.type ne 'nt:folder'}" style="border: 0;" />
				
												<h:outputLabel value="&#160;"></h:outputLabel>
												<h:outputText value="#{file.name}"></h:outputText>
				
												<f:param value="#{file.path}" name="selectedNodePath"></f:param>
												<f:param value="#{file.version}" name="isVersion"></f:param>
											</a4j:commandLink>	
				                             
				                             <a4j:commandLink rendered="#{file.nextVersionsSize > 0}" actionListener="#{explorer.expandVersions()}" render="searchGrid versionsDiv versionsModifiedDiv versionsSizeDiv versionsTypeDiv" oncomplete="#{rich:component('loadingPanel')} .hide();hideDetailsPanel();">
												<f:param value="#{file.path}" name="selectedNodePath"></f:param>
												<h:graphicImage value="/images/icon-file-versions.png" height="16" width="16" style="margin-left:10px;vertical-align:center;" title="#{message['fExplorer.controls.showVersions']}"></h:graphicImage>
											</a4j:commandLink>
				                                                        
				                            
				                         </rich:column>  
				                                        
				                         
				                         <rich:column style="width:20%;max-width:20%;min-width:20%; border-right:0;font-size:11px;line-height: 20px;padding-right:0;" >
				                               <h:outputText value="#{file.lastModified}"></h:outputText>
				                         </rich:column>
				                         
				                          <rich:column style="width:25%;max-width:25%;min-width:212px; border-right:0;font-size:11px;line-height: 20px;padding-right:0;" >
				                                <h:outputText value="#{file.fileTypeDesc}"></h:outputText>
				                         </rich:column>
				                         
				                          <rich:column style="width:15%;max-width:15%x;min-width:15%; border-right:0;font-size:11px;line-height: 20px;padding-right:0;" >
				                                <h:outputText value="#{file.fileSize}" rendered="#{file.type ne 'nt:folder'}"></h:outputText>
				                                <h:outputText value="#{file.fileFoldersCount}" rendered="#{file.type eq 'nt:folder'}"></h:outputText>
				                         </rich:column>
				                          
			                        				                       				                         
				                   </rich:dataTable>
				                   </h:panelGroup>
				                   </a4j:region>
				               
				               </h:panelGroup> 
				               
				               <h:panelGroup layout="block" id="iconDiv">
					              <table class="stylized-narrow" style="border: 1px solid #d2d2d2;">	
										<tfoot>
											<tr>
												<td colspan="7"><div class="show-up" onclick="showDetailsPanel();"></div></td>
											</tr>
										</tfoot>
							       </table>
				               </h:panelGroup>
				                 
	                           <h:panelGroup layout="block" id="detailsDiv" style="display:none;height:354px;max-height:354px;overflow:hidden;border: 1px solid #d2d2d2;">
	                                <div style="height: 28px;padding-right:10px;background: url(images/bg-tableheader.png);border: 1px solid #d2d2d2;vertical-align: middle;" >
										 <div class="show-down" ><b>#{explorer.selectedNode.name}<h:outputText value="&#160;" />Properties</b>
										 
										 <div style="float:right;padding-right: 10px" >
									        <h:panelGroup layout="block"	rendered="#{explorer.selectedNode.type ne 'nt:folder' and explorer.selectedNode.archive eq true}">
										        
										        <h:commandLink  immediate="true" action="#{explorer.downloadFile}" rendered="#{explorer.downloadEnabled eq true}" >
													<f:param name="nodeID"	value="#{explorer.selectedNode.downloadUrl}" ></f:param>
													<h:graphicImage value="/images/icon-open-download.png" width="16" height="19" title="#{message['fExplorer.controls.openDownload']}"></h:graphicImage>
											    </h:commandLink>
											    <h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{explorer.downloadEnabled eq true}"></h:outputText>
						    
											    <h:commandLink  immediate="true" action="#{explorer.viewPDF}" rendered="#{explorer.downloadEnabled eq true and explorer.selectedNode.name.endsWith('pdf') and false}" target="_blank" >
													<f:param name="nodeID"	value="#{explorer.selectedNode.downloadUrl}" ></f:param>
													<h:graphicImage value="/images/icon-view-pdf.png" width="20" height="20" title="View PDF"></h:graphicImage>
											    </h:commandLink>
											    
											    <!-- <h:link outcome="PdfViewer" target="_blank" rendered="#{explorer.enablePdfView eq true}">-->
											    	<h:graphicImage value="/images/icon-view-pdf.png" rendered="#{explorer.showPdfIcon eq true}" width="18" height="19" title="#{message['fExplorer.controls.view']}">
											    		<a4j:ajax event="click" listener="#{explorer.showPdf}" oncomplete="#{rich:component('pdfPopup')}.show();" render="pdfPopupDiv" ></a4j:ajax>
											    	</h:graphicImage>
													   <!-- <f:param name="faces-redirect" value="true" ></f:param>
													   <f:param name="documentPath" value="#{explorer.selectedNode.downloadUrl}" ></f:param>
												</h:link>-->
												<h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{explorer.showPdfIcon eq true}"></h:outputText>
											    <a4j:commandLink  immediate="true" execute="form" rendered="#{explorer.fileRestoreEanbled eq true}"  >
						                           <h:graphicImage value="/images/icon-restore-file.png" width="20" height="20" title="#{message['fExplorer.controls.restore']}" onclick="#{rich:component('popupRestoreFile')}.show();"></h:graphicImage>
						                        </a4j:commandLink>
						                        <h:outputText value="&nbsp;&nbsp;" escape="false" rendered="#{explorer.fileRestoreEanbled eq true}"></h:outputText>
						                        
						                        <h:graphicImage value="/images/icon-email-link.png" width="20" height="15" rendered="#{explorer.linksShareEnabled eq true and explorer.showPdfIcon eq true}" onclick="#{rich:component('popupEmailOptions')}.show();" />
	                        
	                        					<h:graphicImage value="/images/icon-email-link.png" width="20" height="15" title="#{message['fExplorer.controls.emailLink']}" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq false and explorer.showPdfIcon eq false}"  onclick="#{rich:component('emailLinkPopup')}.show();" ></h:graphicImage>
	
						    					<h:graphicImage value="/images/icon-email-link.png" width="20" height="15" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq true and explorer.showPdfIcon eq false}"  title="Email document URL" onclick="openOutlookFE()"></h:graphicImage>
						                        
						                        
						                        
						                        
						                        <h:commandLink  style="font-size:11px;margin-left: 10px;" title="email link" actionListener="#{explorer.emailUsingDefaultClient}"  rendered="#{explorer.linksShareEnabled eq true and false}">																    
							    					<h:graphicImage value="/images/icon-email-link.png" height="15" width="20" onclick="return false;"></h:graphicImage>
												</h:commandLink>
						                       
						                        <h:outputText value="&nbsp;&nbsp;" rendered="#{explorer.linksShareEnabled eq true}"  escape="false"></h:outputText>
						                        
						                        <h:graphicImage value="/images/icon-email-doc.png" width="20" height="15" title="#{message['fExplorer.controls.emailDoc']}" rendered="#{explorer.filesShareEnabled eq true and explorer.emailFileSizeExceeded eq false}" onclick="#{rich:component('emailFilePopup')}.show();"></h:graphicImage>
	                        
	                        					<h:graphicImage value="/images/icon-email-doc.png" width="20" height="15" title="#{message['fExplorer.controls.emailDoc']}" rendered="#{explorer.filesShareEnabled eq true and explorer.emailFileSizeExceeded eq true}" onclick="alert('Email document size exceeds max attachment size');"></h:graphicImage>
						                        
										        <h:outputText value="&nbsp;&nbsp;" rendered="#{explorer.filesShareEnabled eq true}"  escape="false"></h:outputText>
										        
										        <a4j:commandLink  immediate="true" execute="form"   rendered="#{explorer.selectedNode.mediaFile eq true and explorer.mediaStreamingEnabled eq true}" action="#{explorer.playMediaFile}" render="mediaPopup" oncomplete="#{rich:component('mediaPopup')} .show();">
						                           <f:param name="filePath" value="#{explorer.selectedNode.path}"></f:param>
						                           <h:graphicImage value="/images/icon-play.png" width="20" height="20" title="#{message['fExplorer.controls.view']}"></h:graphicImage>
						                        </a4j:commandLink> 
											  	<h:outputText value="&nbsp;&nbsp;" rendered="#{explorer.selectedNode.mediaFile eq true and explorer.mediaStreamingEnabled eq true}" escape="false"></h:outputText>
											  	
											  	  <h:panelGroup id="tagsEdit" rendered="#{explorer.enableDocumentTagging eq true}"> 
													 <a4j:commandButton image="/images/icon-tag.png" title="#{message['fExplorer.controls.tag']}"  render="tagsGrid" oncomplete="#{rich:component('popupTags')}.show()" actionListener="#{explorer.editTag}"/> 
												</h:panelGroup>												
												<h:outputText value="&nbsp;" escape="false" rendered="#{explorer.enableDocumentTagging eq true}"></h:outputText>
											  						    
										     </h:panelGroup>	
					    
										     <h:panelGroup rendered="#{explorer.selectedNode.type eq 'nt:folder'}" >
										       	       
										        <a4j:commandLink  immediate="true" action="#{searchController.folderSearch}" rendered="#{searchController.enableFolderSearch eq true and explorer.selectedNode.archive eq true}"  oncomplete="#{rich:component('browseTabs')}.switchToItem('Search');#{rich:component('searchTabs')}.switchToItem('Results');" render="searchPanel searchTabs" limitRender="false" >
													<a4j:param value="#{explorer.selectedNode.UNCPath}" name="selectedNodePath" />
													<h:graphicImage value="/images/icon-search.png" width="20" height="20" title="#{message['fExplorer.controls.searchFolder']}"></h:graphicImage>
											    </a4j:commandLink>
											  						                    
									         </h:panelGroup>
									         
									         <h:panelGroup rendered="#{explorer.selectedNode.type eq 'nt:file' and explorer.selectedNode.archive eq false}" >
									           	<h:commandLink  immediate="true" action="#{explorer.downloadUncFile}" rendered="#{explorer.downloadEnabled eq true}" >
													<f:param name="nodeID"	value="#{explorer.selectedNode.downloadUrl}" ></f:param>
													<h:graphicImage value="/images/icon-open-download.png" width="16" height="19" title="#{message['fExplorer.controls.openDownload']}"></h:graphicImage>
						    					</h:commandLink>
						    					<h:outputText value="&nbsp;&nbsp;" escape="false"></h:outputText>	
											    <h:graphicImage value="/images/icon-view-pdf.png" rendered="#{explorer.showPdfIcon eq true}" width="18" height="19" title="#{message['fExplorer.controls.openDownload']}" style="vertical-align: center;">
											    	<a4j:ajax event="click" listener="#{explorer.showUncPdf}" oncomplete="#{rich:component('pdfPopup')}.show();" render="pdfPopupDiv" ></a4j:ajax>
											    </h:graphicImage>
						    					<h:outputText value="&nbsp;&nbsp;" escape="false"></h:outputText>						       
												<a4j:commandLink action="#{explorer.readyToSendLink}" oncomplete="#{rich:component('emailUncLinkPopup')}.show();" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq false}" render="emailString">
													<h:graphicImage value="/images/icon-email-link.png" width="20" height="15"   title="share file via email" />
													<a4j:param name="nodePath" value="#{explorer.selectedNode.path}"/>
												</a4j:commandLink>
						                        
						                        <a4j:commandLink action="#{explorer.emailUncUsingDefaultClient()}" oncomplete="openOutlookFE()" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq true}" render="emailString">
											    	<h:graphicImage value="/images/icon-email-link.png" width="20" height="15"   title="#{message['fExplorer.controls.emailLink']}" ></h:graphicImage>
											    	<a4j:param name="nodePath" value="#{explorer.selectedNode.path}"/>
											    </a4j:commandLink>
											    <h:outputText value="&nbsp;&nbsp;" escape="false"></h:outputText>	                     				     
									         </h:panelGroup>
									         <h:inputHidden id="emailString" value="#{explorer.emailString}"></h:inputHidden>
									         
									         <h:graphicImage value="images/icon-down.png" style="float:right;padding-left:5px;" onclick="hideDetailsPanel();">
				        					 </h:graphicImage>
				         
				                          </div>
										 
										 
										</div>
								    </div>		  
									    
				                     <rich:tabPanel  switchType="client" >
				                         <rich:tab name="#{message['fExplorer.details.summary.tab.text']}"    oncomplete="#{rich:component('loadingPanel')}.hide();">
				                              <table class="stylized-narrow" style="height: 229px;max-height: 229px;overflow: hidden;" >
												
												<tbody>
													<tr class="odd">
														<td width="112"  style="min-width:112px;">#{message['fExplorer.details.node.name.label']}</td>
														<td colspan="2" width="685"  style="border-right:0;" >#{explorer.selectedNode.name}</td>
													</tr>
													<tr>
														<td>#{message['fExplorer.details.node.path.label']}</td>
														<td colspan="2" style="border-right:0;word-break: break-all;" >#{explorer.selectedNode.path}</td>
													</tr>
													<tr class="odd">
														<td>#{message['fExplorer.details.node.type.label']}</td>
														<td colspan="1" style="border-right:0;" >#{explorer.selectedNode.fileTypeDesc}</td>
														 <h:panelGroup rendered="#{explorer.showThumbnail}">											
										 					<td rowspan="6" width="150">
							    								<h:graphicImage value="#{explorer.currentThumbnailPath}" style="margin-right: 20px;" width="150" height="150">
							    									<a4j:ajax event="click" listener="#{explorer.showPdf}" oncomplete="#{rich:component('pdfPopup')}.show();" render="pdfPopupDiv"  disabled="#{explorer.showPdfIcon eq false}"></a4j:ajax>
							    								</h:graphicImage>
							    							</td>
						    							</h:panelGroup>	
													</tr>
													<tr>
														<td>#{message['fExplorer.details.node.size.label']}</td>
														<td style="border-right:0;" >
														<h:outputText value="#{explorer.selectedNode.fileSize}" rendered="#{explorer.selectedNode.type ne 'nt:folder'}"/>
														<h:outputText value="#{explorer.selectedNode.fileFoldersCount}" rendered="#{explorer.selectedNode.type eq 'nt:folder'}"/> </td>	
													</tr>
													
													<tr class="odd">
														<td>#{message['fExplorer.details.node.createdDate.label']}</td>
														<td style="border-right:0;" >#{explorer.selectedNode.createdDate}</td>
													</tr>
													
													<tr >
														<td>#{message['fExplorer.details.node.archiveDate.label']}</td>
														<td style="border-right:0;" >#{explorer.selectedNode.archivedDate}</td>
													</tr>
													
													<tr class="odd">
														<td>#{message['fExplorer.details.node.modifiedDate.label']}</td>
														<td style="border-right:0;" >#{explorer.selectedNode.lastModified}</td>
													</tr>
													
													<tr>
														<td>#{message['fExplorer.details.node.accessedDate.label']}</td>
														<td style="border-right:0;" >#{explorer.selectedNode.lastAccessed}</td>
													</tr>
																																							
													
												</tbody>
												
											</table>  
				                         
				                         
				                         </rich:tab >

										<rich:tab name="#{message['fExplorer.details.otherVersions.tab.text']}"
											oncomplete="#{rich:component('loadingPanel')}.hide();"
											rendered="#{explorer.nextVersionsSize > 0}">
											
											<rich:dataTable id="versionsGrid" value="#{explorer.nextVersionsList}"
												var="nxtVer" styleClass="stylized" rowKeyVar="verrownum" first="0"
												onrowclick="selectRow('explorerGrid:versionsGrid',#{verrownum});"
												onrowmouseover="highlightRow(this);"
												onrowmouseout="lowlightRow(this);"
												style="border:0;table-layout:fixed;">
											
												<rich:column
													style="border-right:0;border-left:0;">
													
													<a4j:commandLink actionListener="#{explorer.fileSelected}"
														onbegin="#{rich:component('loadingPanel')} .show();"
														oncomplete="#{rich:component('loadingPanel')} .hide();"
														limitRender="true"
														style="color: black;cursor:default;">
														<h:graphicImage value="/icons/grid/#{nxtVer.iconUrl}"
															rendered="#{nxtVer.type ne 'nt:folder'}" style="border: 0;" />
						
														<h:outputLabel value="&#160;"></h:outputLabel>
														<h:outputText value="#{nxtVer.name}" rendered="#{nxtVer.lastModified ne explorer.selectedNode.lastModified}"></h:outputText>
														<h:outputLabel value="#{nxtVer.name}" rendered="#{nxtVer.lastModified eq explorer.selectedNode.lastModified}"></h:outputLabel>
						
														<f:param value="#{nxtVer.path}" name="selectedNodePath"></f:param>
														<f:param value="true" name="isVersion"></f:param>
													</a4j:commandLink>
													
												</rich:column>
												<rich:column
													style="border-right:0;border-left:0;">
														<h:outputText value="#{nxtVer.lastModified}" rendered="#{nxtVer.lastModified ne explorer.selectedNode.lastModified}" />
														<h:outputLabel value="#{nxtVer.lastModified}" rendered="#{nxtVer.lastModified eq explorer.selectedNode.lastModified}" />
												</rich:column>
												<rich:column
													style="border-right:0;border-left:0;">
														<h:outputText value="#{nxtVer.fileSize}" rendered="#{nxtVer.lastModified ne explorer.selectedNode.lastModified}" />
														<h:outputLabel value="#{nxtVer.fileSize}" rendered="#{nxtVer.lastModified eq explorer.selectedNode.lastModified}" />
												</rich:column>
												
											</rich:dataTable>
					
										</rich:tab>
					
				                         <rich:tab name="#{message['fExplorer.details.security.tab.text']}"  oncomplete="#{rich:component('loadingPanel')}.hide();" >
				                                <table class="stylized-narrow"    >
												  <tbody>
												    
												    <tr class="odd">
														<td>#{message['fExplorer.details.node.securityAllow.label']}</td>
														<td style="border-right:0;">#{explorer.selectedNode.securityAllowGroupNames}</td>
													</tr>
													
													
													<tr >
														<td >#{message['fExplorer.details.node.securityDeny.label']}</td>
														<td style="border-right:0;">#{explorer.selectedNode.securityDenyGroupNames}</td>
													</tr>
												    
												    <tr  class="odd" >
														<td>#{message['fExplorer.details.node.shareAllow.label']}</td>
														<td style="border-right:0;width:80%;" >#{explorer.selectedNode.shareAllowGroupNames}</td>
													</tr>
													
													<tr >
														<td style="border-bottom:1px solid #D2D2D2;">#{message['fExplorer.details.node.shareDeny.label']}</td>
														<td style="border-right:0;border-bottom: 1px solid #D2D2D2;">#{explorer.selectedNode.shareDenyGroupNames}</td>
													</tr>
													
													
												  
												  </tbody>
												</table>
												
												<span style="margin-right:20px;padding-top:3px; ">
													 
													  <h:button  styleClass="btn-gray fright"  outcome="EditPermissions" value="Security Editor" rendered="#{not empty explorer.selectedNode.downloadUrl and explorer.loggedInRole eq 'ADMINISTRATOR'}"  >
													   	 <f:param value="#{explorer.selectedNode.downloadUrl}"  name="id1"/>
													   	 <f:param value="#{explorer.selectedNode.path}"  name="id"/>
													 </h:button>
													 
												</span>
				                         
				                         </rich:tab>
				                         
				                         
				                          <rich:tab name="#{message['fExplorer.details.details.tab.text']}"  oncomplete="#{rich:component('loadingPanel')}.hide();" >
				                                <table class="stylized-narrow" style="table-layout: fixed;" >
												  <tbody>
												    <tr class="odd">
														<td >#{message['fExplorer.details.node.uuid.label']}</td>
														<td  style="border-right:0;width:80%;" >#{explorer.selectedNode.uuid}</td>
													</tr>
												    
												    <h:panelGroup	rendered="#{not explorer.selectedNode.path.contains('/SP/')}">
														<tr>
															<td>#{message['fExplorer.details.node.unc.label']}</td>
															<td style="border-right:0;width:80%;word-wrap:break-word;">#{explorer.selectedNode.UNCPath} 
															  
															</td>
														</tr>
													</h:panelGroup>
													
													<h:panelGroup	rendered="#{explorer.selectedNode.path.contains('/SP/') and not empty explorer.selectedNode.contentType}">
														<tr>
															<td>#{message['fExplorer.details.node.contentType.label']}</td>
															<td style="border-right:0;width:80%;word-wrap:break-word;">#{explorer.selectedNode.contentType} 
															  
															</td>
														</tr>
														
														<tr class="odd">
															<td>#{message['fExplorer.details.node.spDocUrl.label']}</td>
															<td style="border-right:0;width:80%;word-wrap:break-word;">#{explorer.selectedNode.spDocUrl} 
															  
															</td>
														</tr>									
													</h:panelGroup>
								
													<h:panelGroup	rendered="#{explorer.selectedNode.linkedNode eq true}">
														<tr class="odd">
															<td style="border-bottom: 1px solid #D2D2D2;">#{message['fExplorer.details.node.duplicate.label']}</td>
															<td	style="border-right:0;width:80%;border-bottom: 1px solid #D2D2D2;">
															    <h:graphicImage	value="/images/icon-check.png" title="Duplicate Document" />
															</td>
														</tr>
													</h:panelGroup>
								
												    
													<tr class="even">
														<td style= "border-bottom: 1px solid #D2D2D2;" > <h:outputText rendered="#{explorer.enableDocumentTagging eq true and explorer.selectedNode.type ne 'nt:folder'}" value="#{message['fExplorer.details.node.tag.label']}" /> </td>
														<td style="border-right:0;width:80%;border-bottom: 1px solid #D2D2D2;"  > 
														<h:panelGroup id="tags" rendered="#{explorer.enableDocumentTagging eq true and explorer.selectedNode.type ne 'nt:folder'}"> <h:panelGroup rendered="#{explorer.selectedNode.tags.length()>0}"><b>#{message['fExplorer.details.node.tag.addedBy.label']}: </b>#{explorer.selectedNode.tagUser}, <b> #{message['fExplorer.details.node.tag.addedOn.label']}: </b>#{explorer.selectedNode.tagTimeStamp} , <b>#{message['fExplorer.details.node.tag.addedTag.label']}:</b> #{explorer.selectedNode.tags}</h:panelGroup>
															<a4j:commandButton image="/images/icon-tag.png" title="#{message['fExplorer.controls.tag']}" styleClass="fright" render="tagsGrid" oncomplete="#{rich:component('popupTags')}.show()" actionListener="#{explorer.editTag}" rendered="false"/> 
														</h:panelGroup></td>
													</tr>
												<h:panelGroup rendered="#{not empty explorer.selectedNode.printerName}">
													<tr class="odd">
														<td>#{message['fExplorer.details.node.printerName.label']}</td>
														<td style="border-right:0;">#{explorer.selectedNode.printerName}</td>
													</tr>
					
													<tr>
														<td>#{message['fExplorer.details.node.machineName.label']}</td>
														<td style="border-right:0;">#{explorer.selectedNode.machineName}</td>
													</tr>
					
													<tr class="odd">
														<td>#{message['fExplorer.details.node.username.label']}</td>
														<td style="border-right:0;">#{explorer.selectedNode.username}</td>
													</tr>
					
													<tr>
														<td>#{message['fExplorer.details.node.totalPages.label']}</td>
														<td style="border-right:0;">#{explorer.selectedNode.totalPages}</td>
													</tr>
												</h:panelGroup>													
													<h:panelGroup rendered="#{explorer.showDocumentUrl eq true}">
													<tr class="odd">
														<td style="border-bottom: 1px solid #D2D2D2;">#{message['fExplorer.details.node.downloadUrl.label']}</td>
														<td style="border-right:0;width:80%;word-wrap:break-word;">
															<div id="text-to-copy" style="display: none;">
															  	#{explorer.dnsServer}/downloadfile.jsp?nodeID=#{explorer.selectedNode.downloadUrl}
															 </div>
															 <button id="click-to-copy" data-clipboard-target="text-to-copy">#{message['fExplorer.popup.email.comments.text']}</button>
															 <span id="copy-message"/>
														</td>
													</tr>
													</h:panelGroup>
													<tr class="even">
														<td colspan="2">
															<a4j:commandButton rendered="false" image="/images/icon-tag.png" title="Edit Tag" styleClass="fright" render="tagsGrid" oncomplete="#{rich:component('popupTags')}.show()" actionListener="#{explorer.editTag}"/>
														</td>										
													</tr>
																																						  
												  </tbody>
												
												</table>
																			  <!-- pop-up to add/update document tags-->
	  			 			  <rich:popupPanel modal="true" autosized="true" resizeable="false" id="popupTags" domElementAttachment="form" width="600" style="background:white;">
								 	<f:facet name="header">
							            <h:outputText value="#{message['fExplorer.popup.popupTags.title.text']}" />
							        </f:facet>
							        <f:facet name="controls">
							            <h:outputLink value="#" onclick="#{rich:component('popupTags')}.hide(); return false;">
							                X
							            </h:outputLink>
							        </f:facet>
							        <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
								 	<h:panelGroup id="tagsGrid" rendered="#{explorer.selectedNode ne null}">
								 		<table class="stylized" style="width:700;margin-bottom: 10px;">
									 		<tbody>
												<tr class="odd">
													<td width="200"><h:outputLabel value="#{message['fExplorer.popup.tag.text']}"/></td>
													<td width="700"><h:inputText id="tagsinput" value="#{explorer.selectedNode.tags}" style="width:400px;" maxlength="100" onkeypress="if(event.keyCode==13){document.getElementById('explorerGrid:saveTag').click();return false;}return true;"/></td>
												</tr>
												<tr class="even">
													<td colspan="2">
														<a4j:commandButton value="Save" id="saveTag" actionListener="#{explorer.updateTags}" style="margin-left:325px;margin-bottom:10px;" styleClass="btn-gray" oncomplete="#{rich:component('popupTags')}.hide(); return false;" render="tags"/>
														<a4j:commandButton value="Cancel" style="margin-left:10px;margin-bottom:10px;" styleClass="btn-gray" onclick="#{rich:component('popupTags')}.hide(); return false;" render="" />
													</td>
												</tr>
											</tbody>
										</table>
								 	</h:panelGroup>
							 	</rich:popupPanel>
				                         
				                         </rich:tab>
				                   
				                   </rich:tabPanel>	
				                   
				                                   	                   
				                 
							  </h:panelGroup>		 

			                <div style="display:none;">
			                
				<rich:popupPanel modal="true" autosized="false" resizeable="false" id="popupEmailOptions" domElementAttachment="form" width="650" height="180" style="top:10px;background:white;" onshow="document.getElementById('searchForm:receiverNameLink').focus();" >
							<f:facet name="header">
							           <h:outputText value="#{message['fExplorer.popup.popupEmailOptions.title.text']}" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#" onclick="#{rich:component('popupEmailOptions')}.hide(); return false;">
							               #{message['search.popup.general.close.label']} X
							    </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							 <h:panelGrid  columns="2" style="margin-left:10px;">
							        	<h:column>
							        		<h:outputLabel value="#{message['fExplorer.popup.emailOptions.heading']}"/>
							        	</h:column>
							        	<h:column>
							        		<h:selectOneRadio
													value="#{explorer.linkOption}" layout="lineDirection"
													style="width: 100%;" required="true"
													styleClass="stylizedRadio">
													<f:ajax listener="#{explorer.linkOptionListner}"
														event="change" render="emailString" />
													<f:selectItem itemValue="1" itemLabel="#{message['fExplorer.popup.emailOptions.download.text']}" />
													<f:selectItem itemValue="2" itemLabel="#{message['fExplorer.popup.emailOptions.view.text']}" />
											</h:selectOneRadio>
							        	</h:column>
							        	<h:column></h:column>
							        	<h:column>
							        		<a4j:commandButton styleClass="btn-gray fright" value="#{message['search.popup.general.confirm.label']}" style="font-size:11px;" limitRender="true" onbegin="#{rich:component('popupEmailOptions')}.hide();" oncomplete="#{rich:component('emailLinkPopup')}.show();"  rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq false}" />
							        		
											<a4j:commandButton styleClass="btn-gray fright" value="#{message['search.popup.general.confirm.label']}" style="font-size:11px;" limitRender="true" onbegin="#{rich:component('popupEmailOptions')}.hide();" rendered="#{explorer.linksShareEnabled eq true and explorer.emailUsingDefaultClient eq true}"  title="#{message['fExplorer.controls.emailLink']}" oncomplete="openOutlookFE()" />
							        	</h:column>
							        </h:panelGrid>
					</rich:popupPanel>
						          
						          
					 <rich:popupPanel id="emailLinkPopup" modal="true" domElementAttachment="form" followByScroll="false" autosized="false" width="540" height="300" style="top:10px;background-color:white;" resizeable="false" >
				          <f:facet name="header">
				            <h:outputText value="#{message['fExplorer.popup.emailLinkPopup.title.text']}" />
				          </f:facet>
				          <f:facet name="controls">
				            <h:outputLink   value="#" onclick="#{rich:component('emailLinkPopup')}.hide();" >
				                #{message['search.popup.general.close.label']} X
				            </h:outputLink>
				          </f:facet>
		                  <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>    
		                  
					      <h:panelGrid  columns="2" style="margin-left:10px;">
					           <h:column>
					              <h:outputText value="#{message['fExplorer.popup.email.name.text']}:"></h:outputText>
					           </h:column>
					           <h:column>
					              <h:inputText value="#{explorer.emailNameLink}" ></h:inputText>
					           </h:column> 
					           
					           <h:column>
					              <h:outputText value="#{message['fExplorer.popup.email.emailTo.text']}:"></h:outputText>
					           </h:column>
					           <h:column>
					              <h:inputText value="#{explorer.emailToLink}" style="width: 400px;"></h:inputText>
					           </h:column>
		           
		           		       <h:column>
		              				<h:outputText value="#{message['fExplorer.popup.email.subject.text']}:"></h:outputText>
	 	           			   </h:column>
		    			       <h:column>
					              <h:inputText value="#{explorer.emailSubjectLink}" style="width: 400px;"></h:inputText>
		           			   </h:column>
					           <h:column>
					              <h:outputText value="#{message['fExplorer.popup.email.comments.text']}:"></h:outputText>
					           </h:column>
					           <h:column>
					              <h:inputTextarea value="#{explorer.emailBodyLink}"  style="width:409px;resize:none;" rows="4"></h:inputTextarea>
					           </h:column>
					           
					           <h:column></h:column>
					           <h:column>
					              <a4j:commandButton value="#{message['search.popup.general.send.label']}" styleClass="btn-gray" action="#{explorer.emailLink}" oncomplete="#{rich:component('emailLinkPopup')}.hide();"/>
					           </h:column>
					      </h:panelGrid>
					          
			            </rich:popupPanel>
            
            
			             <rich:popupPanel id="emailFilePopup" modal="true" domElementAttachment="form" followByScroll="false" autosized="false" width="540" height="300" style="top:10px;background-color:white;" resizeable="false" >
					         <f:facet name="header">
					            <h:outputText value="#{message['fExplorer.popup.emailFilePopup.title.text']}" />
					         </f:facet>
					         <f:facet name="controls">
					            <h:outputLink   value="#" onclick="#{rich:component('emailFilePopup')}.hide();" >
					                #{message['search.popup.general.close.label']} X
					            </h:outputLink>
					         </f:facet>
		                     <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>    
						     
						     <h:panelGrid  columns="2" style="margin-left:10px;">
						          
						           <h:column>
						              <h:outputText value="#{message['fExplorer.popup.email.name.text']}:"></h:outputText>
						           </h:column>
						           <h:column>
						              <h:inputText value="#{explorer.emailNameFile}" ></h:inputText>
						           </h:column> 
						           
						           <h:column>
						              <h:outputText value="#{message['fExplorer.popup.email.emailTo.text']}:"></h:outputText>
						           </h:column>
						           <h:column>
						              <h:inputText value="#{explorer.emailToFile}" style="width: 400px;"></h:inputText>
						           </h:column>
						           
						            <h:column>
		              					<h:outputText value="#{message['fExplorer.popup.email.subject.text']}:"></h:outputText>
	 	           			   		</h:column>
		    			       		<h:column>
					              		<h:inputText value="#{explorer.emailSubjectFile}" style="width: 400px;"></h:inputText>
		           			   	   </h:column>
						           <h:column>
						              <h:outputText value="#{message['fExplorer.popup.email.comments.text']}:"></h:outputText>
						           </h:column>
						           <h:column>
						              <h:inputTextarea value="#{explorer.emailBodyFile}" style="width:409px;resize:none;" rows="4"></h:inputTextarea>
						           </h:column>
						          		          
						           <h:column></h:column>
						           <h:column>
						              <a4j:commandButton value="#{message['search.popup.general.send.label']}" styleClass="btn-gray" action="#{explorer.emailFile}" oncomplete="#{rich:component('emailFilePopup')}.hide();"/>
						           </h:column>
						        </h:panelGrid>
						          
				             </rich:popupPanel>
				             
				             <rich:popupPanel id="emailUncLinkPopup" modal="true" domElementAttachment="form" followByScroll="false" autosized="false" width="540" height="300" style="top:10px;background-color:white;" resizeable="false" >
						        <f:facet name="header">
						            <h:outputText value="#{message['fExplorer.popup.emailLinkPopup.title.text']}" />
						        </f:facet>
						        <f:facet name="controls">
						            <h:outputLink   value="#" onclick="#{rich:component('emailUncLinkPopup')}.hide();" >
						                #{message['search.popup.general.close.label']} X
						            </h:outputLink>
						        </f:facet>
						        
						        <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>    
						        
						         <h:panelGrid  columns="2" style="margin-left:10px;">
						           <h:column>
						              <h:outputText value="#{message['fExplorer.popup.email.name.text']}:"></h:outputText>
						           </h:column>
						           <h:column>
						              <h:inputText value="#{explorer.emailSmbNameLink}" ></h:inputText>
						           </h:column> 
						           
						           <h:column>
						              <h:outputText value="#{message['fExplorer.popup.email.emailTo.text']}:"></h:outputText>
						           </h:column>
						           <h:column>
						              <h:inputText value="#{explorer.emailSmbToLink}" style="width: 400px;"></h:inputText>
						           </h:column>
						           
		           		       		<h:column>
		              					<h:outputText value="#{message['fExplorer.popup.email.subject.text']}:"></h:outputText>
	 	           			   		</h:column>
		    			       		<h:column>
					              		<h:inputText value="#{explorer.emailSmbSubjectLink}" style="width: 400px;"></h:inputText>
		           			   		</h:column>						           
						           <h:column>
						              <h:outputText value="#{message['fExplorer.popup.email.comments.text']}:"></h:outputText>
						           </h:column>
						           <h:column>
						              <h:inputTextarea value="#{explorer.emailSmbBodyLink}"  style="width:409px;resize:none;" rows="4"></h:inputTextarea>
						           </h:column>
						           
						           <h:column></h:column>
						           <h:column>
						              <a4j:commandButton value="#{message['search.popup.general.send.label']}" styleClass="btn-gray" action="#{explorer.emailUncLink}" oncomplete="#{rich:component('emailUncLinkPopup')}.hide();"/>
						           </h:column>
						         </h:panelGrid>
			          
	            			</rich:popupPanel>
				             
				             <rich:popupPanel id="pdfPopup" modal="true" autosized="false" width="800" height="1000" style="top:10px;" resizeable="false" >
						        <f:facet name="header">
						            <h:outputText value="ShareArchiver File Viewer" />
						        </f:facet>
						        <f:facet name="controls">
						            <h:outputLink   value="#" onclick="#{rich:component('pdfPopup')}.hide();" >
						                #{message['search.popup.general.close.label']} X
						            </h:outputLink>
						        </f:facet>
						        <h:panelGroup id="pdfPopupDiv" style="width:100%;height:100%;">
						         	<iframe src="#{explorer.pdfViewerUrl}=#{explorer.urlForPdf}" width="100%" height="100%" ></iframe>
						         </h:panelGroup> 
				            </rich:popupPanel>
				            
				            	<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFile" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFile')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="Are you sure you want to restore the file?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFile"
													action="#{explorer.restoreFile}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="if(#{explorer.alreadyExists eq false}){#{rich:component('popupRestoreFile')}.hide(); return false;}else{#{rich:component('popupRestoreFile')}.hide(); #{rich:component('popupRestoreFileAE')}.show();}"
													limitRender="true" /> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFile')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
						
												<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFileAE" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreARGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="A file with the same name already exists, are you sure you want to restore?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFileAE"
													action="#{explorer.restoreFileAE}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													limitRender="true" /> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>	
						          
						          
			                
			                </div>
		                
		                
		                
		                </div>
	                 </h:form>
	            </h:body>
	     </html>            