<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" >
    	<h:head>
	   <meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
	   
	   <link  href="http://fonts.googleapis.com/css?family=Open+Sans:r,i,b,bi" rel="stylesheet" type="text/css"  />
	   <link href="css/styles.css" rel="stylesheet" type="text/css"  />
	  
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title><ui:insert name="title" >ShareArchiver</ui:insert></title>
		
		<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		
		
	    <style>
	    html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, p, form, fieldset, table, th, td, input { 
	margin: 0; 
	padding: 0; 
	font-family: verdana,helvetica,arial,sans-serif;
	color: #474747;
	font-size:10px;
	font-stretch:normal;
	text-shadow: 1px 1px 1px #fff;
	word-wrap:break-word;
}
@page {  size: landscape;}
body {
	margin:0;
    padding:0;
	background: #f5f5f5 url(../images/main-bg.gif) left top repeat-x;
	
	
}
              hr{
               border-style: -moz-bg-solid;
               }
               table.stylized {
	width: 1000px;
	border: none;
	border-collapse: collapse;
	border: 1px solid #d2d2d2;
	table-layout: fixed;
	
}
table.stylized tfoot td {
	background: #e9e9e9;
	height: 40px;
	
}
table.stylized tr {
	background: #fff;
	
}
table.stylized tr.odd {
	background: #f5f5f5;
}

table.stylized thead td {
	height: 40px;
	line-height: 40px;
}

table.stylized th {
	line-height: 40px;
	text-align: center;
	background: url(../images/bg-tableheader.png);
	padding: 0 15px;
	border-right: 1px solid #d2d2d2;
	font-weight: bold;
	font-family:verdana,helvetica,arial,sans-serif;
  
}
table.stylized td {
	line-height: 10px;
	padding: 0 15px;
	border-right: 1px solid #d2d2d2;
	font-family:verdana,helvetica,arial,sans-serif;
	border-bottom: 0 ;   
    font-size: 10px;
    padding-top:5px; 
    padding-left:15px ;
    word-wrap:break-word;
    overflow: auto;
}

table.stylized td.odd {
	line-height: 30px;
	padding: 0 15px;
	border-right: 1px solid #d2d2d2;
	font-family:verdana,helvetica,arial,sans-serif;
	border-bottom: 0 ;   
    font-size: 10px;
    padding-top:5px; 
    padding-left:15px ;
    word-wrap:break-word; 
}

table.stylized td a {
	color: #f87933;
	font-family:verdana,helvetica,arial,sans-serif;
    font-size: 12px;
    	
}

table.stylized thead a {
	color: #f87933;
	font-family:verdana,helvetica,arial,sans-serif;
    font-size: 12px;
    	
}
#header {
	position: relative;
	height: 60px;
}
#header > a:first-child {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 226px;
	height: 136px;
	background: url(http://localhost:8080/ShareArchiver/images/logo.png) left top no-repeat;
}
#header > ul {
	position: absolute;
	right: 0;
	top: 65px;
	height: 20px;
}
#header > ul > li {
	float: left;
	list-style: none;
	
	position: relative;	
	width: 120px;
	height: 20px;
	text-align: center;
}
#header > ul > li > a {
	display: block;
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	text-align: center;
	width: 110px;
	text-decoration: none;
	color:#626060;
	font-family: verdana,helvetica,arial,sans-serif;
}
#header > ul > li:first-child, #header > ul > li:first-child a {
	width: 109px;
	
}
#header > ul > li > a.active, #header > ul > li > a:hover {
	color: #626060;;
	
}
#header > ul > li > a.open {
	background: url(../images/icon-dropdown.png) right 0 no-repeat;
}
#header > ul > li > a.close {
	background: url(../images/icon-dropdown.png) right -20px no-repeat;
}
#header > ul > li ul {
	cursor: pointer;
	display: none;
	position: absolute;
	right: 0;
	top: -6px;
	z-index: 100;
	background: url(../images/dd-overlay.png) left top no-repeat;
	border-bottom: 1px solid #ccc;
	padding: 32px 0 0 0;
	text-align: left;
	
}
#header > ul > li ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
}
#header > ul > li ul li a {
	display: block;
	font-size: 14px;
	line-height: 36px;
	background: url(../images/icon-submenu.png) 18px no-repeat;
	width: 174px !important;
	width: 228px;
	padding: 0 0 0 54px;
	text-decoration: none;
	vertical-align:middle;
	color:#626060;
	font-family: verdana,helvetica,arial,sans-serif;
}
#header > ul > li ul li a:hover {
	color: #f87933;
	background-position: 27px -30px;
}
.clear {
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}
           </style>
		   
	</h:head>
	<f:view>
	<h:body>
    			 <div id="header">
    				<a href="#">&nbsp;</a>

			 	 </div>
      
        <br/>
        <br/>
        <br/>
        <h2 align="center">Query Results Report</h2>
        
        <div style="display:block;clear:both;" />           
        <h5>User: #{searchController.printSearchResults().date} </h5>
		<h5>User: #{searchController.printSearchResults().username} </h5>
        <br/>
        <h3>Search Criteria:</h3>
        
        <h5>Keyword: #{searchController.printSearchResults().searchString} </h5>
        <h5>File Types: #{searchController.printSearchResults().fileTypes} </h5>
        <h5>Date From (modified): #{searchController.printSearchResults().startDate} </h5>
        <h5>Date To (modified): #{searchController.printSearchResults().endDate} </h5>
        <h5>Total Records: #{searchController.printSearchResults().searchResults.size()} </h5>
    
	      <rich:dataTable value="#{searchController.printSearchResults().searchResults}" rendered="#{not empty searchController.printSearchResults().searchResults}"  var="document" styleClass="stylized" rowClasses="even,odd" style="margin-top: 5px;margin-left:0;margin-bottom:15px;" rows="#{searchController.itemsPerPage}" id="searchResults" >

	             <rich:column style="width:30%;">
	             	
					<f:facet name="header">  <h:outputText value="File Name" /></f:facet>
	                  
	                  <!--   <h:outputText value="#{document.documentPath.substring(document.documentPath.lastIndexOf('/')+1)}" /> 
	                   <h:outputText value="#{document.documentSize}K"></h:outputText> - <h:outputText value="#{document.lastModificationDate}"></h:outputText>	     -->             
	                  
	                  
	                  <br />
	                  <h:outputText value="#{document.documentPath}"/>	                  
	             </rich:column>
	             <rich:column style="width:22%;">
	             	<f:facet name="header">  <h:outputText value="Unique Idetifier" /></f:facet>
	             	<h:outputText value="#{document.uid}"></h:outputText>
	             </rich:column>	  
	             <rich:column style="width:15%;">
	             	<f:facet name="header">  <h:outputText value="Archived" /></f:facet>
	             	<h:outputText value="#{document.archivedDate}"></h:outputText>
	             </rich:column> 
	             <rich:column style="width:15%;">
	             	<f:facet name="header">  <h:outputText value="Created" /></f:facet>
	             	<h:outputText value="#{document.createdDate}"></h:outputText>
	             </rich:column>
	             <rich:column style="width:15%;">
	             	<f:facet name="header">  <h:outputText value="Modified" /></f:facet>
	             	<h:outputText value="#{document.lastModificationDate}"></h:outputText>
	             </rich:column>
	             <rich:column width="10%">
	             	<f:facet name="header">  <h:outputText value="Size" /></f:facet>
	             	<h:outputText value="#{document.documentSize}K"></h:outputText>
	             </rich:column>
	            
	            
	                         
	            <f:facet name="footer">
			           <rich:dataScroller id="paging-bottom"  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show" rendered="false" >
			                          
				          <f:facet name="first">
				              <h:graphicImage value="images/first.png" style="border: 0"  />
				          </f:facet>
				        
				                <f:facet name="last">
				              <h:graphicImage value="images/last.png" style="border: 0" />
				          </f:facet>
				        
				        
				          <f:facet name="first-disabled">
				              <h:graphicImage value="images/first-disabled.png" style="border: 0" />
				          </f:facet>
				        
				          <f:facet name="last_disabled">
				              <h:graphicImage value="images/last-disabled.png" style="border: 0" />
				          </f:facet>					            
			                         
			             </rich:dataScroller>  
	                 
	              </f:facet> 
	                            
	     </rich:dataTable>
        
            <br class="clear" /> 
        
         <br class="clear" />     
     
   </h:body>
   </f:view>
 </html>            