<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
<h:body>
       
              <style>
				.rf-msgs-sum {
				    display: inline;				    
				    font-size:15px;
				    word-wrap:break-word;
				}

				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msgs-wrn {
					background-image: url(/ShareArchiver/javax.faces.resource/info.png.faces?ln=org.richfaces);
					color: black;					
				}
				.rf-pb-lbl{
				  padding-top:0;
				  padding-bottom: 1px;
				  line-height: 17px;
				}
				.rf-pb-rmng{
				  height: 15px;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
  			</style>
  			

  			<h:form id="searchByIdForm" styleClass="common">
  			
  			<rich:messages/>  			
  			
  			 <h:panelGroup id="searchByUuidPanel">
          	
          		 <table width="70%" style="margin-left: 10px;">
          		 	<tr>
          		 		<td colspan="2">								    
          		 					<h:panelGroup layout="block" id="errMsg" styleClass="error">
						              	<rich:message for="documentId" styleClass="error" />
						            </h:panelGroup></td>
          		 	</tr>
					<tr>					
						<td width="20%"><label >Document UUID:</label></td>
						<td width="80%"><h:inputText label="documentId" id="documentId" value="#{searchFileController.nodeID}" size="60" maxlength="150" tabindex="1"   style="width: 90%"/>  </td>

					</tr>
					<tr>
						<td colspan="2">
							<a4j:commandButton id="searchUidBtn" value="Search"  actionListener="#{searchFileController.searchById()}" styleClass="btn-orange" render="searchFileIdInfo errMsg idTagsGrid searchTabs"  limitRender="true" oncomplete="loadZeroClipboardSearchId();" />
						</td>
					</tr>
				</table>
          	</h:panelGroup>
          	<h:panelGroup id="searchFileIdInfo">          	
	          	<h:panelGroup  rendered="#{searchFileController.authorize eq true and searchFileController.selectedNode ne null}">
	          	<div style="float: right;">
               <table>
               		<tfoot>
						<tr>
							<td align="left" colspan="2">
									<table>
									   <tr>
									      <td style="border-right:0;padding:0;"> 
											<h:commandLink  style="font-size:11px;" action="#{searchFileController.downloadFile}"  rendered="#{searchFileController.downloadEnabled eq true}"  title="Open/Download" >
											    <f:param name="nodeID" value="#{searchFileController.selectedNode.downloadUrl}"></f:param>
											    <h:graphicImage value="/images/icon-open-download.png" height="19" width="16"></h:graphicImage>
											</h:commandLink>
										  </td>
										  <td style="border-right:0;padding:0;">
											<!--     <h:link outcome="PdfViewer" target="_blank" rendered="#{searchFileController.enablePdfView eq true}">-->
											    	<h:graphicImage value="/images/icon-view-pdf.png" rendered="#{searchFileController.showPdfIcon eq true}" style="margin-left: 10px;" width="18" height="19" title="View File Online">
											    		<f:ajax event="click" listener="#{searchFileController.show}" render="pdfDetailPopupDiv" disabled="true" ></f:ajax>
											    		<a4j:ajax event="click" listener="#{searchFileController.show}" oncomplete="#{rich:component('pdfDetailPopup')}.show();" render="pdfDetailPopupDiv" ></a4j:ajax>
											    	</h:graphicImage>
													   <!-- <f:param name="faces-redirect" value="true" ></f:param>
													   <f:param name="documentPath" value="#{searchFileController.selectedNode.downloadUrl}" ></f:param>
												</h:link>-->
										  </td>
									      <td style="border-right:0;padding:0;"> 
											<a4j:commandLink  style="font-size:11px;margin-left: 10px;margin-top:" title="email link" onclick="#{rich:component('popupEmailOptions')}.show();" rendered="#{searchFileController.linksShareEnabled eq true and searchFileController.showPdfIcon eq true}">																    
											    <h:graphicImage value="/images/icon-email-link.png" height="15" width="20" style="margin-top:6px"></h:graphicImage>
											</a4j:commandLink>
											<a4j:commandLink  style="font-size:11px;margin-left: 10px;" title="email link" onclick="#{rich:component('popupEmailLink')}.show();" rendered="#{searchFileController.linksShareEnabled eq true and searchFileController.emailUsingDefaultClient eq false and searchFileController.showPdfIcon eq false}">					    
											    <h:graphicImage value="/images/icon-email-link.png" height="15" width="20" style="margin-top:6px"></h:graphicImage>
											</a4j:commandLink>
											<!-- <a href = "mailto:lastname.firstname@xxx.com?subject=APPname%20support%20issue&amp;body=Version%20x.x%0D%0A%0D%0APlease%20make%20some%20descriptions%20here:%0D%0A%0D%0A%0D%0A&amp;attachment=C:\\resolv.conf" >email</a> -->

										    <h:graphicImage value="/images/icon-email-link.png" height="15" width="20" rendered="#{searchFileController.linksShareEnabled eq true and searchFileController.emailUsingDefaultClient eq true and searchFileController.showPdfIcon eq false}"  title="Email document URL" onclick="openOutlook()" style="margin-left: 10px;margin-top:6px;"></h:graphicImage>
										           
										    <h:inputHidden id="emailString" value="#{searchFileController.emailString}"></h:inputHidden>
										    											
											<h:commandLink immediate="true"  style="font-size:11px;margin-left: 10px;" title="email link" action="#{searchFileController.emailUsingDefaultClient}" rendered="#{searchFileController.linksShareEnabled eq true and false}">																    
											    <h:graphicImage value="/images/icon-email-link.png" height="15" width="20" style="margin-top:6px"></h:graphicImage>
											</h:commandLink>
										  </td>
										  <td style="border-right:0;padding:0;"> 
											<a4j:commandLink  style="font-size:11px;margin-left: 10px;" title="email document" onclick="#{rich:component('popupEmailDocument')}.show();" rendered="#{searchFileController.filesShareEnabled eq true and searchFileController.emailFileSizeExceeded eq false}">				    
											    <h:graphicImage value="/images/icon-email-doc.png" height="15" width="20" style="margin-top:6px"></h:graphicImage>
											</a4j:commandLink>
											<a4j:commandLink  style="font-size:11px;margin-left: 10px;" title="email document" onclick="alert('Email document size exceeds max attachment size');" rendered="#{searchFileController.filesShareEnabled eq true and searchFileController.emailFileSizeExceeded eq true}" limitRender="true" bypassUpdates="true">
												<h:graphicImage value="/images/icon-email-doc.png" height="15" width="20" style="margin-top:6px"  />
											</a4j:commandLink>
											
										  </td>  
										  <td style="border-right:0;padding:0;">
										  	<a4j:commandLink style="font-size:11px;margin-left: 10px;" title="Play" execute="form" rendered="#{searchFileController.selectedNode.mediaFile eq true and searchFileController.mediaStreamingEnabled eq true}" action="#{explorer.playMediaFile}" render="mediaPopup" oncomplete="#{rich:component('mediaPopup')} .show();">
										  		<h:graphicImage value="/images/icon-play.png" height="20" width="20"></h:graphicImage>
                              					<f:param name="filePath" value="#{searchFileController.selectedNode.path}"></f:param>
                         					</a4j:commandLink>
										  </td>
									     <h:panelGroup rendered="#{not searchFileController.selectedNode.path.contains('/SP/')}">
									      <td style="border-right:0;padding:0;">
									   
											<a4j:commandLink title="Restore" style="font-size:11px;margin-left: 10px;" rendered="#{searchFileController.fileRestoreEanbled eq true}" >
												<h:graphicImage value="/images/icon-restore-file.png" height="20" width="20" style="margin-top:6px" onclick="#{rich:component('popupRestoreFile')}.show();"></h:graphicImage>
												<f:param name="nodeID" value="#{searchFileController.selectedNode.path}"></f:param>										
											</a4j:commandLink>
										  
										  </td>	
										   <td style="border-right:0;padding:0;display: none;">
									   
											<a4j:commandButton styleClass="btn-gray" value="Save As" style="font-size:11px;" immediate="true" onclick="#{rich:component('popupSaveAs')}.show();" rendered="false">
												<f:param name="nodeID" value="#{searchFileController.selectedNode.path}"></f:param>
											</a4j:commandButton>
											<h:outputText value="To save to a different location, click 'Save As'" rendered="false"/>
										  
										  </td>	
									     </h:panelGroup>
									     <h:panelGroup rendered="#{searchController.enableDocumentTagging eq true and searchController.showTagsinSearchResults eq true}">
									     <td>
											<a4j:commandButton image="/images/icon-tag.png" title="Edit Tag" styleClass="fright" render="tagsGrid" oncomplete="#{rich:component('popupTags')}.show()" actionListener="#{searchController.editTag}" style="margin-left:5px;">
											<f:param value="#{searchFileController.selectedNode.uuid}" name="selectedNode" ></f:param>
										</a4j:commandButton>	
										</td>
										</h:panelGroup>
									 </tr>
								    </table>
							</td>
						</tr>
					</tfoot>
               	
               </table>
               </div>
	          		               <table class="stylizedStub">
											<thead>											
													<tr>
														<td colspan="7" height="35" style="background-color: #E9E9E9;"><div ><b>File Details</b></div></td>
	
													</tr>
											</thead>
											<tbody>
												<tr class="odd">
													<td width="15%">Name</td>
													<td width="70%" colspan="2">#{searchFileController.selectedNode.name}</td>		
												</tr>
												<tr>
													<td>
														<h:panelGroup id="locationPanel">
															<h:outputLabel rendered="#{searchFileController.completed eq false}" value="Location"/>
															<h:outputLabel rendered="#{searchFileController.completed eq true}" value="Restored to Location"/>
														</h:panelGroup>
													</td>
													<td colspan="2">
														<h:panelGroup id="pathPanel">
															<h:outputLabel rendered="#{searchFileController.completed eq false}" value="#{searchFileController.selectedNode.compressedURL}"/>
															<h:outputLabel rendered="#{searchFileController.completed eq true}" value="#{searchFileController.selectedNode.compressedURL}"/>
														</h:panelGroup>
													<label></label></td>
												</tr>
												<tr class="odd">
													<td>Type</td>
													<td width="70%">#{searchFileController.selectedNode.fileTypeDesc}</td>
													<h:panelGroup rendered="#{searchFileController.imageFile}">											
														 <td rowspan="7" width="10%">
											    			<h:graphicImage value="#{searchFileController.currentThumbnailPath}" >
											    				<a4j:ajax event="click" listener="#{searchFileController.show}" oncomplete="#{rich:component('pdfDetailPopup')}.show();" disabled="#{searchFileController.showPdfIcon eq false}" render="pdfDetailPopupDiv" ></a4j:ajax>
											    			</h:graphicImage>
											    		</td> 
										    		</h:panelGroup>	
												</tr>
												<tr>
													<td>Identifier</td>
													<td>#{searchFileController.selectedNode.uuid}</td>
												</tr>	
												<tr class="odd">
													<td>Size</td>
													<td>#{searchFileController.selectedNode.fileSize}</td>
												</tr>
												<tr>
													<td>Created</td>
													<td>#{searchFileController.selectedNode.createdDate}</td>
												</tr>
												<tr class="odd">
													<td>Archived</td>
													<td>#{searchFileController.selectedNode.archivedDate}</td>
												</tr>
												<tr>
													<td>Last Modified</td>
													<td colspan="1">#{searchFileController.selectedNode.lastModified}</td>
												</tr>
												<h:panelGroup rendered="#{not searchFileController.selectedNode.path.contains('/SP/')}">
												<tr class="odd">											
													<td>Last Accessed</td>
													<td colspan="1">#{searchFileController.selectedNode.lastAccessed}</td>											
												</tr>
												<h:panelGroup rendered="#{searchController.enableDocumentTagging eq true and searchController.showTagsinSearchResults eq true}">
												<tr>
													<td>Tag</td>
													<td colspan="1">#{searchFileController.selectedNode.tags} 
													<a4j:commandButton image="/images/icon-tag.png" title="Edit Tag" styleClass="fright" render="tagsGrid" oncomplete="#{rich:component('popupTags')}.show()" actionListener="#{searchController.editTag}" rendered="false">
														<f:param value="#{searchFileController.selectedNode.uuid}" name="selectedNode" ></f:param>
													</a4j:commandButton>
													
													</td>												
												</tr>
												</h:panelGroup>
												</h:panelGroup>
												<h:panelGroup rendered="#{searchFileController.selectedNode.path.contains('/SP/') and searchController.enableDocumentTagging eq true and searchController.showTagsinSearchResults eq true}">
												<tr class="odd">
													<td>Tag</td>
													<td colspan="1">#{searchFileController.selectedNode.tags}
													<a4j:commandButton image="/images/icon-tag.png" title="Edit Tag" styleClass="fright" render="tagsGrid" oncomplete="#{rich:component('popupTags')}.show()" actionListener="#{searchController.editTag}" rendered="false">
														<f:param value="#{searchFileController.selectedNode.uuid}" name="selectedNode" ></f:param>
													</a4j:commandButton>
													</td>												
												</tr>
												</h:panelGroup>
												<h:panelGroup	rendered="#{searchFileController.selectedNode.linkedNode eq true}">
												<tr class="odd">;
													<td style="border-bottom: 1px solid #D2D2D2;">Duplicate	Document</td>
													<td colspan="1"	style="border-right:0;width:80%;border-bottom: 1px solid #D2D2D2;">
											    		<h:graphicImage	value="/images/icon-check.png" title="Duplicate Document" />
													</td>
												</tr>
												</h:panelGroup>
												<h:panelGroup rendered="#{searchFileController.showDocumentUrl eq true}">
												<tr>
													<td>Document Download URL</td>
													<td><div id="text-to-copy-search-id" style="display: none;">
														 #{searchFileController.dnsServer}/downloadfile.jsp?nodeID=#{searchFileController.selectedNode.downloadUrl}
														 </div>
														 <button id="click-to-copy-search-id" data-clipboard-target="text-to-copy-search-id">Copy to Clipboard</button>
														 <span id="copy-message-search-id"/>
													</td>
												</tr>											
												</h:panelGroup>
											</tbody>
	
										</table>
	          	</h:panelGroup> 
          	</h:panelGroup>
          					     	<!-- pop-up to add/update document tags-->
	  			 			  <rich:popupPanel modal="true" autosized="true" resizeable="false" id="popupTags" domElementAttachment="form" width="600" style="background:white">
								 	<f:facet name="header">
							            <h:outputText value="Add/Update Document Tag" />
							        </f:facet>
							        <f:facet name="controls">
							            <h:outputLink value="#" onclick="#{rich:component('popupTags')}.hide(); return false;">
							                X
							            </h:outputLink>
							        </f:facet>
							        <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
								 	<h:panelGroup id="idTagsGrid">
								 		<table class="stylized" style="width:100%;margin-bottom: 20px;">
									 		<tbody>
									 		<h:panelGroup rendered="#{searchFileController.selectedNode ne null}">
									 			<tr class="even">
									 				<td colspan="2"><h:panelGroup rendered="#{searchFileController.selectedNode.tags.length()>0}"><b>Added By: </b>#{searchFileController.selectedNode.tagUser}, <b> Added on: </b>#{searchFileController.selectedNode.tagTimeStamp} , <b>Tag:</b> #{searchFileController.selectedNode.tags}</h:panelGroup></td>
									 			</tr>
												<tr class="odd">
													<td width="200"><h:outputLabel value="Tag"/></td>													
													<td width="700">
														
														<h:inputText id="tagsinputId" value="#{searchFileController.selectedNode.tags}" style="width:400px;" maxlength="100" onkeypress="if(event.keyCode==13){document.getElementById('searchForm:saveTag').click();return false;}return true;"/>														
													</td>
												</tr>
												</h:panelGroup>
												<tr class="even">
													<td colspan="2">
														<a4j:commandButton value="Save" id="saveTag" actionListener="#{searchFileController.updateTag}" style="margin-left:325px;margin-bottom:10px;" styleClass="btn-gray" oncomplete="#{rich:component('popupTags')}.hide(); return false;" render="searchFileInfo" />
														<a4j:commandButton value="Cancel" style="margin-left:10px;margin-bottom:10px;" styleClass="btn-gray" onclick="#{rich:component('popupTags')}.hide(); return false;" render="" />
													</td>
												</tr>
											</tbody>
										</table>
								 	</h:panelGroup>								 	
							 	</rich:popupPanel>
							 	<rich:popupPanel modal="true" autosized="true" resizeable="false" id="popupEmailDocument" domElementAttachment="form" width="540" height="300" style="top:10px;background-color:white;" onshow="document.getElementById('searchForm:receiverName').focus();" >
								 	<f:facet name="header">
							            <h:outputText value="Email Document" />
							        </f:facet>
							        <f:facet name="controls">
							            <h:outputLink value="#" onclick="#{rich:component('popupEmailDocument')}.hide(); return false;">
							                Close X
							            </h:outputLink>
							        </f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>        
							<h:panelGrid  columns="2" style="margin-left:10px;">
					           <h:column>
					              <h:outputText value="Name:"></h:outputText>
					           </h:column>
					           <h:column>															        		
							        <h:inputText value="#{searchFileController.receiverName}"  id="receiverName"/>
							   </h:column>
							   <h:column>
							   		<h:outputText value="Recipient Email: "/>
							   </h:column>
							   <h:column>							        		
							        <h:inputText value="#{searchFileController.receiverEmailAddress}" style="width: 400px;"/>
							   </h:column>
							   <h:column>
							   		<h:outputText value="Subject: "/>
							   </h:column>
							   <h:column>							        		
							        <h:inputText value="#{searchFileController.emailSubject}" style="width: 400px;"/>
							   </h:column>							   
							   <h:column>
							        <h:outputText value="Comments: "/>
							   </h:column>
							   <h:column>							        		
							        <h:inputTextarea value="#{searchFileController.emailComments}" style="width:409px;resize:none;" rows="4"/>
							   </h:column>
							   <h:column></h:column>
							   <h:column>
        							<a4j:commandButton styleClass="btn-gray" value="Send" style="font-size:11px;" actionListener="#{searchFileController.emailDocument}" limitRender="false" onbegin="#{rich:component('popupEmailDocument')}.hide();" >
										<f:param name="nodeID" value="#{searchFileController.selectedNode.path}"></f:param>
									</a4j:commandButton>
								</h:column>
							</h:panelGrid>

						</rich:popupPanel>
						<rich:popupPanel modal="true" autosized="false" resizeable="false" id="popupEmailLink" domElementAttachment="form" width="540" height="300" style="top:10px;background-color:white;" onshow="document.getElementById('searchForm:receiverNameLink').focus();" >
								 	<f:facet name="header">
							            <h:outputText value="Email Document link" />
							        </f:facet>
							        <f:facet name="controls">
							            <h:outputLink value="#" onclick="#{rich:component('popupEmailLink')}.hide(); return false;">
							                Close X
							            </h:outputLink>
							        </f:facet>
							       
						  <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>        
					      <h:panelGrid  columns="2" style="margin-left:10px;">		      				
					        	
					           <h:column>
					              <h:outputText value="Name:"></h:outputText>
					           </h:column>
					           <h:column>
					           		<h:inputText value="#{searchFileController.receiverNameLink}"  id="receiverNameLink"/>
 							  </h:column> 
					           
					           <h:column>
					              <h:outputText value="Recipient Email:"></h:outputText>
					           </h:column>
					           <h:column>
					           		<h:inputText value="#{searchFileController.receiverEmailAddressLink}" style="width: 400px;"/>
					           </h:column>	           
							   <h:column>
							   		<h:outputText value="Subject: "/>
							   </h:column>
							   <h:column>							        		
							        <h:inputText value="#{searchFileController.emailSubjectLink}" style="width: 400px;"/>
							   </h:column>			           
					           <h:column>
					              <h:outputText value="Comments:"></h:outputText>
					           </h:column>
					           <h:column>
							        		<h:inputTextarea value="#{searchFileController.emailCommentsLink}" style="width:409px;resize:none;" rows="4" />
							   </h:column>
							   <h:column></h:column>
							   <h:column>							        		
			        				<a4j:commandButton styleClass="btn-gray" value="Send" style="font-size:11px;" actionListener="#{searchFileController.emailDocumentLink}" limitRender="false" onbegin="#{rich:component('popupEmailLink')}.hide();" >
										<f:param name="nodeID" value="#{searchFileController.selectedNode.path}"></f:param>
									</a4j:commandButton>
								</h:column>
						</h:panelGrid>
									
						</rich:popupPanel>
						<rich:popupPanel modal="true" autosized="false" resizeable="false" id="popupEmailOptions" domElementAttachment="form" width="650" height="180" style="top:10px;background:white;" onshow="document.getElementById('searchForm:receiverNameLink').focus();" >
							<f:facet name="header">
							           <h:outputText value="Email Document link Options" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#" onclick="#{rich:component('popupEmailOptions')}.hide(); return false;">
							               Close X
							    </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							 <h:panelGrid  columns="2" style="margin-left:10px;">
							        	<h:column>
							        		<h:outputLabel value="Email Options"/>
							        	</h:column>
							        	<h:column>
							        		<h:selectOneRadio id="actionType"
													value="#{searchFileController.linkOption}" layout="lineDirection"
													style="width: 100%;" required="true"
													styleClass="stylizedRadio">
													<f:ajax listener="#{searchFileController.linkOptionListner}"
														event="change" render="emailString" />
													<f:selectItem itemValue="1" itemLabel="Send Email link to download" />
													<f:selectItem itemValue="2" itemLabel="Send Email link to View Document" />
											</h:selectOneRadio>
							        	</h:column>
							        	<h:column></h:column>
							        	<h:column>
							        		<a4j:commandButton styleClass="btn-gray fright" value="Confirm" style="font-size:11px;" limitRender="true" onbegin="#{rich:component('popupEmailOptions')}.hide();" oncomplete="#{rich:component('popupEmailLink')}.show();"  rendered="#{searchFileController.linksShareEnabled eq true and searchFileController.emailUsingDefaultClient eq false}" />
							        		
											<a4j:commandButton styleClass="btn-gray fright" value="Confirm" style="font-size:11px;" limitRender="true" onbegin="#{rich:component('popupEmailOptions')}.hide();" rendered="#{searchFileController.linksShareEnabled eq true and searchFileController.emailUsingDefaultClient eq true}"  title="Email document URL" oncomplete="openOutlook()" />
							        	</h:column>
							        </h:panelGrid>
						</rich:popupPanel>		
						
													 		<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFile" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFile')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="Are you sure you want to restore the file?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFile"
													action="#{searchFileController.restoreFile}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="if(#{searchFileController.alreadyExists eq false}){#{rich:component('popupRestoreFile')}.hide(); return false;}else{#{rich:component('popupRestoreFile')}.hide(); #{rich:component('popupRestoreFileAE')}.show();}"
													limitRender="true" >
														<f:param name="nodeID" value="#{searchFileController.selectedNode.path}"></f:param>	
													</a4j:commandButton> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFile')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
						
												<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFileAE" domElementAttachment="form" width="600" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreARGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="A file with the same name already exists, are you sure you want to restore?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFileAE"
													action="#{searchFileController.restoreFileAE}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													limitRender="true" /> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
		
          	</h:form> 			 

               
               


             
             
      
      </h:body>
</html>	
	
