
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" >
	
    <h:body>
    
          <h:form id="searchForm" styleClass="common">    
           <style>
             table tr td{
              border:0 !important;
             }
           </style>
         
          <rich:messages/>
          
          	<h:outputText value="" ></h:outputText>
          	<h:panelGroup>         
          	<rich:collapsiblePanel switchType="client" header="Search Criteria" style="background:transparent;" id="searchCriteria">
             <table width="100%" style="margin-left: 10px;">
				<tr>	
<<<<<<< .mine
					<td width="15%"><label>Search String:</label></td>
					<td><h:inputText value="#{searchController.searchString}" size="60" maxlength="150"   style="width: 625px"/></td>
=======
					<td width="23%"><label>Search String:</label></td>
					<td><h:inputText value="#{searchController.searchString}" size="60" maxlength="40"   tabindex="1"  style="width: 400px"/></td>
>>>>>>> .r3792
				</tr>
				<h:panelGroup rendered="#{searchController.enableFolderSearch eq true}">				
				<tr>	
					<td> <h:outputLabel value="Search in Folder:" rendered="#{searchController.enableFolderSearch eq true}"/></td>
<<<<<<< .mine
					<td><h:inputText value="#{searchController.targetFolder}" size="60" maxlength="150" rendered="#{searchController.enableFolderSearch eq true}" title="UNC or drive letter based path for the folder" style="width: 625px" id="searchPanel"/>
=======
					<td><h:inputText value="#{searchController.targetFolder}" size="60" maxlength="60" rendered="#{searchController.enableFolderSearch eq true}" title="UNC or drive letter based path for the folder"  tabindex="2" style="width: 400px" id="searchPanel"/>
>>>>>>> .r3792
					<br/>
						<h:outputText value=" UNC or drive letter based path" rendered="false" />
					 </td>
				</tr>
				</h:panelGroup>	
				<h:panelGroup rendered="#{searchController.enableDocumentTagging eq true}">
				<tr>	
					<td> <h:outputLabel value="Tag:" rendered="#{searchController.enableDocumentTagging eq true}" /></td>
<<<<<<< .mine
					<td><h:inputText value="#{searchController.documentTags}" size="50" maxlength="60"  rendered="#{searchController.enableDocumentTagging eq true}" style="width: 400px" /> </td>
=======
					<td><h:inputText value="#{searchController.documentTags}" size="50" maxlength="60"  rendered="#{searchController.enableDocumentTagging eq true}" tabindex="3" /> </td>
>>>>>>> .r3792
				</tr>	
				</h:panelGroup>				
				<tr>	
					<td><label>Document Name:</label></td>
<<<<<<< .mine
					<td><h:inputText value="#{searchController.documentName}" size="50" maxlength="60" style="width: 400px" />  e.g.(*.doc,*.pdf)</td>
=======
					<td><h:inputText value="#{searchController.documentName}" size="50" maxlength="60" tabindex="4" />  e.g.(*.doc,*.pdf)</td>
>>>>>>> .r3792
				</tr>
				<h:panelGroup rendered="#{searchController.contentTypeSearchEnabled eq true}">
					<tr>	
						<td><label>Content Type:</label></td>
						<td><h:inputText value="#{searchController.contentType}"  size="50" maxlength="100" style="width: 400px" />
						   
						</td>
					</tr>
				</h:panelGroup>				
				<tr>	
					<td><label>Start Date(Modified):</label></td>
					<td><rich:calendar value="#{searchController.modifiedStartDate}" tabindex="5" /></td>
				</tr>
				<tr>	
					<td><label>End Date(Modified):</label></td>
					<td><rich:calendar value="#{searchController.modifiedEndDate}" tabindex="6"  >
					         
					    </rich:calendar>
					</td>
<<<<<<< .mine
				</tr>				
=======
				</tr>
							
				<h:panelGroup rendered="#{searchController.contentTypeSearchEnabled eq true}">
					<tr>	
						<td><label>Content Type:</label></td>
						<td><h:inputText value="#{searchController.contentType}" tabindex="7" size="50" maxlength="100"  />
						   
						</td>
					</tr>
				</h:panelGroup>
						
>>>>>>> .r3792
				
				<tr>	
					<td >
					</td>
					
					<td>
					
						<div class="fleft" >	
								
<<<<<<< .mine
						    <a4j:commandButton type="reset" name="reset" value="Reset" styleClass="btn-gray fright"  render="resultsGrid filterPanel searchTabs" action="#{searchController.clear}" oncomplete="#{rich:component('searchTabs')}.switchToItem('Results');"/>	
							<a4j:commandButton value="Search" action="#{searchController.search}" styleClass="btn-orange fright" render="filterPanel resultsGrid searchTabs" oncomplete="#{rich:component('searchTabs')}.switchToItem('Results');#{rich:component('searchCriteria')}.switchPanel();" />
=======
						    <a4j:commandButton type="reset" name="reset" value="Reset" styleClass="btn-gray fright"   render="resultsGrid filterPanel" action="#{searchController.clear}" />	
							<a4j:commandButton value="Search" type="submit" action="#{searchController.search}"  styleClass="btn-orange fright" render="@all" />
>>>>>>> .r3792
																			
						</div>
						<div class="clear"></div>
					</td>
				</tr>
	       </table>
	       </rich:collapsiblePanel>
	       </h:panelGroup>
        									    
          <rich:tabPanel switchType="client" id="searchTabs" >
		         <rich:tab name="Results" id="results"    >				         
		            
		         				         	
		            
        <div style="display:block;clear:both;" />
           <h:panelGroup  id="filterPanel" style="margin-left: 10px;">
           <h:panelGrid  rendered="#{searchController.totalRecords ge 0}"  columns="3" style="width: 100%;margin-left: 10px;">
               <h:column>
                  <h:outputText value="Found #{searchController.totalRecords} results in  #{searchController.executionTime} Seconds."  ></h:outputText>
               </h:column>
               
               <h:column >
                  <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
                  <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
                  <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
                  <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
                  <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
               </h:column>
               
               <h:column >
                   <h:panelGroup id="sortingPanel"  style="width: 100%;">
	                     <h:panelGroup rendered="#{searchController.totalRecords gt 0 and searchController.totalRecords lt 5000}" >
	                     
	                   
	                     <table>
	                     
			               <tr>	
			                   <td> 
				                   <label>Results / Page:</label>
							        <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
								    
<<<<<<< .mine
								    <h:selectOneMenu value="#{searchController.itemsPerPage}" style="width: 25%;">
=======
								    <h:selectOneMenu value="#{searchController.itemsPerPage}" tabindex="8" style="width: 70px;">
>>>>>>> .r3792
								       
								        <f:selectItem  itemLabel="100" itemValue="100"/>	
								        <f:selectItem  itemLabel="50" itemValue="50"/>
								        <f:selectItem  itemLabel="20" itemValue="20"/>
								        <f:selectItem  itemLabel="10" itemValue="10"/>
								      
								       <f:ajax event="change" listener="#{searchController.calculatePages}" render="resultsGrid sortingPanel" ></f:ajax>							       
								    </h:selectOneMenu>
								 									
									<h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText> 				   
									
								</td>
							
			               
								<td><label>Sort By:</label></td>
								
								
								<td><h:selectOneMenu  value="#{searchController.sortOption}" tabindex="9" style="width:140px"  >
								       <f:selectItem itemLabel="Name" itemValue="1"/>
								       <f:selectItem itemLabel="Modified Date" itemValue="2"/>
								       <f:selectItem itemLabel="Size" itemValue="3"/>       
								       <f:ajax event="change" listener="#{searchController.sortResults}"  render="resultsGrid sortingPanel"/>
								    </h:selectOneMenu>
								
								</td>
								
								<td style="padding-left:30px;">
								
								  <a4j:commandLink action="#{searchController.sortResults}"   render="resultsGrid sortingPanel" rendered="#{searchController.sortMode eq 'Desc'}">
								       <a4j:param assignTo="#{searchController.sortMode}" value="Asc"></a4j:param>
								       <h:graphicImage value="/images/view-sort-ascending.png"></h:graphicImage>
								       
								  </a4j:commandLink>
								  
								   <a4j:commandLink action="#{searchController.sortResults}"  render="resultsGrid sortingPanel" rendered="#{searchController.sortMode eq 'Asc'}">
								       <a4j:param assignTo="#{searchController.sortMode}" value="Desc"></a4j:param>
								       <h:graphicImage value="/images/view-sort-dscending.png"></h:graphicImage>
								      
								  </a4j:commandLink>
								
								    <h:outputText value="&nbsp;&nbsp;#{searchController.sortMode}"></h:outputText>
								</td>
								<td style="border-right: 0;">
									 <h:panelGroup id="expData">							
									    <a4j:commandLink id="exportButton" style="margin-left:15px;" title="Export" onbegin="if(document.getElementById('searchForm:exportNodePath').value){return true;}else{alert('No files selected, Please select files using the check boxes provided and try again');return false;}" oncomplete="if(document.getElementById('searchForm:exportNodePath').value){#{rich:component('popupInfo')}.show()}" actionListener="#{searchController.readyToExport}"
									      disabled="false" rendered="#{searchController.enablePrivExport eq true}" render="exportGrid"  >
									      	<h:graphicImage value="/images/icon-export.png" width="20" height="20"></h:graphicImage>
									      </a4j:commandLink> 
								 	 </h:panelGroup>						     
								  </td>
								  <td>
								  	<h:commandLink id="reportButton" style="margin-left:15px;"  title="print pdf Report" onclick="if(document.getElementById('searchForm:exportNodePath').value){return true;}else{alert('No files selected, Please select files using the check boxes provided and try again');return false;}" actionListener="#{searchController.printSearchReport}"
									       rendered="#{searchController.enablePrivReport eq true}" >
									       <h:graphicImage value="/images/icon-pdf-printing.png"></h:graphicImage>
									       </h:commandLink> 
								  </td>
								  <td style="border-right: 0;">
									 <h:panelGroup id="printResult">							

								 	 </h:panelGroup>						     
								  </td>
							</tr>
                         </table>
                          
	                    </h:panelGroup>
	                 </h:panelGroup>
               </h:column>
               
           </h:panelGrid>
           <h:inputHidden id="exportNodePath" value="#{searchController.exportNodePath}" />  
       
           </h:panelGroup>
                        
          <h:panelGroup  id="resultsGrid" >  
          <h:panelGroup rendered="#{not empty searchController.searchResults and (searchController.enablePrivExport eq true or searchController.enablePrivReport eq true)}" style="margin-left: 10px;">
          	<h:selectBooleanCheckbox id="selectAll" value="#{searchController.selectAll}" >
          		<a4j:ajax listener="#{explorer.checkBoxToggled}" event="change" onbeforesubmit="selectAll()" execute="searchForm" render="expData" ></a4j:ajax>
          	</h:selectBooleanCheckbox> Select All
          </h:panelGroup>    
          <style>
             table.stylized th {
				    text-align: center;
				}
		  </style>      
	      <rich:dataTable  value="#{searchController.searchResults}" rendered="#{not empty searchController.searchResults}"  var="document" styleClass="stylized" rowClasses="even,odd" style="margin-top: 5px;margin-left:0;margin-bottom:15px;text-align:centre;" rows="#{searchController.itemsPerPage}" id="searchResults" >
	            
	            <f:facet name="header" >
			           <rich:dataScroller id="paging-top" styleClass="sh-link" style="height:40px;background:none !important;"  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  oncomplete="selectAll()" >
			                          
				          <f:facet name="first">
				              <h:graphicImage value="images/first.png" style="border: 0" title="First Page." />
				          </f:facet>
				        
				                <f:facet name="last">
				              <h:graphicImage value="images/last.png" style="border: 0" title="Last Page." />
				          </f:facet>
				        
				        
				          <f:facet name="first-disabled">
				              <h:graphicImage value="images/first-disabled.png" style="border: 0" title="First Page." />
				          </f:facet>
				        
				          <f:facet name="last_disabled">
				              <h:graphicImage value="images/last-disabled.png"  style="border: 0" title="Last Page." />
				          </f:facet>					            
			                         
			             </rich:dataScroller>  
	                 
	              </f:facet> 
	        
	        
	                                                        
	             <rich:column style="margin-top:5px"  >
	             <h:selectBooleanCheckbox id="folderCheckbox"  name="#{document.documentName}" rendered="#{searchController.enablePrivExport eq true or searchController.enablePrivReport eq true}" style="margin-right: 10px;" onclick="addRemoveSelectedPathSearch()">
	                  	 <f:param value="#{document.documentUrl}" name="selectedNodePath" ></f:param>	
                  	    <a4j:ajax listener="#{explorer.checkBoxToggled}" event="change" onbeforesubmit="addRemoveSelectedPathSearch()" execute="searchForm" render="expData" disabled="false" ></a4j:ajax>							                  	   
                     </h:selectBooleanCheckbox>
                     
                     <a4j:commandLink value="#{document.documentName}" actionListener="#{searchFileController.populateFileInfo}" oncomplete="#{rich:component('searchTabs')}.switchToItem('Properties');" render="fileProperties pdfDetailPopupDiv">
                     
                     	<a4j:param id="nodeID" name="nodeID"
									value="#{document.uid}"/>
                     </a4j:commandLink>
	                  <h:outputLink value="#{document.documentUrl}"  rendered="false" >
	                     <h:outputText value="#{document.documentName}" />
	                  </h:outputLink> - <h:outputText value="#{document.documentSizeToDisplay}"></h:outputText> - <h:outputText value="#{document.lastModificationDate}"></h:outputText> 
	                  <h:panelGroup style="margin-left:50px;" rendered="#{searchController.enableDocumentTagging eq true and searchController.showTagsinSearchResults eq true}">	                  
	                  <a4j:commandLink image="/images/icon-tag.png"  title="Edit tag" actionListener="#{searchController.editTag}" oncomplete="#{rich:component('popupTags')}.show()" render="tagsGrid" style="margin-right:5px;" rendered="false">
		                  	<h:graphicImage value = "/images/icon-tag.png" title="Edit tag" ></h:graphicImage>
		                  		<f:param value="#{document.uid}" name="selectedNode" ></f:param>
		                  </a4j:commandLink> #{document.tags}
		                  <br/>
	                  </h:panelGroup>
	                  <!-- <h:selectBooleanCheckbox style="float: right;" onclick="addRemoveSelectedPath()"  />-->
	                  <h:inputHidden id="nodePath" value="#{document.documentPath}"></h:inputHidden>
	                  
	                  <h:panelGroup rendered="false">
	                  	<br/>
		                  <h:outputLabel value="Tags: "/>#{document.tags.substring(document.tags.lastIndexOf("|")+1)}
		                  <a4j:commandLink image="/images/icon-tag.png"  title="Edit tag" actionListener="#{searchController.editTag}" oncomplete="#{rich:component('popupTags')}.show()" render="tagsGrid">
		                  	<h:graphicImage value = "/images/icon-tag.png" title="Edit tag" ></h:graphicImage>
		                  		<f:param value="#{document.uid}" name="selectedNode" ></f:param>
		                  </a4j:commandLink>
		                  <br/>
	                  </h:panelGroup>
	                  <h:panelGroup>
	                  	<h:outputLink value="#{document.documentUrl}" >
	                     	<h:graphicImage value="/images/icon-open-download.png" height="20" width="20"></h:graphicImage>
	                  	</h:outputLink>
	                  </h:panelGroup>
	                  
	                  <h:outputLabel value="Path: "/>
	                  <h:outputText value="#{document.documentPath}" escape="false"></h:outputText>
	                  <h:outputText value="#{document.excerptString}" escape="false"></h:outputText>
	                  
	             </rich:column>
	            
	            
	                         
	            <f:facet name="footer">
			           <rich:dataScroller id="paging-bottom"  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show" style="padding-left:0;" oncomplete="selectAll()"  >
			                          
				          <f:facet name="first">
				              <h:graphicImage value="images/first.png" style="border: 0"  />
				          </f:facet>
				        
				                <f:facet name="last">
				              <h:graphicImage value="images/last.png" style="border: 0" />
				          </f:facet>
				        
				        
				          <f:facet name="first-disabled">
				              <h:graphicImage value="images/first-disabled.png" style="border: 0" />
				          </f:facet>
				        
				          <f:facet name="last_disabled">
				              <h:graphicImage value="images/last-disabled.png" style="border: 0" />
				          </f:facet>					            
			                         
			             </rich:dataScroller>  
	                 
	              </f:facet> 
	                            
	     </rich:dataTable>

        </h:panelGroup>
                           </rich:tab>
		         
		          <rich:tab name="Properties"  >
		          <a4j:region id="fileRegion"> 
		         	<h:panelGroup id="fileProperties">
		                <ui:include src="/SearchFileDetails.xhtml"></ui:include>
		                </h:panelGroup>
		                </a4j:region> 
		               
		         
		                
		         </rich:tab>
				         
			</rich:tabPanel>  

         <rich:popupPanel modal="true" autosized="false" resizeable="false" id="popupInfo" domElementAttachment="form" width="900" height="700">
         	<f:facet name="header">
	            <h:outputText value="Create Export Job" />
	        </f:facet>
	        <f:facet name="controls">
	            <h:outputLink value="#" onclick="#{rich:component('popupInfo')}.hide(); return false;">
	                X
	            </h:outputLink>
	        </f:facet>
	        <h:panelGroup id="exportGrid">
	        <table class="stylized" style="width:100%;">
	        	<tr class="even">
	        		<td>Job Name</td>
	        		<td><h:inputText value="#{searchController.job.name}" style="width: 300px;"/></td>
	        	</tr>
	        	<tr class="odd">
		        	<td>
		        	UNC*
		        	</td>
		        	<td>
		        		<h:inputText value="#{searchController.remoteUNC}" style="width: 500px;"/>
		        	</td>
	        	</tr>
	        	<tr class="even">
	        		<td>No. of Files</td>
	        		<td>#{searchController.totalFileCount}</td>
	        	</tr>
	        	<tr class="odd">
	        		<td>Total Size for Export</td>
	        		<td>#{searchController.totalFileSize} (approx.)</td>
	        	</tr>
	        	<tr class="even">
	        		<td>Preserve File Paths
	        		</td>
		        	<td>
		        	<h:selectBooleanCheckbox id="preserveFilePaths" value="#{searchController.job.preserveFilePaths}" onclick="if(this.checked==false){document.getElementById('searchForm:exportDuplicates').disabled=false;}else{document.getElementById('searchForm:exportDuplicates').disabled=true;}"/>

		        	</td>
	        	</tr>
	        	<tr class="odd">
	        		<td>Export Duplicates
	        		</td>
		        	<td>
		        	<h:selectBooleanCheckbox disabled="true" value="#{searchController.job.exportDuplicates}" id="exportDuplicates" />

		        	</td>
	        	</tr>	        	
	<!--       	<tr>
		        	<td>
		        	Domain*
		        	</td>
		        	<td>
		        	<h:inputText value="#{searchController.remoteDomainName}"/>
		        	</td>
	        	</tr>
	        	<tr>
		        	<td>
		        	Username*
		        	</td>
		        	<td>
		        	<h:inputText value="#{searchController.remoteUserName}" />
		        	</td>
	        	</tr>
	        	<tr>
		        	<td>
		        	Password*
		        	</td>
		        	<td>
		        	<h:inputText value="#{searchController.remoteUserPassword}"/>
		        	</td>
	        	</tr>-->
	        	<tr>
	        		<td colspan="2">	        			
	        			<a4j:commandButton value="Cancel"  styleClass="btn-orange fright" limitRender="true" immediate="true" style="margin-bottom:10px;" onclick="#{rich:component('popupInfo')}.hide(); return false;" />
	        			<a4j:commandButton value="Create"  action="#{searchController.saveExportPriv}" styleClass="btn-orange fright" style="margin-bottom:10px;" oncomplete="#{rich:component('popupInfo')}.hide(); return false;" />
	        		</td>
	        	</tr>
	        </table>
	        </h:panelGroup>
	        <br/>
	        <br/>
         </rich:popupPanel>
        
            <br class="clear" /> 
        </h:form> 
         <br class="clear" />     
   </h:body> 
   
 </html>            