<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" >

	<h:body>
	
          <h:form id="analysisForm" styleClass="common">    
           <style>
             table tr td{
              border:0 !important;
             }
           </style>
         
          <rich:message for="spDocLibID" />         
          <rich:collapsiblePanel switchType="client" header="Analysis Parameters" style="background:transparent;" id="searchCriteria" onswitch="document.getElementById('analysisForm:spDocLibID').focus();">
             
             <h:panelGroup id="searchFieldsPanel">
             
             	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-left: 10px;">
				  <tr>
				    <td width="111px"><label>Drive Letter:</label></td>
				    <td width="150px">
				    	<h:selectOneMenu style="width:70px" value="#{analysisController.spDocLibID}" id="spDocLibID" label="spDocLibID" tabindex="1">
							<f:selectItems value="#{analysisController.driveLettersList}" var="curSpDocLib" itemValue="#{curSpDocLib.spDocLibId}" itemLabel="#{curSpDocLib.driveLetter}" />
							<f:ajax listener="#{analysisController.updateUNC}" render="uncPath" />
						</h:selectOneMenu>
				    </td>
				    <td width="145px"><label>UNC Path:</label></td>
				    <td colspan="3"><h:inputText value="#{analysisController.uncPath}" name="uncPath" id="uncPath" size="50" style="width: 95%" /></td>
				  </tr>
				  <tr>
				    <td><label>File Name:</label></td>
				    <td colspan="3"><h:inputText value="#{analysisController.documentName}" size="50" style="width: 95%" tabindex="2"/></td>
				    <td width="170px"><label>File Category:</label></td>
				    <td><h:selectOneMenu value="#{analysisController.documentExtension}" style="width:130px">
						        <f:selectItem itemValue="" itemLabel="ALL" />
						        <f:selectItem itemValue="*.pdf" itemLabel="PDF" />  
						        <f:selectItem itemValue="*.docx,*.doc,*.rtf" itemLabel="MS Word" />
						        <f:selectItem itemValue="*.wav,*.mp3,*.avi" itemLabel="Wave / Video" />
						        <f:selectItem itemValue="*.txt,*.log" itemLabel="Text files" />
						        <f:selectItem itemValue="*.html" itemLabel="HTML" />
						        <f:selectItem itemValue="*.exe,*.bat,*.sh,*.rar" itemLabel="Executables" />
						</h:selectOneMenu>
				    </td>
				  </tr>
				  <tr>
				    <td><label>Min Size <small>(MB)</small>:</label></td>
				    <td><h:inputText value="#{analysisController.minSize}" size="50" maxlength="60" title=" in MBytes" tabindex="3" style="width: 60px"/></td>
				    <td><label>Date Created:<small>(start)</small></label></td>
				    <td><rich:calendar value="#{analysisController.createdStartDate}" mode="client" tabindex="8" inputStyle="width:100px" /></td>
				    <td width="145px"><label>Date Created: <small>(end)</small></label></td>
				    <td><rich:calendar value="#{analysisController.createdEndDate}" mode="client" tabindex="10" inputStyle="width:100px" /></td>
				  </tr>
				  <tr>
				    <td><label>Max Size <small>(MB)</small>:</label></td>
				    <td><h:inputText value="#{analysisController.maxSize}" size="50" maxlength="60" title=" in MBytes" tabindex="4" style="width: 60px"/></td>
				    <td><label>Date Modified:<small>(start)</small></label></td>
				    <td><rich:calendar value="#{analysisController.modifiedStartDate}" mode="client" tabindex="8" inputStyle="width:100px" /></td>
				    <td><label>Date Modified: <small>(end)</small></label></td>
				    <td><rich:calendar value="#{analysisController.modifiedEndDate}" mode="client" tabindex="10" inputStyle="width:100px" /></td>
				  </tr>
				  <tr>
				  	<td colspan="6">
						<div class="fleft" >
						    <a4j:commandButton value="Search"  action="#{analysisController.search}" styleClass="btn-orange " render="searchFieldsPanel resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();if(#{analysisController.totalRecords gt 0})#{rich:component('searchCriteria')}.switchPanel();"  />
						    <a4j:commandButton type="reset"   name="reset" value="Reset" styleClass="btn-gray "  render="searchFieldsPanel resultsGrid filterPanel" action="#{analysisController.clear}" oncomplete="document.getElementById('analysisForm:spDocLibID').focus();"/>														
						</div>
						<div class="clear"></div>
					</td>
				  </tr>
				</table>
			</h:panelGroup>
		</rich:collapsiblePanel>
		
		<h:panelGroup  id="filterPanel" style="margin-left: 10px;">
	        <h:panelGrid  rendered="#{analysisController.totalRecords ge 0}"  columns="3" style="width: 100%;margin-left: 10px;">
	            <h:column>
	               <h:outputText value="Found #{analysisController.totalRecords} results in  #{analysisController.executionTime} Seconds."  ></h:outputText>
	            </h:column>	            
	            <h:column >
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	               <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></h:outputText>
	            </h:column>
	            <h:column>
	               <h:outputText value="You will save approximately #{analysisController.totalFileSize}"></h:outputText>
	            </h:column>	            
	        </h:panelGrid>        
        </h:panelGroup>
		
		
		<h:panelGroup  id="resultsGrid" >  
          <style>
          	 table.stylized {
          	 	table-layout: fixed;
          	 }
          	 table.stylized td {
          	 	overflow: hidden;
          	 }
             table.stylized th {
				    text-align: center;
			}
		  </style>
		  <table width="100%">
		  <tr>
		  	<td width="160px" valign="top">
		  		<table width="100%" style="border:1px solid #D2D2D2; margin-top:5px">
		  			<tr><td style="text-align:center; background:url('images/bg-tableheader.png') repeat scroll 0 0 rgba(0, 0, 0, 0); height:33px;"><strong>QUICK LINKS</strong></td></tr>
		  			<tr><td>
		  				<br />
		  				<a4j:commandLink value="20 Largest Files" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="sortMode" value="Desc"></f:param>
							<f:param name="sortOption" value="fileSize"></f:param>
							<f:param name="maxSearchResults" value="20"></f:param>
						</a4j:commandLink><br />						
						<a4j:commandLink value="20 Smallest Files" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="sortMode" value="Asc"></f:param>
							<f:param name="sortOption" value="fileSize"></f:param>
							<f:param name="maxSearchResults" value="20"></f:param>
						</a4j:commandLink><br /><br /><br />
						<a4j:commandLink value="20 Oldest Modified" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="sortMode" value="Asc"></f:param>
							<f:param name="sortOption" value="dateModification"></f:param>
							<f:param name="maxSearchResults" value="20"></f:param>
						</a4j:commandLink><br />
						<a4j:commandLink value="20 Latest Modified" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="sortMode" value="Desc"></f:param>
							<f:param name="sortOption" value="dateModification"></f:param>
							<f:param name="maxSearchResults" value="20"></f:param>
						</a4j:commandLink>
					</td></tr>
		  			<tr><td style="padding-top:20px">
		  				<h:selectOneRadio value="#{analysisController.dateType}" name="dateTypeRadio" id="dateTypeRadio" layout="pageDirection">
						   	<f:selectItem itemValue="modified" itemLabel="Modified" />
						   	<f:selectItem itemValue="created" itemLabel="Created" />
						   	<f:ajax event="click" execute="@this" render="searchFieldsPanel dateTypeRadio" listener="#{analysisController.switchDateType}" />
						</h:selectOneRadio>
	  				</td></tr>
		  			<tr><td style="text-align: center">
		  				<h:outputText style="font-weight:bold;text-decoration:underline" value="Year" /><br/>
		  				<a4j:commandLink value="2014" action="#{analysisController.search}"  render="resultsGrid filterPanel searchFieldsPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="startDate" value="01-01-2014"></f:param>
							<f:param name="endDate" value="31-12-2014"></f:param>
						</a4j:commandLink><br />
		  				<a4j:commandLink value="2013" action="#{analysisController.search}"  render="resultsGrid filterPanel searchFieldsPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="startDate" value="01-01-2013"></f:param>
							<f:param name="endDate" value="31-12-2013"></f:param>
						</a4j:commandLink><br />
		  				<a4j:commandLink value="2012" action="#{analysisController.search}"  render="resultsGrid filterPanel searchFieldsPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="startDate" value="01-01-2012"></f:param>
							<f:param name="endDate" value="31-12-2012"></f:param>
						</a4j:commandLink><br />
		  				<a4j:commandLink value="2011" action="#{analysisController.search}"  render="resultsGrid filterPanel searchFieldsPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="startDate" value="01-01-2011"></f:param>
							<f:param name="endDate" value="31-12-2011"></f:param>
						</a4j:commandLink><br />
		  				<a4j:commandLink value="2010" action="#{analysisController.search}"  render="resultsGrid filterPanel searchFieldsPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="startDate" value="01-01-2010"></f:param>
							<f:param name="endDate" value="31-12-2010"></f:param>
						</a4j:commandLink><br />
		  				<a4j:commandLink value="2009" action="#{analysisController.search}"  render="resultsGrid filterPanel searchFieldsPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="startDate" value="01-01-2009"></f:param>
							<f:param name="endDate" value="31-12-2009"></f:param>
						</a4j:commandLink><br />
		  				<a4j:commandLink value="2008" action="#{analysisController.search}"  render="resultsGrid filterPanel searchFieldsPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
							<f:param name="startDate" value="01-01-2008"></f:param>
							<f:param name="endDate" value="31-12-2008"></f:param>
						</a4j:commandLink><br />
					</td></tr>
		  		</table>
		  	</td>
		  	<td valign="top">      
		    	<rich:dataTable  value="#{analysisController.searchResults}" rendered="#{not empty analysisController.searchResults}"  var="document" styleClass="stylized" rowClasses="even,odd" style="margin-top: 5px;margin-left:0;margin-bottom:15px;text-align:centre;" rows="#{analysisController.itemsPerPage}" id="searchResults" >
		            <f:facet name="header">
		            	<rich:columnGroup> 
				            <rich:column style="width: 35%">
				            	<a4j:commandLink value="File Name" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
									<f:param name="sortOption" value="fileName"></f:param>
								</a4j:commandLink>
				            </rich:column>
				            <rich:column>
				            	<a4j:commandLink value="Size" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
									<f:param name="sortOption" value="fileSize"></f:param>
								</a4j:commandLink>
							</rich:column>
				            <rich:column>
				            	<a4j:commandLink value="Created" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
									<f:param name="sortOption" value="dateCreation"></f:param>
								</a4j:commandLink>
							</rich:column>
				            <rich:column>
				            	<a4j:commandLink value="Modified" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
									<f:param name="sortOption" value="dateModification"></f:param>
								</a4j:commandLink>
							</rich:column>
				            <rich:column>
				            	<a4j:commandLink value="Last Accessed" action="#{analysisController.search}"  render="resultsGrid filterPanel" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
									<f:param name="sortOption" value="dateLastAccess"></f:param>
								</a4j:commandLink>
							</rich:column>
				        </rich:columnGroup>
				    </f:facet>
				    
				    <rich:column>
				    	<h:outputText styleClass="orange" title="#{document.documentPath}" value="#{document.documentName} " />
				    	<h:inputHidden id="nodePath" value="#{document.documentPath}"></h:inputHidden>
				    </rich:column>
				    <rich:column><h:outputText value="#{document.documentSizeToDisplay}"></h:outputText></rich:column>
				    <rich:column><h:outputText value="#{fn:substring(document.createdDate, 0, 11)}" title="#{document.createdDate}"></h:outputText></rich:column>
				    <rich:column><h:outputText value="#{fn:substring(document.lastModificationDate, 0, 11)}" title="#{document.lastModificationDate}"></h:outputText></rich:column>
				    <rich:column><h:outputText value="#{fn:substring(document.lastAccessDate, 0, 11)}" title="#{document.lastAccessDate}"></h:outputText></rich:column>
		             
		             <f:facet name="footer">
		            	<h:panelGroup  rendered="#{analysisController.totalPages gt 1}">
						    <a4j:commandButton value="|&lt;&lt;" rendered="#{analysisController.currentPage gt 1}" action="#{analysisController.search}" styleClass="btn-paging" render="filterPanel resultsGrid" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
		            			<f:param name="currentPage" value="1" />
		            		</a4j:commandButton>
		            		<a4j:commandButton value="&lt;" rendered="#{analysisController.currentPage gt 1}" action="#{analysisController.search}" styleClass="btn-paging" render="filterPanel resultsGrid" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
		            			<f:param name="currentPage" value="#{analysisController.currentPage-1}" />
		            		</a4j:commandButton>
		            		
						    <ui:repeat value="#{analysisController.curPagesList}" var="ctr">
						        <a4j:commandButton value="#{ctr}" rendered="#{ctr==analysisController.currentPage}" disabled="true" action="#{analysisController.search}" styleClass="btn-paging btn-paging-hover" render="filterPanel resultsGrid" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
			            			<f:param name="currentPage" value="#{ctr}" />
			            		</a4j:commandButton>
			            		<a4j:commandButton value="#{ctr}" rendered="#{ctr!=analysisController.currentPage}" action="#{analysisController.search}" styleClass="btn-paging" render="filterPanel resultsGrid" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
			            			<f:param name="currentPage" value="#{ctr}" />
			            		</a4j:commandButton>
						    </ui:repeat>
						    
						    <a4j:commandButton value="&gt;" rendered="#{analysisController.currentPage lt analysisController.totalPages}" action="#{analysisController.search}" styleClass="btn-paging" render="filterPanel resultsGrid" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
		            			<f:param name="currentPage" value="#{analysisController.currentPage+1}" />
		            		</a4j:commandButton>
						    <a4j:commandButton value="&gt;&gt;|" rendered="#{analysisController.currentPage lt analysisController.totalPages}" action="#{analysisController.search}" styleClass="btn-paging" render="filterPanel resultsGrid" onbegin="#{rich:component('loadingPanel')}.show();" oncomplete="#{rich:component('loadingPanel')}.hide();">
		            			<f:param name="currentPage" value="#{analysisController.totalPages}" />
		            		</a4j:commandButton>
		            	</h:panelGroup>
				    </f:facet> 
	
		    	</rich:dataTable> 
		  	</td>
	  	  </tr>
		  </table>
        </h:panelGroup>
		
		<br class="clear" /> 
       </h:form>
               
	</h:body>
</html>