<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" >
	
	
              <rich:dataTable value="#{jobStatsController.dynaArchivingJobsList}" id="dynaArchivingJobsList"  var="job" styleClass="stylized" rows="10"  rowClasses="even,odd">
                   		<rich:column >
                             <f:facet name="header"> <h:outputText value="ID" /></f:facet>
                             <h:outputText value="#{job.id}"></h:outputText>
                        </rich:column>
                       <rich:column>
                       <f:facet name="header"> <h:outputText value="Job Name" /></f:facet>
						<a4j:commandLink value="#{job.name}" action="#{jobStatsController.getJobStatus}"  render="statsDynamicArchiving">
							<f:param name="id" value="#{job.id}"></f:param>	
							<h:graphicImage value="images/scheduled-icon.png" rendered="#{job.isScheduled eq true}" style="margin-left:5px;" />	
						</a4j:commandLink>

						</rich:column>
						<rich:column >
                             <f:facet name="header"> <h:outputText value="Action" /></f:facet>                             
                            
                             <h:outputText value="Archive &amp; Stub" />
                            
                        </rich:column>
                        
                         <rich:column >
                             <f:facet name="header"> <h:outputText value="Agent" /></f:facet>
                             <h:outputText value="#{job.agent.name}"></h:outputText>
                         </rich:column>
                         
                         <rich:column >
                             <f:facet name="header"> <h:outputText value="Policy" /></f:facet>
                             <h:outputText value="#{job.policy.name}"></h:outputText>
                         </rich:column>
                         
                         <rich:column>
                         	
                             <f:facet name="header"> <h:outputText value="Status" /></f:facet>                  
                             <h:outputText value="pending" style="color: orange;" rendered="#{job.jobStatus eq 'PENDING' and job.actionType ne 'DYNARCH' and job.actionType ne 'ACTIVEARCH'}"/>
                             <h:outputText value="completed" style="color: green;" rendered="#{job.jobStatus eq 'COMPLETED' and job.actionType ne 'DYNARCH'}"/>
                             <h:outputText value="failed" style="color: red;" rendered="#{job.jobStatus eq 'FAILED'}" />
                             <h:outputText value="processing..." style="color:blue;"  rendered="#{job.jobStatus eq 'PROCESSING'}" />
                             <h:outputText value="cancelling..." style="color:blue;" rendered="#{job.jobStatus eq 'CANCEL'}" />
                             <h:outputText value="cancelled" style="color:green;" rendered="#{job.jobStatus eq 'CANCELED'}" />
                             <h:outputText value="active..." style="color:blue;"  rendered="#{(job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq true}" />
                             <h:outputText value="paused..." style="color:blue;"  rendered="#{(job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq false}" />                             
                             <!--   h:outputText value="analyzing..." style="color:blue;"  rendered="#{job.actionType eq 'INDEXING'}" / -->
                             
                             <a4j:commandButton style="padding-left:20px" action="#{jobStatsController.cancelJob}" title="cancel job"   rendered="#{(job.jobStatus eq 'PROCESSING') and false}" image="images/crossProp.png">
                                  <f:param value="#{job.id}" name="jobId" />                                  
                             </a4j:commandButton>
                             <a4j:commandButton style="padding-left:20px" action="#{jobStatsController.pauseJob}" title="pause/halt job"   rendered="#{((job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq true) and false}" image="images/pause_job.jpg">
                                  <f:param value="#{job.id}" name="jobId" />                                  
                             </a4j:commandButton>
                             <a4j:commandButton style="padding-left:20px" action="#{jobStatsController.resumeJob}" title="resume job"   rendered="#{((job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq false) and false}" image="images/resume_job.png">
                                  <f:param value="#{job.id}" name="jobId" />                                  
                             </a4j:commandButton>
                         </rich:column>
                         <f:facet name="footer">
	                          <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
	                     </f:facet>  
                      
               </rich:dataTable>
                         
            <br class="clear" /> 
            
            
	       <h:panelGroup id="statsDynamicArchiving" >               
	         <h:panelGroup  rendered="#{jobStatsController.showStatusGrid}">
	               
	               		 <h3>Execution Details  </h3><hr/>
	               		 <rich:dataTable value="#{jobStatsController.jobStatusList}" var="jobStatus" styleClass="stylized" rows="10"  rowClasses="even,odd">
	               		 <rich:column>               		 
							<f:facet name="header"> <h:outputText value="Seq ID" /></f:facet>
							<a4j:commandLink value="#{jobStatus.serialNumber}" action="#{jobStatsController.getCurrentExecutionDetails}" render="dynamicArchivingJobStats">
							<f:param name="id" value="#{jobStatus.id}"></f:param>
							<f:param name="serial" value="#{jobStatus.serialNumber}"></f:param>
							<f:param name="executionId" value="#{jobStatus.executionId}"></f:param>
							<f:param name="jobId" value="#{jobStatus.job.id}"></f:param>
						 </a4j:commandLink>					 
						 </rich:column>
						 <rich:column>
								<f:facet name="header"> <h:outputText value="Execution ID" /></f:facet>
								<h:outputText value="#{jobStatus.job.id}-#{jobStatus.executionId}"></h:outputText>
						 </rich:column>
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="Start Time" /></f:facet>                             
	                               
	                                <h:outputText value="#{jobStatus.execStartTime}"></h:outputText>
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="End Time" /></f:facet>
	                             <h:outputText value="#{jobStatus.execEndTime}"></h:outputText>
	                        </rich:column>
	                         
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="Status" /></f:facet>
	                             <h:outputText value="#{jobStatus.status.toLowerCase()}" style="color: green;" rendered="#{jobStatus.status.toLowerCase() eq 'completed'}"/>
	                             <h:outputText value="#{jobStatus.status.toLowerCase()}" style="color: red;" rendered="#{jobStatus.status.toLowerCase() eq 'failed'}"/>     
	                             <h:outputText value="cancelled" style="color: green;" rendered="#{jobStatus.status.toLowerCase() eq 'canceled'}"/>                                                    
	                         </rich:column>
	                         
	                       	                         
	                         <rich:column>
								<f:facet name="header"> <h:outputText value="Logs" /></f:facet>
								<h:form>
									<h:outputLink onclick="window.open('DownloadLog?jobid=#{jobStatus.job.id}&amp;execid=#{jobStatus.executionId}', 'Job Log', 'dependent=yes, menubar=no, toolbar=no, scrollbars=yes, resizable=yes, width='+(window.outerWidth/1.5)+', height='+(window.outerHeight/1.5)+''); return false;" value="#" rendered="#{jobStatus.numberOfPublicLogs > 0}" >
										<h:outputText value="logs" />
									</h:outputLink>								
								
								</h:form>
	                         </rich:column>
	                         
	                         <f:facet name="footer">
		                      <a4j:commandButton  styleClass="btn-gray fright" value="Re-run" action="#{jobStatsController.enableReRun}" render="dynaArchReRunGrid">
	                           <a4j:param assignTo="#{jobStatsController.reRunEnabled}" value="#{true}"></a4j:param>
	                          </a4j:commandButton>	
	                                        
		                     </f:facet>  
	                    
	               </rich:dataTable>
	               
	
	  <h:panelGroup id="dynaArchReRunGrid" >
        
        <h:panelGroup rendered="#{jobStatsController.reRunEnabled eq true}">
           <h3>Re-run</h3>
        </h:panelGroup>
                
        <h:panelGrid styleClass="stylized"  rendered="#{jobStatsController.reRunEnabled eq true}">

            <rich:column width="900px">
              
					<h:selectOneRadio  value="#{jobStatsController.job.scheduled}" immediate="true"  layout="pageDirection" >
				        <f:selectItem itemValue="no"  itemLabel="Run Now" />
				        <f:selectItem itemValue="yes"  itemLabel="Schedule"/>
				        <f:ajax event="valueChange" execute="@this" render="dynaArchiveSchedulePanel" />
				    </h:selectOneRadio>

	              <h:panelGroup layout="block" id="dynaArchiveSchedulePanel" >
		             <h:panelGroup rendered="#{jobStatsController.job.scheduled eq 'yes'}">   
		                 <h:outputLabel value="Execution Time: " />
		                 <rich:calendar value="#{jobStatsController.job.execTimeStartDate}"    datePattern="d/M/yy HH:mm"  >
		                      <f:ajax event="change" execute="@this" render="dynaArchiveSchedulePanel" />
		                 </rich:calendar>
		             
					     <br />
					     <h:outputLabel value="Select Interval: " />
					     <h:selectOneMenu  value="#{jobStatsController.job.executionInterval}">
							<f:selectItem itemLabel="Once"	itemValue="0"></f:selectItem>
							<f:selectItem itemLabel="Daily"	itemValue="1"></f:selectItem>
							<f:selectItem itemLabel="Weekly"	itemValue="7"></f:selectItem>
							<f:selectItem itemLabel="Monthly"	itemValue="30"></f:selectItem>
							<f:selectItem itemLabel="Quarterly"	itemValue="120"></f:selectItem>
							<f:selectItem itemLabel="Yearly"	itemValue="365"></f:selectItem>
							<f:ajax event="valueChange" execute="@this" render="dynaArchiveSchedulePanel" />
						  </h:selectOneMenu>
	                  </h:panelGroup>
	              </h:panelGroup>
              
		          <h:commandButton styleClass="btn-gray fleft" action="#{jobStatsController.reRunJob}" immediate="true"  value="OK" style="margin-top: 10px;margin-bottom: 10px;" >
		          	<f:param name="jobId" value="#{jobStatsController.job.id}"></f:param >
		          </h:commandButton>  
		            
		          <a4j:commandButton  styleClass="btn-gray fleft"  value="Cancel" action="#{jobStatsController.enableReRun}" immediate="true" render="dynaArchReRunGrid" style="margin-top: 10px;margin-bottom: 10px;" >
		               <a4j:param assignTo="#{jobStatsController.reRunEnabled}" value="#{false}"></a4j:param>
		          </a4j:commandButton>
		          
		          <br/>
           </rich:column>
       
         </h:panelGrid>
        
       </h:panelGroup>
	     
	               <h3>Statistics Summary </h3><hr/>
					<rich:dataTable value="#{jobStatsController.jobStatisticsList.size()==0?0:jobStatsController.jobStatisticsList.get(0)}" var="jobStatistics" styleClass="stylized" rows="10" id="dynamicArchivingJobStats" rowClasses="even,odd">
						<rich:column>
							<f:facet name="header"> <h:outputText value="Seq ID" /></f:facet>
							<h:outputText value="#{jobStatistics.serialNo}"></h:outputText>
						</rich:column>
						<rich:column>
							<f:facet name="header"> <h:outputText value="Total Visited" /></f:facet>
							<h:outputText value="#{jobStatistics.totalEvaluated}"></h:outputText>
						</rich:column>
											   					 										
						<rich:column>
							<f:facet name="header"> 
						
							<h:outputText value="Archived" />
							</f:facet>
							<h:outputText value="#{jobStatistics.totalFreshArchived}"></h:outputText>
							
						</rich:column>
										
						<rich:column>
							<f:facet name="header"> <h:outputText value="Errored" /></f:facet>
							<h:outputText value="#{jobStatistics.totalFailed}"></h:outputText>
						</rich:column>
						<rich:column>
							<f:facet name="header"> <h:outputText value="Size (MB)" /></f:facet>
							<h:outputText value="#{jobStatistics.archivedVolume}" rendered="#{jobStatistics.archivedVolume gt 0}"></h:outputText>
						</rich:column>
	                    <f:facet name="footer">
		                     <h:outputText value=""></h:outputText>
		                </f:facet> 
					</rich:dataTable>               		 
	           </h:panelGroup> 
	       </h:panelGroup>  
            
                   
       <br class="clear" />          
  
 </ui:composition>            