<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
                         
            <f:metadata >
               <f:event type="preRenderView" listener="#{roleFeatureController.init}"  />
            </f:metadata>
            
            
  <h:body>          
           

            <style>
            	.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				    font-size: 12px;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				
				.colSize{
					width: 32%;
				}
				
				
            </style> 
              
              <h:panelGroup  layout="block" id="errorMsgs"  styleClass="error">
              	<rich:messages/>
              </h:panelGroup>
              
              <br/>
                       
              <h:form styleClass="common" id="globalConfigForm" >
              
              <table class="stylized">
              	<tr>
              		<td width="20%"><h:outputLabel value="Show FileExplorer for Administrator"/></td>
              		<td> <h:selectBooleanCheckbox value="#{roleFeatureController.enableFExplorerCM}"/> </td>
              	</tr>
              </table>
              
                  <h:dataTable styleClass="stylized" id="featuresGrid" value="#{roleFeatureController.roleFeaturesList}" var="roleFeature" rowClasses="even,odd">
               
                      <h:column>
                         <f:facet name="header">
                           <h:outputText value="Feature"></h:outputText>
                         </f:facet>  
                         <h:outputText value="#{roleFeature.displayName}" rendered="#{roleFeature.name ne 'email_link_sp' and roleFeature.name ne 'email_link' and roleFeature.name ne 'email_doc_sp' and roleFeature.name ne 'email_doc'}"></h:outputText>                  
                         <h:outputText value="#{roleFeature.displayName}" rendered="#{roleFeature.name eq 'email_link_sp' or roleFeature.name eq 'email_link'}" title="Using default email client"></h:outputText>
                         <h:outputText value="#{roleFeature.displayName}" rendered="#{roleFeature.name eq 'email_doc_sp' or roleFeature.name eq 'email_doc'}" title="Send attachement through Archive"></h:outputText>
                      </h:column>
                      
                       <h:column>
                         <f:facet name="header">
                           <h:outputText value="Admin"></h:outputText>
                         </f:facet> 
                         <h:selectBooleanCheckbox value="#{roleFeature.adminAllowed}"  rendered="#{roleFeature.adminEditable eq true}" />
                         <h:outputText value="-"  rendered="#{roleFeature.adminEditable eq false}" />                           
                       </h:column>
                                            
                       <h:column>
                         <f:facet name="header">
                           <h:outputText value="Priv"></h:outputText>
                         </f:facet> 
                         <h:selectBooleanCheckbox value="#{roleFeature.privAllowed}" rendered="#{roleFeature.privEditable eq true and roleFeature.name ne 'restore_folder'}"  /> 
                         <h:outputText value="-"  rendered="#{roleFeature.privEditable eq false or roleFeature.name eq 'restore_folder'}" />                                  
                       </h:column>
                       
                       <h:column>
                         <f:facet name="header">
                           <h:outputText value="LDAP"></h:outputText>
                         </f:facet>                       
                         <h:selectBooleanCheckbox value="#{roleFeature.ldapAllowed}" rendered="#{roleFeature.privEditable eq true and roleFeature.name ne 'restore_folder'}"  /> 
                         <h:outputText value="-"  rendered="#{roleFeature.privEditable eq false or roleFeature.name eq 'restore_folder'}" />                                  
                       </h:column>
                                
                 </h:dataTable>
              
                 <br/>
                 <br/>
                 <a4j:commandButton styleClass="btn-gray" render="@page" action="#{roleFeatureController.save}" value="Save">
                 
                 </a4j:commandButton>
                 
               
             
			 </h:form>            
            </h:body>
            
      
</html>	
	
