<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en">
	
	
	
	    <ui:composition>
 
		   <h3>System Information</h3>
			   <table class="stylized">
					<tbody>
						<tr>
							<td width="30%">Server Name</td>
							<td>localhost.localdom</td>							
						</tr>
						<tr>
							<td>Server IP Address</td>
							<td>127.0.0.1</td>							
						</tr>
						<tr>
							<td>OS Name</td>
							<td>Linux</td>							
						</tr>
						<tr>
							<td>OS Version</td>
							<td>2.6.18-194.el5</td>							
						</tr>
						<tr>
							<td>OS Architecture</td>
							<td>amd64</td>							
						</tr>
						<tr>
							<td>JVM VersionName</td>
							<td>21.0-b17</td>							
						</tr>
					</tbody>
			 </table>
 
	    </ui:composition>
    
</html>
