<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en">
	
	
	<body>
	    <ui:composition>
          
		   <div id="main" style="vertical-align: middle;color:#474747;" >
			    <hr style="border-bottom: 1px solid #d2d2d2 !important;"/>
			     Version: #{systemCodeController.applicationVersionNumber}	
			
			     <h:graphicImage value="/images/footer-logo.png" style="display:inline;float: right;width: 190px;height: 40px;"></h:graphicImage>
			
			</div>		
			
			<div class="clear"></div>
			
	    </ui:composition>
    </body>
    
</html>
