<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"  xml:lang="en" lang="en">
	
	<body >
	   
	    <ui:composition>
 				<a href="#">
 				<a4j:mediaOutput element="img" mimeType="image/jpeg" createContent="#{logoUploader.paintLogo}" rendered="#{authController.LOGGED_IN_USER_TYPE ne 'PRIVILEGED'}"
                                    value="abc" cacheable="false">
                                    
                                </a4j:mediaOutput>
                                <a4j:mediaOutput element="img" mimeType="image/jpeg" createContent="#{logoUploader.paintLogo1}" rendered="#{authController.LOGGED_IN_USER_TYPE eq 'PRIVILEGED'}"
                                    value="abc" cacheable="false"></a4j:mediaOutput>
                                
                                &nbsp;</a>
 				<b><h:outputText styleClass="logged-in-label" value="#{message['user.loggedInAs.label']}: #{authController.LOGGED_IN_USER_NAME}" /></b>
		        
				<ul >
					
				    <h:panelGroup rendered="#{authController.LOGGED_IN_USER_TYPE ne 'ADMINISTRATOR' and authController.LOGGED_IN_USER_TYPE ne 'EMAIL'}" >
					      <li style="border-right: 1px solid #ccc;"><h:outputLink  value="#"  onclick="window.open('Help.faces', 'Help', 'dependent=yes, menubar=no, width=1100,height=650,resizable=true,left=100,right=100,top=5,scrollbars=yes, toolbar=no'); return false;"  > Help </h:outputLink> </li>
					</h:panelGroup>
					<li>
						<a href="#">#{message['menu.account.label']}</a>
						<ul>
						    <h:form>
						        <h:panelGroup rendered="#{authController.VC_ACC_CHANGE_PASSWORD eq true}" > 
								   <li><h:link  value="#{message['menu.account.changePassword.label']}" outcome="ChangePassword" /></li>
								</h:panelGroup>
								<h:panelGroup rendered="#{authController.LOGGED_IN_USER_TYPE ne 'EMAIL'}" >    
									<li><h:commandLink action="#{loginController.logout}" >#{message['menu.account.signOut.label']}</h:commandLink></li>
								</h:panelGroup>
								<h:panelGroup rendered="#{authController.LOGGED_IN_USER_TYPE eq 'EMAIL'}" >
									<li><h:commandLink action="#{emailDocumentAccessController.logout}" >#{message['menu.account.signOut.label']}</h:commandLink></li>
								</h:panelGroup>
							</h:form>
						</ul>
					</li>
				 </ul>
 
	    </ui:composition>
    </body>
</html>
