<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"	
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" xml:lang="en" lang="en">
	
	
	<body>
	    <ui:composition>
          
		    <style>
			  .rf-pm-top-gr { border-style: hidden; }
			  
			  .rf-pm-itm { border-top: 0; }
			  
			  .rf-pm-top-gr-hdr {
			    background-color: transparent;
			    background-image: none;
			    background-position: left top;
			    background-repeat: repeat-x;
			    padding: 2px 1px 2px 2px;
			    cursor: pointer;			    
			    white-space: nowrap;
			    margin-left: 13px;
			}
			
			
			
			.rf-pm-top-gr-lbl{
			 color: #F87933;
			 font-weight: normal;
			 font-size:15px;
			 padding-left:2px;
			 margin-left: 2px;
			 font-family: verdana,helvetica,arial,sans-serif;
			 
			}
			a{
			 font-size: 13px;
			 font-family: verdana,helvetica,arial,sans-serif;
			}
			.rf-pm-itm-lbl{
				 font-size: 13px;
				 padding-left:2px;				
				 font-family: verdana,helvetica,arial,sans-serif;
			}

			.rf-pm-itm-sel {
			    font-style: normal;
			 }
								  
			</style>
		   
        <h:form id="form">		 

		    <rich:panelMenu  itemMode="ajax" groupMode="ajax" groupExpandedLeftIcon=""
                groupCollapsedLeftIcon="" topGroupExpandedRightIcon="" 
                topGroupCollapsedRightIcon="" itemLeftIcon="disc"   itemChangeListener="#{authController.updateCurrent}"  >
                
                <rich:panelMenuGroup label="#{message['menu.system.label']}" immediate="true" styleClass="system" rendered="#{authController.VC_SYSTEM_MAIN eq true}" leftExpandedIcon="/images/icon-system.png" leftCollapsedIcon="/images/icon-system-disabled.png"  leftDisabledIcon="/images/icon-system-disabled.png" expanded="#{authController.current eq 'system'}">
                    
                    <rich:panelMenuItem id="systemStatus" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png"  rendered="#{authController.VC_SYSTEM_SYS_STATUS eq true}">
                      
                         <!-- <h:link value="System Status" outcome="Status" style="color:#000000;line-height: 20px;" ></h:link>-->
                         <h:commandLink value="#{message['menu.system.status.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="Status.faces"></f:param>
                         </h:commandLink>
                    </rich:panelMenuItem>
                    
                    <rich:panelMenuItem id="jobStatus" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_SYSTEM_JOB_STATUS eq true}">
                        <!--  <h:link value="Job Status" outcome="JobStatus" style="color:#000000;line-height: 20px;"></h:link>-->
                        <h:commandLink value="#{message['menu.system.jobStatus.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="JobStatus.faces"></f:param>
                         </h:commandLink>
                    </rich:panelMenuItem>
                    
                    <!-- rich:panelMenuItem leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_SYSTEM_JOB_STATUS eq true}">
                         <h:link value="Hot Statistics" outcome="statistics" style="color:#000000;line-height: 20px;"></h:link>
                    </rich:panelMenuItem -->
                    
                     <rich:panelMenuItem id="fExplorer" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_SYSTEM_F_EXPLORER eq true}">
                        <!--<h:link value="File Explorer" outcome="FileExplorer" style="color:#000000;line-height: 20px;"></h:link>-->
                        <h:commandLink value="#{message['menu.system.fExplorer.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="FileExplorer.faces?faces-redirect=true"></f:param>
                         </h:commandLink>                        
                    </rich:panelMenuItem>                    
                </rich:panelMenuGroup>
                
                <rich:panelMenuGroup immediate="true" label="#{message['menu.configuration.label']}"  leftExpandedIcon="/images/icon-configuration.png" leftCollapsedIcon="/images/icon-configuration-disabled.png"  leftDisabledIcon="/images/icon-configuration-disabled.png" rendered="#{authController.VC_CONFIG_MAIN eq true}" expanded="#{authController.current eq 'configs'}" >
                   
                      <rich:panelMenuItem id="jobMgmt" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_JOB eq true}">
                         <!--  <h:link value="Job Management" outcome="Jobs" style="color:#000000;line-height: 20px;"></h:link>-->
                        <h:commandLink value="#{message['menu.configuration.job.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true">
                         	<f:param name="id" value="Jobs.faces?faces-redirect=true"></f:param>
                         </h:commandLink>                            
                      </rich:panelMenuItem>
                      
                      <rich:panelMenuItem id="indexingJobMgmt" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_DELJOB_MGMT eq true}" >
                         <h:commandLink value="Analysis Job" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="IndexingJobs.faces?faces-redirect=true"></f:param>
                         </h:commandLink>
                    	</rich:panelMenuItem> 
                      
                      <rich:panelMenuItem id="policyMgmt" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_POLICY eq true}">
                        <!--   <h:link value="Policy Management" outcome="Policies" style="color:#000000;line-height: 20px;"></h:link>-->
                         <h:commandLink value="#{message['menu.configuration.policy.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="Policies.faces"></f:param>
                         </h:commandLink>     
                      </rich:panelMenuItem>
                      
                      <rich:panelMenuItem id="documentClassifier" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_DOC_CLASSIFIER eq true}">
                         <!-- <h:link value="Document Classifier" outcome="DocumentCategories" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.configuration.document.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="DocumentCategories.faces"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>
                      
                      <rich:panelMenuItem id="groupGuardian" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_DOC_CLASSIFIER eq true and false}" >
                         <!-- <h:link value="Document Classifier" outcome="DocumentCategories" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="LDAP Groups" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="AddGroupGuardian.faces"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>                      
                      
                      <rich:panelMenuItem id="agentReg" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_AGENT eq true}">
                         <!--  <h:link value="Agent Registration" outcome="Agents" style="color:#000000;line-height: 20px;"></h:link>-->
                         <h:commandLink value="#{message['menu.configuration.agent.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="Agents.faces"></f:param>
                         </h:commandLink> 
                      </rich:panelMenuItem>                      
                                          
                </rich:panelMenuGroup>
                
                <rich:panelMenuGroup immediate="true" label="Repository Management" leftExpandedIcon="/images/icon-account-management.png" leftCollapsedIcon="/images/icon-account-management-disabled.png"  leftDisabledIcon="/images/icon-account-management-disabled.png" rendered="#{authController.VC_DELJOB_MGMT eq true and false}" expanded="#{authController.current eq 'repoMgmt'}" >
                    <rich:panelMenuItem id="delJobMgmt" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_DELJOB_MGMT eq true}" >
                         <h:commandLink value="Data Retention Job" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="DelJob.faces"></f:param>
                         </h:commandLink>
                    </rich:panelMenuItem> 
                </rich:panelMenuGroup>
                
                <rich:panelMenuGroup immediate="true" label="Indexing Job" leftExpandedIcon="/images/icon-account-management.png" leftCollapsedIcon="/images/icon-account-management-disabled.png"  leftDisabledIcon="/images/icon-account-management-disabled.png" rendered="#{authController.VC_DELJOB_MGMT eq true and false}" expanded="#{authController.current eq 'repoMgmt'}" >
                    <rich:panelMenuItem id="indexingJobMgmt1" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_DELJOB_MGMT eq true}" >
                         <h:commandLink value="Data Retention Job" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="IndexingJobs.faces"></f:param>
                         </h:commandLink>
                    </rich:panelMenuItem> 
                </rich:panelMenuGroup>
                
                <rich:panelMenuGroup immediate="true" label="#{message['menu.acctManagement.label']}" leftExpandedIcon="/images/icon-account-management.png" leftCollapsedIcon="/images/icon-account-management-disabled.png"  leftDisabledIcon="/images/icon-account-management-disabled.png" rendered="#{authController.VC_ACC_MGMT eq true}" expanded="#{authController.current eq 'accountMgmt'}" >
                   
                    <rich:panelMenuItem id="userMgmt" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_ACC_MGMT eq true}" >
                         <!-- <h:link value="User Management" outcome="Users" style="color:#000000;line-height: 20px;"></h:link>-->
                         <h:commandLink value="#{message['menu.acctManagement.user.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="Users.faces"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>
                    <rich:panelMenuItem id="acctPolicy" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_ACC_MGMT eq true}" >
                         <!-- <h:link value="User Management" outcome="Users" style="color:#000000;line-height: 20px;"></h:link>-->
                         <h:commandLink value="#{message['menu.acctManagement.acctPolicy.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="AccountPolicy.faces?faces-redirect=true"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>                      
                      
                </rich:panelMenuGroup>
                
                <rich:panelMenuGroup immediate="true" label="Repository" expanded="true" leftExpandedIcon="/images/icon-repository.png" leftCollapsedIcon="/images/icon-repository-disabled.png"  leftDisabledIcon="/images/icon-repository-disabled.png" rendered="false" >
                   
                    <rich:panelMenuItem id="search"  leftIcon="/images/icon-submenu.png"  leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.LOGGED_IN_USER_TYPE eq 'PRIVILEGED'}" >
                         <!-- <h:link value="Search" outcome="Search" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="Search" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="Search.faces"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>
                      
                </rich:panelMenuGroup>
                
                <rich:panelMenuGroup immediate="true" label="#{message['menu.systemConfig.label']}"  leftExpandedIcon="/images/icon-configuration.png" leftCollapsedIcon="/images/icon-configuration-disabled.png"  leftDisabledIcon="/images/icon-configuration-disabled.png" rendered="#{authController.VC_CONFIG_MAIN eq true}" expanded="#{authController.current eq 'systemConfigs'}">
                
                		<rich:panelMenuItem id="companyConf" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_POLICY eq true}">
                        <!--  <h:link id="item2" value="Global Configurations" outcome="SystemCodes" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.systemConfig.company.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="EditCompanyConfig.faces?faces-redirect=true"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>
                   
                       <rich:panelMenuItem id="globalConf" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_POLICY eq true}">
                        <!--  <h:link id="item2" value="Global Configurations" outcome="SystemCodes" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.systemConfig.global.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="EditGlobalConfig.faces?faces-redirect=true"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>
                   
                       <rich:panelMenuItem id="ldapConfiguration" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_POLICY eq true}">
                        <!--  <h:link id="item2" value="Global Configurations" outcome="SystemCodes" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.systemConfig.ldap.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="EditLDAPConfig.faces?faces-redirect=true"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>
                      
                      <rich:panelMenuItem id="userFeatures" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_USER_FEATURES eq true}">
                        <!--  <h:link id="item2" value="Global Configurations" outcome="SystemCodes" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.systemConfig.features.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="UserFeatures.faces?faces-redirect=true"></f:param>
                         </h:commandLink>                          
                      </rich:panelMenuItem>
                      
                      <rich:panelMenuItem id="shareMappings" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_JOB eq true}">
                         <!-- <h:link value="Share Mappings" outcome="DriveLetters" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.systemConfig.monitoring.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="DriveLetters.faces?faces-redirect=true"></f:param>
                         </h:commandLink> 
                      </rich:panelMenuItem>

                      <rich:panelMenuItem id="systemRestart" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_JOB eq true}">
                         <!-- <h:link value="Share Mappings" outcome="DriveLetters" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.systemConfig.maintenance.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="ManageSystem.faces"></f:param>
                         </h:commandLink> 
                      </rich:panelMenuItem>
                      
                      <rich:panelMenuItem id="tools" leftIcon="/images/icon-submenu.png" leftDisabledIcon="/images/icon-submenu-disabled.png" rendered="#{authController.VC_CONFIG_JOB eq true}">
                         <!-- <h:link value="Share Mappings" outcome="DriveLetters" style="color:#000000;line-height: 20px;"></h:link> -->
                         <h:commandLink value="#{message['menu.systemConfig.tools.label']}" action="#{authController.handleMenuClick}" style="color:#000000;line-height: 20px;" immediate="true" >
                         	<f:param name="id" value="ToolsDownloader.faces"></f:param>
                         </h:commandLink> 
                      </rich:panelMenuItem>
                                          
                </rich:panelMenuGroup>
                
                
            </rich:panelMenu>
            </h:form>
                    
	    </ui:composition>
    </body>
    
</html>
