<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
             <f:metadata >
               <f:event type="preRenderView" listener="#{systemCodeController.editAccountPolicy}"  />
            </f:metadata>
          
            <ui:define name="title">Account Management </ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Account Management /</a>
				<a hrf="#"><h:outputText value="Update Account Policy" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.acctManagement.acctPolicy.edit']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            <style>
            	.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				
				.colSize{
					width: 32%;
				}
				
				 .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                  }
				
				
            </style> 
              <h:form styleClass="common" prependId="false">
              <div>
              	<rich:messages/>
              </div>
					<table width="700">
							<tr>	
								<td><label>#{message['acctPolicy.passwordMinimumLength.label']}:</label></td>
								<td><h:inputText  value="#{systemCodeController.passwordMinimumLength}" size="22" maxlength="2" /></td>
							</tr>
							<tr>	
								<td width="23%"><label>#{message['acctPolicy.passwordExpiryTime.label']}:</label></td>
								<td><h:inputText id="passwordExpiry"  value="#{systemCodeController.passwordExpiryTime}" size="22" maxlength="40"  required="true" title="0 = password never expires"
								validatorMessage="#{message['shiroUser.username.matches.invalid ']}"	>									
								</h:inputText></td>
							</tr>
							<tr>	
								<td><label>#{message['acctPolicy.noOfTriesBeforAccountLock.label']}:</label></td>
								<td><h:inputText id="loginAttempts"  value="#{systemCodeController.noOfTriesBeforAccountLock}" size="22" maxlength="40" required="true"
									validatorMessage="#{message['shiroUser.firstName.matches.invalid']}"	>									
									</h:inputText> 
								</td>
							</tr>
							
							<tr>	
								<td><label>#{message['acctPolicy.accountLockTimeoutPeriod.label']}:</label></td>
								<td><h:inputText id="lockTimeOut" value="#{systemCodeController.accountLockTimeoutPeriod}" size="22" maxlength="40" required="true" 
									validatorMessage="#{message['shiroUser.lastName.matches.invalid']}"	>									
									</h:inputText>
									</td>
							</tr>

							<tr>
								<td colspan="2"><label>#{message['acctPolicy.enforcePolicy.label']}:</label></td>
							</tr>
							<tr>	
								<td><label style="margin-left: 20px;">#{message['acctPolicy.enforceCapsInPasswords.label']}</label></td>
								<td><h:selectBooleanCheckbox value="#{systemCodeController.enforceCapsInPasswords}"/></td>
							</tr>
							<tr>	
								<td><label style="margin-left: 20px;">#{message['acctPolicy.enforceNumbersInPasswords.label']}</label></td>
								<td><h:selectBooleanCheckbox value="#{systemCodeController.enforceNumbersInPasswords}"/></td>
							</tr>
							<tr>	
								<td><label style="margin-left: 20px;">#{message['acctPolicy.enforceSpecialCharsInPasswords.label']}</label></td>
								<td><h:selectBooleanCheckbox value="#{systemCodeController.enforceSpecialCharsInPasswords}"/></td>
							</tr>	
							
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										
										<h:commandButton value="Cancel"  immediate="true" action="Users.faces?faces-redirect=true" styleClass="btn-gray fright" />
										<h:commandButton value="Save" action="#{systemCodeController.saveAccountPolicy}" styleClass="btn-orange fright" />
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
