<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
                       
            <ui:define name="title">Agent Registration</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Agent Registration /</a>
				<a href="#"><h:outputText value="Create Agent" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.agent.add']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
 			<style>
				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				
  			</style>             
              <h:form styleClass="common" prependId="false">
             <div class="error">             
               	<rich:messages/>
              </div>
					<table width="700">
							<tr>	 
								<td width="23%"><h:outputLabel value="#{message['agent.agentName.label']}"/> 
								<!--<label> Name:</label>-->
								</td>
								<td><h:inputText id="agentName" value="#{agentRegController.agent.name}" size="22" maxlength="40"  label="agentName"  
								required="true"	 validatorMessage="#{message['agent.agentName.matches.invalid']}"														
								>								
								<!-- <f:validateRegex pattern="((?!.*\d)(?=.*[@#$%]).{6,20})"/>-->
								<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
								</h:inputText></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['agent.description.label']}"/>
								<!-- <label>Description:</label>-->
								</td>
								<td><h:inputText id="description" value="#{agentRegController.agent.description}" size="22" maxlength="200" 
								validatorMessage="#{message['agent.agentDescription.matches.invalid']}">
									<!-- <f:validateRegex pattern="[\\w ._-]+"/> -->
									<!-- allow empty string  -->
									<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)"/>
								</h:inputText>
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['agent.agentType.label']}"/>
								<!-- <label>Type:</label>-->
								</td>
								<td>
									<h:selectOneMenu  value="#{agentRegController.agent.type}"  >
									   <f:selectItem  itemValue="FS" itemLabel="File System"/>
									   <f:selectItem  itemValue="SP" itemLabel="Share Point"/>
									   <f:ajax event="change" render="testDiv"/>
									</h:selectOneMenu>
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['agent.loginName.label']}"/>
									<!--<label>Login:</label>-->
								</td>
								<td><h:inputText id="login" value="#{agentRegController.agent.login}" size="22" required="true" maxlength="45"
								validatorMessage="#{message['agent.loginName.matches.invalid']}"
								>
								<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
								</h:inputText></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['agent.password.label']}"/>
									<!--<label>Password:</label>-->
								</td>
								<td><h:inputSecret id="password" value="#{agentRegController.agent.password}" size="22"  
								 maxlength="30" required="true"/>
								</td>
							</tr>
							<tr style="display: none;">	
								<td><h:outputLabel value="#{message['agent.sourceIp.label']}"/>
								<!--<label>Source IP:</label>-->
								</td>
								<td><h:inputText id="ip"  value="#{agentRegController.agent.allowedIps}" size="22"  />
								   
								</td>
							</tr>
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										<h:panelGroup id="testDiv">
											<a4j:commandButton value="Test"  action="#{agentRegController.testSPService}" styleClass="btn-orange" rendered="#{agentRegController.agent.type eq 'SP'}" />
										</h:panelGroup>
										<h:commandButton value="Create"  action="#{agentRegController.save}" styleClass="btn-orange" />
										<h:commandButton value="Cancel"  action="Agents" styleClass="btn-gray" immediate="true" />
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
