<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
        
        <ui:composition template="defaultTemplate.xhtml">
               
            		          
           <f:metadata >
               
               <f:viewParam name="id" id="id" value="#{addEditDocCatController.documentTypeId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{addEditDocCatController.populateDocumentType}" />
            </f:metadata>
           
                     
            <ui:define name="title">Add Document Type</ui:define>
           
            <ui:define name="breadcrumbs">
                <a class="main" href="#">Configuration /</a>
				<a class="main" href="#">Document Classifier /</a>
				<a><h:outputText value="Add Document Type" rendered="#{empty param.id}" /> <h:outputText value="Edit Document Type" rendered="#{not empty param.id}" /> </a>
            </ui:define>
            
            <ui:define name="content">
              
	            <h:form styleClass="common" >
	            <div class="error">
	            	<h:messages/>
	            </div>
								<h3><h:outputText value="Add Document Type" rendered="#{empty param.id}" /> <h:outputText value="Edit Document Type" rendered="#{not empty param.id}" /></h3><hr/>
								<table width="85%">
								
								   <tbody>
									 <tr>
										<td width="17%"><label>Name</label></td>
										<td width="30%"><h:inputText  value="#{addEditDocCatController.documentType.name}" id="documentTypeName" size="30" required="true" maxlength="40" /></td>
										<td width="6%"></td>
									  	
										<td width="17%"><label>Value</label></td>
										<td width="30%"><h:inputText  value="#{addEditDocCatController.documentType.value}" id="description" size="30" required="true" maxlength="40"/></td>
									 </tr>
									 
									  <tr>
										<td width="17%"><label>Document Category</label></td>
										<td width="30%"><h:selectOneMenu value="#{addEditDocCatController.documentCategory.id}" id="documentCategory" >
										   <f:selectItems value="#{documentClassifyController.allDocumentCategories}" var="documentCategory" itemLabel="#{documentCategory.name}" itemValue="#{documentCategory.id}" />
										 </h:selectOneMenu>
										
										</td>
										<td width="6%"></td>
									  	
										<td width="17%"></td>
										<td width="30%"></td>
									 </tr>
									 
									 <tr>
										<td width="17%"></td>
										<td width="30%" align="left">
										   
										</td>
										<td width="6%"></td>
									  	
										<td width="17%">
										
										
										</td>
										<td width="30%" scope="padding-left:0">
										    <h:commandButton styleClass="btn-gray fright" value="Cancel" action="DocumentTypes" />	
											<h:commandButton styleClass="btn-orange fright" value="Save"  action="#{addEditDocCatController.saveDocumentType}"/>
																				
										</td>
									 </tr>									 
									 
								   </tbody>
								
				               </table>
				
				</h:form>
                        
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
