<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
        
        <ui:composition template="defaultTemplate.xhtml">
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{addEditDocCatController.documentCategoryId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{addEditDocCatController.populateDocumentCategory}"  />
            </f:metadata>
           
                     
            <ui:define name="title"><h:outputText value="Add" rendered="#{empty param.id}" /> <h:outputText value="Edit" rendered="#{not empty param.id}" /> Document Category</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a class="main" href="#">Configuration /</a>
				<a class="main" href="#">Document Classifier /</a>
				<a href="#"><h:outputText value="Add" rendered="#{empty param.id}" /> <h:outputText value="Edit" rendered="#{not empty param.id}" /> Document Category</a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.document.add']}" rendered="#{empty param.id}" />
					<h:outputText value="#{message['breadcrumbs.configuration.document.update']}" rendered="#{not empty param.id}" /> 
				</a>
            </ui:define>
            
            <ui:define name="content">
                
                 <div style="width: 88%;">
						<h:form styleClass="common" prependId="false">
						<div class="error">
							<h:messages/>
						</div>
							<h3>#{message['document.category.heading']}</h3><hr/>
							<table width="85%">
								<tbody><tr>
									<td width="32%"><label>#{message['document.category.name.label']}</label></td>
									<td width="30%"><h:inputText value="#{addEditDocCatController.documentCategory.name}" id="categoryName" size="30" required="true">
										<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
									</h:inputText></td>
									<td width="6%"></td>
									<td width="17%"><label>#{message['document.category.description.label']}</label></td>
									<td width="30%"><h:inputText value="#{addEditDocCatController.documentCategory.description}" id="description" size="30" required="true" /></td>
								</tr>
							</tbody></table>
							
							<h3>#{message['document.extension.heading']}</h3><hr/>
							<table width="85%">
								<tbody><tr>
									<td width="29%"><label>#{message['document.extension.name.label']}</label></td>
									<td width="30%"><h:inputText  value="#{addEditDocCatController.documentType.name}" id="documentType" size="30"/></td>
									<td width="6%"></td>
									<td width="17%"><label>#{message['document.extension.value.label']}</label></td>
									<td width="30%"><h:inputText value="#{addEditDocCatController.documentType.value}" id="extension" size="30" /></td>
								</tr>
							</tbody></table>
							
							<a4j:commandLink  action="#{addEditDocCatController.addDocumentTypeToList}" render="documentTypeGrid,documentType,value" styleClass="btn-gray fright" value="Add"></a4j:commandLink>
							<div class="clear"></div>
						
						
						<br/>
						
						<div class="error" style="padding-bottom: 5px;padding-top:5px;">
							<rich:messages/>
						</div>
						
						
						<rich:dataTable value="#{addEditDocCatController.documentTypeList}" id="documentTypeGrid" var="documentType" styleClass="stylized">
	                                     
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="#{message['document.extension.grid.select']}" /></f:facet>
	                             <h:selectBooleanCheckbox value="#{documentType.selected}"></h:selectBooleanCheckbox>
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="#{message['document.extension.name.label']}" /></f:facet>
	                             <h:outputText value="#{documentType.name}"></h:outputText>
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="#{message['document.extension.value.label']}" /></f:facet>
	                             <h:outputText value="#{documentType.value}"></h:outputText>
	                        </rich:column>
	                     
	                        <f:facet name="footer">
	                           								
								<a4j:commandLink styleClass="btn-gray fleft" value="Remove" action="#{addEditDocCatController.removeDocumentTypeFromList}" render="documentTypeGrid"  />
								    
								<a4j:commandLink styleClass="btn-gray fleft" value="Remove All" action="#{addEditDocCatController.removeAllDocumentTypeFromList}" render="documentTypeGrid"  />
								
							</f:facet>              
	                                                             
	                    
	                  </rich:dataTable>
								
						<br/> <br/> <br/>
						
							
							<div class="fright">
								<h:commandButton styleClass="btn-orange" value="Save"  action="#{addEditDocCatController.saveDocumentCategory}"/>
								<h:commandButton styleClass="btn-gray" value="Cancel" action="DocumentCategories" immediate="true" />										
																		
							</div>
							<div class="clear"></div>
						</h:form>
					</div>
                        
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
