<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
                       
            <ui:define name="title">Introduce Data Retention Job</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Repository Management /</a>
				<a href="#" class="main">Data Retention /</a>
				<a href="#"><h:outputText value="Create Retention Job" /> </a>
            </ui:define>
            
            <ui:define name="content">
 			<style>
				.rf-msgs-sum {
				    display: inline;				    
				    font-size:12px;
				    word-wrap:break-word;
				}

				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-pb-lbl{
				  padding-top:0;
				  padding-bottom: 1px;
				  line-height: 17px;
				}
				.rf-pb-rmng{
				  height: 15px;
				}
				
  			</style> 
              <h3>Basic Configuration</h3><hr />
              <h:form styleClass="common" id="addJobForm" prependId="false" >
              <div class="error">
              	<rich:messages/>
              </div>
					<table width="100%">
							<tr>	
								<td width="23%"><label>Name:</label></td>
								<td><h:inputText id="jobName"  value="#{delJobController.job.name}" size="22" maxlength="40" required="true" 
									validatorMessage="#{message['job.jobName.matches.invalid']}"	>
									<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
								</h:inputText></td>
							</tr>
							<tr>	
								<td><label>Description:</label></td>
								<td><h:inputText id="description"  value="#{delJobController.job.description}" size="22"  maxlength="200" validatorMessage="#{message['job.description.matches.invalid']}">
										<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)"/>
									</h:inputText></td>
							</tr>
							<tr style="display: none">	
								<td><label>Tags:</label></td>
								<td><h:inputText id="tag"  value="#{delJobController.job.tags}" size="22"  maxlength="200" validatorMessage="#{message['job.tags.matches.invalid']}">
										<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)"/>
									</h:inputText></td>
							</tr>							
							<tr>
								<td><label>Type:</label></td>
								<td>
									<h:panelGroup id="agentsList">
										<h:selectOneMenu id="withDynArch" value="#{delJobController.job.actionType}">
										   <f:selectItem  itemValue="RETENSION" itemLabel="Retention"/>
										   <f:ajax event="change" listener="#{delJobController.actionTypeChangeListener}" render="policyDiv agentType agentList sharePointGrid fileSystemGrid fsOptions activeArchivingGrid"></f:ajax>
										</h:selectOneMenu>
									</h:panelGroup>
								</td>
							</tr>
							<tr>	
								<td><label>Retention Policy:</label></td>
								<td>
									<h:panelGroup id="policyDiv" >
										<h:selectOneMenu id="policy" value="#{delJobController.job.policy.id}" disabled="#{delJobController.job.actionType eq 'DYNARCH'}" required="true" >
									     <f:selectItems value="#{policyController.allPolicies}" var="policy" itemLabel="#{policy.name}" itemValue="#{policy.id}"/>
									    </h:selectOneMenu>
								    </h:panelGroup>
								</td>
							</tr>
							<tr style="display: none">	
								<td><label>Agent Scope</label></td>
								<td><h:selectOneMenu id="agentType" value="#{delJobController.job.agent.type}" disabled="#{delJobController.enableSharePoint eq false or delJobController.job.actionType eq 'DYNARCH'}" >
								     
									  <f:selectItem  itemValue="FS" itemLabel="File System"/>
									  <f:selectItem  itemValue="SP" itemLabel="SharePoint"/>
									   <f:ajax event="change" execute="agentType" listener="#{delJobController.agentTypeChangeListener}" render="agentList sharePointGrid fileSystemGrid fsOptions"></f:ajax>
								    </h:selectOneMenu>
								
								</td>
							</tr>
							<tr style="display: none">	
								<td><label>Agent</label></td>
								<td>
								<h:panelGroup id="agentList">
								    <h:selectOneMenu value="#{delJobController.job.agent.id}"   rendered="#{delJobController.job.agent.type eq 'FS'}" >
								     <f:selectItems value="#{agentRegController.getAllFSAgents()}" var="agent" itemLabel="#{agent.name}" itemValue="#{agent.id}"/>
									 <f:ajax event="change" execute="agentType" listener="#{delJobController.agentSelectionChangeListener}" render="agentsList"></f:ajax>
								    </h:selectOneMenu>
								    <h:selectOneMenu value="#{delJobController.job.agent.id}" rendered="#{delJobController.job.agent.type eq 'SP'}"  disabled="#{not empty agentRegController.getAllSPAgents() and agentRegController.getAllSPAgents().size() eq 1}">
								     	<f:selectItems value="#{agentRegController.getAllSPAgents()}" var="agent" itemLabel="#{agent.name}" itemValue="#{agent.id}"/>
									 	<f:ajax event="change" execute="agentList" listener="#{delJobController.agentSelectionChangeListener}" render="sharePointGrid fileSystemGrid fsOptions agentsList"></f:ajax>
								    </h:selectOneMenu>
								   </h:panelGroup>
								</td>
							</tr>
						</table>
						<h:panelGroup id="fileSystemGrid" >
						<h:panelGroup layout="block" style="width: 100%; display:none" rendered="#{delJobController.showSPGrid eq false}">
							<h3>File System</h3><hr />
							
							<h:selectOneRadio  id="fsTypeRadio" value="#{delJobController.fileSystemType}" layout="lineDirection" style="border: none;" styleClass="stylizedRadio">
							   <f:selectItem itemValue="local" itemLabel="Local File System"/>
							   <f:selectItem itemValue="remote" itemLabel="Remote Share" />
							   <f:ajax event="change" execute="fsTypeRadio" render="localFSGrid remoteFSGrid"  listener="#{delJobController.fsTypeChangeListener}"></f:ajax>
							   
							</h:selectOneRadio>
													
							
							<h:panelGroup layout="block" id="localFSGrid" style="width: 100%;" >
							   <h:panelGrid  rendered="#{delJobController.fileSystemType eq 'local'}" columns="2"  width="100%">
								
									<h:column><label>Folder Path</label> </h:column>
										
										<h:column>
																	
											  <h:inputText  value="#{delJobController.localFSPath}" size="60"  id="localFSPath" />
											  <a4j:commandButton styleClass="btn-gray" value="Add" action="#{delJobController.addToLocalFSPaths}" render="pathsListBox,localFSPath" style="margin-left:3px" />
										    
										  
										</h:column>
										 
									<h:column></h:column>
										
										<h:column>
										  
										  <h:selectManyListbox   id="pathsListBox" style="border-top: 1px solid #d2d2d2;width:400px;height:100px;background: white;" size="5" >
										  	 <f:selectItems value="#{delJobController.localFSPathsList}" var="path"   itemValue="#{path}" itemLabel="#{path}"  />							  
										  </h:selectManyListbox>
										  
									   </h:column>	
									   							 
									<h:column></h:column>
									<h:column >
									      <h:panelGroup style="direction: rtl;padding-right: 100px">
										      
											  <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{delJobController.removeFromLocalFSPaths}" render="pathsListBox" style="margin-left:8px" />
									      </h:panelGroup>
									</h:column>
								
						      </h:panelGrid> 
						  </h:panelGroup> 	
						   
						  <h:panelGroup  id="remoteFSGrid" >
							  
							 <h:panelGrid rendered="#{delJobController.fileSystemType eq 'remote'}" columns="3" > 
								 <h:column>
								    Domain
								 </h:column>
								 
								 <h:column>
								    <h:inputText value="#{delJobController.remoteDomainName}" ></h:inputText>
								 </h:column>
								 <h:column />
								 
								 <h:column>
								    User Name*
								 </h:column>
								 
								 <h:column>
								   <h:inputText value="#{delJobController.remoteUserName}" ></h:inputText>
								 </h:column>
								 
								 <h:column />
								 
								 <h:column>
								    Password
								 </h:column>
								 
								 <h:column>
								   <h:inputSecret value="#{delJobController.remoteUserPassword}" redisplay="true" ></h:inputSecret>
								   <!--  <h:outputLabel value="Please avoid '@' in password" />-->
								 </h:column>
								 <h:column />
								 
								 
								 <h:column>
								    UNC*
								 </h:column>
								 
								 <h:column>
								  <h:panelGroup>
								     
								     <h:inputText label="remoteUNC" value="#{delJobController.remoteUNC}"  id="remoteUNC" ></h:inputText>								    
								     <a4j:commandButton styleClass="btn-gray" id="testUNCBtn" value="Test" rendered="false" action="#{delJobController.testUNC}"  render="uncMsg" style="margin-left:8px" />								      
								   </h:panelGroup>
								 </h:column>
								 <h:column />
								 <h:column>
								 	<h:outputText value="Original Drive Path*" rendered="#{delJobController.showActiveGrid eq true}"/>								    
								 </h:column>
								 <h:column>
								  <h:panelGroup rendered="#{delJobController.showActiveGrid eq true}">
								     <h:inputText label="drivePath" value="#{delJobController.drivePath}"  id="drivePath" ></h:inputText>
								   </h:panelGroup>
								 </h:column>
								 <h:column >
								    <h:panelGroup layout="block" id="uncMsg" styleClass="error">
						              	<rich:message for="remoteUNC" styleClass="error" />
						            </h:panelGroup>
								 </h:column>
												 
							</h:panelGrid>			
						  
						   <h:panelGrid columns="2"  rendered="#{delJobController.fileSystemType eq 'remote'}">
						 
						 	    <h:column>
								     <h:panelGroup>
								     	
									     <a4j:commandButton styleClass="btn-gray" value="Include" action="#{delJobController.addToRemotePaths}"  render="remotePathsListDiv remoteUNC confirmationGrid" status="ajaxStatus"  />
									     <a4j:status name="ajaxStatus">
								            <f:facet name="start">
								            	<i><h:outputText value="Processing, please wait ..." /></i>
								            </f:facet>
								          </a4j:status>
									     <br/>
									      <h:panelGroup id="remotePathsListDiv">
									      <rich:tooltip  followMouse="true" id="pathTooltip" target="remotePathsListBox" ><h:outputLabel id="includeLabel" value=""/></rich:tooltip>
									      <h:selectManyListbox   id="remotePathsListBox" style="margin-top:10px; margin-bottom:10px;width:400px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="5" 
									      onclick="document.getElementById('includeLabel').innerHTML=document.getElementById('remotePathsListBox').options[this.selectedIndex].value"  >
											  	 <f:selectItems value="#{delJobController.remotePathsList}" var="remotePath"   itemValue="#{remotePath}" itemLabel="#{remotePath}"   />
											  	 <!-- <rich:tooltip ><h:outputLabel id="includeLabel" value=""/></rich:tooltip>		-->					  
									      </h:selectManyListbox>
									      </h:panelGroup>
									     <br/>
									      <h:panelGroup style="direction: rtl;padding-right: 100px">
										     
											  <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{delJobController.removeFromRemotePaths}" render="remotePathsListBox" style="margin-left:8px" />
									      </h:panelGroup>
								     </h:panelGroup>
								 </h:column>
								
								 <h:column>
								     <h:panelGroup rendered="#{delJobController.showActiveGrid eq false}">
									     <a4j:commandButton styleClass="btn-gray" value="Exclude" action="#{delJobController.addToRemoteExPaths}" render="remoteExPathsListDiv remoteUNC"  />
									      <br/>
									      <h:panelGroup id="remoteExPathsListDiv" >
									      <rich:tooltip target="remoteExPathsListBox" ><h:outputLabel id="excludeLabel" value=""/></rich:tooltip>	
									      <h:selectManyListbox   id="remoteExPathsListBox" style="margin-top:10px; margin-bottom:10px; width:400px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="5" 
									      onclick="document.getElementById('excludeLabel').innerHTML=document.getElementById('remoteExPathsListBox').options[this.selectedIndex].value">
											  	 <f:selectItems value="#{delJobController.remoteExPathsList}" var="remoteExPath"   itemValue="#{remoteExPath}" itemLabel="#{remoteExPath}"  />
											  	 						  
									      </h:selectManyListbox>
								     	</h:panelGroup><br/>
								          <h:panelGroup style="direction: rtl;padding-right: 100px">
										      
											  <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{delJobController.removeFromRemoteExPaths}" render="remoteExPathsListBox" style="margin-left:8px" />
									      </h:panelGroup>
									      
								     </h:panelGroup>
								 </h:column>
						 					 
						 </h:panelGrid>
						   <h:selectOneRadio  value="#{delJobController.job.activeActionType}" layout="lineDirection" rendered="#{delJobController.fileSystemType eq 'remote' and delJobController.showActiveGrid eq true and delJobController.job.actionType ne 'PRINTARCH'}">
						     <f:selectItem itemValue="1" itemLabel="Archive only"/>
						     <f:selectItem itemValue="2" itemLabel="Archive &amp; Stub"/>
						     <f:selectItem itemValue="3" itemLabel="Archive &amp; Delete"/>
						   </h:selectOneRadio>
					</h:panelGroup>	 
				</h:panelGroup>	
				</h:panelGroup>
				<h:panelGroup  id="activeArchivingGrid" style="display:none">
					<h:panelGroup  layout="block" rendered="false">
						<h3>Active/Print Archiving</h3><hr />
							<h:panelGroup  id="remoteactiveArchGrid" >
							  
		
						  

						 
					</h:panelGroup>	
					</h:panelGroup>
				</h:panelGroup>
				<h:panelGroup  id="sharePointGrid" style="display:none">
				<h:panelGroup layout="block" style="width: 100%;" rendered="#{delJobController.showSPGrid eq true}" >
					<h3>Share Point</h3><hr />
					<table id="sitePath" width="100%">
						<h:panelGroup rendered="false">
						<tr>
						<td width="23%"><h:outputLabel value="Site Path" /> </td>
						<td width="77%">
								<h:selectOneMenu id="siteList" value="#{delJobController.job.spPath}"  style="width:425px;" >
										   <f:selectItems value="#{delJobController.siteList}" var="site" itemLabel="#{site}" itemValue="#{site}"/>
										   <f:ajax event="change"  execute="agentType" listener="#{delJobController.spSiteChangeListener}" render="tree spIncludedPathsListDiv"></f:ajax>
							    </h:selectOneMenu>
							</td>
						</tr>	
						</h:panelGroup>
					
					 <tr>
					 
					<td> </td>
					<td>
					<h:panelGrid id="libraryGrid" columns="2" >
						<h:column>
							<b><h:outputText  value="Sites/Libraries" /></b>
							<dl class="type-category" style="width: 420px;padding:0;">
								<h:panelGroup  layout="block" style="background-color:whitesmoke;height:23px;padding-left:10px;" rendered="false" >
									<h:selectBooleanCheckbox id="selectAll" value="#{delJobController.selectAllCheckBox}"><a4j:ajax event="change" limitRender="true"  execute="agentType" listener="#{delJobController.spLibrarySelectAllListener}"  oncomplete="addRemoveSelectedSPLib()" render="libraryGrid"></a4j:ajax></h:selectBooleanCheckbox>							
									<label>Select All</label>
								</h:panelGroup>
								<h:selectManyCheckbox value="#{delJobController.selectedLibraries}" layout="pageDirection"  style="padding-left:8px;" rendered="false">
									<f:selectItems value="#{delJobController.libraryList}" var="n"
	   			 						itemLabel="#{n}" itemValue="#{n}"  />
	   			 						<f:ajax event="click"  execute="agentType" listener="#{delJobController.spLibrarySelectListener}" render="libraryGrid"></f:ajax>
								</h:selectManyCheckbox>
								
								<h:inputHidden id="exportNodePath" value="#{delJobController.exportNodePath}"></h:inputHidden>
								<rich:tree id="tree"  nodeType="#{node.type}" var="node" value="#{delJobController.rootNodes}" toggleType="ajax"
						               selectionType="ajax" selectionChangeListener="#{delJobController.selectionChanged}" render="contentsGrid"> 
						             	<rich:treeNode  type="site" expanded="true" id="siteId" toggleListener="#{delJobController.spSiteToggled}"  onclick="#{delJobController.libraryList}" >
							               	<h:inputHidden id="sitePath" value="#{node.path}"></h:inputHidden>
							               	<h:inputHidden id="siteGuid" value="#{node.guid}"></h:inputHidden>
	         									<h:selectBooleanCheckbox value="#{node.selected}" rendered="false" >
						                       <a4j:ajax event="change" execute="agentType" listner="#{delJobController.librarySelected}" onbeforesubmit="addRemoveSelectedSPLib()" render="tree" ></a4j:ajax>
						                    </h:selectBooleanCheckbox>	
						               		<h:outputText value="#{node.name}"/>
						                </rich:treeNode>
						               <rich:treeNode type="library" expanded="true" id="libId" toggleListener="#{delJobController.spTreeNodeToggled}"  >
							               	<h:inputHidden id="nodePath" value="#{node.path}"></h:inputHidden>
							               	<h:inputHidden id="nodeGuid" value="#{node.guid}"></h:inputHidden>
          									<h:selectBooleanCheckbox value="#{node.selected}"  >
						                       <a4j:ajax event="change" execute="agentType" listner="#{delJobController.librarySelected}" oncomplete="addRemoveSelectedSPLib()" render="tree spIncludedPathsListDiv" limitRender="true" disabled="true" ></a4j:ajax>
					                        <a4j:ajax event="change" listener="#{delJobController.librarySelected}" onbeforesubmit="addRemoveSelectedSPLib()" render="libraryGrid" limitRender="true"></a4j:ajax>
						                    </h:selectBooleanCheckbox>	
						               		<h:outputText value="#{node.name}"/>
						                </rich:treeNode>
						                
							   </rich:tree>
							</dl>
									<h:panelGroup id ="spIncludedPaths">								     	
									     
									     <br/>
									      <h:panelGroup id="spIncludedPathsListDiv">
								     
									      <h:selectManyListbox   id="spIncludedPathsListBox" style="margin-top:10px; margin-bottom:10px;width:420px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="5" 
									       >
											  	 <f:selectItems value="#{delJobController.selectedLibraries}" var="remotePath"   itemValue="#{remotePath}" itemLabel="#{remotePath}"   />
											  	 <!-- <rich:tooltip ><h:outputLabel id="includeLabel" value=""/></rich:tooltip>		-->					  
									      </h:selectManyListbox>
									        <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{delJobController.removeFromSPLibPaths}" render="spIncludedPathsListDiv sharePointGrid" style="margin-left:8px" />
									      </h:panelGroup>
									     
									      <h:panelGroup style="direction: rtl;padding-right: 100px">
										     
											  <a4j:commandButton rendered="false" styleClass="btn-gray" value="Remove" action="#{delJobController.removeFromRemotePaths}" render="remotePathsListBox" style="margin-left:8px" />
									      </h:panelGroup>
								     </h:panelGroup>				                
						
						</h:column>
						<h:column rendered="#{delJobController.siteList eq null}">
							                      
                        <p style="color: red;font-size: 14px;font-weight: bold; margin-left:5px;margin-right: 50px;">
                          SharePoint is not configured !
                          </p>
                      
						</h:column>
						<!-- <h:column>
						<dl class="type-category">
						<rich:tree id="tree"  nodeType="#{node.type}" var="node" value="#{delJobController.rootNodes}" toggleType="ajax"
										                selectionType="ajax"  >
							<rich:treeNode type="DocumentType" expanded="true" id="documentCategoryId" >
			                    <h:selectBooleanCheckbox value="#{node.selected}"  >
			                       
			                    </h:selectBooleanCheckbox>		
			                     #{node.name}
			                </rich:treeNode>
			                </rich:tree>
			                </dl>
						</h:column>-->
					</h:panelGrid>
					</td>
					<td valign="top">
					<h:panelGrid id="contentsGrid" columns="2" >
						<h:column>
							<b><h:outputText  value="Content Types" /></b>						 
							<dl class="type-category" style="width: 420px;padding:0;">
								<h:selectManyCheckbox value="#{delJobController.selectedContentTypes}" layout="pageDirection"  style="padding-left:8px;" rendered="true">
									<f:selectItems value="#{delJobController.contentTypeList}" var="n"
	   			 						itemLabel="#{n}" itemValue="#{n}"  />
	   			 						<a4j:ajax event="change" listener="#{delJobController.spSiteContentTypeSelectListener}" limitRender="false"></a4j:ajax>
								</h:selectManyCheckbox>
							</dl>
						</h:column> 
						</h:panelGrid>
					</td>
					</tr>
				   </table>
				</h:panelGroup>
				<br/>  
				</h:panelGroup>
					<h:panelGroup id="fsOptions" style="display:none;">
						<h:panelGroup rendered="#{delJobController.showSPGrid eq true}">
					   		<div id="divVersions">
			                  <table id="tblProcessCurrentPublishedVersion">
			                    <tr>
			                      <td><h:selectBooleanCheckbox name="processCurrentPublishedVersion" value="#{delJobController.job.processCurrentPublishedVersion}" />
			                        <label for="processCurrentPublishedVersion">Current Published Version</label></td>
			                    </tr>
			                  </table>
			                  <table id="tblProcessLegacyPublishedVersion">
			                    <tr>
			                      <td> <h:selectBooleanCheckbox name="processLegacyPublishedVersion" value="#{delJobController.job.processLegacyPublishedVersion}" />
			                        <label  for="processLegacyPublishedVersion">Major Version</label></td>
			                    </tr>
			                  </table>
			                  <table id="tblProcessLegacyDraftVersion">
			                    <tr>
			                      <td> <h:selectBooleanCheckbox name="processLegacyDraftVersion" value="#{delJobController.job.processLegacyDraftVersion}" />
			                        <label for="processLegacyDraftVersion">Minor Version</label></td>
			                    </tr>
			                  </table>
			                </div>
			           </h:panelGroup>
					   <h:panelGrid columns="2" rendered="#{delJobController.showSPGrid eq false}">
					   
							 <h:column>
							   <h:panelGroup>
							        <h:selectBooleanCheckbox value="#{delJobController.job.processReadOnly}" title="Read Only" id="processReadOnly" />
							        <h:outputLabel value="Read Only" for="processReadOnly" ></h:outputLabel>
							     </h:panelGroup>
							 </h:column>
							 
							 <h:column />
							 
							
							
							<h:column>
							   <h:panelGroup>
							        <h:selectBooleanCheckbox value="#{delJobController.job.processArchive}" title="Archive" id="processArchive" />
							        <h:outputLabel value="Archive" for="processArchive" ></h:outputLabel>
							     </h:panelGroup>
							 </h:column>
							 
							 <h:column />
							 
							 
							 <h:column>
							   <h:panelGroup>
							        <h:selectBooleanCheckbox value="#{delJobController.job.processHidden}" title="Hidden" id="processHidden" />
							        <h:outputLabel value="Hidden" for="processHidden" ></h:outputLabel>
							     </h:panelGroup>
							 </h:column>
							 
							 <h:column />
					   
					   </h:panelGrid>
					   </h:panelGroup>
					   		
						<h3>Scheduling</h3><hr />
						   
						   <h:selectOneRadio  value="#{delJobController.job.isScheduled}" layout="pageDirection" onclick="toggleRunNowFunc(this.value);">
						     <f:selectItem itemValue="false" itemLabel="Run Now"/><br/>
						     <f:selectItem itemValue="true" itemLabel="Schedule"/>
						   </h:selectOneRadio>
						    <br/>
				              <br/>
				              <div id="execTimeStartDiv" style="display: none;">
				                <label for="execTimeStart"><h:outputLabel value="Execution Time: " /></label>
				                <rich:calendar value="#{delJobController.job.execTimeStartDate}" datePattern="d/M/yy HH:mm" name="execTimeStart" />
				                
				                <!-- br />
				                <br/>
						        <h:selectBooleanCheckbox value="#{delJobController.job.isScheduled}" title="ReRun after each Interval" id="isScheduled" />
						        <h:outputLabel value="ReRun after each Interval" for="isScheduled" ></h:outputLabel -->
							    
							    <br />
							    <br />
							    <label for="interval"><h:outputLabel value="Select Interval: " /></label>
							    <h:selectOneMenu id="interval" value="#{delJobController.job.executionInterval}">
									<f:selectItem itemLabel="ReRun Daily"	itemValue="1"></f:selectItem>
									<f:selectItem itemLabel="ReRun Weekly"	itemValue="7"></f:selectItem>
									<f:selectItem itemLabel="ReRun Monthly"	itemValue="30"></f:selectItem>
									<f:selectItem itemLabel="ReRun Quarterly"	itemValue="120"></f:selectItem>
									<f:selectItem itemLabel="ReRun Yearly"	itemValue="365"></f:selectItem>
								</h:selectOneMenu>
								<br />
								
				              </div>
						<table>						
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fleft">			
										
										<!-- <h:commandButton value="Create"  action="" styleClass="btn-orange" />  -->
										<a4j:commandButton styleClass="btn-gray " actionListener="#{delJobController.preSave}" value="Create" oncomplete="if(#{empty facesContext.maximumSeverity}){#{rich:component('popupInfo')}.show();}" 
											render="confirmationGrid"  immediate="false" >
										</a4j:commandButton>
									    <h:outputText value="&#160; &#160;"></h:outputText>
									    <h:commandButton value="Cancel"  action="Jobs" styleClass="btn-gray" immediate="true" />
										 		
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
					 
					 <!-- pop-up to 8	Show job summary before creation-->
					 <rich:popupPanel modal="true" autosized="true" resizeable="false" id="popupInfo" domElementAttachment="form" width="900">
					 	<f:facet name="header">
				            <h:outputText value="Job Creation Summary" />
				        </f:facet>
				        <f:facet name="controls">
				            <h:outputLink value="#" onclick="#{rich:component('popupInfo')}.hide(); return false;">
				                X
				            </h:outputLink>
				        </f:facet>
				        <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>
					 	<h:panelGroup id="confirmationGrid">
					 	
					 	
					 	<table class="stylized" style="width:700;">
					 		<tbody>
							<tr class="odd">
								<td width="200">Job Name</td>
								<td width="700">#{delJobController.job.name}</td>
							</tr>
							<h:panelGroup rendered="#{delJobController.job.description.length()>0}" >
							<tr class="even">
								<td><h:outputText value="Description" rendered="#{delJobController.job.description.length()>0}" /></td>
								<td><h:outputText value="#{delJobController.job.description}" rendered="#{delJobController.job.description.length()>0}" /></td>
							</tr>
							</h:panelGroup>		
							<h:panelGroup rendered="#{delJobController.job.description.length() eq 0}" >					
							<tr class="even">
								<td>Action</td>
								<td> <h:outputText value="Data Retention" rendered="#{delJobController.job.actionType eq 'RETENSION'}"/>
								</td>
							</tr>
							<tr class="odd">
								<td>Policy</td>
								<td>#{delJobController.job.policy.name}</td>
							</tr>
							
							<tr class="even" style="display:none">
								<td>Agent Name</td>
								<td>#{delJobController.job.agent.name}</td>
							</tr>
							
							<tr class="odd" style="display:none">
								<td>Agent Scope</td>
								<td><h:outputText value="File System" rendered="#{delJobController.job.agent.type eq 'FS'}"/>
								<h:outputText value="Share Point" rendered="#{delJobController.job.agent.type eq 'SP'}"/></td>
							</tr>
							<!-- <tr class="odd">
								<td>Execution Time</td>
								<td><h:outputText value="#{delJobController.job.execTimeStart}" /></td>
							</tr>	-->						
							<tr class="even" style="display:none">
								<td nowrap="nowrap"><h:outputText value="Included Paths"  rendered="#{delJobController.showSPGrid eq false}"/> <h:outputText value="Included Libs"  rendered="#{delJobController.showSPGrid eq true}"/></td>
								<td nowrap="nowrap" width="200">
								<DIV style="width:650px;height:100px;overflow: scroll;font-family: verdana,helvetica,arial,sans-serif;">
									<rich:list id="incPathssGrid1" value="#{delJobController.remotePathsList}" var="exPath" type="ordered" style="word-wrap:break-word;line-height: 17px;" rendered="#{delJobController.showSPGrid eq false}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>                         			
	                         		</rich:list>
	                         		<rich:list  id="incSPPathssGrid1" value="#{delJobController.selectedLibraries}" var="exPath" style="word-wrap:break-word;" rendered="#{delJobController.showSPGrid eq true}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
	                         			 <br/>
	                         			 <h:outputLabel value="Content Types:"/>
	                         			 <h:outputText value="#{delJobController.getContentTypesForPath(exPath)}" style="word-wrap:break-word;"></h:outputText>
	                         		</rich:list>
                         		</DIV>
                         	</td>
							</tr>
							<h:panelGroup rendered="#{delJobController.remoteExPathsList.size()>0}" style="display:none">
								<tr class="odd">
									<td nowrap="nowrap">Excluded Paths</td>
									<td nowrap="nowrap">
									<DIV style="width:650px;height:100px;overflow: scroll;">
										<rich:list  id="excPathssGrid1" value="#{delJobController.remoteExPathsList}" var="exPath" style="word-wrap:break-word;" >
		                         			<h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
		                         		</rich:list>
	                         		</DIV>
	                         	</td>
								</tr>
							</h:panelGroup>							
							</h:panelGroup>							
							<h:panelGroup rendered="#{delJobController.job.description.length() ne 0}" >					
							<tr class="odd">
								<td>Action </td>
								<td> <h:outputText value="Data Retention" rendered="#{delJobController.job.actionType eq 'RETENSION'}"/>
								</td>
							</tr>							
							<tr class="even">
								<td>Policy</td>
								<td>#{delJobController.job.policy.name}</td>
							</tr>
							
							<tr class="odd" style="display:none">
								<td>Agent Name</td>
								<td>#{delJobController.job.agent.name}</td>
							</tr>
							
							<tr class="even" style="display:none">
								<td>Agent Scope</td>
								<td><h:outputText value="File System" rendered="#{delJobController.job.agent.type eq 'FS'}"/>
								<h:outputText value="Share Point" rendered="#{delJobController.job.agent.type eq 'SP'}"/></td>
							</tr>
							<!-- <tr class="odd">
								<td>Execution Time</td>
								<td><h:outputText value="#{delJobController.job.execTimeStart}" /></td>
							</tr>	-->						
							<tr class="odd" style="display:none">
								<td nowrap="nowrap"> <h:outputText value="Included Paths"  rendered="#{delJobController.showSPGrid eq false}"/> <h:outputText value="Included Libs"  rendered="#{delJobController.showSPGrid eq true}"/></td>
								<td nowrap="nowrap" width="200">
								<DIV style="width:650px;height:100px;overflow: scroll;font-family: verdana,helvetica,arial,sans-serif;">
									<rich:list id="incPathssGrid" value="#{delJobController.remotePathsList}" var="exPath" type="ordered" style="word-wrap:break-word;line-height: 17px;" rendered="#{delJobController.showSPGrid eq false}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>                         			
	                         		</rich:list>
	                         		<rich:list  id="incSPPathssGrid" value="#{delJobController.selectedLibraries}" var="exPath" style="word-wrap:break-word;font-family: verdana,helvetica,arial,sans-serif;" rendered="#{delJobController.showSPGrid eq true}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
	                         			 <br/>	                         			 
	                         			 <h:outputLabel value="Content Types:"/>
	                         			 <h:outputText value="#{delJobController.getContentTypesForPath(exPath)}" style="word-wrap:break-word;"></h:outputText>
	                         		</rich:list>
                         		</DIV>
                         	</td>
							</tr>
							<h:panelGroup rendered="#{delJobController.remoteExPathsList.size()>0}" style="display:none">
								<tr class="even">
									<td nowrap="nowrap">Excluded Paths</td>
									<td nowrap="nowrap">
									<DIV style="width:650px;height:100px;overflow: scroll;">
										<rich:list  id="excPathssGrid" value="#{delJobController.remoteExPathsList}" var="exPath" style="word-wrap:break-word;" >
		                         			<h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
		                         		</rich:list>
	                         		</DIV>
	                         	</td>
								</tr>
							</h:panelGroup>
							</h:panelGroup>
						</tbody>
						<tfoot>
								
						</tfoot>
					</table>
					    <h:panelGroup layout="block" style="margin-top: 2px; width: 400px;">
						<h:commandButton value="OK"  action="#{delJobController.save}" styleClass="btn-orange"  />
						<h:commandButton value="Cancel"  onclick="#{rich:component('popupInfo')}.hide(); return false;" styleClass="btn-orange"  />
					    </h:panelGroup>	 
					 		
					 		
					 	</h:panelGroup>
					 	
					 	
					 </rich:popupPanel>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
