<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
        
        <ui:composition template="defaultTemplate.xhtml">
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{addEditDocCatController.documentCategoryId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{addEditDocCatController.populateDocumentCategory}"  />
            </f:metadata>
           
                     
            <ui:define name="title">Groups and Data Guardians</ui:define>
           
            <ui:define name="breadcrumbs">
                <a class="main" href="#">Configuration /</a>
				<a class="main" href="#">LDAP Groups /</a>
				<a href="#"> Groups and Data Guardians</a>
            </ui:define>
            
            <ui:define name="content">
                
                 <div style="width: 88%;">
						<h:form styleClass="common" prependId="false">
						<div class="error">
							<h:messages/>
						</div>
							

							
							<h3>Groups </h3><hr/>
							<table width="85%"><tbody>
								<tr>
									<td width="36%" colspan="1"><h:outputLabel value="Enable CIFS File Sharing"/></td>
									<td colspan="3">
										<h:selectBooleanCheckbox value="#{groupsGuardianController.enableCifsFileSharing}" >
											<a4j:ajax listener="#{groupsGuardianController.enableDisableFileSharing}"></a4j:ajax>
										</h:selectBooleanCheckbox>
									</td>
								</tr>
								<tr>
									<td width="29%"><label>Restrict Group</label></td>
									<td width="30%"><h:selectBooleanCheckbox value="#{groupsGuardianController.restrictGroup}"></h:selectBooleanCheckbox></td>
									<td width="6%"></td>
									<td width="29%"><label>Enable Transcript</label></td>
									<td width="30%"><h:selectBooleanCheckbox value="#{groupsGuardianController.enableTranscript}"></h:selectBooleanCheckbox></td>
								</tr>
								<tr>
									<td width="29%"><label>Group Name</label></td>
									<td width="30%"><h:inputText rendered="false" value="#{groupsGuardianController.groupGuardian.groupName}" id="documentType" size="30"/>
														<rich:autocomplete mode="ajax" minChars="2" autocompleteMethod="#{groupsGuardianController.autocomplete}"  value="#{groupsGuardianController.groupGuardian.groupName}" />											</td>
									
									<td width="4%"></td>
									<td width="17%"><label>Data Guardian</label></td>
									<td width="30%"><h:inputText value="#{groupsGuardianController.groupGuardian.groupGuardian}" id="extension" size="30" /></td>
								</tr>
							</tbody></table>
							
							<a4j:commandLink  action="#{groupsGuardianController.addGroupToList}" render="groupGuardianGrid,documentType,value" styleClass="btn-gray fright" value="Add"></a4j:commandLink>
							<div class="clear"></div>
						
						
						<br/>
						
						<div class="error" style="padding-bottom: 5px;padding-top:5px;">
							<rich:messages/>
						</div>
						
						
						<rich:dataTable value="#{groupsGuardianController.groupGuardianList}" id="groupGuardianGrid" var="groupGuardian" styleClass="stylized">
	                                     
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="" /></f:facet>
	                             <h:selectBooleanCheckbox value="#{groupGuardian.selected}"></h:selectBooleanCheckbox>
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="Group Name" /></f:facet>
	                             <h:outputText value="#{groupGuardian.groupName}"></h:outputText>
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="Data Guardian" /></f:facet>
	                             <h:outputText value="#{groupGuardian.groupGuardian}"></h:outputText>
	                        </rich:column>
	                        
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="Restrict Group" /></f:facet>
	                             <h:outputText value="#{groupGuardian.restrictGroup eq 1? 'Yes':'No'}"></h:outputText>
	                        </rich:column>
	                        
	                       	<rich:column >
	                             <f:facet name="header"> <h:outputText value="Transcript" /></f:facet>
	                             <h:outputText value="#{groupGuardian.enableTranscript eq 1? 'Yes':'No'}"></h:outputText>
	                        </rich:column>
	                     
	                        <f:facet name="footer">
	                           								
								<a4j:commandLink styleClass="btn-gray fleft" value="Remove" action="#{groupsGuardianController.removeGroupGuardianFromList}" render="groupGuardianGrid"  />
								    
								<a4j:commandLink styleClass="btn-gray fleft" value="Remove All" rendered="false" action="#{groupsGuardianController.removeAllDocumentTypeFromList}" render="documentTypeGrid"  />
								
							</f:facet>              
	                                                             
	                    
	                  </rich:dataTable>
								
						<br/> <br/> <br/>
						
							
							<div class="fright" style="display:none;">
								<h:commandButton styleClass="btn-orange" value="Save"  action="#{addEditDocCatController.saveDocumentCategory}"/>
								<h:commandButton styleClass="btn-gray" value="Cancel" action="DocumentCategories" immediate="true" />										
																		
							</div>
							<div class="clear"></div>
						</h:form>
					</div>
                        
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
