<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
                       
            <ui:define name="title">Agent Registration</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Agent Registration /</a>
				<a href="#"><h:outputText value="Create Agent" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.agent.add']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
 			<style>
				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				
  			</style>             
              <h:form styleClass="common" prependId="false">
             <div class="error">             
               	<rich:messages/>
              </div>
					<table width="700">
							<tr>	 
								<td width="23%"><label>#{message['job.basicConfigurations.name.label']}</label>
								<!--<label> Name:</label>-->
								</td>
								<td><h:inputText id="name" size="22" maxlength="40"  label="domain" value="#{indexingJobController.job.name}"  
								required="true">
								<!-- <f:validateRegex pattern="((?!.*\d)(?=.*[@#$%]).{6,20})"/>-->									
								</h:inputText></td>
							</tr>
							<tr>	
								<td><label>#{message['job.basicConfigurations.agent.label']}</label></td>
								<td>
								<h:panelGroup id="agentList">
								    <h:selectOneMenu value="#{indexingJobController.job.agent.id}"   rendered="#{indexingJobController.job.agent.type eq 'FS'}" >
								     <f:selectItems value="#{agentRegController.getAllFSAgents()}" var="agent" itemLabel="#{agent.displayName}" itemValue="#{agent.id}"/>
									 <f:ajax event="change" listener="#{indexingJobController.agentSelectionChangeListener}" ></f:ajax>
								    </h:selectOneMenu>
								   </h:panelGroup>
								</td>
							</tr>	
							<tr>	 
								<td width="23%"><label>#{message['job.fileSystem.remoteDomainName.label']}</label>
								<!--<label> Name:</label>-->
								</td>
								<td><h:inputText id="domain" size="22" maxlength="40"  label="domain" value="#{indexingJobController.remoteDomainName}"  
								required="true">
								<!-- <f:validateRegex pattern="((?!.*\d)(?=.*[@#$%]).{6,20})"/>-->
									
								</h:inputText></td>
							</tr>
							<tr>	 
								<td width="23%"><label>#{message['job.fileSystem.remoteUserName.label']}</label>
								<!--<label> Name:</label>-->
								</td>
								<td><h:inputText id="username" size="22" maxlength="40"  label="username"  value="#{indexingJobController.remoteUserName}"
								required="true"	>
								<!-- <f:validateRegex pattern="((?!.*\d)(?=.*[@#$%]).{6,20})"/>-->									
								</h:inputText></td>
							</tr>							
							<tr>	 
								<td width="23%"><label>#{message['job.fileSystem.remoteUserPassword.label']}</label>
								<!--<label> Name:</label>-->
								</td>
								<td><h:inputSecret id="password" size="22" maxlength="40"  label="password"  value="#{indexingJobController.remoteUserPassword}"
								required="true"	>
								<!-- <f:validateRegex pattern="((?!.*\d)(?=.*[@#$%]).{6,20})"/>-->
									
								</h:inputSecret></td>
							</tr>		
							<tr>	 
								<td width="23%"><label>#{message['job.fileSystem.remoteUNC.label']}</label>
								<!--<label> Name:</label>-->
								</td>
								<td><h:inputText id="unc" size="22" maxlength="40"  label="remoteUNC"  value="#{indexingJobController.remoteUNC}"
								required="true"	>

								</h:inputText></td>
							</tr>
							<tr>	 
								<td width="23%"><label>Index</label>
								<!--<label> Name:</label>-->
								</td>
								<td>
									<h:selectOneRadio value="#{indexingJobController.indexingType}">
										<f:selectItem itemLabel="File Metadata" itemValue="1"/>
										<f:selectItem itemLabel="File Metadata &amp; content" itemValue="2" />
										<f:ajax event="change" render="documentTypes1 documentTypes2"></f:ajax>
									</h:selectOneRadio>
								</td>
							</tr>

									<tr>	 
																
										<td width="23%">
											<h:panelGroup id="documentTypes1">
												<h:panelGroup rendered="#{indexingJobController.indexingType eq '2'}">
													Document Types
												</h:panelGroup>
											</h:panelGroup>
										<!--<label> Name:</label>-->
										</td>
										<td>

											<h:panelGroup id="documentTypes2">											
												<h:panelGroup rendered="#{indexingJobController.indexingType eq '2'}">
													<h:selectBooleanCheckbox value="#{indexingJobController.selectAll}" > 
														<f:ajax event="change" render="documentTypes2" listener="#{indexingJobController.selectAllChangeListener}"></f:ajax>
													</h:selectBooleanCheckbox> <h:outputLabel value="Select ALL"/>
													<h:selectManyCheckbox value="#{indexingJobController.docTypes}" layout="pageDirection">
														<f:selectItem itemValue="pdf" itemLabel="Adobe PDF" />
   														<f:selectItem itemValue="txt" itemLabel="Text Files" />
   														<f:selectItem itemValue="doc" itemLabel="MS Word Documents (.doc)"/>
														<f:selectItem itemValue="docx" itemLabel="MS Word Documents (.docx)"/> 
														<f:selectItem itemValue="ppt" itemLabel="MS Power Point (.ppt)"/>
														<f:selectItem itemValue="pptx" itemLabel="MS Power Point (.pptx)"/>
														<f:selectItem itemValue="xls" itemLabel=" MS Excel (.xls)"/>
														<f:selectItem itemValue="xlsx" itemLabel=" MS Excel (.xlsx)"/>
													</h:selectManyCheckbox>
											</h:panelGroup>
										</h:panelGroup>
										</td>
										
																		
									</tr>

							<tr>
								<td>
								<!-- <h:commandButton value="Create"  action="" styleClass="btn-orange" />  -->
										<a4j:commandButton styleClass="btn-gray " actionListener="#{indexingJobController.save}" value="Create" oncomplete="if(#{empty facesContext.maximumSeverity}){#{rich:component('popupInfo')}.show();}" 
											immediate="false" >
										</a4j:commandButton>
									    <h:outputText value="&#160; &#160;"></h:outputText>
									    </td><td>
									    <h:commandButton value="Cancel"  action="Jobs" styleClass="btn-gray" immediate="true" />
								</td>
						</tr>
					 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	

	