<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
                       
            <ui:define name="title">Add Job</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Job Management /</a>
				<a href="#"><h:outputText value="Create Job" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.job.add']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
 			<style>
				.rf-msgs-sum {
				    display: inline;				    
				    font-size:12px;
				    word-wrap:break-word;
				}

				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-pb-lbl{
				  padding-top:0;
				  padding-bottom: 1px;
				  line-height: 17px;
				}
				.rf-pb-rmng{
				  height: 15px;
				}
				.col1{
					width: 200px;
				}
				.col2{
					width: 500px;
				}
				
  			</style>
  				<h:panelGroup  layout="block" rendered="#{jobController.activeLicense eq false}">
              		<h:panelGrid columns="1" >
					   <h:column>
					      <h:outputLabel value="Activated"  rendered="#{jobController.activeLicense eq true}"></h:outputLabel>
					       <h:outputLabel value="Your Sharearchiver License has Expired. Please contact Sharearchiver support"  rendered="#{jobController.activeLicense eq false}" style="color:red;font-weight: bold;"/>
					   </h:column>					   					   					
					</h:panelGrid>
              	</h:panelGroup> 
              <h3>#{message['job.basicConfigurations.heading']}</h3><hr />
              <h:form styleClass="common" id="addJobForm" prependId="false" >
              <div class="error">
              	<rich:messages/>
              </div>
					<table width="100%">
							<tr>	
								<td width="23%"><label>#{message['job.basicConfigurations.name.label']}</label></td>
								<td><h:inputText id="jobName"  value="#{jobController.job.name}" size="22" maxlength="40" required="true" 
									validatorMessage="#{message['job.jobName.matches.invalid']}"	>
									<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
								</h:inputText></td>
							</tr>
							<tr>	
								<td><label>#{message['job.basicConfigurations.description.label']}</label></td>
								<td><h:inputText id="description"  value="#{jobController.job.description}" size="22"  maxlength="200" validatorMessage="#{message['job.description.matches.invalid']}">
										<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)"/>
									</h:inputText></td>
							</tr>				
							<tr>
								<td><label>#{message['job.basicConfigurations.actionType.label']}</label></td>
								<td>
									<h:panelGroup id="agentsList">
										<h:selectOneMenu id="withDynArch" value="#{jobController.job.actionType}" rendered="#{ jobController.enableSharePoint eq true and not empty agentRegController.getAllSPAgents() and jobController.enableActiveArchiving eq true}" >
										   <f:selectItem  itemValue="ARCHIVE" itemLabel="Archive"/>
										   <f:selectItem  itemValue="STUB" itemLabel="Archive &amp; Stub"/>
										   <f:selectItem  itemValue="WITHOUTSTUB" itemLabel="Archive &amp; Delete"/>
										   <f:selectItem  itemValue="DYNARCH" itemLabel="Dynamic Archiving"/>
										   <f:selectItem  itemValue="ACTIVEARCH" itemLabel="Active Archiving" itemDisabled="#{jobController.enableActiveArchiving eq false}"/>
										   <f:selectItem  itemValue="PRINTARCH" itemLabel="Print Archiving" itemDisabled="#{jobController.enableActiveArchiving eq false}" />
										   <f:selectItem  itemValue="EVALUATE" itemLabel="Evaluate"/>										   						   
										   <f:ajax event="change" listener="#{jobController.actionTypeChangeListener}" render="policyDiv agentType agentList sharePointGrid fileSystemGrid fsOptions activeArchivingGrid tagsDiv1 tagsDiv2 tagsDiv3 tagsDiv4"></f:ajax>
										</h:selectOneMenu>
										<h:selectOneMenu id="withoutDynArch" value="#{jobController.job.actionType}" rendered="#{(jobController.enableSharePoint eq false or  empty agentRegController.getAllSPAgents()) and jobController.enableActiveArchiving eq true}" >
										   <f:selectItem  itemValue="ARCHIVE" itemLabel="Archive"/>
										   <f:selectItem  itemValue="STUB" itemLabel="Archive &amp; Stub"/>	
										   <f:selectItem  itemValue="WITHOUTSTUB" itemLabel="Archive &amp; Delete"/>
										   <f:selectItem  itemValue="PRINTARCH" itemLabel="Print Archiving" itemDisabled="#{jobController.enableActiveArchiving eq false}"/>
										   <f:selectItem  itemValue="ACTIVEARCH" itemLabel="Active Archiving" itemDisabled="#{jobController.enableActiveArchiving eq false}"/>
										   <f:selectItem  itemValue="EVALUATE" itemLabel="Evaluate"/>										   
										   <f:ajax event="change" listener="#{jobController.actionTypeChangeListener}" render="policyDiv agentType agentList sharePointGrid fileSystemGrid fsOptions activeArchivingGrid tagsDiv1 tagsDiv2 tagsDiv3 tagsDiv4"></f:ajax>
										</h:selectOneMenu>
										<h:selectOneMenu id="withActiveArch" value="#{jobController.job.actionType}" rendered="#{ jobController.enableSharePoint eq true and not empty agentRegController.getAllSPAgents() and jobController.enableActiveArchiving eq false}" >
										   <f:selectItem  itemValue="ARCHIVE" itemLabel="Archive"/>
										   <f:selectItem  itemValue="STUB" itemLabel="Archive &amp; Stub"/>
										   <f:selectItem  itemValue="WITHOUTSTUB" itemLabel="Archive &amp; Delete"/>
										   <f:selectItem  itemValue="DYNARCH" itemLabel="Dynamic Archiving"/>
										   <f:selectItem  itemValue="EVALUATE" itemLabel="Evaluate"/>
										   <f:selectItem  itemValue="INDEXING" itemLabel="Analysis"/>		
										   <f:selectItem  itemValue="RESTORE" itemLabel="Restore by Stubs"/>							   
										   <f:ajax event="change" listener="#{jobController.actionTypeChangeListener}" render="policyDiv agentType agentList sharePointGrid fileSystemGrid fsOptions activeArchivingGrid tagsDiv1 tagsDiv2 tagsDiv3 tagsDiv4"></f:ajax>
										</h:selectOneMenu>
										<h:selectOneMenu id="withoutActiveArch" value="#{jobController.job.actionType}" rendered="#{(jobController.enableSharePoint eq false or  empty agentRegController.getAllSPAgents()) and jobController.enableActiveArchiving eq false}" >
										   <f:selectItem  itemValue="ARCHIVE" itemLabel="Archive"/>
										   <f:selectItem  itemValue="STUB" itemLabel="Archive &amp; Stub"/>	
										   <f:selectItem  itemValue="WITHOUTSTUB" itemLabel="Archive &amp; Delete"/>										   
										   <f:selectItem  itemValue="EVALUATE" itemLabel="Evaluate"/>
										   <f:selectItem  itemValue="INDEXING" itemLabel="Analysis"/>
										   <f:selectItem  itemValue="RESTORE" itemLabel="Restore by Stubs"/>
										   <f:ajax event="change" listener="#{jobController.actionTypeChangeListener}" render="policyDiv agentType agentList sharePointGrid fileSystemGrid fsOptions activeArchivingGrid tagsDiv1 tagsDiv2 tagsDiv3 tagsDiv4"></f:ajax>
										</h:selectOneMenu>
									</h:panelGroup>
								</td>
							</tr>
							<tr>	
								<td><label>#{message['job.basicConfigurations.policy.label']}</label></td>
								<td>
									<h:panelGroup id="policyDiv" >
										<h:selectOneMenu id="policy" value="#{jobController.job.policy.id}" disabled="#{jobController.job.actionType eq 'DYNARCH' or jobController.job.actionType eq 'RESTORE'}" required="true" >
									     <f:selectItems value="#{policyController.allPolicies}" var="policy" itemLabel="#{policy.name}" itemValue="#{policy.id}"/>
									     <f:ajax event="change" listener="#{jobController.policyChangeListener}" render="" ></f:ajax>
									    </h:selectOneMenu>
								    </h:panelGroup>
								</td>
							</tr>
							<tr style="display: none;">	
								<td><label>Agent Scope</label></td>
								<td><h:selectOneMenu id="agentType" value="#{jobController.job.agent.type}" disabled="#{jobController.enableSharePoint eq false or jobController.job.actionType eq 'DYNARCH'}" >
								     
									  <f:selectItem  itemValue="FS" itemLabel="File System"/>
									  <f:selectItem  itemValue="SP" itemLabel="SharePoint"/>
									   <f:ajax event="change" execute="agentType" listener="#{jobController.agentTypeChangeListener}" render="agentList sharePointGrid fileSystemGrid fsOptions"></f:ajax>
								    </h:selectOneMenu>
								
								</td>
							</tr>
							<tr>	
								<td><label>#{message['job.basicConfigurations.agent.label']}</label></td>
								<td>
								<h:panelGroup id="agentList">
								    <h:selectOneMenu value="#{jobController.job.agent.id}"   rendered="#{jobController.job.agent.type eq 'FS'}" >
								     <f:selectItems value="#{agentRegController.getAllFSAgents()}" var="agent" itemLabel="#{agent.displayName}" itemValue="#{agent.id}"/>
									 <f:ajax event="change" execute="agentType" listener="#{jobController.agentSelectionChangeListener}" render="agentsList"></f:ajax>
								    </h:selectOneMenu>
								    <h:selectOneMenu value="#{jobController.job.agent.id}" rendered="#{jobController.job.agent.type eq 'SP'}"  disabled="#{not empty agentRegController.getAllSPAgents() and agentRegController.getAllSPAgents().size() eq 1}">
								     	<f:selectItems value="#{agentRegController.getAllSPAgents()}" var="agent" itemLabel="#{agent.name}" itemValue="#{agent.id}"/>
									 	<f:ajax event="change" execute="agentList" listener="#{jobController.agentSelectionChangeListener}" render="sharePointGrid fileSystemGrid fsOptions agentsList"></f:ajax>
								    </h:selectOneMenu>
								   </h:panelGroup>
								</td>
							</tr>							
							<tr>
								<td>
								<h:panelGroup id="tagsDiv4">
									<h:outputLabel value="#{message['job.basicConfigurations.tags.label']}" rendered="#{jobController.job.actionType eq 'ARCHIVE' or jobController.job.actionType eq 'STUB' or jobController.job.actionType eq 'WITHOUTSTUB'}"/>
									</h:panelGroup>
								</td>
								<td>
								<h:panelGroup id="tagsDiv3">
									<h:inputText id="tag1"  value="#{jobController.job.tags}" size="22"  maxlength="200" validatorMessage="#{message['job.tags.matches.invalid']}" rendered="#{jobController.job.actionType eq 'ARCHIVE' or jobController.job.actionType eq 'STUB' or jobController.job.actionType eq 'WITHOUTSTUB'}">
										<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)"/>
									</h:inputText>
									</h:panelGroup>
									</td>							
						
							</tr>
								
						</table>
						<h:panelGroup id="fileSystemGrid" >
							<h:panelGroup layout="block" style="width: 100%;" rendered="#{jobController.showSPGrid eq false}">
							
								<h3>#{message['job.fileSystem.heading']}</h3><hr />
								<h:panelGroup rendered="true">
								<h:selectOneRadio  id="fsTypeRadio" value="#{jobController.fileSystemType}" layout="lineDirection" style="border: none;" styleClass="stylizedRadio">
								   <f:selectItem  itemValue="local" itemLabel="Local File System" />
								   <f:selectItem itemValue="remote" itemLabel="Remote Share" />
								   <f:ajax event="change" execute="fsTypeRadio" render="localFSGrid remoteFSGrid"  listener="#{jobController.fsTypeChangeListener}"></f:ajax>
								   
								</h:selectOneRadio>
														
								</h:panelGroup>
								<h:panelGroup layout="block" id="localFSGrid" style="width: 100%;" >
								   <h:panelGrid  rendered="#{jobController.fileSystemType eq 'local' or false}" columns="2"  width="100%">
									
										<h:column><label>#{message['job.fileSystem.folderPath.label']}</label> </h:column>
											
											<h:column>
																		
												  <h:inputText  value="#{jobController.localFSPath}" size="60"  id="localFSPath" />
												  <a4j:commandButton styleClass="btn-gray" value="Add" action="#{jobController.addToLocalFSPaths}" render="pathsListBox,localFSPath" style="margin-left:3px;display:none;" rendered="false" />
											    
											  
											</h:column>
											
										<h:column><label>#{message['job.fileSystem.remoteUNC.label']}</label> </h:column>
											
											<h:column>
																		
												  <h:inputText  value="#{jobController.remoteUNC}" size="60"  id="uncPath" />
												  <a4j:commandButton styleClass="btn-gray" value="Add" action="#{jobController.addToLocalFSPaths}" render="pathsListBox,localFSPath" style="margin-left:3px" />
											    
											  
											</h:column>
											
											 
										<h:column></h:column>
											
											<h:column>
											  
											  <h:selectManyListbox   id="pathsListBox" style="border-top: 1px solid #d2d2d2;width:400px;height:100px;background: white;" size="5" >
											  	 <f:selectItems value="#{jobController.localFSPathsList}" var="path"   itemValue="#{path}" itemLabel="#{path}"  />							  
											  </h:selectManyListbox>
											  
										   </h:column>	
										   							 
										<h:column></h:column>
										<h:column >
										      <h:panelGroup style="direction: rtl;padding-right: 100px">
											      
												  <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{jobController.removeFromLocalFSPaths}" render="pathsListBox" style="margin-left:8px" />
										      </h:panelGroup>
										</h:column>									
							      </h:panelGrid> 
							     <h:selectOneRadio  value="#{jobController.job.activeActionType}" layout="lineDirection" rendered="#{jobController.fileSystemType eq 'local' and jobController.showActiveGrid eq true and jobController.job.actionType ne 'PRINTARCH'}">
								     <f:selectItem itemValue="1" itemLabel="Archive only"/>
								     <f:selectItem itemValue="2" itemLabel="Archive &amp; Stub"/>
								     <f:selectItem itemValue="3" itemLabel="Archive &amp; Delete"/>
							   </h:selectOneRadio>
							  </h:panelGroup> 	
							   
							  <h:panelGroup  id="remoteFSGrid" >
								  
								 <h:panelGrid rendered="#{jobController.fileSystemType eq 'remote' and jobController.job.actionType ne 'ACTIVEARCH' and jobController.job.actionType ne 'PRINTARCH'}" columns="3" > 
									 <h:column>
									    #{message['job.fileSystem.remoteDomainName.label']}
									 </h:column>
									 
									 <h:column>
									    <h:inputText value="#{jobController.remoteDomainName}" style="margin-left: 166px;"></h:inputText>
									 </h:column>
									 <h:column />
									 
									 <h:column>
									   #{message['job.fileSystem.remoteUserName.label']}
									 </h:column>
									 
									 <h:column>
									   <h:inputText value="#{jobController.remoteUserName}" style="margin-left: 166px;"></h:inputText>
									 </h:column>
									 
									 <h:column />
									 
									 <h:column>
									    #{message['job.fileSystem.remoteUserPassword.label']}
									 </h:column>
									 
									 <h:column>
									   <h:inputSecret value="#{jobController.remoteUserPassword}" redisplay="true" style="margin-left: 166px;"></h:inputSecret>
									   <!--  <h:outputLabel value="Please avoid '@' in password" />-->
									 </h:column>
									 <h:column />
									 
									 
									 <h:column>
									    #{message['job.fileSystem.remoteUNC.label']}
									 </h:column>
									 
									 <h:column>
									  <h:panelGroup>
									     
									     <h:inputText label="remoteUNC" value="#{jobController.remoteUNC}"  id="remoteUNC" style="margin-left: 166px;"></h:inputText>								    
									     <a4j:commandButton styleClass="btn-gray" id="testUNCBtn" value="Test" rendered="false" action="#{jobController.testUNC}"  render="uncMsg" style="margin-left:8px" />								      
									   </h:panelGroup>
									 </h:column>
									 <h:column />
									 <h:column>
									 	<h:outputText value="Original Drive Path*" rendered="#{jobController.showActiveGrid eq true}"/>								    
									 </h:column>
									 <h:column>
									  <h:panelGroup rendered="#{jobController.showActiveGrid eq true}">
									     <h:inputText label="drivePath" value="#{jobController.drivePath}"  id="drivePath" style="margin-left: 166px;"></h:inputText>
									   </h:panelGroup>
									 </h:column>
									 <h:column >
									    <h:panelGroup layout="block" id="uncMsg" styleClass="error">
							              	<rich:message for="remoteUNC" styleClass="error" />
							            </h:panelGroup>
									 </h:column>
									 <h:column>
									 	<h:panelGroup id="tagsDiv1">
											<h:outputText value="#{message['job.basicConfigurations.tags.label']}" rendered="#{jobController.job.actionType eq 'ACTIVEARCH'}" />
										</h:panelGroup>
									 </h:column>
									 <h:column>
									 	<h:panelGroup id="tagsDiv2">
											<h:inputText id="tag"  value="#{jobController.tags}" size="22"  maxlength="200" validatorMessage="#{message['job.tags.matches.invalid']}" rendered="#{jobController.job.actionType eq 'ACTIVEARCH'}" style="margin-left: 166px;">
												<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)"/>
											</h:inputText>
										</h:panelGroup>
									 </h:column>
													 
								</h:panelGrid>			
							  
							   <h:panelGrid columns="2"  rendered="#{jobController.fileSystemType eq 'remote'}">
							 
							 	    <h:column>
									     <h:panelGroup>
									     	
										     <a4j:commandButton styleClass="btn-gray" value="Include" action="#{jobController.addToRemotePaths}"  render="remotePathsListDiv remoteUNC confirmationGrid" status="ajaxStatus"  />
										     <a4j:status name="ajaxStatus">
									            <f:facet name="start">
									            	<i><h:outputText value="Processing, please wait ..." /></i>
									            </f:facet>
									          </a4j:status>
										     <br/>
										      <h:panelGroup id="remotePathsListDiv">
										      <rich:tooltip  followMouse="true" id="pathTooltip" target="remotePathsListBox" ><h:outputLabel id="includeLabel" value=""/></rich:tooltip>
										      <h:selectManyListbox   id="remotePathsListBox" style="margin-top:10px; margin-bottom:10px;width:400px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="5" 
										      onclick="document.getElementById('includeLabel').innerHTML=document.getElementById('remotePathsListBox').options[this.selectedIndex].value"  >
												  	 <f:selectItems value="#{jobController.remotePathsList}" var="remotePath"   itemValue="#{remotePath}" itemLabel="#{remotePath}"   />
												  	 <!-- <rich:tooltip ><h:outputLabel id="includeLabel" value=""/></rich:tooltip>		-->					  
										      </h:selectManyListbox>
										      </h:panelGroup>
										     <br/>
										      <h:panelGroup style="direction: rtl;padding-right: 100px">
											     
												  <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{jobController.removeFromRemotePaths}" render="remotePathsListBox" style="margin-left:8px" />
										      </h:panelGroup>
									     </h:panelGroup>
									 </h:column>
									
									 <h:column>
									     <h:panelGroup rendered="#{jobController.showActiveGrid eq false}">
										     <a4j:commandButton styleClass="btn-gray" value="Exclude" action="#{jobController.addToRemoteExPaths}" render="remoteExPathsListDiv remoteUNC"  />
										      <br/>
										      <h:panelGroup id="remoteExPathsListDiv" >
										      <rich:tooltip target="remoteExPathsListBox" ><h:outputLabel id="excludeLabel" value=""/></rich:tooltip>	
										      <h:selectManyListbox   id="remoteExPathsListBox" style="margin-top:10px; margin-bottom:10px; width:400px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="5" 
										      onclick="document.getElementById('excludeLabel').innerHTML=document.getElementById('remoteExPathsListBox').options[this.selectedIndex].value">
												  	 <f:selectItems value="#{jobController.remoteExPathsList}" var="remoteExPath"   itemValue="#{remoteExPath}" itemLabel="#{remoteExPath}"  />
												  	 						  
										      </h:selectManyListbox>
									     	</h:panelGroup><br/>
									          <h:panelGroup style="direction: rtl;padding-right: 100px">
											      
												  <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{jobController.removeFromRemoteExPaths}" render="remoteExPathsListBox" style="margin-left:8px" />
										      </h:panelGroup>
										      
									     </h:panelGroup>
									 </h:column>
							 					 
							 </h:panelGrid>
							   <h:selectOneRadio  value="#{jobController.job.activeActionType}" layout="lineDirection" rendered="#{jobController.fileSystemType eq 'remote' and jobController.showActiveGrid eq true and jobController.job.actionType ne 'PRINTARCH'}">
							     <f:selectItem itemValue="1" itemLabel="Archive only"/>
							     <f:selectItem itemValue="2" itemLabel="Archive &amp; Stub"/>
							     <f:selectItem itemValue="3" itemLabel="Archive &amp; Delete"/>
							   </h:selectOneRadio>
						</h:panelGroup>	 
					</h:panelGroup>	
				</h:panelGroup>
				<h:panelGroup  id="activeArchivingGrid">
					<h:panelGroup  layout="block" rendered="false">
						<h3>Active/Print Archiving</h3><hr />
							<h:panelGroup  id="remoteactiveArchGrid" >
							  
		
						  

						 
					</h:panelGroup>	
					</h:panelGroup>
				</h:panelGroup>
				<h:panelGroup  id="sharePointGrid">
				<h:panelGroup layout="block" style="width: 100%;" rendered="#{jobController.showSPGrid eq true}" >
					<h3>Share Point</h3><hr />
					<table id="sitePath" width="100%">
						<h:panelGroup rendered="false">
						<tr>
						<td width="23%"><h:outputLabel value="Site Path" /> </td>
						<td width="77%">
								<h:selectOneMenu id="siteList" value="#{jobController.job.spPath}"  style="width:425px;" >
										   <f:selectItems value="#{jobController.siteList}" var="site" itemLabel="#{site}" itemValue="#{site}"/>
										   <f:ajax event="change"  execute="agentType" listener="#{jobController.spSiteChangeListener}" render="tree spIncludedPathsListDiv"></f:ajax>
							    </h:selectOneMenu>
							</td>
						</tr>	
						</h:panelGroup>
					
					 <tr>
					 
					<td> </td>
					<td>
					<h:panelGrid id="libraryGrid" columns="2" >
						<h:column>
							<b><h:outputText  value="Sites/Libraries" /></b>
							<dl class="type-category" style="width: 420px;padding:0;">
								<h:panelGroup  layout="block" style="background-color:whitesmoke;height:23px;padding-left:10px;" rendered="false" >
									<h:selectBooleanCheckbox id="selectAll" value="#{jobController.selectAllCheckBox}"><a4j:ajax event="change" limitRender="true"  execute="agentType" listener="#{jobController.spLibrarySelectAllListener}"  oncomplete="addRemoveSelectedSPLib()" render="libraryGrid"></a4j:ajax></h:selectBooleanCheckbox>							
									<label>Select All</label>
								</h:panelGroup>
								<h:selectManyCheckbox value="#{jobController.selectedLibraries}" layout="pageDirection"  style="padding-left:8px;" rendered="false">
									<f:selectItems value="#{jobController.libraryList}" var="n"
	   			 						itemLabel="#{n}" itemValue="#{n}"  />
	   			 						<f:ajax event="click"  execute="agentType" listener="#{jobController.spLibrarySelectListener}" render="libraryGrid"></f:ajax>
								</h:selectManyCheckbox>
								
								<h:inputHidden id="exportNodePath" value="#{jobController.exportNodePath}"></h:inputHidden>
								<rich:tree id="tree"  nodeType="#{node.type}" var="node" value="#{jobController.rootNodes}" toggleType="ajax"
						               selectionType="ajax" selectionChangeListener="#{jobController.selectionChanged}" render="contentsGrid"> 
						             	<rich:treeNode  type="site" expanded="true" id="siteId" toggleListener="#{jobController.spSiteToggled}"  onclick="#{jobController.libraryList}" >
							               	<h:inputHidden id="sitePath" value="#{node.path}"></h:inputHidden>
							               	<h:inputHidden id="siteGuid" value="#{node.guid}"></h:inputHidden>
	         									<h:selectBooleanCheckbox value="#{node.selected}" rendered="false" >
						                       <a4j:ajax event="change" execute="agentType" listner="#{jobController.librarySelected}" onbeforesubmit="addRemoveSelectedSPLib()" render="tree" ></a4j:ajax>
						                    </h:selectBooleanCheckbox>	
						               		<h:outputText value="#{node.name}"/>
						                </rich:treeNode>
						               <rich:treeNode type="library" expanded="true" id="libId" toggleListener="#{jobController.spTreeNodeToggled}"  >
							               	<h:inputHidden id="nodePath" value="#{node.path}"></h:inputHidden>
							               	<h:inputHidden id="nodeGuid" value="#{node.guid}"></h:inputHidden>
          									<h:selectBooleanCheckbox value="#{node.selected}"  >
						                       <a4j:ajax event="change" execute="agentType" listner="#{jobController.librarySelected}" oncomplete="addRemoveSelectedSPLib()" render="tree spIncludedPathsListDiv" limitRender="true" disabled="true" ></a4j:ajax>
					                        <a4j:ajax event="change" listener="#{jobController.librarySelected}" onbeforesubmit="addRemoveSelectedSPLib()" render="libraryGrid" limitRender="true"></a4j:ajax>
						                    </h:selectBooleanCheckbox>	
						               		<h:outputText value="#{node.name}"/>
						                </rich:treeNode>
						                
							   </rich:tree>
							</dl>
									<h:panelGroup id ="spIncludedPaths">								     	
									     
									     <br/>
									      <h:panelGroup id="spIncludedPathsListDiv">
								     
									      <h:selectManyListbox   id="spIncludedPathsListBox" style="margin-top:10px; margin-bottom:10px;width:420px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="5" 
									       >
											  	 <f:selectItems value="#{jobController.selectedLibraries}" var="remotePath"   itemValue="#{remotePath}" itemLabel="#{remotePath}"   />
											  	 <!-- <rich:tooltip ><h:outputLabel id="includeLabel" value=""/></rich:tooltip>		-->					  
									      </h:selectManyListbox>
									        <a4j:commandButton styleClass="btn-gray" value="Remove" action="#{jobController.removeFromSPLibPaths}" render="spIncludedPathsListDiv sharePointGrid" style="margin-left:8px" />
									      </h:panelGroup>
									     
									      <h:panelGroup style="direction: rtl;padding-right: 100px">
										     
											  <a4j:commandButton rendered="false" styleClass="btn-gray" value="Remove" action="#{jobController.removeFromRemotePaths}" render="remotePathsListBox" style="margin-left:8px" />
									      </h:panelGroup>
								     </h:panelGroup>				                
						
						</h:column>
						<h:column rendered="#{jobController.siteList eq null}">
							                      
                        <p style="color: red;font-size: 14px;font-weight: bold; margin-left:5px;margin-right: 50px;">
                          SharePoint is not configured !
                          </p>
                      
						</h:column>
						<!-- <h:column>
						<dl class="type-category">
						<rich:tree id="tree"  nodeType="#{node.type}" var="node" value="#{jobController.rootNodes}" toggleType="ajax"
										                selectionType="ajax"  >
							<rich:treeNode type="DocumentType" expanded="true" id="documentCategoryId" >
			                    <h:selectBooleanCheckbox value="#{node.selected}"  >
			                       
			                    </h:selectBooleanCheckbox>		
			                     #{node.name}
			                </rich:treeNode>
			                </rich:tree>
			                </dl>
						</h:column>-->
					</h:panelGrid>
					</td>
					<td valign="top">
					<h:panelGrid id="contentsGrid" columns="2" >
						<h:column>
							<b><h:outputText  value="Content Types" /></b>						 
							<dl class="type-category" style="width: 420px;padding:0;">
								<h:selectManyCheckbox value="#{jobController.selectedContentTypes}" layout="pageDirection"  style="padding-left:8px;" rendered="true">
									<f:selectItems value="#{jobController.contentTypeList}" var="n"
	   			 						itemLabel="#{n}" itemValue="#{n}"  />
	   			 						<a4j:ajax event="change" listener="#{jobController.spSiteContentTypeSelectListener}" limitRender="false"></a4j:ajax>
								</h:selectManyCheckbox>
							</dl>
						</h:column> 
						</h:panelGrid>
					</td>
					</tr>
				   </table>
				</h:panelGroup>
				<br/>  
				</h:panelGroup>
					<h:panelGroup id="fsOptions">
						<h:panelGroup rendered="#{jobController.showSPGrid eq true}">
					   		<div id="divVersions">
			                  <table id="tblProcessCurrentPublishedVersion">
			                    <tr>
			                      <td><h:selectBooleanCheckbox name="processCurrentPublishedVersion" value="#{jobController.job.processCurrentPublishedVersion}" />
			                        <label for="processCurrentPublishedVersion">Current Published Version</label></td>
			                    </tr>
			                  </table>
			                  <table id="tblProcessLegacyPublishedVersion">
			                    <tr>
			                      <td> <h:selectBooleanCheckbox name="processLegacyPublishedVersion" value="#{jobController.job.processLegacyPublishedVersion}" />
			                        <label  for="processLegacyPublishedVersion">Major Version</label></td>
			                    </tr>
			                  </table>
			                  <table id="tblProcessLegacyDraftVersion">
			                    <tr>
			                      <td> <h:selectBooleanCheckbox name="processLegacyDraftVersion" value="#{jobController.job.processLegacyDraftVersion}" />
			                        <label for="processLegacyDraftVersion">Minor Version</label></td>
			                    </tr>
			                  </table>
			                </div>
			           </h:panelGroup>
					   <h:panelGrid columns="2" rendered="#{jobController.showSPGrid eq false}">
					   
							 <h:column>
							   <h:panelGroup>
							        <h:selectBooleanCheckbox value="#{jobController.job.processReadOnly}" title="Read Only" id="processReadOnly" />
							        <h:outputLabel value="Read Only" for="processReadOnly" ></h:outputLabel>
							     </h:panelGroup>
							 </h:column>
							 
							 <h:column />
							 
							
							
							<h:column>
							   <h:panelGroup>
							        <h:selectBooleanCheckbox value="#{jobController.job.processArchive}" title="Archive" id="processArchive" />
							        <h:outputLabel value="Archive" for="processArchive" ></h:outputLabel>
							     </h:panelGroup>
							 </h:column>
							 
							 <h:column />
							 
							 
							 <h:column>
							   <h:panelGroup>
							        <h:selectBooleanCheckbox value="#{jobController.job.processHidden}" title="Hidden" id="processHidden" />
							        <h:outputLabel value="Hidden" for="processHidden" ></h:outputLabel>
							     </h:panelGroup>
							 </h:column>
							 
							 <h:column />
					   
					   </h:panelGrid>
					   </h:panelGroup>
					   		
						<h3>#{message['job.scheduling.heading']}</h3><hr />
						   
						   <h:selectOneRadio  value="#{jobController.job.isScheduled}" layout="pageDirection" onclick="toggleRunNowFunc(this.value);">
						     <f:selectItem itemValue="false" itemLabel="Run Now"/><br/>
						     <f:selectItem itemValue="true" itemLabel="Schedule"/>
						   </h:selectOneRadio>
						    <br/>
				              <br/>
				              <div id="execTimeStartDiv" style="display: none;">
				                <label for="execTimeStart"><h:outputLabel value="Execution Time: " /></label>
				                <rich:calendar value="#{jobController.job.execTimeStartDate}" datePattern="d/M/yy HH:mm" name="execTimeStart" />
				                
				                <!-- br />
				                <br/>
						        <h:selectBooleanCheckbox value="#{jobController.job.isScheduled}" title="ReRun after each Interval" id="isScheduled" />
						        <h:outputLabel value="ReRun after each Interval" for="isScheduled" ></h:outputLabel -->
							    
							    <br />
							    <br />
							    <label for="interval"><h:outputLabel value="Select Interval: " /></label>
							    <h:selectOneMenu id="interval" value="#{jobController.job.executionInterval}">
							    	<f:selectItem itemLabel="Once"	itemValue="0"></f:selectItem>
									<f:selectItem itemLabel="Daily"	itemValue="1"></f:selectItem>
									<f:selectItem itemLabel="Weekly"	itemValue="7"></f:selectItem>
									<f:selectItem itemLabel="Monthly"	itemValue="30"></f:selectItem>
									<f:selectItem itemLabel="Quarterly"	itemValue="120"></f:selectItem>
									<f:selectItem itemLabel="Yearly"	itemValue="365"></f:selectItem>
								</h:selectOneMenu>
								<br />
								
				              </div>
						<table>						
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fleft">			
										
										<!-- <h:commandButton value="Create"  action="" styleClass="btn-orange" />  -->
										<a4j:commandButton styleClass="btn-gray " actionListener="#{jobController.preSave}" value="Create" oncomplete="if(#{empty facesContext.maximumSeverity}){#{rich:component('popupInfo')}.show();}" 
											render="confirmationGrid"  immediate="false" >
										</a4j:commandButton>
									    <h:outputText value="&#160; &#160;"></h:outputText>
									    <h:commandButton value="Cancel"  action="Jobs" styleClass="btn-gray" immediate="true" />
										 		
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
					 
					 <!-- pop-up to 8	Show job summary before creation-->
					 <rich:popupPanel modal="true" autosized="true" resizeable="false" id="popupInfo" domElementAttachment="form" width="900">
					 	<f:facet name="header">
				            <h:outputText value="Job Creation Summary" />
				        </f:facet>
				        <f:facet name="controls">
				            <h:outputLink value="#" onclick="#{rich:component('popupInfo')}.hide(); return false;">
				                X
				            </h:outputLink>
				        </f:facet>
				         <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>
				    	<h:panelGroup  layout="block" rendered="#{jobController.activeLicense eq false}">
		              		<h:panelGrid columns="1" >
							   <h:column>
							      <h:outputLabel value="Activated"  rendered="#{jobController.activeLicense eq true}"></h:outputLabel>
							       <h:outputLabel value="Your Sharearchiver License has Expired. Please contact Sharearchiver support"  rendered="#{jobController.activeLicense eq false}" style="color: red;"></h:outputLabel>
							   </h:column>
							   					   					
							</h:panelGrid>
              			</h:panelGroup> 
					 	<h:panelGroup id="confirmationGrid">
					 	<h:panelGrid id="infoGrid" columns="2" styleClass="stylized" rowClasses="even,odd" width="700" columnClasses="col1, col2">
					 		<h:column >#{message['job.basicConfigurations.name.label']}</h:column>
					 		<h:column>#{jobController.job.name}</h:column>
					 		<h:column rendered="#{jobController.job.description.length()>0}"><h:outputText value="#{message['job.basicConfigurations.description.label']}" rendered="#{jobController.job.description.length()>0}" /></h:column>
					 		<h:column rendered="#{jobController.job.description.length()>0}"><h:outputText value="#{jobController.job.description}" rendered="#{jobController.job.description.length()>0}" /></h:column>
					 		<h:column>#{message['job.basicConfigurations.actionType.label']}</h:column>
					 		<h:column><h:outputText value="Archive" rendered="#{jobController.job.actionType eq 'ARCHIVE'}"/>
		                             <h:outputText value="Archive &amp; Stub" rendered="#{jobController.job.actionType eq 'STUB'}"/>
		                             <h:outputText value="Archive &amp; Delete" rendered="#{jobController.job.actionType eq 'WITHOUTSTUB'}"/>
		                             <h:outputText value="Export" rendered="#{jobController.job.actionType eq 'EXPORT'}"/>
		                             <h:outputText value="Export Stubs Only" rendered="#{jobController.job.actionType eq 'EXPORTSTUB'}"/>
		                             <h:outputText value="Restore" rendered="#{jobController.job.actionType eq 'RESTORE'}"/>
		                             <h:outputText value="Dynamic Archiving" rendered="#{jobController.job.actionType eq 'DYNARCH'}"/>
		                             <h:outputText value="Active Archiving" rendered="#{jobController.job.actionType eq 'ACTIVEARCH'}"/>
		                             <h:outputText value="Print Archiving" rendered="#{jobController.job.actionType eq 'PRINTARCH'}"/>
		                             <h:outputText value="Analysis" rendered="#{jobController.job.actionType eq 'INDEXING'}"/>
		                             <h:outputText value="Evaluate" rendered="#{jobController.job.actionType eq 'EVALUATE'}"/>
		                    </h:column>
		                   	<h:column>#{message['job.basicConfigurations.policy.label']}</h:column>
		                   	<h:column>#{jobController.job.policy.name}</h:column>
							
							<h:column>#{message['job.basicConfigurations.agent.label']}</h:column>
							<h:column>#{jobController.job.agent.name}</h:column>
							
							
							<h:column>#{message['job.basicConfigurations.agentScope.label']}</h:column>
							<h:column><h:outputText value="File System" rendered="#{jobController.job.agent.type eq 'FS'}"/>
								<h:outputText value="Share Point" rendered="#{jobController.job.agent.type eq 'SP'}"/>
							</h:column>
							<h:column rendered="#{jobController.job.actionType eq 'ARCHIVE' or jobController.job.actionType eq 'STUB' or jobController.job.actionType eq 'WITHOUTSTUB'}">Tags:</h:column>
							<h:column rendered="#{jobController.job.actionType eq 'ARCHIVE' or jobController.job.actionType eq 'STUB' or jobController.job.actionType eq 'WITHOUTSTUB'}">#{jobController.job.tags}</h:column>
							<h:column>
								<h:outputText value="#{message['job.basicConfigurations.includedPaths.label']}"  rendered="#{jobController.showSPGrid eq false}"/> <h:outputText value="Included Libs"  rendered="#{jobController.showSPGrid eq true}"/></h:column>
							<h:column>
									<DIV style="width:650px;height:100px;overflow: scroll;font-family: verdana,helvetica,arial,sans-serif;">
									<rich:list id="incPathssGrid1" value="#{jobController.remotePathsList}" var="exPath" type="ordered" style="word-wrap:break-word;line-height: 17px;" rendered="#{jobController.showSPGrid eq false}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>                         			
	                         		</rich:list>
	                         		<rich:list  id="incSPPathssGrid1" value="#{jobController.selectedLibraries}" var="exPath" style="word-wrap:break-word;" rendered="#{jobController.showSPGrid eq true}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
	                         			 <br/>
	                         			 <h:outputLabel value="Content Types:"/>
	                         			 <h:outputText value="#{jobController.getContentTypesForPath(exPath)}" style="word-wrap:break-word;"></h:outputText>
	                         		</rich:list>
                         		</DIV>
                         	</h:column>
                         	<h:column rendered="#{jobController.remoteExPathsList.size()>0}">							
								#{message['job.basicConfigurations.excludedPaths.label']}
							</h:column>
							<h:column rendered="#{jobController.remoteExPathsList.size()>0}">
									<DIV style="width:650px;height:100px;overflow: scroll;">
										<rich:list  id="excPathssGrid1" value="#{jobController.remoteExPathsList}" var="exPath" style="word-wrap:break-word;" >
		                         			<h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
		                         		</rich:list>
	                         		</DIV>
	                        </h:column>	                        
							
					 	</h:panelGrid>
					 	
					 	<table class="stylized" style="width:700;display: none;">
					 		<tbody>
							<tr class="odd">
								<td width="200">#{message['job.basicConfigurations.name.label']}</td>
								<td width="700">#{jobController.job.name}</td>
							</tr>
							<h:panelGroup rendered="#{jobController.job.description.length()>0}" >
							<tr class="even">
								<td><h:outputText value="Description" rendered="#{jobController.job.description.length()>0}" /></td>
								<td><h:outputText value="#{jobController.job.description}" rendered="#{jobController.job.description.length()>0}" /></td>
							</tr>
							</h:panelGroup>		
							<h:panelGroup rendered="#{jobController.job.description.length() eq 0}" >					
							<tr class="even">
								<td>#{message['job.basicConfigurations.actionType.label']}</td>
								<td> <h:outputText value="Archive" rendered="#{jobController.job.actionType eq 'ARCHIVE'}"/>
		                             <h:outputText value="Archive &amp; Stub" rendered="#{jobController.job.actionType eq 'STUB'}"/>
		                             <h:outputText value="Archive &amp; Delete" rendered="#{jobController.job.actionType eq 'WITHOUTSTUB'}"/>
		                             <h:outputText value="Export" rendered="#{jobController.job.actionType eq 'EXPORT'}"/>
		                             <h:outputText value="Export Stubs Only" rendered="#{jobController.job.actionType eq 'EXPORTSTUB'}"/>
		                             <h:outputText value="Restore" rendered="#{jobController.job.actionType eq 'RESTORE'}"/>
		                             <h:outputText value="Dynamic Archiving" rendered="#{jobController.job.actionType eq 'DYNARCH'}"/>
		                             <h:outputText value="Active Archiving" rendered="#{jobController.job.actionType eq 'ACTIVEARCH'}"/>
		                             <h:outputText value="Print Archiving" rendered="#{jobController.job.actionType eq 'PRINTARCH'}"/>
		                             <h:outputText value="Analysis" rendered="#{jobController.job.actionType eq 'INDEXING'}"/>
		                             <h:outputText value="Evaluate" rendered="#{jobController.job.actionType eq 'EVALUATE'}"/>
								</td>
							</tr>
							<tr class="odd">
								<td>#{message['job.basicConfigurations.policy.label']}</td>
								<td>#{jobController.job.policy.name}</td>
							</tr>
							
							<tr class="even">
								<td>#{message['job.basicConfigurations.agent.label']}</td>
								<td>#{jobController.job.agent.name}</td>
							</tr>
							
							<tr class="odd">
								<td>#{message['job.basicConfigurations.agentScope.label']}</td>
								<td><h:outputText value="File System" rendered="#{jobController.job.agent.type eq 'FS'}"/>
								<h:outputText value="Share Point" rendered="#{jobController.job.agent.type eq 'SP'}"/></td>
							</tr>
							
							

							<!-- <tr class="odd">
								<td>Execution Time</td>
								<td><h:outputText value="#{jobController.job.execTimeStart}" /></td>
							</tr>	-->						
							<tr class="even">
								<td nowrap="nowrap"><h:outputText value="#{message['job.basicConfigurations.includedPaths.label']}"  rendered="#{jobController.showSPGrid eq false}"/> <h:outputText value="Included Libs"  rendered="#{jobController.showSPGrid eq true}"/></td>
								<td nowrap="nowrap" width="200">
								<DIV style="width:650px;height:100px;overflow: scroll;font-family: verdana,helvetica,arial,sans-serif;">
									<rich:list id="incPathssGrid11" value="#{jobController.remotePathsList}" var="exPath" type="ordered" style="word-wrap:break-word;line-height: 17px;" rendered="#{jobController.showSPGrid eq false}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>                         			
	                         		</rich:list>
	                         		<rich:list  id="incSPPathssGrid11" value="#{jobController.selectedLibraries}" var="exPath" style="word-wrap:break-word;" rendered="#{jobController.showSPGrid eq true}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
	                         			 <br/>
	                         			 <h:outputLabel value="Content Types:"/>
	                         			 <h:outputText value="#{jobController.getContentTypesForPath(exPath)}" style="word-wrap:break-word;"></h:outputText>
	                         		</rich:list>
                         		</DIV>
                         	</td>
							</tr>
							<h:panelGroup rendered="#{jobController.remoteExPathsList.size()>0}">
								<tr class="odd">
									<td nowrap="nowrap">#{message['job.basicConfigurations.excludedPaths.label']}</td>
									<td nowrap="nowrap">
									<DIV style="width:650px;height:100px;overflow: scroll;">
										<rich:list  id="excPathssGrid11" value="#{jobController.remoteExPathsList}" var="exPath" style="word-wrap:break-word;" >
		                         			<h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
		                         		</rich:list>
	                         		</DIV>
	                         	</td>
								</tr>
							</h:panelGroup>							
							</h:panelGroup>							
							<h:panelGroup rendered="#{jobController.job.description.length() ne 0}" >					
							<tr class="odd">
								<td>#{message['job.basicConfigurations.actionType.label']}</td>
								<td> <h:outputText value="Archive" rendered="#{jobController.job.actionType eq 'ARCHIVE'}"/>
		                             <h:outputText value="Archive &amp; Stub" rendered="#{jobController.job.actionType eq 'STUB'}"/>
		                             <h:outputText value="Archive &amp; Delete" rendered="#{jobController.job.actionType eq 'WITHOUTSTUB'}"/>
		                             <h:outputText value="Export" rendered="#{jobController.job.actionType eq 'EXPORT'}"/>
		                             <h:outputText value="Export Stubs Only" rendered="#{jobController.job.actionType eq 'EXPORTSTUB'}"/>
		                             <h:outputText value="Restore" rendered="#{jobController.job.actionType eq 'RESTORE'}"/>
		                             <h:outputText value="Dynamic Archiving" rendered="#{jobController.job.actionType eq 'DYNARCH'}"/>
		                             <h:outputText value="Active Archiving" rendered="#{jobController.job.actionType eq 'ACTIVEARCH'}"/>
		                             <h:outputText value="Print Archiving" rendered="#{jobController.job.actionType eq 'PRINTARCH'}"/>
		                             <h:outputText value="Analysis" rendered="#{jobController.job.actionType eq 'INDEXING'}"/>
		                             <h:outputText value="Evaluate" rendered="#{jobController.job.actionType eq 'EVALUATE'}"/>
								</td>
							</tr>							
							<tr class="even">
								<td>#{message['job.basicConfigurations.policy.label']}</td>
								<td>#{jobController.job.policy.name}</td>
							</tr>
							
							<tr class="odd">
								<td>#{message['job.basicConfigurations.agent.label']}</td>
								<td>#{jobController.job.agent.name}</td>
							</tr>
							
							<tr class="even">
								<td>#{message['job.basicConfigurations.agentScope.label']}</td>
								<td><h:outputText value="File System" rendered="#{jobController.job.agent.type eq 'FS'}"/>
								<h:outputText value="Share Point" rendered="#{jobController.job.agent.type eq 'SP'}"/></td>
							</tr>
							<!-- <tr class="odd">
								<td>Execution Time</td>
								<td><h:outputText value="#{jobController.job.execTimeStart}" /></td>
							</tr>	-->						
							<tr class="odd">
								<td nowrap="nowrap"> <h:outputText value="#{message['job.basicConfigurations.includedPaths.label']}"  rendered="#{jobController.showSPGrid eq false}"/> <h:outputText value="Included Libs"  rendered="#{jobController.showSPGrid eq true}"/></td>
								<td nowrap="nowrap" width="200">
								<DIV style="width:650px;height:100px;overflow: scroll;font-family: verdana,helvetica,arial,sans-serif;">
									<rich:list id="incPathssGrid" value="#{jobController.remotePathsList}" var="exPath" type="ordered" style="word-wrap:break-word;line-height: 17px;" rendered="#{jobController.showSPGrid eq false}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>                         			
	                         		</rich:list>
	                         		<rich:list  id="incSPPathssGrid" value="#{jobController.selectedLibraries}" var="exPath" style="word-wrap:break-word;font-family: verdana,helvetica,arial,sans-serif;" rendered="#{jobController.showSPGrid eq true}">
	                         			 <h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
	                         			 <br/>	                         			 
	                         			 <h:outputLabel value="Content Types:"/>
	                         			 <h:outputText value="#{jobController.getContentTypesForPath(exPath)}" style="word-wrap:break-word;"></h:outputText>
	                         		</rich:list>
                         		</DIV>
                         	</td>
							</tr>
							<h:panelGroup rendered="#{jobController.remoteExPathsList.size()>0}">
								<tr class="even">
									<td nowrap="nowrap">#{message['job.basicConfigurations.excludedPaths.label']}</td>
									<td nowrap="nowrap">
									<DIV style="width:650px;height:100px;overflow: scroll;">
										<rich:list  id="excPathssGrid" value="#{jobController.remoteExPathsList}" var="exPath" style="word-wrap:break-word;" >
		                         			<h:outputText value="#{exPath}" style="word-wrap:break-word;"></h:outputText>
		                         		</rich:list>
	                         		</DIV>
	                         	</td>
								</tr>
							</h:panelGroup>
							</h:panelGroup>
						</tbody>
						<tfoot>
								
						</tfoot>
					</table>
					    <h:panelGroup layout="block" style="margin-top: 2px; width: 400px;">
						<h:commandButton value="OK"  action="#{jobController.save}" styleClass="btn-orange"  />
						<h:commandButton value="Cancel"  onclick="#{rich:component('popupInfo')}.hide(); return false;" styleClass="btn-orange"  />
					    </h:panelGroup>	 
					 		
					 		
					 	</h:panelGroup>
					 	
					 	
					 </rich:popupPanel>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
