<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
          
            <ui:define name="title">Account Management </ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Account Management /</a>
				<a href="#"><h:outputText value="Create User" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.acctManagement.user.add']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common" prependId="false">
              <div class="error">
              	<h:messages/>
              </div>
					<table width="700">
							<tr>	
								<td width="23%"><h:outputLabel value="#{message['shiroUser.username.label']}"/> </td>
								<td><h:inputText id="username"  value="#{userRegController.user.username}" size="22" maxlength="40"  required="true"
								validatorMessage="#{message['shiroUser.username.matches.invalid ']}"	>
									<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
								</h:inputText></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.firstname.label']}"/></td>
								<td><h:inputText id="firstname"  value="#{userRegController.user.firstName}" size="22" maxlength="40" required="true"
									validatorMessage="#{message['shiroUser.firstName.matches.invalid']}"	>
									<f:validateRegex pattern="[a-zA-Z]+"/>
									</h:inputText> 
								</td>
							</tr>
							
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.lastname.label']}"/></td>
								<td><h:inputText id="lastname" value="#{userRegController.user.lastName}" size="22" maxlength="40" required="true" 
									validatorMessage="#{message['shiroUser.lastName.matches.invalid']}"	>
									<f:validateRegex pattern="[a-zA-Z]+"/>
									</h:inputText>
									</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.email.label']}"/></td>
								<td><h:inputText id="email"  value="#{userRegController.user.email}" size="22" maxlength="50"  /></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.lockstatus.label']}"/></td>
								<td><h:selectOneMenu  value="#{userRegController.user.lockStatus}" >
								    <f:selectItem itemLabel="Active" itemValue="Active"/>
								    <f:selectItem itemLabel="In-Active" itemValue="InActive"/>
								    </h:selectOneMenu>
								   
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.password.label']}"/></td>
								<td><h:inputSecret id="password" value="#{userRegController.user.passwordHash}" size="22" maxlength="30" required="true" /></td>
							</tr>
							
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.confirmpassword.label']}"/></td>
								<td><h:inputSecret id="confirmPassword" value="#{userRegController.user.confirmPassword}" size="22" maxlength="30" required="true" /></td>
							</tr>
							
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.role.label']}"/></td>
								<td><h:selectOneMenu value="#{userRegController.user.role.id}" >
								       <f:selectItems  value="#{userRegController.allRoles}" var="role" itemLabel="#{role.name}" itemValue="#{role.id}"/>
								    </h:selectOneMenu>
								</td>
							</tr>
							
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										
										<h:commandButton value="Cancel"  immediate="true" action="Users.faces?faces-redirect=true" styleClass="btn-gray fright" />
										<h:commandButton value="Create" action="#{userRegController.save}" styleClass="btn-orange fright" />
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
