<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">Agent Registration</ui:define>
           
            <ui:define name="breadcrumbs">
             <!-- <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Agent Registration /</a>
				<a href="#">Agent List</a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.agent.list']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            <div class="error">
            	<h:messages/>
            </div>
               <rich:dataTable value="#{agentRegController.allAgents}" var="agent" styleClass="stylized" rowClasses="even,odd">
                                     
                        <rich:column  style="width:25%" >
                             <f:facet name="header"> <h:outputText value="#{message['agent.agentName.label']}" /></f:facet>
                             <h:link outcome="ViewAgent" >
                                <f:param name="id" value="#{agent.id}"></f:param>
                                <h:outputText value="#{agent.name}"></h:outputText>
                             </h:link>
                        </rich:column>
                        
                         <rich:column style="width:25%;word-wrap:break-word;" >
                             <f:facet name="header" > <h:outputText value="#{message['agent.description.label']}" /></f:facet>
                             <h:outputText value="#{agent.description}"></h:outputText>
                        </rich:column>
                        
                         <rich:column style="width:10%;">
                              <f:facet name="header"> <h:outputText value="#{message['agent.agentType.label']}" /></f:facet>
                              <h:outputText value="#{agent.type}"></h:outputText>
                        </rich:column>
                        
                         <rich:column style="width:40%;word-wrap:break-word;">
                             <f:facet name="header"> <h:outputText value="#{message['agent.sourceIp.label']}" /></f:facet>
                             <h:outputText value="#{agent.allowedIps}"></h:outputText>
                        </rich:column>
                        <rich:column style="width:40%;word-wrap:break-word;">
                             <f:facet name="header"> <h:outputText value="#{message['agent.status.label']}" /></f:facet>
                             <h:outputText value="Online" rendered="#{agent.online eq true}"></h:outputText>
                             <h:outputText value="Offline" rendered="#{agent.online eq false}"></h:outputText>
                        </rich:column> 
                        
                        
                        
                         <f:facet name="footer"  >
                             
                             <h:link styleClass="btn-gray" outcome="AddAgent"  style="float: right;color:black" value="Add"  /> 
                                                             
                         </f:facet>              
                                                             
                    
               </rich:dataTable>
            
            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
