<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="extPageTemplate2.xhtml">
            
                          
            <ui:define name="title">Search Documents</ui:define>
           
            <ui:define name="breadcrumbs">
            </ui:define>
            
            <ui:define name="menu">
            </ui:define>
            
            <ui:define name="content">
                <style>
                  .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                  }
                  
                  .right{
                    
                  }
                   .rf-tab-hdr-inact.rf-tab-hdr-top {
                      vertical-align: middle;
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border:none ;
                   }
                   
                   .rf-tab-cnt{                      
                      border: 1px solid  #d2d2d2;
                      background: transparent;
                      height: auto !important;
                   }
                   .rf-tab-lbl{
                      font-family:verdana,arial,sans-serif  ;
                   }
                   
                   .rf-tab-hdr-tabs{
                     border-top: 1px solid  #d2d2d2 !important; 
                     border-right: 1px solid  #d2d2d2 !important; 
                   } 
                   
                   .rf-tab-hdr-spcr{
                     padding-left: 0 !important;
                   }
	                .rf-msg-det {
					    display: inline;				    
					    font-size:15px;
					    word-wrap:break-word;
					}
	
					.rf-msgs-inf {
					    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
					    color: green;
					}
					.rf-msg-wrn {
						background-image: url(/ShareArchiver/javax.faces.resource/info.png.faces?ln=org.richfaces);
						color: black;					
					}
					.rf-pb-lbl{
					  padding-top:0;
					  padding-bottom: 1px;
					  line-height: 17px;
					}
					.rf-pb-rmng{
					  height: 15px;
					}
                </style>
               
               
                  <rich:popupPanel id="loadingPanel" modal="true" width="60" height="60" style="align:center;">
			             <h:graphicImage value="/images/spinner.gif" style="margin-left:6px;"></h:graphicImage>
			             <br/>
			           	 <h:outputLink   value="#" onclick="location.reload(false); ">
				               Cancel
				         </h:outputLink>	
                  </rich:popupPanel>
                  			     <rich:popupPanel id="mediaPopup" domElementAttachment="form" modal="true" followByScroll="false" autosized="false" width="472" height="312" style="top:10px;" resizeable="false" >
				        <f:facet name="header">
				            <h:outputText value="Video Player" />
				        </f:facet>
				        <f:facet name="controls">
				            <h:outputLink   value="#" onclick="#{rich:component('mediaPopup')}.hide();jwplayer().stop();" >
				                Close X
				            </h:outputLink>
				        </f:facet>
				      
				       <ui:include src="/MediaPlayer_search.xhtml"></ui:include>
		          </rich:popupPanel>
              
			      <a4j:region id="searchRegion"> 
			      
			      <a4j:status   onstart="#{rich:component('loadingPanel')} .show()" onstop="#{rich:component('loadingPanel')} .hide()" onsuccess="#{rich:component('loadingPanel')} .hide()" onerror="#{rich:component('loadingPanel')} .hide()" id="spinner"></a4j:status>
			      
			       <rich:tabPanel switchType="client" id="browseTabs" immediate="true">
				         <rich:tab name="#{message['search.tab.searchDocuments.text']}"  oncomplete="#{rich:component('loadingPanel')}.hide();" rendered="#{searchController.enableCifsSearch eq true or searchController.enableRepoSearch eq true}">
				         
				                <ui:include src="/include/SearchContents.xhtml"></ui:include>
				         
				         </rich:tab>
				         
				         <!--  rich:tab name="Analyse Indexes"  oncomplete="#{rich:component('loadingPanel')}.hide();">
				         
				                <ui:include src="/include/SearchIndexes.xhtml"></ui:include>
				         
				         </rich:tab -->
				         
				          <rich:tab name="#{message['search.tab.fExplorer.text']}"   oncomplete="#{rich:component('loadingPanel')}.hide();">
				         
				               <ui:include src="/include/FExplorerExtContent.xhtml"></ui:include>
				         
				         </rich:tab>
				         <rich:tab name="#{message['search.tab.searchById.text']}"   oncomplete="#{rich:component('loadingPanel')}.hide();" rendered="#{searchController.enableSearchById}">
				         
				               <ui:include src="/include/SearchById.xhtml"></ui:include>
				         
				         </rich:tab>
				         
				         <rich:tab name="#{message['search.tab.userFeatures.text']}"   oncomplete="#{rich:component('loadingPanel')}.hide();" rendered="#{searchController.enableUserFeatures}">
				         
				               <ui:include src="/include/UserFeaturesPriv.xhtml"></ui:include>
				         
				         </rich:tab>
				         
				         
				   </rich:tabPanel>   
				   </a4j:region>        
			      

                 		              
            </ui:define>
                           
        </ui:composition>
      
</html>	
	
