<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">

            <ui:define name="title">Change Password</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Account Management /</a>				
				<a href="#"><h:outputText value="Change Password" /> </a>
            </ui:define>
            
            <ui:define name="content">            

              <h:panelGroup rendered="#{authController.LOGGED_IN_USER_TYPE ne 'EMAIL'}">
                  <h:form styleClass="common">
		             <div class="error">             
		               	<h:messages/>
		              </div>
					<table width="700">
							<tr>	 
								<td width="23%"><h:outputLabel value="#{message['account.password.oldPassword']}"/></td>
								<td><h:inputSecret id="oldPassword" value="#{userRegController.oldPassword}" size="22" label="oldPassword"  
								required="true"	maxlength="45" validatorMessage="#{message['agent.agentName.matches.invalid']}"														
								>								

								</h:inputSecret></td>
							</tr>
							<tr>	
								<td width="23%"><h:outputLabel value="#{message['account.password.newPassword']}"/></td>
								<td><h:inputSecret id="password" value="#{userRegController.user.passwordHash}" size="22" required="true" /></td>
							</tr>
							
							<tr>	
								<td width="23%"><h:outputLabel value="#{message['account.password.confirmPassword']}"/></td>
								<td><h:inputSecret id="confirmPassword" value="#{userRegController.user.confirmPassword}" size="22" required="true" /></td>
							</tr>							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										
										<h:commandButton value="Cancel"  action="Status.faces?faces-redirect=true" styleClass="btn-gray fright" immediate="true" rendered="#{authController.LOGGED_IN_USER_TYPE eq 'ADMINISTRATOR'}" />
										<h:commandButton value="Cancel"  action="Browse.faces?faces-redirect=true" styleClass="btn-gray fright" immediate="true" rendered="#{authController.LOGGED_IN_USER_TYPE eq 'PRIVILEGED'}" />										
										<h:commandButton value="Update"  action="#{userRegController.savePassword}" styleClass="btn-orange fright" />										
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
					 </h:form>
				</h:panelGroup>
              	<h:panelGroup id="emailUserForm" rendered="#{authController.LOGGED_IN_USER_TYPE eq 'EMAIL'}">
              	 	<h:form styleClass="common">
		             <div class="error">             
		               	<h:messages/>
		              </div>
					<table width="700" >
							<tr>	 
								<td width="23%"><h:outputLabel value="#{message['account.password.oldPassword']}"/></td>
								<td><h:inputSecret id="oldPassword" value="#{emailUserLoginController.oldPassword}" size="22" label="oldPassword"  
								required="true"	maxlength="45" validatorMessage="#{message['agent.agentName.matches.invalid']}"														
								>								

								</h:inputSecret></td>
							</tr>
							<tr>	
								<td width="23%"><h:outputLabel value="#{message['account.password.newPassword']}"/></td>
								<td><h:inputSecret id="password" value="#{emailUserLoginController.password}" size="22" required="true" >
									<f:validateRegex pattern="[a-zA-Z0-9]*$"/>
								</h:inputSecret>
								</td>
							</tr>
							
							<tr>	
								<td width="23%"><h:outputLabel value="#{message['account.password.confirmPassword']}"/></td>
								<td><h:inputSecret id="confirmPassword" value="#{emailUserLoginController.confirmPassword}" size="22" required="true" /></td>
							</tr>							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">		
										
										<h:commandButton value="Cancel"  action="EmailDocumentAccess.faces?faces-redirect=true" styleClass="btn-gray fright" immediate="true" />										
										<h:commandButton value="Update"  action="#{emailUserLoginController.savePassword}" styleClass="btn-orange fright" rendered="#{authController.LOGGED_IN_USER_TYPE eq 'EMAIL'}"/>
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
					 </h:form>
				</h:panelGroup>				
						
				         
            
            </ui:define>      
               
        </ui:composition>
      
</html>	