<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">Data Retention Policy</ui:define>
           
            <ui:define name="breadcrumbs">
            <a href="#" class="main">Repository Data Retention /</a>
					<a href="#">Policy</a>
            </ui:define>
            
            <ui:define name="content">
               
               <style>
				.rf-msgs-sum {
				    display: inline;				    
				    font-size:12px;
				    word-wrap:break-word;
				}

				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-pb-lbl{
				  padding-top:0;
				  padding-bottom: 1px;
				  line-height: 17px;
				}
				.rf-pb-rmng{
				  height: 15px;
				}
  			</style> 
               
                <rich:messages/>
               <br/>
               <rich:dataTable value="#{delPolicyController.allPolicies}" var="policy" styleClass="stylized" rowClasses="even,odd">
                                     
                        <rich:column >
                             <f:facet name="header"> <h:outputText value="Policy Name" /></f:facet>
                             <h:link outcome="ViewUser" >
                                <f:param name="id" value="#{policy.id}"></f:param>
                                <h:outputText value="#{policy.name}"></h:outputText>
                             </h:link>
                        </rich:column>
                        
                         <rich:column >
                             <f:facet name="header"> <h:outputText value="Modif Date" /></f:facet>
                              <h:outputText value="#{policy.modifiedDate}"></h:outputText>
                        </rich:column>
                                               
                         <f:facet name="footer"  >
                            
                            <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
                            
                              <h:link styleClass="btn-gray" outcome="AddDelPolicy"  style="float: right;color:black" value="Add"  />
                             
                         </f:facet>              
                                                             
                    
               </rich:dataTable>
            
            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
