<html   xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">Document Classifier</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a class="main" href="#">Configuration /</a>
				<a class="main" href="#">Document Classifier /</a>
				<a href="#">Document Category List</a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.document.list']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
               <h:form>
	               <rich:dataTable value="#{documentClassifyController.allDocumentCategories}" var="document" styleClass="stylized" rowClasses="even,odd" >
	                                     
	                        <rich:column  style="min-width:200px;max-width:200px;">
	                             <f:facet name="header"> <h:outputText value="#{message['document.category.name.label']}" /></f:facet>
	                             <h:link  outcome="showDocumentCategory" >
	                               <f:param value="#{document.id}" name="id"></f:param>
	                             <h:outputText value="#{document.name}" /></h:link>
	                        </rich:column>
	                        
	                         <rich:column style="max-width:300px;" >
	                             <f:facet name="header" > <h:outputText value="#{message['document.category.description.label']}" /></f:facet>
	                             <h:outputText value="#{document.description}"></h:outputText>
	                        </rich:column>
	                     
	                        <f:facet name="footer">
	                             <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
                             
	                          <h:link styleClass="btn-gray" outcome="AddDocumentCategory"  style="float: right;color:black" value="Add"  /> 
                               	                           
	                         </f:facet>              
	                                                             
	                    
	               </rich:dataTable>
            
               </h:form>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
