<html   xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">Document Classifier</ui:define>
           
            <ui:define name="breadcrumbs">
                <a class="main" href="#">Configuration /</a>
				<a class="main" href="#">Document Classifier /</a>
				<a href="#">Document Types List</a>
            </ui:define>
            
            <ui:define name="content">
               <h:form>
               
               
	               <rich:dataTable value="#{addEditDocCatController.allDocumentTypes}" var="documentType" rows="10" styleClass="stylized" rowClasses="even,odd">
	                                     
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="Type Name" /></f:facet>
	                             <h:link  outcome="showDocumentType" >
	                               <f:param value="#{documentType.id}" name="id"></f:param>
	                             <h:outputText value="#{documentType.name}" /></h:link>
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="Value" /></f:facet>
	                             <h:outputText value="#{documentType.value}"></h:outputText>
	                        </rich:column>
	                     
	                        <f:facet name="footer">
	                             <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
                               
	                            <a class="button button-small button-add" href="AddDocumentType.faces"  style="float: right;" >                          
								     <span >Add</span>
								</a>
	                         </f:facet>                                                            
	                    
	               </rich:dataTable>
            
               </h:form>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
