<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="defaultTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{driveLetterController.init}" />
	</f:metadata>


	<ui:define name="title">Monitoring &amp; Reporting</ui:define>


	<ui:define name="breadcrumbs">
		<!-- <a href="#" class="main">System Configurations /</a>
		<a href="#" class="main">Monitoring &amp; Reporting</a> -->
		<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.monitoring.list']}" /> </a>
	</ui:define>

	<ui:define name="content">

	  <rich:popupPanel id="loadingPanel" modal="true" width="32" height="32">
	  	<h:graphicImage value="/images/spinner.gif"></h:graphicImage>
	  </rich:popupPanel>

      <a4j:region id="driveLettersRegion">
      
      <h:panelGroup rendered="#{driveLetterController.enableMonitoring eq true}"> 
      
		<rich:tabPanel switchType="client" id="monitoringTabsList"
			headerPosition="top">
			<rich:tab name="Shares &amp; Analysis" id="fileSharesTab" oncomplete="#{rich:component('loadingPanel')}.hide();">

				<style>
                  .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                  }
                  
				.rf-pb-rmng {
					width: 160px;
				}
				
				.rf-pb-prgs {
					background-image: none;
				}
				
				.cust-progress-red {
					background-color: red;
				}
				
				.cust-progress-yellow {
					background-color: yellow;
				}
				
				.cust-progress-blue {
					background-color: #55AAFF;
				}
				</style>

				<a4j:region>
					<a4j:poll enabled="#{driveLetterController.pollingEnabled}" 
						render="shareGrid shareGrid1" interval="3000"></a4j:poll>
				</a4j:region>
				<rich:dataTable id="shareGrid"
					value="#{driveLetterController.driveLettersList}" var="driveLetter"
					styleClass="stylized" rows="10" rowClasses="even,odd">

					<rich:column>
						<f:facet name="header">
							<h:outputText value="Drive Letter" />
						</f:facet>
						<h:link outcome="ViewDriveLetter">
							<f:param name="id" value="#{driveLetter.id}"></f:param>
							<h:outputText value="#{driveLetter.driveLetter}"></h:outputText>
							<h:outputText value="..."
								rendered="#{empty driveLetter.driveLetter}" />
						</h:link>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Share Path" />
						</f:facet>
						<h:outputText
							rendered="#{not driveLetter.sharePath.startsWith('\\\\')}"
							value="#{'\\\\'}#{driveLetter.sharePath.substring(driveLetter.sharePath.indexOf('/FS/')+4).replaceAll('/','\\\\')}" />
						<h:outputText
							rendered="#{driveLetter.sharePath.startsWith('\\\\')}"
							value="#{driveLetter.sharePath}" />
					</rich:column>

					<rich:column>
						<f:facet name="header">
							<h:outputText value="Used Capacity" />
						</f:facet>
						<h:panelGroup rendered="#{driveLetter.shareUsedPercentage gt 0}">
							<rich:progressBar minValue="0" progressClass="cust-progress-red"
								maxValue="100" style="line-height:13px;" enabled="false"
								value="#{driveLetter.shareUsedPercentage}"
								rendered="#{driveLetter.warningColour eq 2}">
								<h:outputText value="#{driveLetter.shareUsedPercentage}%"></h:outputText>
							</rich:progressBar>
							<rich:progressBar minValue="0" maxValue="100"
								progressClass="cust-progress-yellow" style="line-height:13px;"
								enabled="false" value="#{driveLetter.shareUsedPercentage}"
								rendered="#{driveLetter.warningColour eq 1}">
								<h:outputText value="#{driveLetter.shareUsedPercentage}%"></h:outputText>
							</rich:progressBar>

							<rich:progressBar minValue="0" maxValue="100"
								progressClass="cust-progress-blue" style="line-height:13px;"
								enabled="false" value="#{driveLetter.shareUsedPercentage}"
								rendered="#{driveLetter.warningColour eq 0}">
								<h:outputText value="#{driveLetter.shareUsedPercentage}%"></h:outputText>
							</rich:progressBar>
						</h:panelGroup>

						<h:panelGroup rendered="#{driveLetter.shareUsedPercentage eq 0}">
							<h:graphicImage value="images/loading.gif"></h:graphicImage>
						</h:panelGroup>

					</rich:column>


					<rich:column>
						<f:facet name="header">
							<h:outputText value="Free/Total" />
						</f:facet>
						<h:panelGroup
							rendered="#{driveLetter.freeSpace gt 0 and driveLetter.totalSpace gt 0}">
							<h:outputText
								value="#{driveLetter.freeSpace} GB / #{driveLetter.totalSpace} GB"></h:outputText>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{driveLetter.freeSpace eq 0 and driveLetter.totalSpace eq 0}">
							<h:graphicImage value="images/loading.gif"></h:graphicImage>
						</h:panelGroup>


					</rich:column>

					<f:facet name="footer">

						<rich:dataScroller maxPages="7" renderIfSinglePage="false"
							fastControls="hide" stepControls="hide" boundaryControls="show">

							<f:facet name="first">
								<h:graphicImage value="images/first.png" />
							</f:facet>

							<f:facet name="last">
								<h:graphicImage value="images/last.png" />
							</f:facet>


							<f:facet name="first-disabled">
								<h:graphicImage value="images/first-disabled.png" />
							</f:facet>

							<f:facet name="last_disabled">
								<h:graphicImage value="images/last-disabled.png" />
							</f:facet>

						</rich:dataScroller>

						<h:link styleClass="btn-gray" outcome="AddDriveLetter"
							style="float: right;color:black" value="Add" />

					</f:facet>
				</rich:dataTable>


			</rich:tab>
			
				<rich:tab name="Reporting" id="monitoringTab" oncomplete="#{rich:component('loadingPanel')}.hide();">
		            <ui:include src="/include/SearchIndexes.xhtml"></ui:include>
		        </rich:tab>

		</rich:tabPanel>
		
			        </h:panelGroup>
			        
			        <h:panelGroup rendered="#{driveLetterController.enableMonitoring eq false}">
			         <rich:tabPanel switchType="client" id="monitoringTabsList1"
			headerPosition="top">
			<rich:tab name="Shares &amp; Analysis" id="fileSharesTab1" oncomplete="#{rich:component('loadingPanel')}.hide();">

				<style>
                  .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                  }
                  
				.rf-pb-rmng {
					width: 160px;
				}
				
				.rf-pb-prgs {
					background-image: none;
				}
				
				.cust-progress-red {
					background-color: red;
				}
				
				.cust-progress-yellow {
					background-color: yellow;
				}
				
				.cust-progress-blue {
					background-color: #55AAFF;
				}
				</style>

				<a4j:region>
					<a4j:poll enabled="#{driveLetterController.pollingEnabled and false}" 
						render="shareGrid1" interval="3000"></a4j:poll>
				</a4j:region>
				<rich:dataTable id="shareGrid1"
					value="#{driveLetterController.driveLettersList}" var="driveLetter"
					styleClass="stylized" rows="10" rowClasses="even,odd">

					<rich:column>
						<f:facet name="header">
							<h:outputText value="Drive Letter" />
						</f:facet>
						<h:link outcome="ViewDriveLetter">
							<f:param name="id" value="#{driveLetter.id}"></f:param>
							<h:outputText value="#{driveLetter.driveLetter}"></h:outputText>
							<h:outputText value="..."
								rendered="#{empty driveLetter.driveLetter}" />
						</h:link>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Share Path" />
						</f:facet>
						<h:outputText
							rendered="#{not driveLetter.sharePath.startsWith('\\\\')}"
							value="#{'\\\\'}#{driveLetter.sharePath.substring(driveLetter.sharePath.indexOf('/FS/')+4).replaceAll('/','\\\\')}" />
						<h:outputText
							rendered="#{driveLetter.sharePath.startsWith('\\\\')}"
							value="#{driveLetter.sharePath}" />
					</rich:column>

					<rich:column>
						<f:facet name="header">
							<h:outputText value="Used Capacity" />
						</f:facet>
						<h:panelGroup rendered="#{driveLetter.shareUsedPercentage gt 0}">
							<rich:progressBar minValue="0" progressClass="cust-progress-red"
								maxValue="100" style="line-height:13px;" enabled="false"
								value="#{driveLetter.shareUsedPercentage}"
								rendered="#{driveLetter.warningColour eq 2}">
								<h:outputText value="#{driveLetter.shareUsedPercentage}%"></h:outputText>
							</rich:progressBar>
							<rich:progressBar minValue="0" maxValue="100"
								progressClass="cust-progress-yellow" style="line-height:13px;"
								enabled="false" value="#{driveLetter.shareUsedPercentage}"
								rendered="#{driveLetter.warningColour eq 1}">
								<h:outputText value="#{driveLetter.shareUsedPercentage}%"></h:outputText>
							</rich:progressBar>

							<rich:progressBar minValue="0" maxValue="100"
								progressClass="cust-progress-blue" style="line-height:13px;"
								enabled="false" value="#{driveLetter.shareUsedPercentage}"
								rendered="#{driveLetter.warningColour eq 0}">
								<h:outputText value="#{driveLetter.shareUsedPercentage}%"></h:outputText>
							</rich:progressBar>
						</h:panelGroup>

						<h:panelGroup rendered="#{driveLetter.shareUsedPercentage eq 0}">
							<h:graphicImage value="images/loading.gif"></h:graphicImage>
						</h:panelGroup>

					</rich:column>


					<rich:column>
						<f:facet name="header">
							<h:outputText value="Free/Total" />
						</f:facet>
						<h:panelGroup
							rendered="#{driveLetter.freeSpace gt 0 and driveLetter.totalSpace gt 0}">
							<h:outputText
								value="#{driveLetter.freeSpace} GB / #{driveLetter.totalSpace} GB"></h:outputText>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{driveLetter.freeSpace eq 0 and driveLetter.totalSpace eq 0}">
							<h:graphicImage value="images/loading.gif"></h:graphicImage>
						</h:panelGroup>


					</rich:column>

					<f:facet name="footer">

						<rich:dataScroller maxPages="7" renderIfSinglePage="false"
							fastControls="hide" stepControls="hide" boundaryControls="show">

							<f:facet name="first">
								<h:graphicImage value="images/first.png" />
							</f:facet>

							<f:facet name="last">
								<h:graphicImage value="images/last.png" />
							</f:facet>


							<f:facet name="first-disabled">
								<h:graphicImage value="images/first-disabled.png" />
							</f:facet>

							<f:facet name="last_disabled">
								<h:graphicImage value="images/last-disabled.png" />
							</f:facet>

						</rich:dataScroller>

						<h:link styleClass="btn-gray" outcome="AddDriveLetter"
							style="float: right;color:black" value="Add" />

					</f:facet>
				</rich:dataTable>


			</rich:tab>
			


		</rich:tabPanel>
			        </h:panelGroup>
		
		</a4j:region>

	</ui:define>


</ui:composition>

</html>

