<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{userRegController.userId}" required="false"   ></f:viewParam>
               <f:event type="preRenderView" listener="#{userRegController.populateUserInfo}"   />
            </f:metadata>
            
            <ui:define name="title">Account Management </ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Account Management /</a>				
				<a href="#"><h:outputText value="Update User"  /></a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.acctManagement.user.edit']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
              <script>
              
              RichFaces.ui.PopupPanel.prototype.processTabindexes = function (input) {
				    if (!this.firstOutside) {
				        this.firstOutside = input;
				    }
				    if (!input.prevTabIndex) {
				        input.prevTabIndex = input.tabIndex;
			         // input.tabIndex = -1; // This line was marked out
				    }
				    if (!input.prevAccessKey) {
				        input.prevAccessKey = input.accessKey;
				        input.accessKey = "";
				    }
				};
              
              
              </script>
            
              <h:form id="editUserForm" styleClass="common"  >
                    <rich:messages  />
                    <br/>
					<table width="700">
							
							
							<tr>
								
								<td width="23%"><h:outputLabel value="#{message['shiroUser.username.label']}"/></td>
								<td><h:inputText  value="#{userRegController.user.username}" size="22" maxlength="40"  required="true"
									validatorMessage="#{message['shiroUser.firstName.matches.invalid']}" tabindex="1"	>
									<f:validateRegex pattern="[a-zA-Z]+"/>
									</h:inputText> </td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.firstname.label']}"/></td>
								<td><h:inputText  value="#{userRegController.user.firstName}" size="22" maxlength="40" tabindex="2"  /></td>
							</tr>
							
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.lastname.label']}"/></td>
								<td><h:inputText  value="#{userRegController.user.lastName}" size="22" maxlength="40" tabindex="3" /></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.email.label']}"/>></td>
								<td><h:inputText  value="#{userRegController.user.email}" size="22" maxlength="50"  tabindex="4"/></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.lockstatus.label']}"/></td>
								<td><h:selectOneMenu  value="#{userRegController.user.lockStatus}"  tabindex="5">
								    <f:selectItem itemLabel="Active" itemValue="Active"/>
								    <f:selectItem itemLabel="In-Active" itemValue="InActive"/>
								    </h:selectOneMenu>
								   
								</td>
							</tr>
							
														
							<tr>	
								<td><h:outputLabel value="#{message['shiroUser.role.label']}"/></td>
								<td><h:selectOneMenu value="#{userRegController.user.role.id}" tabindex="6" >
								       <f:selectItems  value="#{userRegController.allRoles}" var="role" itemLabel="#{role.name}" itemValue="#{role.id}"/>
								    </h:selectOneMenu>
								</td>
							</tr>
							
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
									   
									    <a4j:commandButton value="Reset Password"  oncomplete="#{rich:component('resetPasswordPopup')}.show();document.getElementById('editUserForm:password').focus();" render="resetPasswordPopup"   styleClass="btn-orange" >
									         <f:param name="id" value="#{userRegController.user.id}" ></f:param>
									    </a4j:commandButton>
										<h:commandButton value="Update" action="#{userRegController.update}" styleClass="btn-orange" tabindex="7" >
										   <f:param name="id" value="#{userRegController.user.id}" ></f:param>
										</h:commandButton>
										<h:commandButton value="Cancel"  immediate="true" action="Users.faces?faces-redirect=true" tabindex="8" styleClass="btn-gray" />
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
					 
					 
					 <rich:popupPanel id="resetPasswordPopup" modal="true" domElementAttachment="form"  followByScroll="false" autosized="false" width="470" height="270"  resizeable="false" >
					        <f:facet name="header">
					            <h:outputText value="Reset Password" />
					        </f:facet>
					        <f:facet name="controls">
					            <a    onclick="#{rich:component('resetPasswordPopup')}.hide();" >
					                Close X
					            </a>
					        </f:facet>
					         <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage>
					         
					         <h:messages  />
							<table style="padding-left: 20px;">
									
									<tr>	
										<td ><h:outputLabel value="#{message['account.password.newPassword']}"/></td>
										<td><h:inputSecret id="password" value="#{userRegController.user.resetPassword}"  size="22" tabindex="9" /></td>
									</tr>
									
									<tr>	
										<td ><h:outputLabel value="#{message['account.password.confirmPassword']}"/></td>
										<td><h:inputSecret id="confirmPassword" value="#{userRegController.user.confirmResetPassword}" size="22" tabindex="10"  /></td>
									</tr>							
									<tr>	
										<td colspan="2">
											<br />
											<div class="fright">
																						
												<a4j:commandButton value="Reset"  action="#{userRegController.resetPassword}" oncomplete="#{rich:component('resetPasswordPopup')}.hide();"   render="@form"  styleClass="btn-orange"   >
												   <f:param name="id" value="#{userRegController.userId}" />
												</a4j:commandButton>
												<h:commandButton type="button" value="Cancel" onclick="#{rich:component('resetPasswordPopup')}.hide();" styleClass="btn-gray" immediate="true" >
												  
												</h:commandButton>
																						
											</div>
											<div class="clear"></div>
										</td>
									</tr>
							 </table>
					         
					         
					         
            		 </rich:popupPanel> 
					 
						
				
				 </h:form>
				             
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
