<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
               
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{explorer.selectedNodePath}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{explorer.loadPermissions}"  />
            </f:metadata>
            
            <ui:define name="title">Edit Permissions</ui:define>
           
            <ui:define name="breadcrumbs">
             <a href="#" class="main">System /</a>
				<a href="#" class="main">File Explorer /</a>
				<a href="#">Edit Permissions</a>
            </ui:define>
            
            <ui:define name="content">
                
                <h:form id="permissionsForm" styleClass="common">
                <rich:messages/>
             		<h:inputHidden id="selectedPath" value="#{explorer.selectedNodePath}"/>
               <table class="stylized" style="width: 994px;">
						<thead>											
								<tr>
									<td colspan="2" style="background-color: #E9E9E9"><b>Document Information</b></td>
								</tr>											
						</thead>
						<tbody>
							<tr class="odd">
								<td width="20%">Name</td>
								<td width="80%">#{explorer.selectedNode.name}</td>
							</tr>
							<tr>
								<td>Path</td>
								<td>#{explorer.selectedNode.path}</td>
							</tr>
							<tr class="odd">
								<td>Type</td>
								<td>#{explorer.selectedNode.fileTypeDesc}</td>
							</tr>
						</tbody>
				 </table>
               
               <br/>

                <table class="stylized">
						<thead>											
								<tr>
									<td colspan="4" style="background-color: #E9E9E9"><b>Security Permissions</b></td>
								</tr>											
						</thead>
						<tbody>
							<tr><td colspan="4">		
								<h:selectOneRadio id="permissionUsersOrGroups"  layout="pageDirection" class="stylized" value="#{explorer.permissionUsersOrGroups}">
									<f:ajax event="change" render="allSecUserGroups allShareUserGroups"  listener="#{explorer.groupsUsersSelectionChange}"></f:ajax>
									<f:selectItem itemLabel="Groups" itemValue="1" />
									<f:selectItem itemLabel="Users" itemValue="2"/>
								</h:selectOneRadio>								
							</td></tr>
							<tr class="odd">
							
							<td> 
							<h:panelGrid id="allSecUserGroups">
							   <h:selectManyListbox   id="securityAllListBox" style="width:250px;height:209px;background: white;" size="5" rendered="#{explorer.permissionUsersOrGroups eq 1}">
								  <f:selectItems value="#{explorer.secAllGroups}" var="sid"   itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							   <h:selectManyListbox   id="securityAllusersListBox" style="width:250px;height:209px;background: white;" size="5" rendered="#{explorer.permissionUsersOrGroups eq 2}">
								  <f:selectItems value="#{explorer.secAllUsers}" var="sid"   itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							   </h:panelGrid>
							</td>
							<td style="margin: 0;padding: 0;">
							  <h:panelGroup style="direction: rtl;padding:0;margin-right: 0;margin-left:0;">
							     <a4j:commandButton styleClass="btn-gray" value="Allow" action="#{explorer.securityAllow}" render="securityAllListBox securityAllusersListBox securityAllowListBox"  />
								 <br/>
								 <a4j:commandButton styleClass="btn-gray" style="margin-top:5px;" value="Deny" action="#{explorer.securityDeny}" render="securityAllListBox securityAllusersListBox securityDenyListBox"  />
							 </h:panelGroup>
							
							</td>
							
							<td>
							   <h:selectManyListbox   id="securityAllowListBox" style="width:250px;height:209px;background: white;" size="5" >
								  <f:selectItems value="#{explorer.securityAllowGroups}" var="sid"   itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							   <a4j:commandButton styleClass="btn-gray fright" style="margin-top:5px;" value="Remove Allow" action="#{explorer.removeSecurityAllow}" render="securityAllListBox securityAllusersListBox securityAllowListBox"  />
							</td>
							
							<td>
							   <h:selectManyListbox   id="securityDenyListBox" style="width:250px;height:209px;background: white;" size="5" >
								  <f:selectItems value="#{explorer.securityDenyGroups}" var="sid"  itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							 <h:panelGroup style="direction: rtl;padding:0;margin-right: 0;margin-left:0;">
							     <a4j:commandButton styleClass="btn-gray fright" style="margin-top:5px;" value="Remove Deny" action="#{explorer.removeSecurityDeny}" render="securityAllListBox securityAllusersListBox securityDenyListBox"  />								 
								 
							 </h:panelGroup>
							</td>
							
							
							</tr>

							
							
						</tbody>
				 </table>
				 
				 <br/>
				 <br/>
				  <table class="stylized">
						<thead>		
								<tr>
									<td colspan="4" style="background-color: #E9E9E9"><b>Share Permissions</b></td>
								</tr>											
						</thead>
						<tbody>
							<tr class="odd">
							
							<td> 
							<h:panelGrid id="allShareUserGroups">
							   <h:selectManyListbox   id="shareAllListBox" style="width:250px;height:209px;background: white;" size="5"  rendered="#{explorer.permissionUsersOrGroups eq 1}">
								  <f:selectItems value="#{explorer.shareAllGroups}" var="sid"   itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							   <h:selectManyListbox   id="shareAllusersListBox" style="width:250px;height:209px;background: white;" size="5" rendered="#{explorer.permissionUsersOrGroups eq 2}">
								  <f:selectItems value="#{explorer.shareAllUsers}" var="sid"   itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							   </h:panelGrid>
							</td>
							<td style="margin: 0;padding: 0;">
							  <h:panelGroup style="direction: rtl;padding:0;margin-right: 0;margin-left:0;">
							     <a4j:commandButton styleClass="btn-gray" value="Allow" action="#{explorer.shareAllow}" render="shareAllListBox shareAllusersListBox shareAllowListBox"  />
								 <br/>
								 <a4j:commandButton styleClass="btn-gray" style="margin-top:5px;" value="Deny" action="#{explorer.shareDeny}" render="shareAllListBox shareAllusersListBox shareDenyListBox"  />
							 </h:panelGroup>
							
							</td>
							
							<td>
							   <h:selectManyListbox   id="shareAllowListBox" style="width:250px;height:209px;background: white;" size="5" >
								  <f:selectItems value="#{explorer.shareAllowGroups}" var="sid"   itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							   <a4j:commandButton styleClass="btn-gray fright" style="margin-top:5px;" value="Remove Allow" action="#{explorer.removeShareAllow}" render="shareAllListBox shareAllusersListBox shareAllowListBox"  />
							</td>
							
							<td>
							   <h:selectManyListbox   id="shareDenyListBox" style="width:250px;height:209px;background: white;" size="5" >
								  <f:selectItems value="#{explorer.shareDenyGroups}" var="sid"  itemValue="#{sid.sid}" itemLabel="#{sid.description}"  />							  
							   </h:selectManyListbox>
							   <a4j:commandButton styleClass="btn-gray fright"  style="margin-top:5px;" value="Remove Deny" action="#{explorer.removeShareDeny}" render="shareAllListBox shareAllusersListBox shareDenyListBox" />
							</td>
							
							
							</tr>
					
							
						</tbody>
				 </table>
				 <h:inputHidden id="hiddenRecursive" value="#{explorer.tempRecursive}"/>
				 <h:inputHidden id="hiddenBatchUpdate" value="#{explorer.tempBatchUpdate}"/>
				 
				 <h:panelGroup rendered="#{explorer.selectedNode.type eq 'nt:folder'}">
				 	<!--  <h:selectOneRadio value="#{explorer.recursive}" layout="lineDirection" style="margin-top: 10px;margin-bottom: 10px;">
				 		<f:selectItem itemValue="true" itemLabel="Apply to this folder only"/>
				 		<f:selectItem itemValue="false" itemLabel="Apply to all sub-folders" />
				 	</h:selectOneRadio>
				 	<h:selectOneRadio value="#{explorer.batchUpdate}" layout="lineDirection">
				 		<f:selectItem itemValue="false" itemLabel="Apply Now"/>
						<f:selectItem itemValue="true" itemLabel="Apply Later (Background)"/>
				 	</h:selectOneRadio>-->
					<h:selectBooleanCheckbox id="recursive" value= "#{explorer.recursive}" style="vertical-align: middle;" onclick="document.getElementById('permissionsForm:hiddenRecursive').value=document.getElementById('permissionsForm:recursive').checked">
						<a4j:ajax onevent="click" listener="#{explorer.groupsUsersSelectionChange}" />
					</h:selectBooleanCheckbox><h:outputLabel value="Apply to Sub-Folders"/>
					<h:selectBooleanCheckbox id="batchUpdate" value= "#{explorer.batchUpdate}" style="vertical-align: middle;margin-left: 10px;" onclick="document.getElementById('permissionsForm:hiddenBatchUpdate').value=document.getElementById('permissionsForm:batchUpdate').checked"></h:selectBooleanCheckbox><h:outputLabel value="Background process (for large number of files)"/>
					<h:selectBooleanCheckbox value= "#{explorer.merge}" style="vertical-align: middle;margin-left: 10px;"></h:selectBooleanCheckbox><h:outputLabel value="Merge"/>
				 </h:panelGroup>
				 
				  <br/>
				  
				  <div class="clear"></div>
				  
				  <div class="fright">
										
					  <h:commandButton value="Cancel" immediate="true"  action="FileExplorer?faces-redirect=true" styleClass="btn-gray fright" />
					  <h:commandButton value="Save"  action="#{explorer.savePermissions}" styleClass="btn-orange fright" />
																
				 </div>						 
               
               </h:form>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
