<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
             <f:metadata >
               <f:event type="preRenderView" listener="#{systemCodeController.editLDAPConfiguration}"  />
            </f:metadata>
          
            <ui:define name="title">System Configuration</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">System Configuration /</a>
				<a href="#"><h:outputText value="Edit LDAP Configuration" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.ldapConfigs.edit']}" /> </a>
            </ui:define>
           
            <ui:define name="content">
            
            <style>
            	.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
            </style>
            
              <h:form styleClass="common" >
              <!-- <div class="error">
              	<h:messages/>
              </div>-->
              
                    <div class="error">             
               	        <rich:messages id="errorDiv"/>
	                </div>
	                <h:panelGroup id="successMessage" >
	                   <h:outputText rendered="#{systemCodeController.authenticationSuccess eq true}" value="Connected Successfully" style="font-size: 14px;color: green;" /> 
	                </h:panelGroup>
	                            
					<table width="100%" >
							
					    <tr>	
						    <td width="20%" valign="top"><h:outputLabel value="#{message['editLdap.bindStr.label']}"/>
							</td>
							<td>
								<h:inputText id="bindStr" value="#{systemCodeController.bindStr}" size="30" maxlength="50"  label="bindStr" title="LDAP Bind String" style="width: 500px;" >
									<f:ajax event="blur" listener="#{systemCodeController.changeListner}" render="dnsServer domain dnsSite acctUsername"/>
								</h:inputText><br/>
								(Example: ldap://&lt;host-ip-address&gt;/DC=domain,DC=com)
							</td>
						</tr>
						<tr >	
							<td  ><h:outputLabel value="#{message['editLdap.dnsServer.label']}"/>								
							</td>
							<td >
								<h:inputText id="dnsServer" value="#{systemCodeController.dnsServer}" size="22" maxlength="40"  label="dnsServer" title=" (IP Address of LDAP machine, like:192.168.30.125)"/> 
							   
							</td>
						</tr>
						<tr>	
							<td ><h:outputLabel value="#{message['editLdap.dnsSite.label']}"/>
							</td>
							<td >
								<h:inputText id="dnsSite" value="#{systemCodeController.dnsSite}" size="22" maxlength="40"  label="dnsSite"  title=" (Ldap domain Name)" />
							    
							</td>
						</tr>
						<tr>	
							<td ><h:outputLabel value="#{message['editLdap.acctUsername.label']}"/>
							</td>
							<td >
								<h:inputText id="acctUsername" value="#{systemCodeController.acctUsername}" size="22" maxlength="40"  label="acctUsername" title="(Example: user$@domain.com)" />
							    
							</td>
						</tr>
						<tr>	
							<td ><h:outputLabel value="#{message['editLdap.acctPassword.label']}"/>
							</td>
							<td >
								<h:inputSecret id="acctPassword" value="#{systemCodeController.acctPassword}" size="22" maxlength="40"  label="acctPassword" redisplay="true"/>
							</td>
						</tr>
						<tr>	
							<td ><h:outputLabel value="#{message['editLdap.domain.label']}"/>								
							</td>
							<td >
								<h:inputText id="domain" value="#{systemCodeController.domain}" size="22" maxlength="40"  label="domain" title="(Ldap domain name like [domain.com])" />
								
							</td>
						</tr>
						
						
									
							
							<tr>	
								<td colspan="2" style="padding-top: 15px;">
										<a4j:status name="ajaxStatus">
								            <f:facet name="start">
								            	<i><h:outputText value="Processing, please wait ..." style="float: right; vertical-align: text-bottom;" /></i>
								            </f:facet>
								         </a4j:status>
								
								    <a4j:commandButton limitRender="true" styleClass="btn-orange fleft" value="Test LDAP" action="#{systemCodeController.testLdapConfiguration}" render="successMessage errorDiv" style="margin-left:125px" status="ajaxStatus"  />
														
									<h:commandButton value="Update"  action="#{systemCodeController.updateLdap}" styleClass="btn-orange fleft" style="margin-left:5px" >
										
									</h:commandButton>
									
									<h:commandButton value="Cancel" immediate="true"  action="LDAPCodes" styleClass="btn-orange fleft"  />		
								</td>
									
							</tr>
					 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
