<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
                  
            <f:metadata >               
               <f:event type="preRenderView" listener="#{policyController.init}"  />
                <f:viewParam name="id" id="id" value="#{policyController.policyId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{policyController.populatePolicyInfo}"  />
            </f:metadata>  
            
                       
            <ui:define name="title">Update Policy</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Policy Management /</a>
				<a href="#"><h:outputText value="Update Policy" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.policy.update']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common" >
              <div class="error">
              	<h:messages/>
              </div>
					<table width="700">
							<tr>	
								<td width="23%"><h:outputLabel value="#{message['policy.policyName.label']}"/></td>
								<td><h:inputText id="policyName" value="#{policyController.policy.name}" size="22"  required="true" maxlength="45"
									validatorMessage="#{message['policy.policyName.matches.invalid']}"	>
									<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
								</h:inputText></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['policy.description.label']}"/></td>
								<td><h:inputText id="description"  value="#{policyController.policy.description}" size="22" validatorMessage="#{message['policy.description.matches.invalid']}">
										
									</h:inputText></td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['policy.documentAge.label']}"/></td>
								<td>
									<h:selectOneMenu value="#{policyController.policy.docAgeYears}" style="width: 70px" >
									   <f:selectItems  value="#{policyController.yearsArr}" var="year" itemLabel="#{year}" itemValue="#{year}"/>
									</h:selectOneMenu>
									[Years] 
									<h:selectOneMenu value="#{policyController.policy.docAgeMonths}" style="width: 70px">
									    <f:selectItems  value="#{policyController.monthsArr}" var="month" itemLabel="#{month}" itemValue="#{month}"/>
								    </h:selectOneMenu>
								    [Months]
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['policy.lastModifiedDate.label']}"/></td>
								<td>
								  <h:selectOneMenu value="#{policyController.policy.lastModifiedYears}" style="width: 70px">
									   <f:selectItems  value="#{policyController.yearsArr}" var="year" itemLabel="#{year}" itemValue="#{year}"/>
									</h:selectOneMenu>
									[Years] 
									<h:selectOneMenu value="#{policyController.policy.lastModifiedMonths}" style="width: 70px">
									    <f:selectItems  value="#{policyController.monthsArr}" var="month" itemLabel="#{month}" itemValue="#{month}"/>
								    </h:selectOneMenu>
								    [Months]
								
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['policy.lastAccessedDate.label']}"/></td>
								<td>
								  <h:selectOneMenu value="#{policyController.policy.lastAccessedYears}" style="width: 70px">
									   <f:selectItems  value="#{policyController.yearsArr}" var="year" itemLabel="#{year}" itemValue="#{year}"/>
									</h:selectOneMenu>
									[Years] 
									<h:selectOneMenu value="#{policyController.policy.lastAccessedMonths}" style="width: 70px">
									    <f:selectItems  value="#{policyController.monthsArr}" var="month" itemLabel="#{month}" itemValue="#{month}"/>
								    </h:selectOneMenu>
								    [Months]
								 
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['policy.sizeLargerThan.label']}"/></td>
								<td><h:inputText id="sizeLargerThan"   value="#{policyController.policy.sizeGreaterThan}" style="width: 60px;" size="12"  />
								    <h:outputText value="    "></h:outputText>
								    <h:selectOneMenu value="#{policyController.policy.sizeUnits}" style="width: 70px">
								       <f:selectItem itemLabel="KB"  itemValue="KB"/>
								       <f:selectItem itemLabel="MB"  itemValue="MB"/>
								    </h:selectOneMenu>  
								</td>
							</tr>
							
							</table>
							
							
							<table>
									<tbody><tr valign="top">
										<td width="50%"><h:outputLabel value="#{message['policy.documentFilter.label']}"/>
										
											<dl class="type-category">
												<rich:tree id="tree"  nodeType="#{node.type}" var="node" value="#{policyController.rootNodes}" toggleType="ajax"
										                selectionType="ajax"  >
										                <rich:treeNode type="DocumentCategory" expanded="true" id="documentCategoryId" >
										                    <h:selectBooleanCheckbox value="#{node.selected}"  >
										                       <f:ajax event="click"  listener="#{policyController.categorySelected}"  render="tree" ></f:ajax>
										                    </h:selectBooleanCheckbox>
									
										                     #{node.name}
										                </rich:treeNode>
										                
										                <rich:treeNode type="DocumentType" id="documentTypeId" >
										                   <h:selectBooleanCheckbox value="#{node.selected}" >
										                      <f:ajax event="click"  listener="#{policyController.documentTypeSelected}"  render="tree" ></f:ajax>
										                   </h:selectBooleanCheckbox>
										                   
										                    #{node.name}
										                </rich:treeNode>
										                
										         </rich:tree>
											</dl>
										</td>
										<td width="5%"></td>
										<td>
											<br/>
											<b class="orange">NOTE!</b><br/>
											If no Document Type or Category is selected the Policy will by default apply to all documents.
										</td>
									</tr>
								</tbody>
								
								</table>
						
							<tr>	
								<td></td> 
								
								<td>								
								</td>								
							</tr>
							
							
							<table>
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										
										<h:commandButton value="Cancel"   action="Policies" styleClass="btn-gray fright" immediate="true"/>
										<h:commandButton value="Update"  action="#{policyController.save}" styleClass="btn-orange fright" />
										 										
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
