<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <f:metadata >
               <f:event type="preRenderView" listener="#{systemCodeController.editCompanyConfigurations}"  />
            </f:metadata>
            
            <ui:define name="title">Company Configurations</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Company Configurations /</a>
				<a href="#"><h:outputText value="Edit Company Configurations" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.companyConfigs.edit']}" /> </a>
            </ui:define>
            
            
           
            <ui:define name="content">
            <style>
            	.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				
				.colSize{
					width: 32%;
				}
				
				 .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                  }
				
				
            </style> 
               <rich:popupPanel id="loadingPanel" modal="true" width="32" height="32">
			           <h:graphicImage value="/images/spinner.gif"></h:graphicImage>
              </rich:popupPanel>
                       
              <h:form styleClass="common" id="globalConfigForm" onmouseover="if(document.getElementById('globalConfigForm:emailClient:0').checked==true){document.getElementById('globalConfigForm:enableFileSharingSecurity').disabled=true;}else{document.getElementById('globalConfigForm:enableFileSharingSecurity').disabled=false;}">
              <h:panelGroup  layout="block" id="errorMsgs"  styleClass="error">
              	<rich:messages/>
              </h:panelGroup>
              
              <h3>#{message['editCompany.company.heading']}:</h3>
              <hr style="border-bottom:1px solid !important;"/>
              <table width="700">
                  <tr>	
					    <td width="31%"><h:outputLabel value="#{message['editCompany.companyConfigName.label']}"/>								
						</td>
						<td>
							<h:inputText id="companyConfigName" value="#{systemCodeController.companyConfigName}" size="22" maxlength="40"  label="companyConfigName" />
						</td>
				  </tr>
				  <tr>	
						<td ><h:outputLabel value="#{message['editCompany.companyPreferedName.label']}"/>								
						</td>
						<td>
							<h:inputText id="companyPreferedName" value="#{systemCodeController.companyPreferedName}" size="22" maxlength="40"  label="companyPreferedName" />
						</td>
				   </tr>
				   <tr>	
						<td ><h:outputLabel value="#{message['editCompany.companyAddress.label']}"/>								
						</td>
						<td>
							<h:inputText id="companyAddress" value="#{systemCodeController.companyAddress}" size="22" maxlength="40"  label="companyAddress" />
						</td>
					</tr>

					<tr>	
						<td ><h:outputLabel value="#{message['editCompany.companyTelephone.label']}"/>								
						</td>
						<td>
							<h:inputText id="companyTelephone" value="#{systemCodeController.companyTelephone}" size="22" maxlength="40"  />
						</td>
					</tr>
											
					<tr>	
						<td ><h:outputLabel value="#{message['editCompany.companySupportContact.label']}"/>								
						</td>
						<td>
							<h:inputText id="companySupportContact" value="#{systemCodeController.companySupportContact}" size="22" maxlength="40"  label="companySupportContact" />
						</td>
					</tr>
					<tr>	
						<td ><h:outputLabel value="#{message['editCompany.companySupportEmail.label']}"/>
						</td>
						<td>
							<h:inputText id="companySupportEmail" value="#{systemCodeController.companySupportEmail}" size="22" maxlength="40"  label="companySupportEmail" redisplay="true" />
						</td>
					</tr>
					<tr>
						<td><h:outputLabel value="#{message['editCompany.licenseStr.label']}"/>				
						</td>
						<td>
							<h:inputTextarea  autocomplete="false" value="#{systemCodeController.licenseStr}" rows="3"  style="width: 230px;"/>
						</td>
					</tr>					
					<tr>
						<td colspan="2">
							<h:outputLabel value="#{message['editCompany.ownLogo.top.text']}"/>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<h:outputText value=" "/>
						</td>
					</tr>					
					<tr>
						<td colspan="2">
							<h:outputLabel value="#{message['editCompany.ownLogo.note.text']}"/>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							#{message['editCompany.ownLogo.loginLogo.text']}
						</td>
					</tr>
					<tr>
						<td colspan="2">
							#{message['editCompany.ownLogo.Logo.text']}
						</td>
					</tr>
										<tr>
						<td colspan="2">
							#{message['editCompany.ownLogo.Logo1.text']}
						</td>
					</tr>
					<tr>
						<td colspan="2">
							#{message['editCompany.ownLogo.footerNote.text']}
						</td>
					</tr>					
					<tr>
						<td><h:outputLabel value="#{message['editCompany.loginLogo.label']}"/>				
						</td>
						<td>
							<rich:fileUpload maxFilesQuantity="1" addLabel="Browse" style="height:75px;" acceptedTypes="jpg, gif, png, bmp" fileUploadListener="#{logoUploader.upload}" id="centered-logo" />
						</td>
					</tr>
					<tr>
						<td><h:outputLabel value="#{message['editCompany.logo.label']}"/>				
						</td>
						<td>
							<rich:fileUpload maxFilesQuantity="1" addLabel="Browse" style="height:75px;" acceptedTypes="jpg, gif, png, bmp" fileUploadListener="#{logoUploader.upload}" id="title-logo" />
						</td>
					</tr>
					<tr>
						<td><h:outputLabel value="#{message['editCompany.logo1.label']}"/>				
						</td>
						<td>
							<rich:fileUpload maxFilesQuantity="1" addLabel="Browse" style="height:75px;" acceptedTypes="jpg, gif, png, bmp" fileUploadListener="#{logoUploader.upload}" id="title-logo-1" />
						</td>
					</tr>						
					
				               
              </table>
              
         
			   <br/>			
              
           
			  <table width="700">
						
											
					<tr>	
						<td colspan="2">
												
							<h:commandButton value="Update"  action="#{systemCodeController.updateCompanyConfigurations}" styleClass="btn-orange fleft" style="margin-left:345px" >
								
							</h:commandButton>	
							
							<h:commandButton value="Cancel" immediate="true"  action="GlobalCodes" styleClass="btn-orange fleft" rendered="false" />
								
						</td>
									
						</tr>
				   
				 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
