<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >

   
        <ui:composition template="defaultTemplate.xhtml">
        	 <f:metadata >               
               <f:viewParam name="id" id="id" value="#{jobController.jobId}" >
                <f:validateLongRange minimum="1" ></f:validateLongRange>
               </f:viewParam>
               <f:event type="preRenderView" listener="#{jobController.populateExportJobInfo}"  />
            </f:metadata> 
                       
            <ui:define name="title">Update Export Job</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Job Management /</a>
				<a href="#"><h:outputText value="Update Export Job" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h3>Basic Configuration</h3><hr />
              <h:form styleClass="common" id="addJobForm" prependId="false" >
              <div class="error">
              	<h:messages/>
              </div>
					<table width="700">
							<tr>	
								<td width="23%"><label>Name:</label></td>
								<td colspan="2"><h:inputText id="jobName"  value="#{jobController.job.name}" size="22" required="true" 
									validatorMessage="#{message['job.jobName.matches.invalid']}"	>
									<f:validateRegex pattern="[a-zA-Z0-9 ._-]+"/>
								</h:inputText></td>
							</tr>
							<tr>	
								<td><label>Description:</label></td>
								<td colspan="2"><h:inputText id="description"  value="#{jobController.job.description}" size="50"  validatorMessage="#{message['job.description.matches.invalid']}">
										<f:validateRegex pattern="(^$)|([a-zA-Z0-9 ._-]+)"/>
									</h:inputText></td>
							</tr>
							<tr>	
								<td><label>Type:</label></td>
								<td colspan="2">
									<!--  <h:selectOneMenu  value="#{jobController.job.actionType}" style="width: 138px;height: 27px" >
									   <f:selectItem  itemValue="EXPORT" itemLabel="Export"/>
									   <f:selectItem  itemValue="EXPORTSTUB" itemLabel="Export Stub Only"/>									   
									</h:selectOneMenu>-->
									<h:selectOneRadio id="actionType" value="#{jobController.job.actionType}" layout="lineDirection"  style="width: 350px;" required="true" >
											<f:ajax listener="#{jobController.actionTypeChangeListener}" event="change" render="agentList exportPaths agentType" />
				 							<f:selectItem itemValue="EXPORT" itemLabel="Export"/>
				 							<f:selectItem itemValue="EXPORTSTUB" itemLabel="Export Stub Only" />
				 					</h:selectOneRadio>
								</td>
							</tr>
							<tr>	
								<td><label>Agent Type</label></td>
								<td>
								    <h:selectOneRadio id="agentType" value="#{jobController.job.agent.type}" disabled="#{jobController.enableSharePoint eq false}"  style="width: 218px;height: 27px">
								      <f:ajax event="change" execute="agentType" listener="#{jobController.agentTypeChangeListener}" 
								      render="agentList exportPaths uncdomainLabel uncusernameLabel uncpasswordLabel uncdomainInput uncusernameInput uncpasswordInput"></f:ajax>
									  <f:selectItem  itemValue="FS" itemLabel="File System" itemDisabled="#{jobController.job.actionType eq 'EXPORTSTUB'}"/>
									  <f:selectItem  itemValue="SP" itemLabel="SharePoint"/>
									  
								    </h:selectOneRadio>
								
								</td>
							</tr>								
							<tr>	
								<td><label>Agent</label></td>
								<td>
								<h:panelGroup id="agentList">
								    <h:selectOneMenu value="#{jobController.job.agent.id}"   rendered="#{jobController.job.agent.type eq 'FS'}"  style="width: 138px;height: 27px">
								     <f:selectItems value="#{agentRegController.getAllFSAgents()}" var="agent" itemLabel="#{agent.name}" itemValue="#{agent.id}"/>
									 
								    </h:selectOneMenu>
								    <h:selectOneMenu value="#{jobController.job.agent.id}" rendered="#{jobController.job.agent.type eq 'SP'}"  style="width: 138px;height: 27px">
								     	<f:selectItems value="#{agentRegController.getAllSPAgents()}" var="agent" itemLabel="#{agent.name}" itemValue="#{agent.id}"/>
									 	<f:ajax event="change" execute="agentType" listener="#{jobController.agentSelectionChangeListener}" render="agentList sharePointGrid "></f:ajax>
								    </h:selectOneMenu>
								   </h:panelGroup>
								</td>
								</tr>

							<tr>
							
								<td><h:panelGroup id="uncdomainLabel"><h:outputLabel rendered="${jobController.showSPGrid ne true}" value="Domain"></h:outputLabel>
								</h:panelGroup></td>
							
								<td width="35%"><h:panelGroup id="uncusernameLabel"><h:outputLabel rendered="${jobController.showSPGrid ne true}" value="Username" style="width: 150px;margin-left: 35px;"></h:outputLabel></h:panelGroup></td>
							
								<td><h:panelGroup id="uncpasswordLabel"><h:outputLabel rendered="${jobController.showSPGrid ne true}" value="Password"></h:outputLabel></h:panelGroup></td>
							</tr>
							<tr>
								<td><h:panelGroup id="uncdomainInput"><h:inputText value="#{jobController.remoteDomainName}"  style="width: 150px;" rendered="${jobController.showSPGrid ne true}" ></h:inputText></h:panelGroup></td>
								<td><h:panelGroup id="uncusernameInput"><h:inputText value="#{jobController.remoteUserName}"  style="width: 150px;margin-left: 35px;" rendered="${jobController.showSPGrid ne true}" ></h:inputText></h:panelGroup></td>
								<td><h:panelGroup id="uncpasswordInput"><h:inputSecret value="#{jobController.remoteUserPassword}"  style="width: 150px;" rendered="${jobController.showSPGrid ne true}" redisplay="true" ></h:inputSecret></h:panelGroup></td>
							</tr>
						</table>
						<br/>
						<h:panelGroup id="exportPaths">
							<rich:dataTable id="pathGrid" value="#{jobController.exportPathList}"  var="path" style="background:none;border:0;">

								<rich:column style="border:0;">
								<table width="700" style="table-layout:fixed;">
<tr>
										<td width="25%" ><h:outputLabel value="Source Path"/>
										</td>
										<td colspan="2"><p style="word-wrap: break-word;">#{path.path}</p>
										</td>
									 </tr>
									 <tr>
									 	<td><h:outputLabel value="Destination Path"/>
										</td>
										<td colspan="2"><h:inputText
												value="#{path.destinationPath}" size="70"
												style="width: 500px"></h:inputText> <a4j:commandButton
												styleClass="btn-gray" value="..."
												rendered="${jobController.showSPGrid eq true}"
												oncomplete="#{rich:component('sharePointGrid')}.show()"
												render="sharePointGrid" action="#{jobController.selectPath}"
												immediate="true">
												<f:param name="current" value="#{path.path}" />
											</a4j:commandButton></td>
									</tr>
									<tr><td><h:outputLabel value="Include Sub-Folder" />
										</td>
										<td><h:selectBooleanCheckbox value="#{path.recursive}" />
										</td>												
									</tr>
									
									<tr>
										<td><h:outputLabel value="Export Size" />
										</td>
										<td><h:outputText value="#{path.folderSize}"
												rendered="#{jobController.job.actionType eq 'EXPORT'}" /> <h:outputText
												value="#{path.folderStubsSize}"
												rendered="#{jobController.job.actionType eq 'EXPORTSTUB'}" />
										</td>
									</tr>									
								</table>
								</rich:column>
							</rich:dataTable>
							
							
						</h:panelGroup>

						<table>						
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										
										<h:commandButton value="Cancel"  action="Jobs" styleClass="btn-gray fright" immediate="true" />
										<h:commandButton value="Update"  action="#{jobController.saveExport}" styleClass="btn-orange fright" />
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
 <rich:popupPanel modal="true" autosized="true" resizeable="false" id="sharePointGrid1" domElementAttachment="form">
        <f:facet name="header">
            <h:outputText value="Select Sharepoint Library" />
        </f:facet>
        <f:facet name="controls">
            <h:outputLink value="#" onclick="#{rich:component('sharePointGrid')}.hide(); return false;">
                X
            </h:outputLink>
        </f:facet>
        

        
        <h:panelGroup id="sharePointGrid21">
        <h:panelGroup style="width: 100%;">
					<h3>Share Point</h3><hr />

					<h:panelGrid id="sitePath1" columns="2">
						<h:column><h:outputLabel value="Site Path" /> </h:column>
						<h:column>
							<h:selectOneMenu id="siteList1" value="#{jobController.job.spPath}" style="width:300px;" >
									   <f:selectItems value="#{jobController.siteList}" var="site" itemLabel="#{site}" itemValue="#{site}"/>
									   <f:ajax event="change"  execute="@this" listener="#{jobController.spSiteChangeListener}" render="libraryGrid"></f:ajax>
						    </h:selectOneMenu>
						</h:column>
					</h:panelGrid>
					<label>Select Library</label>
					<h:panelGrid id="libraryGrid" columns="4" >
						<h:column>
						
						<label>Libraries:</label>
						
						<dl class="type-category" style="width: 300px;overflow: scroll;">
														
							
							<!--<h:selectManyCheckbox value="#{jobController.selectedLibraries}" layout="pageDirection" style="margin-left: 30px;" >-->
							<h:selectOneListbox  value="#{jobController.selectedLibrary}" style="margin-top:10px; margin-bottom:10px; width:400px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="10" >
									<f:ajax event="click"  execute="@this" listener="#{jobController.spLibrarySelectionListener}" render="libraryGrid"></f:ajax>
								<f:selectItems value="#{jobController.libraryList}" var="n"
   			 						itemLabel="#{n}" itemValue="#{n}" >
   			 				
   			 						</f:selectItems>
   			 						</h:selectOneListbox>
							<!-- </h:selectManyCheckbox>-->
							<br/>
						</dl>
						</h:column>
						<h:column>
						<label>Sub-Libraries:</label>
						<dl class="type-category" style="width: 300px;">
							<!-- <h:selectManyCheckbox value="#{jobController.selectedLibraries}" layout="pageDirection" style="margin-left: 30px;" >-->
							<h:selectOneListbox value="#{jobController.selectedSubLibrary}" style="margin-top:10px; margin-bottom:10px; width:400px;height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="10" >
							   	<f:ajax event="click"  execute="@this" listener="#{jobController.spSubLibrarySelectionListener}" render="libraryGrid"></f:ajax>
								<f:selectItems value="#{jobController.subLibraryList}" var="n"
   			 						itemLabel="#{n}" itemValue="#{n}" >

   			 						</f:selectItems>
   			 						</h:selectOneListbox>
							<!-- </h:selectManyCheckbox>-->
							<br/>
						</dl>			
								

						</h:column>
						</h:panelGrid>
						<div align="center">
							<a4j:commandButton value="Save" action="#{jobController.saveLibrarySelection}" render="exportPaths" styleClass="btn-gray"
								oncomplete="#{rich:component('sharePointGrid')}.hide();">										
							</a4j:commandButton>
						</div>
						</h:panelGroup>
						</h:panelGroup>
    </rich:popupPanel>	
    
     <rich:popupPanel modal="true" autosized="true" resizeable="false" id="sharePointGrid" domElementAttachment="form">
        <f:facet name="header">
            <h:outputText style="height: 50px;" value="Select Sharepoint Library" />
        </f:facet>
        <f:facet name="controls">
            <h:outputLink value="#" onclick="#{rich:component('sharePointGrid')}.hide(); return false;">
                X
            </h:outputLink>
        </f:facet>
        

        
        <h:panelGroup id="sharePointGrid2">
        <h:panelGroup layout="block" style="width: 100%;" >
        <table class="stylized">
			<tr class="odd">
				<td colspan="2">
        			<label>Share Point</label>
        		</td>
        	</tr>
        	<tr class="even">
        		<td>        	
					<!-- <h:panelGrid id="sitePath" columns="2" styleClass="stylized" rowClasses="even,odd">
						<h:column><label>Site Path</label> </h:column>
						 
						<h:column> -->
						<label>Site Path</label>
				</td>
				<td>
							<h:selectOneMenu id="siteList" value="#{jobController.job.spPath}" style="width:300px;">
									   <f:selectItems value="#{jobController.siteList}" var="site" itemLabel="#{site}" itemValue="#{site}"/>
									   <f:ajax event="change"  execute="@this" listener="#{jobController.spSiteChangeListener}" render="libraryGrid1 tree"></f:ajax>
						    </h:selectOneMenu>
						<!-- </h:column>
					</h:panelGrid>-->
				</td>
			</tr>
						<!-- <tr class="odd">
				<td colspan="2">
					<label>Select Library</label>
				</td>
			</tr>-->
			<tr class="odd">
				<td colspan="2">
					<!--<h:panelGrid id="libraryGrid" columns="2" styleClass="stylized" rowClasses="odd,even">
						<h:column>-->
						<label>Libraries:</label>
				</td>
				<!--<td><label>Sub-Libraries:</label></td>-->
			</tr>
			<tr class="even">
				<td colspan="2">
						<dl class="type-category">
														
							
							<!--<h:selectManyCheckbox value="#{jobController.selectedLibraries}" layout="pageDirection" style="margin-left: 30px;" >-->
							<h:selectOneListbox rendered="false" id="libraryGrid1" value="#{jobController.selectedLibrary}" style="margin-top:10px; margin-bottom:10px; width:400px;height:185px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" size="10" >
									<f:ajax event="click"  execute="@this" listener="#{jobController.spLibrarySelectionListener}" render="libraryGrid1"></f:ajax>
								<f:selectItems value="#{jobController.libraryList}" var="n"
   			 						itemLabel="#{n}" itemValue="#{n}" >
   			 				
   			 						</f:selectItems>
   			 						</h:selectOneListbox>
							<!-- </h:selectManyCheckbox>-->

							<rich:tree id="tree"  nodeType="#{node.type}" var="node" value="#{jobController.rootNodes}" toggleType="ajax"
						               selectionType="ajax" selectionChangeListener="#{jobController.selectionChanged}" >
						               <rich:treeNode type="library" expanded="true" id="libId" toggleListener="#{jobController.spTreeNodeToggled}" >
							               	<h:inputHidden id="nodePath" value="#{node.path}"></h:inputHidden>
							               	<h:inputHidden id="nodeGuid" value="#{node.guid}"></h:inputHidden>
          									<h:selectBooleanCheckbox value="#{node.selected}" rendered="false" >
						                       <a4j:ajax event="change" listner="#{jobController.librarySelected}" onbeforesubmit="addRemoveSelectedSPLib()" render="tree" ></a4j:ajax>
						                    </h:selectBooleanCheckbox>	
						               		<h:outputText value="#{node.name}"/>
						                </rich:treeNode>
						                
							   </rich:tree>
						</dl>		
					<!--	</h:column>
						</h:panelGrid>-->
					</td>
				</tr>
				<tr class="even">
					<td colspan="2">
						<div align="center">
							<a4j:commandButton value="Save" action="#{jobController.saveLibrarySelection}" render="exportPaths" styleClass="btn-gray" 
								oncomplete="#{rich:component('sharePointGrid')}.hide();">										
							</a4j:commandButton>
						</div>
					</td>
				</tr>
			</table>
						</h:panelGroup>
						</h:panelGroup>
    </rich:popupPanel>			 
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
