<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
            <f:metadata >
               <f:event type="preRenderView" listener="#{systemCodeController.editLdap}"  />
            </f:metadata>
                       
            <ui:define name="title">Update Configurations</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">System Setup /</a>
				<a href="#" class="main">Global Configurations /</a>
				<a href="#"><h:outputText value="Update Global Configurations" /> </a>
            </ui:define>
            
            <ui:define name="content">            
              
              <style>
                  .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                   }
                  
                 .rf-tab-hdr-act.rf-tab-hdr-top {
                      vertical-align: middle;
                  }
                  .rf-tab-hdr-inact.rf-tab-hdr-top {
                      vertical-align: middle;
                  }
                  
                  .rf-tab-hdr-spcr{
                     padding-left: 0 !important;
                   }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                   }
                   .rf-tbp{
                     padding-top: 3px;
                   }
                   .rf-tab-cnt{
                      height: 330px;
                      border: 0;
                      padding-left:0;
                      padding-right:0;
                      background: #f5f5f5;
                     
                   }
                   .rf-tab-lbl{
                      font-family:verdana,arial,sans-serif  ;
                   }
                   
                    
				 .rf-tab-hdr-act {
				   padding-top:4px !important;
				 }
                </style>
              
            
              <!-- <h:form styleClass="common" prependId="false">-->
             <div class="error">             
               	<rich:messages/>
              </div>
              <h:panelGroup id="successMessage" ><h:outputText rendered="#{systemCodeController.authenticationSuccess eq true}" value="Connected Successfully" style="font-size: 14px;color: green;" /> </h:panelGroup>
              <h:panelGroup>
              <rich:tabPanel  switchType="client" >
              	<rich:tab title="LDAP Configurations" name="LDAP Configurations">
              	  <h:form styleClass="common" prependId="false" id="ldapForm">
              		<table width="700" class="stylized">
						<tr>	
								<td width="23%" valign="top"><h:outputLabel value="Bind String"/>
							</td>
							<td>
								<h:inputText id="bindStr" value="#{systemCodeController.bindStr}" size="50" maxlength="50"  label="bindStr" required="true" style="width: 400px;" /><br/>
								(Example: ldap://&lt;host-ip-address&gt;/DC=domain,DC=com)
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="DNS Server"/>								
							</td>
							<td>
								<h:inputText id="dnsServer" value="#{systemCodeController.dnsServer}" size="22" maxlength="40"  label="dnsServer" required="true"/>
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="DNS Site"/>
							</td>
							<td>
								<h:inputText id="dnsSite" value="#{systemCodeController.dnsSite}" size="22" maxlength="40"  label="dnsSite" required="true" />
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="Service Account Name"/>								
							</td>
							<td>
								<h:inputText id="acctUsername" value="#{systemCodeController.acctUsername}" size="22" maxlength="40"  label="acctUsername" required="true" />
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="Service Account Password"/>
							</td>
							<td>
								<h:inputSecret id="acctPassword" value="#{systemCodeController.acctPassword}" size="22" maxlength="40"  label="acctPassword" redisplay="true" required="true"/>
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="Domain Name"/>								
							</td>
							<td>
								<h:inputText id="domain" value="#{systemCodeController.domain}" size="22" maxlength="40"  label="domain" required="true" />
							</td>
						</tr>
						
						<tr>	
							<td width="23%"><h:outputLabel value="Restore Domain Name"/>								
							</td>
							<td>
								<h:inputText id="restoreDomainName" value="#{systemCodeController.restoreDomainName}" size="22" maxlength="40"  />
							</td>
						</tr>
												
						<tr>	
							<td width="23%"><h:outputLabel value="Restore User Name"/>								
							</td>
							<td>
								<h:inputText id="restoreUser" value="#{systemCodeController.restoreUser}" size="22" maxlength="40"  label="restoreUser" required="true" />
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="Restore Password"/>
							</td>
							<td>
								<h:inputSecret id="restorePassword" value="#{systemCodeController.restorePassword}" size="22" maxlength="40"  label="restorePassword" redisplay="true" required="true" />
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Enable Stub Authorization"/>								
							</td>
							<td>
								<h:selectBooleanCheckbox value="#{systemCodeController.enableStubAuth}"/>								
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Enable SSO Login"/>
							</td>
							<td>
								<h:selectBooleanCheckbox value="#{systemCodeController.enableSso}" />					
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Show Drive Letter for Stub"/>
							</td>
							<td>
								<h:selectBooleanCheckbox value="#{systemCodeController.enableDriveLetter}" />					
							</td>
						</tr>
						
						<tr>	
						   <td >
						   </td>
							<td >								
								<a4j:commandButton styleClass="btn-gray fleft" value="Test LDAP" action="#{systemCodeController.testLdapConfiguration}" render="successMessage" style="margin-left:125px" />
							
								<h:commandButton styleClass="btn-gray fleft" value="Update" action="#{systemCodeController.updateLdap}" >
									<f:param name="formName" value="ldap"></f:param>
								</h:commandButton>
							</td>
						</tr>
					</table>
					</h:form>
              	</rich:tab>              
              	<rich:tab title="General" name="General">
              	<h:form styleClass="common" prependId="false" id="generalForm">
              		<table width="700" class="stylized"> 
						<tr>	
								<td width="23%"><h:outputLabel value="DNS Suffix"/>								
							</td>
							<td>
								<h:inputText id="domainName" value="#{systemCodeController.domainName}" size="22" maxlength="40"  label="domainname" />
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="DNS Server 1"/>								
							</td>
							<td>
								<h:inputText id="ipAddress1" value="#{systemCodeController.ipAddress1}" size="22" maxlength="40"  label="ipddress1" />
							</td>
						</tr>
						<tr>	
							<td width="23%"><h:outputLabel value="DNS Server 2"/>								
							</td>
							<td>
								<h:inputText id="ipAddress2" value="#{systemCodeController.ipAddress2}" size="22" maxlength="40"  label="ipaddress2" />
							</td>
						</tr>
					</table>
					
					<table width="700" class="stylized">
						<tr>
							<td width="23%"><h:outputLabel value="Max no. of Search Results"/>
							</td>
							<td>
							<h:inputText id="maxSearchResults" value="#{systemCodeController.maxSearchResults}" size="22" maxlength="40"  label="maxSearchResults" />
							</td>
						</tr>
					
						<tr>
								<td><h:outputLabel value="Authentication order"/></td>
								<td><h:selectOneMenu value="#{systemCodeController.authenticationMode}" >
									  <f:selectItem  itemValue="1" itemLabel="DB Only"/>
									  <f:selectItem  itemValue="2" itemLabel="DB, AD"/>
									  <f:selectItem  itemValue="3" itemLabel="AD, DB"/>
								    </h:selectOneMenu>
								</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Enable Export for Priv User"/>
							</td>
							<td>
								<h:selectBooleanCheckbox value="#{systemCodeController.enablePrivExport}" />					
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Max no. of Export Results"/>
							</td>
							<td>
							<h:inputText id="maxResultsToExport" value="#{systemCodeController.maxResultsToExport}" size="22" maxlength="40"  label="maxResultsToExport" />
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Print Report for Priv User"/>
							</td>
							<td>
								<h:selectBooleanCheckbox value="#{systemCodeController.enablePrivPrintReport}" />					
							</td>
						</tr>	
						<tr>
							<td width="23%"><h:outputLabel value="Enable Tagging:"/>
							</td>
							<td>
								<h:selectBooleanCheckbox value="#{systemCodeController.enableDocumentTagging}" />					
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Show Tags in Search Results:"/>
							</td>
							<td>
								<h:selectBooleanCheckbox value="#{systemCodeController.showTagInSearchResults}" />					
							</td>
						</tr>						
						<tr>
							<td width="23%"><h:outputLabel value="Show user Audit History"/>
							</td>
							<td>
								<h:inputText id="useraudithistory" value="#{systemCodeController.showUserAuditHistory}" size="22" maxlength="40"  label="useraudithistory" />													
							</td>
						</tr>					
						<tr>
							<td colspan="2">
								<h:commandButton value="Update"  action="#{systemCodeController.updateLdap}" styleClass="btn-orange fleft" style="margin-left:525px" >
									<f:param name="formName" value="general"></f:param>
								</h:commandButton>								
							</td>
						</tr>
						
					</table>
					
					</h:form>
					
              	</rich:tab>

              	<rich:tab title="Agent Configurations" name="Built-In Agent Configurations">
              	<h:form styleClass="common" prependId="false" id="agentForm">
              		<table width="700" class="stylized">					
						<tr>
							<td width="23%"><h:outputLabel value="Agent Name"/>				
							</td>
							<td>
								<h:inputText id="agentName" value="#{systemCodeController.agentName}" required="true"/>
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Max Tries to write"/>								
							</td>
							<td>
								<h:inputText id="noOfTries" value="#{systemCodeController.maxNoOfTries}" required="true" />
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Stub Icons File Path"/>								
							</td>
							<td>
								<h:inputText id="stubIconFilePath" value="#{systemCodeController.stubIconFilePath}" required="true" />
							</td>
						</tr>						
						<tr>
							<td width="23%"><h:outputLabel value="Application Path"/>								
							</td>
							<td>
								<h:inputText id="applicationPath" value="#{systemCodeController.applicationPath}" required="true" style="width: 400px;" />
							</td>
						</tr>
						<tr>
							<td width="23%"><h:outputLabel value="Job Logs Path"/>								
							</td>
							<td>
								<h:inputText id="jobLogsPath" value="#{systemCodeController.jobLoggingPath}" required="true" style="width: 400px;" />
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<h:commandButton value="Update"  action="#{systemCodeController.updateLdap}" styleClass="btn-orange fleft" style="margin-left:525px" >
									<f:param name="formName" value="agent"></f:param>
								</h:commandButton>								
							</td>
						</tr>
					</table>
					</h:form>
              	</rich:tab>
              </rich:tabPanel>
              </h:panelGroup>
              <h:form styleClass="common" prependId="false" >
					<table width="700" style="padding-top: 60px">							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										
										
										<h:commandButton value="Cancel"  action="SystemCodes" styleClass="btn-gray" immediate="true" rendered="false" />
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
						
				 </h:form>      
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
