<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <f:metadata >
               <f:event type="preRenderView" listener="#{systemCodeController.editGlobalConfiguration}"  />
            </f:metadata>
            
            <ui:define name="title">System Configuration</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">System Configuration /</a>
				<a href="#"><h:outputText value="Edit Global Configuration" /> </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.globalConfigs.edit']}" /> </a>
            </ui:define>
            
            
           
            <ui:define name="content">
            <style>
            	.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-msg-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				
				.colSize{
					width: 32%;
				}
				
				 .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                  }
				
				
            </style> 
               <rich:popupPanel id="loadingPanel" modal="true" width="32" height="32">
			           <h:graphicImage value="/images/spinner.gif"></h:graphicImage>
              </rich:popupPanel>
                       
              <h:form styleClass="common" id="globalConfigForm" onmouseover="if(document.getElementById('globalConfigForm:emailClient:0').checked==true){document.getElementById('globalConfigForm:enableFileSharingSecurity').disabled=true;}else{document.getElementById('globalConfigForm:enableFileSharingSecurity').disabled=false;}">
              <h:panelGroup  layout="block" id="errorMsgs"  styleClass="error">
              	<rich:messages/>
              </h:panelGroup>
              
              <h3>#{message['editGlobal.global.heading']}:</h3>
              <hr style="border-bottom:1px solid !important;"/>
              <table width="700">
                  <tr>	
					    <td width="31%"><h:outputLabel value="#{message['editGlobal.global.domainName.label']}"/>								
						</td>
						<td>
							<h:inputText id="domainName" value="#{systemCodeController.domainName}" size="22" maxlength="40"  label="domainname" />
						</td>
				  </tr>
				  <tr>	
						<td ><h:outputLabel value="#{message['editGlobal.global.ipAddress1.label']}"/>								
						</td>
						<td>
							<h:inputText id="ipAddress1" value="#{systemCodeController.ipAddress1}" size="22" maxlength="40"  label="ipddress1" />
						</td>
				   </tr>
				   <tr>	
						<td ><h:outputLabel value="#{message['editGlobal.global.ipAddress2.label']}"/>								
						</td>
						<td>
							<h:inputText id="ipAddress2" value="#{systemCodeController.ipAddress2}" size="22" maxlength="40"  label="ipaddress2" />
						</td>
					</tr>
					
					
					<tr>
						<td><h:outputLabel value="#{message['editGlobal.global.authenticationMode.label']}"/></td>
						<td><h:selectOneMenu value="#{systemCodeController.authenticationMode}" >
							  <f:selectItem  itemValue="1" itemLabel="DB Only"/>
							  <f:selectItem  itemValue="2" itemLabel="DB, AD"/>
							  <f:selectItem  itemValue="3" itemLabel="AD, DB"/>
							  
							  <f:ajax event="change" listener="#{systemCodeController.testLDAPConfigured}" render="errorMsgs" />
						    </h:selectOneMenu>
						</td>
					</tr>
					
					<tr>	
						<td ><h:outputLabel value="#{message['editGlobal.global.restoreDomainName.label']}"/>								
						</td>
						<td>
							<h:inputText id="restoreDomainName" value="#{systemCodeController.restoreDomainName}" size="22" maxlength="40"  />
						</td>
					</tr>
											
					<tr>	
						<td ><h:outputLabel value="#{message['editGlobal.global.restoreUser.label']}"/>								
						</td>
						<td>
							<h:inputText id="restoreUser" value="#{systemCodeController.restoreUser}" size="22" maxlength="40"  label="restoreUser" />
						</td>
					</tr>
					<tr>	
						<td ><h:outputLabel value="#{message['editGlobal.global.restorePassword.label']}"/>
						</td>
						<td>
							<h:inputSecret id="restorePassword" value="#{systemCodeController.restorePassword}" size="22" maxlength="40"  label="restorePassword" redisplay="true" />
						</td>
					</tr>
					
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.useraudithistory.label']}"/>
						</td>
						<td>
							<h:inputText id="useraudithistory" value="#{systemCodeController.showUserAuditHistory}" size="22" maxlength="40"  label="useraudithistory" />													
						</td>
					</tr>
					
					<tr>
					  <td width="31%" ><h:outputLabel value="#{message['editGlobal.global.maxSearchResults.label']}s"/>
					  </td>
					  
					  <td>
					      <h:inputText id="maxSearchResults" value="#{systemCodeController.maxSearchResults}" size="22" maxlength="40"  label="maxSearchResults" />
					  </td>
				    </tr>
				    
				    <tr>
					  <td ><h:outputLabel value="#{message['editGlobal.global.maxAnalysisResults.label']}"/>
					  </td>
					  <td>
					       <h:inputText id="maxAnalysisResults" value="#{systemCodeController.maxAnalysisResults}"  size="22" maxlength="40"  label="maxAnalysisResults" />				     
					  </td>
				    </tr>
				    
				    <tr>
					  <td width="31%" ><h:outputLabel value="#{message['editGlobal.global.maxNoOfVersions.label']}"/>
					  </td>
					  
					  <td>
					      <h:inputText id="maxNoOfVersions" value="#{systemCodeController.maxNoOfVersions}" size="22" maxlength="40"  label="maxNoOfVersions" />
					  </td>
				    </tr>
				    
				    <tr>
						<td><h:outputLabel value="#{message['editGlobal.global.stubAccessMode.label']}"/></td>
						<td><h:selectOneMenu value="#{systemCodeController.stubAccessMode}" >
							  <f:selectItem  itemValue="1" itemLabel="View"/>
							  <f:selectItem  itemValue="2" itemLabel="Open/Download"/>
							  <f:selectItem  itemValue="3" itemLabel="Restore"/>
						    </h:selectOneMenu>
						</td>
					</tr>
				    
			    	<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enableStubAuth.label']}"/>							
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableStubAuth}"/>								
						</td>
					</tr>
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enableSso.label']}"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableSso}" />					
						</td>
					</tr>
									
					
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enablePrivExport.label']}"/>
						</td>
						<td>
						   
							<h:selectBooleanCheckbox value="#{systemCodeController.enablePrivExport}" >
							  
							</h:selectBooleanCheckbox>
												
						</td>
					</tr>
					
					<tr>
					  <td ><h:outputLabel value="#{message['editGlobal.global.maxResultsToExport.label']}"/>
					  </td>
					  <td>
					    
					       <h:inputText id="maxResultsToExport" value="#{systemCodeController.maxResultsToExport}" readonly="#{systemCodeController.enablePrivExport eq false}" size="22" maxlength="40"  label="maxResultsToExport" />
					     
					  </td>
				    </tr>
					<tr>
					  <td ><h:outputLabel value="#{message['editGlobal.global.maxBatchSize.label']}"/>
					  </td>
					  <td>
					    
					       <h:inputText id="maxBatchSize" value="#{systemCodeController.maxBatchSize}"  size="22" maxlength="40"  label="maxBatchSize" />
					     
					  </td>
				    </tr>
				    
					<tr>
					  <td ><h:outputLabel value="#{message['editGlobal.global.serverWarningLimit.label']}"/>
					  </td>
					  <td>					    
					       <h:inputText id="serverWarningLimit" value="#{systemCodeController.serverWarningLimit}"  size="22" maxlength="40"  label="serverWarningLimit" >
					       		<f:validateLongRange minimum="1" maximum="99"></f:validateLongRange>
					       </h:inputText>					     
					  </td>
				    </tr>				    
				    
				    <tr>
					  <td ><h:outputLabel value="#{message['editGlobal.global.serverCriticalLimit.label']}"/>
					  </td>
					  <td>					    
					       <h:inputText id="serverCriticalLimit" value="#{systemCodeController.serverCriticalLimit}"  size="22" maxlength="40"  label="serverCriticalLimit" >
					       		<f:validateLongRange minimum="1" maximum="99"></f:validateLongRange>
					       </h:inputText>					     
					  </td>
				    </tr>
					
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enablePrivPrintReport.label']}"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enablePrivPrintReport}" />					
						</td>
					</tr>	
								
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enableDriveLetter.label']}"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableDriveLetter}" />					
						</td>
					</tr>
					
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enableSharePoint.label']}"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableSharePoint}" />					
						</td>
					</tr>
					
					<tr style="display: none;">
						<td ><h:outputLabel value="Enable Print Archiving"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enablePrintArchiving}" />					
						</td>
					</tr>
					
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enableThumbnailsForSearch.label']}"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableThumbnailsForSearch}" />					
						</td>
					</tr>
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enableThumbnailsForStubs.label']}"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableThumbnailsForStubs}" />					
						</td>
					</tr>
					<tr>
						<td ><h:outputLabel value="#{message['editGlobal.global.enableThumbnailsForSummary.label']}"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableThumbnailsForSummary}" />					
						</td>
					</tr>
					<h:panelGroup rendered="false">
					<tr>
						<td ><h:outputLabel value="Enable Thumbnails on File Lists"/>
						</td>
						<td>
							<h:selectBooleanCheckbox value="#{systemCodeController.enableThumbnailsForFileList}" />					
						</td>
					</tr>			
					</h:panelGroup>		
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.showPathInSearchResults.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.showPathInSearchResults}" />
				   		</td>
				   </tr>
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.showExcerptInSearchResults.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.showExcerptInSearchResults}" />
				   		</td>
				   </tr>
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.lazyArchiving.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.lazyArchiving}" />
				   		</td>
				   </tr>
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.lazyExport.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.lazyExport}" />
				   		</td>
				   </tr>
   				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.includeLinkedFiles.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.includeLinkedFiles}" />
				   		</td>
				   </tr>
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.calculateFolderSize.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.calculateFolderSize}" />
				   		</td>
				   </tr>
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.enableActiveArchivingNotification.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.enableActiveArchivingNotification}" />
				   		</td>
				   </tr>
				   
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.enableRepoSearch.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.enableRepoSearch}" />
				   		</td>
				   </tr>
				   
				   <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.global.enableCifsSearch.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.enableCifsSearch}" />
				   		</td>
				   </tr>
				   					   
				   			   
				   
				   <!--<tr>
				   		<td> <h:outputLabel value="Enable CIFS File Sharing"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.enableCifsFileSharing}" />
				   		</td>
				   </tr>
				   <tr>
				   		<td> <h:outputLabel value="Copy CIFS File to Archive"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.copyTargetFileToArchive}" />
				   		</td>
				   </tr>-->
				   <tr>
					 <td ><h:outputLabel value="#{message['editGlobal.global.accessDeniedMessage.label']}"/>
					 </td>
					 <td>
						<h:inputTextarea value="#{systemCodeController.accessDeniedMessage}" style="width: 240px;" />					
					 </td>
				  </tr>	
				  
				   <tr>
					 <td ><h:outputLabel value="#{message['editGlobal.global.documentNotFoundMessage.label']}"/>
					 </td>
					 <td>
						<h:inputTextarea value="#{systemCodeController.documentNotFoundMessage}" style="width: 240px;"/>					
					 </td>
				  </tr>
				  <tr>
					 <td ><h:outputLabel value="#{message['editGlobal.global.dnsName.label']}"/>								
					</td>
					<td>
						<h:inputText id="dnsName" value="#{systemCodeController.dnsName}" onblur="document.getElementById('globalConfigForm:stubIconFilePath').value='\\\\'+document.getElementById('globalConfigForm:dnsName').value+'\\Icons'"/>						
						
					</td>
				  </tr>				  
				  <tr>
					<td >
						<h:outputLabel value="#{message['editGlobal.global.stubIconFilePath.label']}"/>							
					</td>
					<td>
						<h:panelGroup id="stubIconDiv">
						<h:inputText id="stubIconFilePath" value="#{systemCodeController.stubIconFilePath}" />
						</h:panelGroup>
					</td>
				   </tr>						
				    <tr>
						<td >
						  <h:outputLabel value="#{message['editGlobal.global.stubHttpProtocol.label']}" />							
						</td>
						<td>
							<h:selectOneRadio id="stubHttpProtocol" value="#{systemCodeController.stubProtocol}" >
							   <f:selectItem  itemLabel="http" itemValue="1"/>
							   <f:selectItem  itemLabel="https" itemValue="2"/>
							</h:selectOneRadio>
						</td>
						</tr>
						
						
						<tr>
							<td ><h:outputLabel value="#{message['editGlobal.global.httpPortNumber.label']}"/>								
							</td>
							<td>
								<h:inputText id="httpPortNumber" value="#{systemCodeController.httpPort}" validatorMessage="Http port must be a valid number."  converterMessage="Http port must be a valid number."  >
								   <f:validateLongRange minimum="1" maximum="99999"></f:validateLongRange>
								</h:inputText>
							</td>
						</tr>
						
						<tr>
							<td ><h:outputLabel value="#{message['editGlobal.global.httpsPortNumber.label']}"/>								
							</td>
							<td>
								<h:inputText id="httpsPortNumber" value="#{systemCodeController.httpsPort}" validatorMessage="Https port must be a valid number."  converterMessage="Https port must be a valid number."  >
								 <f:validateLongRange minimum="1" maximum="99999" ></f:validateLongRange>
								</h:inputText> 
							</td>
						</tr>	
				               
              </table>
              
              <table>
                  
              </table>
              <h3>#{message['editGlobal.fileSharing.heading']}:</h3>
              <hr style="border-bottom:1px solid !important;"/>
              <table width="700">
				   <tr>
				   		<td width="31%"> <h:outputLabel value="#{message['editGlobal.fileSharing.enableCifsFileSharing.label']}"/></td>
				   		<td width="31%">
				   			<h:selectBooleanCheckbox value="#{systemCodeController.enableCifsFileSharing}" />
				   		</td>
				   </tr>
				    <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.fileSharing.copyTargetFileToArchive.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.copyTargetFileToArchive}" />
				   		</td>
				   </tr>
				    <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.fileSharing.restrictCifsFilesSharingAD.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.restrictCifsFilesSharingAD}" />
				   		</td>
				   </tr>
				    <tr>
				   		<td> <h:outputLabel value="#{message['editGlobal.fileSharing.restrictArchiveFilesSharingAD.label']}"/></td>
				   		<td>
				   			<h:selectBooleanCheckbox value="#{systemCodeController.restrictArchiveFilesSharingAD}" />
				   		</td>
				   </tr>
				   <tr>
						<td ><h:outputLabel value="#{message['editGlobal.fileSharing.sharedLinkValidity.label']}"/>								
						</td>
						<td>
							<h:inputText id="sharedLinkValidity" value="#{systemCodeController.sharedLinkValidity}" validatorMessage="Link validity must be a valid number."  converterMessage="Http port must be a valid number." title="0 - link never expires" >
							   <f:validateLongRange minimum="0" maximum="99999"></f:validateLongRange>
							</h:inputText>
						</td>
				   </tr>				   
				   <tr>
				   		<td><label>#{message['editGlobal.fileSharing.groupName.label']}</label></td>
				   		<td><rich:autocomplete id="groupName" mode="ajax" minChars="2" autocompleteMethod="#{ldapGroupsController.autocomplete}"  value="#{ldapGroupsController.ldapGroup.groupName}" /></td>
				   		<td><a4j:commandLink  action="#{ldapGroupsController.addGroupToList}" render="ldapGroupListBox groupName" styleClass="btn-gray fleft" value="Add"></a4j:commandLink></td>
			   	   </tr>
			   	   <tr>
			   	   		<td><h:outputLabel value="#{message['editGlobal.fileSharing.ldapGroupsList.label']}"/> </td>
			   	   		<td>			   	   			
			   	   			<h:selectManyListbox   id="ldapGroupListBox" 
			   	   				style="height:100px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" 
			   	   				size="5">
								<f:selectItems value="#{ldapGroupsController.ldapGroupsList}" var="group"   itemValue="#{group.groupName}" itemLabel="#{group.groupName}"   />
		  
							</h:selectManyListbox>
							
						</td>
						</tr>
						<tr>
						<td colspan="2" align="right"><a4j:commandLink styleClass="btn-gray fright" value="Remove" action="#{ldapGroupsController.removeLdapGroup}" render="ldapGroupListBox"  /></td>
			   	   </tr>				   
	           </table>
	           
	           			<rich:dataTable value="#{ldapGroupsController.ldapGroupsList}" id="groupGuardianGrid" var="groupGuardian" styleClass="stylized" rendered="false">
	                                     
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="" /></f:facet>
	                             <h:selectBooleanCheckbox value="#{groupGuardian.selected}"></h:selectBooleanCheckbox>
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="Group Name" /></f:facet>
	                             <h:outputText value="#{groupGuardian.groupName}"></h:outputText>
	                        </rich:column>
	                        
	                       
	                     
	                        <f:facet name="footer">
	                           								
								<a4j:commandLink styleClass="btn-gray fleft" value="Remove" action="#{ldapGroupsController.removeLdapGroup}" render="ldapGroupListBox"  />
								    
								<a4j:commandLink styleClass="btn-gray fleft" value="Remove All" rendered="false" action="#{ldapGroupsController.removeAllDocumentTypeFromList}" render="documentTypeGrid"  />
								
							</f:facet>              
	                                                             
	                    
	                  </rich:dataTable>
	           <h3>#{message['editGlobal.dataGuardians.heading']}:</h3>
               <hr style="border-bottom:1px solid !important;"/>
               <table width="700">
               		<tr>
               			<td><label>#{message['editGlobal.dataGuardians.guardianFromAddress.label']} </label></td>
               			<td><h:inputText value="#{systemCodeController.guardianFromAddress}" style="width:390px;"/> </td>		
               		</tr>
               		<tr>
				   		<td width="31%"><label>#{message['editGlobal.dataGuardians.heading']}</label></td>
				   		<td width="31%"><h:inputText value="#{ldapGroupsController.dataGuardian.dataGuardianEmail}" style="width:390px;"/>
				   				
				   		</td>
				   		<td><a4j:commandLink  action="#{ldapGroupsController.addGuardianToList}" render="dataGuardianListBox" styleClass="btn-gray fleft" value="Add"></a4j:commandLink></td>
			   	   </tr>
			   	   <tr>
			   	   		<td><h:outputLabel value="#{message['editGlobal.dataGuardians.dataGuardianList.label']}"/> </td>
			   	   		<td>			   	   			
			   	   			<h:selectManyListbox   id="dataGuardianListBox" 
			   	   				style="height:100px;width:400px;background: white;border: 1px solid #d2d2d2;font-size: 12px;" 
			   	   				size="5">
								<f:selectItems value="#{ldapGroupsController.dataGuardianList}" var="dataGuardian"   itemValue="#{dataGuardian.dataGuardianEmail}" itemLabel="#{dataGuardian.dataGuardianEmail}"   />
		  
							</h:selectManyListbox>
							
						</td>
						</tr>
						<tr>
						<td colspan="2" align="right"><a4j:commandLink styleClass="btn-gray fright" value="Remove" action="#{ldapGroupsController.removeDataGuardian}" render="dataGuardianListBox"  /></td>
			   	   </tr>
               </table>
               <h3>#{message['editGlobal.jobStatus.heading']}:</h3>
               <hr style="border-bottom:1px solid !important;"/>
               <table width="700">
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableArchivingTab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableArchivingTab}" />	</td>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableStubbingTab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableStubbingTab}" />	</td>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableEvaluationTab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableEvaluationTab}" />	</td>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableAnalysisTab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableAnalysisTab}" />	</td>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableExportTab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableExportTab}" />	</td>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableActiveArchivingTab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableActiveArchivingTab}" />	</td>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableDynamicArchicingTab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableDynamicArchicingTab}" />	</td>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableSchedulingtab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableSchedulingtab}" />	</td>
	               	</tr>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="#{message['editGlobal.jobStatus.enableWithoutStubtab.label']}"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableWithoutStubtab}"/>	</td>
	               	</tr>
	               	<tr>
	               		<td width="31%"><h:outputLabel value ="Show Retention tab" rendered="false"/></td>
	               		<td><h:selectBooleanCheckbox value="#{systemCodeController.enableRetentiontab}" rendered="false" />	</td>
	               	</tr>

	               	
               </table>              
              
              
              <h:panelGroup id="emailPanel">
              <h3>#{message['editGlobal.email.heading']}:</h3>
              <hr style="border-bottom:1px solid !important;"/>
              
              <h:panelGrid  columns="2" width="700"> 
                  <h:column width="31%">
                          <h:outputLabel value="#{message['editGlobal.email.enableStatusMail.label']}"/>
					   </h:column>
					   <h:column  >
						<h:selectBooleanCheckbox value="#{systemCodeController.enableStatusMail}" style="margin-left: 40px;">
						 
						</h:selectBooleanCheckbox>					
					  </h:column>
					  <h:column width="31%">
                          <h:outputLabel value="#{message['editGlobal.email.emulateEmailSender.label']}"/>
					   </h:column>
					   <h:column>
						<h:selectBooleanCheckbox value="#{systemCodeController.emulateEmailSender}" style="margin-left: 40px;"/>					
					  </h:column>
					<h:column>
						<h:outputLabel value="#{message['editGlobal.email.enableDefaultEmailClient.label']}"/>
					</h:column>	  	
					<h:column>
						<h:selectOneRadio value="#{systemCodeController.enableDefaultEmailClient}" layout="pageDirection"
									style="width: 100%; float: left;margin-left: 20px;" required="true"
									styleClass="stylizedRadio"
									onchange="if(document.getElementById('globalConfigForm:emailClient:0').checked==true){document.getElementById('globalConfigForm:enableFileSharingSecurity').disabled=true;}else{document.getElementById('globalConfigForm:enableFileSharingSecurity').disabled=false;}" 
									id="emailClient">									
									<f:selectItem itemValue="true" itemLabel="Use Default Email client " />
									<f:selectItem itemValue="false" itemLabel="Use ShareArchiver Email Client" />
						</h:selectOneRadio>
						<h:selectBooleanCheckbox value="#{systemCodeController.enableDefaultEmailClient}"  style="float:right;" rendered="false"/>
					</h:column>
					<h:column width="31%">							
				   		<h:outputLabel value="Enable File Sharing Security" rendered="false"/>
				   	</h:column>
				   	<h:column>
				   	<h:panelGroup id="securityGrid">
				   		<h:selectBooleanCheckbox id="enableFileSharingSecurity"  name="enableFileSharingSecurity" value="#{systemCodeController.enableFileSharingSecurity}" style="margin-left: 80px;" />
				   		<h:outputLabel value="Enable username / password access for file access"/>
				   	</h:panelGroup>
				   	</h:column>
				   	
              </h:panelGrid>
              
              <h:panelGrid width="700" columns="2" columnClasses="colSize" >
                     
                     <h:column >
					    <h:outputLabel value="#{message['editGlobal.email.smptHost.label']}"/>
					</h:column>
                    
                    <h:column >
					  <h:inputText value="#{systemCodeController.smptHost}" id="testEmailBtn" style="width: 240px;"/>			
					</h:column>
					
					 <h:column >
					    <h:outputLabel value="#{message['editGlobal.email.emailSecProtocol.label']}"/>
					</h:column>
                    
                    <h:column >
					  <h:selectOneMenu value="#{systemCodeController.emailSecProtocol}"  style="width: 250px;">
					      <f:selectItem  itemLabel="Basic(unencrypted)" itemValue="basic"/>
					     <f:selectItem  itemLabel="TLS" itemValue="tls"/>
					     <f:selectItem  itemLabel="SSL" itemValue="ssl"/>
					  </h:selectOneMenu>			
					</h:column>
					
					
					
					<h:column >
					   <h:outputLabel value="#{message['editGlobal.email.smptPort.label']}"/>
					</h:column>
					
					<h:column >
					  <h:inputText value="#{systemCodeController.smptPort}" style="width: 240px;" validatorMessage="Invalid SMTP port" converterMessage="Invalid SMTP port">
					     <f:validateLongRange minimum="0" maximum="99999" ></f:validateLongRange>
					  </h:inputText>		
					</h:column>
              
              
                    <h:column >
					   <h:outputLabel value="#{message['editGlobal.email.emailUserName.label']}"/>
					</h:column>
					
					<h:column >
					   <h:inputText value="#{systemCodeController.emailUserName}" style="width: 240px;" validatorMessage="Invalid email user name">
					       
					   </h:inputText>					
					</h:column>	
				  
				   <h:column >
				      <h:outputLabel value="#{message['editGlobal.email.emailPassword.label']}"/>
				   </h:column>
				  
				   <h:column >
						<h:inputSecret value="#{systemCodeController.emailPassword}" redisplay="true" style="width: 240px;"/>					
				   </h:column>
				  
				    <h:column >
				        <h:outputLabel value="#{message['editGlobal.email.emailFrom.label']}"/>
					</h:column>
					
					<h:column >
						<h:inputText value="#{systemCodeController.emailFrom}" style="width: 240px;"  validatorMessage="Invalid 'From' email address.">
						  <f:validateRegex pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6})$"></f:validateRegex>
						</h:inputText>					
					 </h:column>
				  
				    <h:column >
				       <h:outputLabel value="#{message['editGlobal.email.emailTo.label']}"/>
					</h:column>
					   
					<h:column >
						<h:inputText value="#{systemCodeController.emailTo}" style="width: 240px;" validatorMessage="Invalid 'To' email address.">
						  <f:validateRegex pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6})$"></f:validateRegex>
						</h:inputText>					
					</h:column>
					

					
					<h:column  >
				       <h:outputLabel value="#{message['editGlobal.email.maxAttachmentSize.label']}"  />
					</h:column>
					   
					<h:column>
						<h:inputText value="#{systemCodeController.maxAttachmentSize}" style="width: 240px;float: left;" converterMessage="Invalid attachment size"  validatorMessage="Invalid attachment size" >
						   <f:converter converterId="javax.faces.Integer"></f:converter>
						</h:inputText>					
					</h:column>
					
					<h:column>   
					    
					</h:column>
					
					<h:column>
					   <a4j:commandButton action="#{systemCodeController.testEmailConfiguration}" render="testMailConfMsg" onbegin="#{rich:component('loadingPanel')} .show()"   oncomplete="#{rich:component('loadingPanel')} .hide()"   value="Test Settings" styleClass="btn-gray fleft" />
					   <h:panelGrid style="padding-left:10px;"  id="testMailConfMsg" styleClass="error">
			              	<rich:messages  styleClass="error" />
			            </h:panelGrid>
					     
					   
					</h:column>
                            
              </h:panelGrid>
                       
              </h:panelGroup>
              
                          
              <h3>#{message['editGlobal.agent.heading']}:</h3>
              <hr style="border-bottom:1px solid !important;"/>
              <table width="700">
                	<tr>
							<td width="31%" ><h:outputLabel value="#{message['editGlobal.agent.agentName.label']}"/>				
							</td>
							<td>
								<h:inputText id="agentName" value="#{systemCodeController.agentName}" disabled="true" readonly="true"/>
							</td>
						</tr>
						<tr>
							<td ><h:outputLabel value="#{message['editGlobal.agent.noOfTries.label']}"/>								
							</td>
							<td>
								<h:inputText id="noOfTries" value="#{systemCodeController.maxNoOfTries}" required="true" />
							</td>
						</tr>
						
						
              </table>
              
              
               <!--  <h3>ShareArchiver License :</h3>
              <hr style="border-bottom:1px solid !important;"/>
              <table width="700">
                	<tr>
							<td width="31%" ><h:outputLabel value="License String:"/>				
							</td>
							<td>
								<h:inputTextarea  autocomplete="false" value="#{systemCodeController.licenseStr}" rows="3"  style="width: 230px;"/>
							</td>
						</tr>
				
				</table>		-->
			   <br/>			
              
           
			  <table width="700">
						
											
					<tr>	
						<td colspan="2">
												
							<h:commandButton value="Update"  action="#{systemCodeController.updateGlobalConfiguration}" styleClass="btn-orange fleft" style="margin-left:345px" >
								
							</h:commandButton>	
							
							<h:commandButton value="Cancel" immediate="true"  action="GlobalCodes" styleClass="btn-orange fleft" rendered="false" />
								
						</td>
									
						</tr>
				   
				 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
