<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{driveLetterController.driveLetterId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{driveLetterController.populateDriveLetterInfo}"  />
            </f:metadata>
                       
            <ui:define name="title">Edit File Share</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">System Configurations /</a>
				<a href="#" class="main">Edit File Share</a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.monitoring.edit']}" /> </a>
				
            </ui:define>
            
            <ui:define name="content">
			<style>
				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
			</style>            
              <h:form styleClass="common" prependId="false">
             <div class="error">             
               	<rich:messages />
              </div>
					<table width="700">
							<tr>	 
								<td width="23%"><h:outputLabel value="#{message['driveLetter.driveLetter.label']}"/> 
								<!--<label> Name:</label>-->
								 </td>
								<!--<td><h:inputText id="driveLetter" value="#{driveLetterController.driveLetter.driveLetter}" size="22" maxlength="40"  label="driveLetter"  
								required="true"	/>
								</td>-->
								<td>
									<h:selectOneMenu value="#{driveLetterController.driveLetter.driveLetter}">
										<f:selectItems value="#{driveLetterController.letters}" var="letter" itemLabel="#{letter}" itemValue="#{letter}" />
									</h:selectOneMenu>
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['driveLetter.sharePath.label']}"/>
								<!-- <label>Description:</label>-->
								</td>
								<!-- <td><h:inputText id="sharePath" value="#{driveLetterController.driveLetter.sharePath}" size="100" maxlength="200" required="true" >

								</h:inputText>
								</td>-->
								<td>
									<h:selectOneMenu rendered="false" value="#{driveLetterController.driveLetter.sharePath}" style="width: auto;">
										<f:selectItems value="#{driveLetterController.populateShares()}" var="share" />
									</h:selectOneMenu>
									<h:inputText id="sharePath" value="#{driveLetterController.driveLetter.sharePath}" required="true" />
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['driveLetter.domain.label']}"/>
								<!-- <label>Description:</label>-->
								</td>
								<td>
									<h:inputText value="#{driveLetterController.driveLetter.restoreDomain}" id="restoreDomain"/>
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['driveLetter.username.label']}"/>
								<!-- <label>Description:</label>-->
								</td>
								<td>
									<h:inputText value="#{driveLetterController.driveLetter.restoreUsername}" id="restoreUsername"/>
								</td>
							</tr>
							<tr>	
								<td><h:outputLabel value="#{message['driveLetter.password.label']}"/>
								<!-- <label>Description:</label>-->
								</td>
								<td>
									<h:inputSecret value="#{driveLetterController.driveLetter.restorePassword}" id="restorePassword" redisplay="true"/>
								</td>
							</tr>							
							<tr>
								<td><h:outputLabel
										value="#{message['driveLetter.analyze.label']}" /> <!-- <label>Description:</label>-->
								</td>
								<td><h:selectBooleanCheckbox id="analyzeYN" value="#{driveLetterController.driveLetter.analyzeShare}"/> </td>
							</tr>
							
							
							<tr>
								<td><h:outputLabel	value="Trigger Job on &quot;critical&quot; limit" /> <!-- <label>Description:</label>-->
								</td>
								<td><h:selectBooleanCheckbox  id="triggerJobOnThreshhold" value="#{driveLetterController.driveLetter.triggerJobOnThreshhold}" > 
								      
								    </h:selectBooleanCheckbox>  
								</td>
							</tr>
							
							<tr>
								<td><h:outputLabel	value="Stub policy" /> <!-- <label>Description:</label>-->
								</td>
								<td><h:selectOneMenu id="threshholdPolicy" value="#{driveLetterController.driveLetter.policyId}" > 
								      <f:selectItems value="#{policyController.allPolicies}" var="policy" itemLabel="#{policy.name}" itemValue="#{policy.id}" />
								    </h:selectOneMenu>  
								</td>
							</tr>
							
						    <tr>
								<td><h:outputLabel	value="Warning Limit" /> <!-- <label>Description:</label>-->
								</td>
								<td><h:inputText id="warningLimit" value="#{driveLetterController.driveLetter.warningLimit}" validatorMessage="Warning limit should be in range[50..99]"> 
								      <f:validateLongRange minimum="50" maximum="99" ></f:validateLongRange>
								    </h:inputText>  
								</td>
							</tr>
							
				
							<tr>
								<td><h:outputLabel	value="Critical Limit" /> <!-- <label>Description:</label>-->
								</td>
								<td><h:inputText id="criticalLimit" value="#{driveLetterController.driveLetter.criticalLimit}" validatorMessage="Critical limit should be in range[50..99]">
								      <f:validateLongRange minimum="50" maximum="99"  ></f:validateLongRange>
								    </h:inputText>
								 </td>
							</tr>
							
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										<a4j:commandButton value="Test"	actionListener="#{driveLetterController.testCredentials}" styleClass="btn-orange" />										
										<h:commandButton value="Update"  action="#{driveLetterController.save}" styleClass="btn-orange" />
										<h:commandButton value="Cancel"  action="DriveLetters" styleClass="btn-gray" immediate="true" />
																				
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					 </table>
						
				 </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
