<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
   
		<h:head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<title>ShareArchiver: Login</title>	
			<link  href="http://fonts.googleapis.com/css?family=Open+Sans:r,i,b,bi" rel="stylesheet" type="text/css"  />
	        <link href="css/styles.css" rel="stylesheet" type="text/css"  />
	   		<link href="css/login.css" rel="stylesheet" type="text/css"  />
			
		</h:head>
		<h:body>
		
			<f:metadata>
				<f:event type="preRenderView" listener="#{emailUserLoginController.preRenderView}" />
			</f:metadata>
		
			<div id="page" style="min-height: 470px;">
				<div id="page-login">
					<a href="#"><img src="images/centered-logo.png" alt="ShareArchiver" border="0"  /></a>
					<h:form styleClass="common">
						<table>
						   <tr>
								<td width="110"></td>
								<td><b><rich:messages style="color:#FF0000"  /></b></td>
							</tr>
						
							<tr>
								<td width="110"><label>Email ID</label></td>
								<td><h:inputText  value="#{emailUserLoginController.username}" id="username" size="30" maxlength="50"  >
								       
								    </h:inputText>
								</td>
							</tr>
							<tr>
								<td><label>Password</label></td>
								<td><h:inputSecret  value="#{emailUserLoginController.password}"  id="password" size="30"  maxlength="30">
								     
								   </h:inputSecret>
								</td>
							</tr>
<tr>
								<td colspan="2" align="right"><a4j:commandLink oncomplete="#{rich:component('popupRegister')}.show()" value="Reset Password / Register" immediate="false" /></td>
								
							</tr>							
							<tr>
								<td colspan="2" align="right">
									<br />
									<h:commandButton  value="Sign in" styleClass="btn-gray" action="#{emailUserLoginController.login}" />
								</td>
							</tr>
						</table>
						
												<!-- pop-up to add/update document tags-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRegister" domElementAttachment="form" width="600" style="background:white;text-align: left;">
							<f:facet name="header">
								<h:outputText value="Account Details" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRegister')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="registraGrid">
								<table class="stylized" style="width:700;" border="0">
									<tbody>
										<tr class="odd">
											<td width="900"><h:outputLabel value="Email" />
											<h:inputText id="emailinput"
													value="#{emailUserLoginController.email}" style="width:400px;margin-left: 20px;" onkeypress="if(event.keyCode==13){document.getElementById('explorerGrid:saveTag').click();return false;}return true;"
													maxlength="100" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Register/Reset" id="registerPassword"
													actionListener="#{emailUserLoginController.resetPassword}"
													style="margin-left:315px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="#{rich:component('popupRegister')}.hide(); return false;"
													limitRender="false" />
													 <a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRegister')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
					</h:form>
				</div>
			</div>
				
			<div id="footer">
				   
				   <div id="main" style="vertical-align: middle;color:#474747;width: 920px;" >
					    <hr style="border-bottom: 1px solid #d2d2d2 !important;"/>
					     Version: #{systemCodeController.applicationVersionNumber}	
					
					     <h:graphicImage value="/images/footer-logo.png" style="display:inline;float: right;width: 190px;height: 40px;"></h:graphicImage>
					
					</div>		
			
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</h:body>
</html>