<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          

        <ui:composition template="stubTemplate.xhtml">
             
            <f:metadata >               
               <f:event type="preRenderView" listener="#{emailDocumentAccessController.populateAllSharedDocuments}"  />
            </f:metadata>
           
            
            <ui:define name="title">View Shared Files</ui:define>
            
            
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Shared Documents /</a>
				<a href="#" class="main">File Details /</a>	
            </ui:define>
            
            <ui:define name="content">
              <style>
				.rf-msgs-sum {
				    display: inline;				    
				    font-size:15px;
				    word-wrap:break-word;
				}

				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-pb-lbl{
				  padding-top:0;
				  padding-bottom: 1px;
				  line-height: 17px;
				}
				.rf-pb-rmng{
				  height: 15px;
				}
  			</style> 
  			      <rich:popupPanel id="loadingPanel" modal="true" width="64" height="64">
			           <h:graphicImage value="/images/spinner.gif"></h:graphicImage>
                  </rich:popupPanel>
               <h:form class="common" id="en">
               		<rich:messages/>
               		<rich:dataTable id="docsGrid" value="#{emailDocumentAccessController.sharedDocumentList}" var="doc" styleClass="stylized" rows="15" rowClasses="even,odd">
               			<rich:column  style="width:42%">
               				<f:facet name="header"> Document Name</f:facet>
							
               				<h:outputText value="#{doc.name}"/>               			
               			</rich:column>
               			<rich:column style="width:19%">
               				<f:facet name="header"> Shared By</f:facet>
               				<h:outputText value="#{doc.sharedBy}"/>
               			</rich:column>
               			<rich:column width="25%">
               				<f:facet name="header"> Date Shared</f:facet>
               				<h:outputText value="#{doc.sharedOn}"/>               			
               			</rich:column>
               			<rich:column style="width:13%">
               				<f:facet name="header"> Action</f:facet>
               					<h:commandLink title="Download" action="#{emailDocumentAccessController.downloadFile}">
               						<h:graphicImage value="/images/icon-open-download.png" height="19" width="16"></h:graphicImage>
               						<f:param name="url" value="#{doc.downloadUrl}" />
               						<f:param name="id" value="#{doc.uuid}" />
               						<f:param name="sender" value="#{doc.sharedBy}" />
               						<f:param name="name" value="#{doc.name}" />
               						<f:param name="sharedOn" value="#{doc.sharedOn}" />
               						<f:param name="isArchived" value="#{doc.archive}" />
               					</h:commandLink>
               					
               					
               					<h:commandLink Title="View" action="#{emailDocumentAccessController.viewFile}" rendered="#{doc.pdfViewable and doc.archive ne false}" style="margin-left: 10px;">
               						<h:graphicImage value="/images/icon-view-pdf.png" height="19" width="16"></h:graphicImage>
               						<f:param name="url" value="#{doc.downloadUrl}" />
               						<f:param name="id" value="#{doc.uuid}" />
               						<f:param name="sender" value="#{doc.sharedBy}" />
               						<f:param name="name" value="#{doc.name}" />
               						<f:param name="sharedOn" value="#{doc.sharedOn}" />
               						<f:param name="isArchived" value="#{doc.archive}" />
               					</h:commandLink>
               			</rich:column>
               			
               			
               			<f:facet name="footer" >  
                             <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
						</f:facet> 
               		
               		</rich:dataTable>
               </h:form>
             </ui:define>
             
             
       </ui:composition>       
      
</html>	
	
