<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="stubTemplate.xhtml">
        
            
            <ui:define name="title">Error</ui:define>
           
            <ui:define name="breadcrumbs">
           
	           <a href="#">System Internal Error</a>
          
            </ui:define>
            
            <ui:define name="content">
                  <h4>The file or page you are looking for is not currently accessible.<br/>
					<br />
					Please check and ensure you have the correct link address and you may retry. <br />
					Further invalid URL access from your address may result in your address being blocked. <br />
					<br />
					Please contact the System Administrator for further help and assistance.</h4>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
