<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
           <f:metadata >               
              <f:event type="preRenderView" listener="#{jobController.loadAllJobs}"  />
            </f:metadata>
            
            <ui:define name="title">Error</ui:define>
           
            <ui:define name="breadcrumbs">
           
	           <a href="#">System Internal Error</a>
          
            </ui:define>
            
            <ui:define name="content">
                  <h3>The System encountered an internal error. Please contact System Administrator.</h3>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
