<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en">
	
	<h:head>
	    <meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
	   <link  href="http://fonts.googleapis.com/css?family=Open+Sans:r,i,b,bi" rel="stylesheet" type="text/css"  />
	   <link href="css/styles.css" rel="stylesheet" type="text/css"  />
	  
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title><ui:insert name="title" >ShareArchiver</ui:insert></title>
		
		<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		
		
	    <style>
              hr{
               border-style: -moz-bg-solid;
               }
           </style>
		   
	</h:head>
	
	<f:view>
	<h:body>
 
       <div id="page" style="padding-right: 10px">
			
			 <div id="header">
				<ui:insert name="header">
				    <ui:include src="/templates/header.xhtml"></ui:include>
				</ui:insert>
			 </div>
		
		
		     <div id="content" style="!important;">
				  
				  <div class="left">
						<ui:insert name="menu">
						    <ui:include src="/templates/menu.xhtml"></ui:include>
						</ui:insert>
				  </div>
			
				  <div class="right" style="padding: 0;margin:0;">
						
					  <div id="crumbs"> 
						   <ui:insert name="breadcrumbs">
							   <ui:include src="/templates/breadcrumbs.xhtml"></ui:include>
						   </ui:insert>
					  </div>
			
					  <div class="content" >
							<ui:insert name="content">
							    <ui:include src="/templates/defaultContent.xhtml"></ui:include>
							</ui:insert>
					  </div>
					  <br class="clear" />
				 </div>
		    </div>
		    
			<div class="clear"></div>				
	 
		    <div id="footer" style="position: relative;top: 80px;">
		    	<ui:insert name="footer" >
		    		<ui:include src="/templates/footer.xhtml" ></ui:include>
		        </ui:insert>
	    	</div>
 
            <div class="clear"></div>
        
      </div>
     
   </h:body>
   </f:view>
    
</html>
