<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="extPageTemplate.xhtml">
        
                                         
            <ui:define name="title">File Explorer</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">System /</a>
				<a href="#" class="main">File Explorer /</a>	-->
				<a href="#" class="main">#{message['breadcrumbs.system.fileExplorer']}</a>			
            </ui:define>
            
            <ui:define name="content">
                 
                 <rich:popupPanel id="loadingPanel" modal="true" width="60" height="60" style="align:center;"  >
			           <h:graphicImage value="/images/spinner.gif" style="margin-left:6px;"></h:graphicImage>
			           <br/>
			           	    <h:outputLink   value="#" onclick="#{rich:component('loadingPanel')}.hide();">
				                Cancel
				            </h:outputLink>	
                  </rich:popupPanel>              
                                      
                <ui:include src="/include/FExplorerContent.xhtml"></ui:include>
	                 
       </ui:define>      
            
   </ui:composition>
      
</html>	
	
