<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">System Configurations</ui:define>
           
            <ui:define name="breadcrumbs">
             <a href="#" class="main">System Configurations /</a>
				<a href="#" class="main">Global Configurations /</a>
				<a href="#">List</a>
            </ui:define>
            
            <ui:define name="content">
            
               <rich:dataTable value="#{systemCodeController.allGeneralCodes}" var="systemCode" styleClass="stylized" rowClasses="even,odd" rows="10">
                                     
                        <rich:column  style="width:400px;">
                             <f:facet name="header"> <h:outputText value="Name" /></f:facet>
                             <h:outputText value="#{systemCode.displayName}"></h:outputText>
                        </rich:column>
                        
                        <rich:column  style="width:400px;">
                        	<f:facet name="header"><h:outputText value="Value"/></f:facet>
                        	<h:outputText value="#{systemCode.codevalue.replaceAll('\\\\\\\\', '\\\\')}" rendered="#{systemCode.codename ne 'restore.password' and  systemCode.codename ne 'mail_password'}"></h:outputText>
                        	<h:outputText value="******" rendered="#{systemCode.codename eq 'restore.password'}" />
                        	<h:outputText value="******" rendered="#{systemCode.codename eq 'mail_password'}" />
                        </rich:column>
                        
                         <f:facet name="footer"  >
                         
                           <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
                                                  
                           <h:link styleClass="btn-gray" outcome="EditGlobalConfig"  style="float: right;color:black" value="Edit"  />           
                         </f:facet>              
                             
               </rich:dataTable>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
