<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
           <f:metadata >               
              <f:event type="preRenderView" listener="#{indexingJobController.loadAllJobs}"  />
            </f:metadata>
            
            <ui:define name="title">Jobs List</ui:define>
           
            <ui:define name="breadcrumbs">
           
	            <a class="main" href="#">Repository Management /</a>
	            <a class="main" href="#">Data Retention /</a>
	            <a href="#">Jobs List</a>
          
            </ui:define>
            
            <ui:define name="content">
             
            
              <h:form styleClass="common">
                              
               <rich:dataTable id="jobsGrid" value="#{indexingJobController.jobs}" var="job" styleClass="stylized" rows="10" rowClasses="even,odd">
                                     
                        <rich:column style="width:30%;" >
                             <f:facet name="header">  <h:outputText value="Job Name" /></f:facet>
                             <h:link outcome="ViewIndexingJob" >
                                <f:param name="id" value="#{job.id}"></f:param>
                                <h:outputText value="#{job.name}"></h:outputText>
                                <h:graphicImage value="images/scheduled-icon.png" rendered="#{job.isScheduled eq true}" style="margin-left:5px;"></h:graphicImage>
                             </h:link>
                             
                             
                        </rich:column>
                        
                         <rich:column style="width:20%;word-wrap:break-word;" >
                             <f:facet name="header"> <h:outputText value="Description" /></f:facet>
                             <h:outputText value="#{job.description}"></h:outputText>
                        </rich:column>
                        
                         <rich:column style="width:17.5%;" >
                             <f:facet name="header"> <h:outputText value="Last Execution Time" /></f:facet>
                             <h:outputText value="#{job.execTimeStart}"></h:outputText>
                         </rich:column>
                                                  
                         <rich:column style="width:10%">
                             <f:facet name="header"> <h:outputText value="Policy" /></f:facet>
                             <h:outputText value="#{job.policy.name}"></h:outputText>
                         </rich:column>
                        
                                               
                        <f:facet name="footer" >  
                             <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
                                                    
                             <h:link styleClass="btn-gray" outcome="AddIndexingJob"  style="float: right;color:black" value="Add"  />                          
						</f:facet>              
                    
               </rich:dataTable>
            </h:form>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
