<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:p="http://primefaces.org/ui" >
         
                    <br/>					
					
					<h:panelGroup>
					
						<h:selectBooleanCheckbox id="lmChkbox1" value="#{jobAnalysisController.showLMGraph}"  >
						   <f:ajax event="valueChange" execute="@this" render="lmAgePanel1" ></f:ajax>
						</h:selectBooleanCheckbox>
						<h:outputLabel for="lmChkbox1" value="Last Modified  "></h:outputLabel>
						
						<h:outputText value=" &nbsp;&nbsp; " escape="false" />
						
						<h:selectBooleanCheckbox id="laChkbox1" value="#{jobAnalysisController.showLAGraph}"  >
						   <f:ajax event="valueChange" execute="@this" render="laAgePanel1" ></f:ajax>
						</h:selectBooleanCheckbox>
						<h:outputLabel for="laChkbox1" value="Last Accessed  "></h:outputLabel>
						
						<h:outputText value=" &nbsp;&nbsp; " escape="false" />
						
						<h:selectBooleanCheckbox id="cdChkbox1" value="#{jobAnalysisController.showCDGraph}" >
						   <f:ajax event="valueChange" execute="@this" render="cdAgePanel1" ></f:ajax>
						</h:selectBooleanCheckbox>
						<h:outputLabel for="cdChkbox1" value="Created Date"></h:outputLabel>
						
					</h:panelGroup>	
					
				
                   <h3>Charts By Document Category</h3>     
              
                  	<rich:dataGrid value="#{jobAnalysisController.categoryVolumeModelList}" var="categoryVolumeModel" columns="1">
                  	     
                  	     <rich:column>
                  	         <center> <h:outputLabel value="#{categoryVolumeModel.sharePath}" style="font-weight: bold;font-size:14px;"></h:outputLabel> </center>
                  	     </rich:column>
                  	     
                  	     <rich:column >
                  	     <p:barChart  value="#{categoryVolumeModel}" legendPosition="ne"  
                                     title=""   xaxisLabel="Document Category" yaxisLabel="Volume(in gb)" min="0"   showDatatip="false"  style="height:350px;width:950px;"/>  
                  	     </rich:column>
                  	</rich:dataGrid>
                  	
                    
					 
					<h:panelGroup id="lmAgePanel1">
					   <h3 style="padding-top: 40px;padding-bottom: 20px"><h:outputText value="Charts By Last Modified:" rendered="#{jobAnalysisController.showLMGraph eq true}"></h:outputText></h3>   
						<rich:dataGrid value="#{jobAnalysisController.lmAgeModelList}" var="lmAgeModel" columns="1" rendered="#{jobAnalysisController.showLMGraph eq true}">
	                 	     
	                  	     <rich:column>
	                  	            <center>  <h:outputLabel value="#{lmAgeModel.sharePath}" style="font-weight: bold;font-size:14px;"></h:outputLabel> </center>
	                  	     </rich:column>
	                  	     
	                  	     <rich:column>
	                  	            <p:barChart  value="#{lmAgeModel}" legendPosition="ne"  
	                                     title=""  xaxisLabel="Document Age(Last Modified)" yaxisLabel="Volume(in gb)" min="0"   showDatatip="false"  style="height:350px;width:950px;"/>  
	                  	     </rich:column>
	                 	    
	                 	</rich:dataGrid>
	                </h:panelGroup> 
	                
	                
	                <h:panelGroup id="laAgePanel1">
	                    <h3 style="padding-top: 40px;padding-bottom: 20px"><h:outputText value="Charts By Last Accessed:" rendered="#{jobAnalysisController.showLAGraph eq true}"></h:outputText></h3>
						<rich:dataGrid value="#{jobAnalysisController.laAgeModelList}" var="laAgeModel" columns="1" rendered="#{jobAnalysisController.showLAGraph eq true}">
	                 	     
	                  	     <rich:column>
	                  	            <center>  <h:outputLabel value="#{laAgeModel.sharePath}" style="font-weight: bold;font-size:14px;"></h:outputLabel> </center>
	                  	     </rich:column>
	                  	     
	                  	     <rich:column>
	                  	            <p:barChart  value="#{laAgeModel}" legendPosition="ne"  
	                                     title=""  xaxisLabel="Document Age(Last Accessed)" yaxisLabel="Volume(in gb)" min="0"   showDatatip="false"  style="height:350px;width:950px;"/>  
	                  	     </rich:column>
	                 	    
	                 	</rich:dataGrid>
	                </h:panelGroup> 
	                
	                
	                 <h:panelGroup id="cdAgePanel1">
	                    <h3 style="padding-top: 40px;padding-bottom: 20px"><h:outputText value="Charts By Created Date:" rendered="#{jobAnalysisController.showCDGraph eq true}"></h:outputText></h3>
						<rich:dataGrid value="#{jobAnalysisController.cdAgeModelList}" var="cdAgeModel" columns="1" rendered="#{jobAnalysisController.showCDGraph eq true}">
	                 	     
	                  	     <rich:column>
	                  	            <center>  <h:outputLabel value="#{cdAgeModel.sharePath}" style="font-weight: bold;font-size:14px;"></h:outputLabel> </center>
	                  	     </rich:column>
	                  	     
	                  	     <rich:column>
	                  	            <p:barChart  value="#{cdAgeModel}" legendPosition="ne"  
	                                     title=""  xaxisLabel="Document Age(Created Date)" yaxisLabel="Volume(in gb)" min="0"   showDatatip="false"  style="height:350px;width:950px;"/>  
	                  	     </rich:column>
	                 	    
	                 	</rich:dataGrid>
	                </h:panelGroup>		
									
 </ui:composition>

