<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
           <f:metadata >               
              <f:event type="preRenderView" listener="#{jobController.loadAllJobs}"  />
            </f:metadata>
            
            <ui:define name="title">Jobs List</ui:define>
           
            <ui:define name="breadcrumbs">
           
	            <!-- <a class="main" href="#">Configuration /</a>
	            <a class="main" href="#">Job Management /</a>
	            <a href="#">Jobs List</a>-->
	            
	            <a href="#"><h:outputText value="#{message['breadcrumbs.configuration.job.list']}" /> </a>
          
            </ui:define>
            
            <ui:define name="content">
             
            
              <h:form styleClass="common">
              
                <table style="width: 340px;">
                   <tr>
                   <td width="80"><LABEL> #{message['job.basicConfigurations.name.label']}:</LABEL></td>
                   <td width="260">
	                <h:inputText value="#{jobController.searchString}" >
	                   <f:ajax event="keyup" listener="#{jobController.filterJobs}" render="jobsGrid"></f:ajax>
	                </h:inputText>
	                </td>
	               </tr> 
                </table>
                
                <br />
                
               <rich:dataTable id="jobsGrid" value="#{jobController.jobs}" var="job" styleClass="stylized" rows="10" rowClasses="even,odd">
                                     
                        <rich:column style="width:30%;" >
                             <f:facet name="header">  <h:outputText value="#{message['job.basicConfigurations.name.label']}" /></f:facet>
                             <h:link outcome="ViewJob" rendered="#{job.actionType ne 'RETENSION'}">
                                <f:param name="id" value="#{job.id}"></f:param>
                                <h:outputText value="#{job.name}"></h:outputText>
                                <h:graphicImage value="images/scheduled-icon.png" rendered="#{job.isScheduled eq true}" style="margin-left:5px;"></h:graphicImage>
                             </h:link>
                             <h:link outcome="ViewDJob" rendered="#{job.actionType eq 'RETENSION'}">
                                <f:param name="id" value="#{job.id}"></f:param>
                                <h:outputText value="#{job.name}"></h:outputText>
                                <h:graphicImage value="images/scheduled-icon.png" rendered="#{job.isScheduled eq true}" style="margin-left:5px;"></h:graphicImage>
                             </h:link>
                             
                             
                        </rich:column>
                        
                         <rich:column style="width:20%;word-wrap:break-word;" >
                             <f:facet name="header"> <h:outputText value="#{message['job.basicConfigurations.description.label']}" /></f:facet>
                             <h:outputText value="#{job.description}"></h:outputText>
                        </rich:column>
                        
                         <rich:column style="width:12.5%;word-wrap:break-word;" >
                             <f:facet name="header"> <h:outputText value="#{message['job.basicConfigurations.actionType.label']}" /></f:facet>
                              <h:outputText value="Archive" rendered="#{job.actionType eq 'ARCHIVE'}"/>
		                             <h:outputText value="Archive &amp; Stub" rendered="#{job.actionType eq 'STUB'}"/>
		                             <h:outputText value="Archive &amp; Delete" rendered="#{job.actionType eq 'WITHOUTSTUB'}"/>
		                             <h:outputText value="Export" rendered="#{job.actionType eq 'EXPORT'}"/>
		                             <h:outputText value="Export Stubs Only" rendered="#{job.actionType eq 'EXPORTSTUB'}"/>
		                             <h:outputText value="Restore" rendered="#{job.actionType eq 'RESTORE'}"/>
		                             <h:outputText value="Dynamic Archiving" rendered="#{job.actionType eq 'DYNARCH'}"/>
		                             <h:outputText value="Active Archiving" rendered="#{job.actionType eq 'ACTIVEARCH'}"/>
		                             <h:outputText value="Print Archiving" rendered="#{job.actionType eq 'PRINTARCH'}"/>
		                             <h:outputText value="Analysis" rendered="#{job.actionType eq 'INDEXING'}"/>
		                             <h:outputText value="Evaluate" rendered="#{jobController.job.actionType eq 'EVALUATE'}"/>
                              <h:outputText value="Retention" rendered="#{job.actionType eq 'RETENSION'}"/>
                        </rich:column>                        
                        
                         <rich:column style="width:17.5%;" >
                             <f:facet name="header"> <h:outputText value="#{message['job.scheduling.lastExecutionTime.label']}" /></f:facet>
                             <h:outputText value="#{job.execTimeStart}"></h:outputText>
                         </rich:column>
                         
                         <rich:column style="width:10%">
                             <f:facet name="header"> <h:outputText value="#{message['job.basicConfigurations.agent.label']}" /></f:facet>
                             <h:outputText value="#{job.agent.name}"></h:outputText>
                         </rich:column>
                         
                         <rich:column style="width:10%">
                             <f:facet name="header"> <h:outputText value="#{message['job.basicConfigurations.policy.label']}" /></f:facet>
                             <h:outputText value="#{job.policy.name}"></h:outputText>
                         </rich:column>
                        
                                               
                        <f:facet name="footer" >  
                             <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
                                                    
                             <h:link styleClass="btn-gray" outcome="AddJob"  style="float: right;color:black;text-align:top;margin-bottom:10px;" value="Add"  />  
                             <h:link styleClass="btn-gray" outcome="AddDelJob"  style="float: right;color:black;" value="Data Retention" rendered="#{false}" />                          
						</f:facet>              
                    
               </rich:dataTable>
            </h:form>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
