<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich">
   
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
            <script type="text/javascript">
                    <![CDATA[
                    window.onload=function(){
					      document.getElementById("divReRunLabel").style.display = 'none';
					      document.getElementById("divRunNow").style.display = 'none';
					      document.getElementById("execTimeStartDiv").style.display = 'none';
					
					      //  select runNow by default
					      document.getElementById('runNowID').checked = true;
					      document.getElementById('runLaterID').checked = false;
					}

                    ]]>
		    </script>
           
            <ui:define name="title">Jobs Status List</ui:define>
           
            <ui:define name="breadcrumbs">
           
	            <a class="main" href="#">System /</a>
	            <!--  <a class="main" href="#">Job Management /</a>-->
	            <a href="#">Jobs Status</a>
          
            </ui:define>
            
            <ui:define name="content">
            <h:form styleClass="common" id="jobStatusForm">   
                   
                  <a4j:poll action="#{jobController.getAllJobsForStatus}" enabled="true"   interval="3000"  render="jobsList"> </a4j:poll>
                     
                   <rich:dataTable value="#{jobController.jobsStatusList}"  var="job" styleClass="stylized" rows="10" id="jobsList" rowClasses="even,odd">
                   		<rich:column >
                             <f:facet name="header"> <h:outputText value="ID" /></f:facet>
                             <h:outputText value="#{job.id}"></h:outputText>
                        </rich:column>
                       <rich:column>
                       <f:facet name="header"> <h:outputText value="Job Name" /></f:facet>
						<a4j:commandLink value="#{job.name}" action="#{jobController.getJobStatus}"  render="statusGroup">
							<f:param name="id" value="#{job.id}"></f:param>	
							<h:graphicImage value="images/scheduled-icon.png" rendered="#{job.isScheduled eq true}" style="margin-left:5px;" />	
						</a4j:commandLink>

						</rich:column>
						<rich:column >
                             <f:facet name="header"> <h:outputText value="Action" /></f:facet>                             
                             <h:outputText value="Archive" rendered="#{job.actionType eq 'ARCHIVE'}"/>
                             <h:outputText value="Archive &amp; Stub" rendered="#{job.actionType eq 'STUB'}"/>
                             <h:outputText value="Archive &amp; Delete" rendered="#{job.actionType eq 'WITHOUTSTUB'}"/>
                             <h:outputText value="Export" rendered="#{job.actionType eq 'EXPORT'}"/>
                             <h:outputText value="Export Stubs Only" rendered="#{job.actionType eq 'EXPORTSTUB'}"/>
                             <h:outputText value="Dynamic Archiving" rendered="#{job.actionType eq 'DYNARCH'}"/>
                             <h:outputText value="Priv User Export" rendered="#{job.actionType eq 'EXPORTSEARCHED'}"/>
                             <h:outputText value="Active Archiving" rendered="#{job.actionType eq 'ACTIVEARCH'}"/>
                             <h:outputText value="Print Archiving" rendered="#{job.actionType eq 'PRINTARCH'}"/>                             
                             <h:outputText value="Analysis" rendered="#{job.actionType eq 'INDEXING'}"/>
                        </rich:column>
                        
                         <rich:column >
                             <f:facet name="header"> <h:outputText value="Agent" /></f:facet>
                             <h:outputText value="#{job.agent.name}"></h:outputText>
                         </rich:column>
                         
                         <rich:column >
                             <f:facet name="header"> <h:outputText value="Policy" /></f:facet>
                             <h:outputText value="#{job.policy.name}"></h:outputText>
                         </rich:column>
                         
                         <rich:column>
                         	<!--<f:facet name="header"> <h:outputText value="Status" /></f:facet>                  
                             <h:graphicImage alt="pending" url="icons/analysis_history_pending.png" title="pending..." rendered="#{job.jobStatus eq 'PENDING'}"/>
                             <h:graphicImage alt="completed" url="icons/analysis_history_succeeded.png" title="completed" rendered="#{job.jobStatus eq 'COMPLETED'}"/>
                             <h:graphicImage alt="failed" url="icons/analysis_history_failed.png" title="failed" rendered="#{job.jobStatus eq 'FAILED'}" />
                             <h:graphicImage alt="processing" url="icons/analysis_history_running.png" title="processing..." rendered="#{job.jobStatus eq 'PROCESSING'}" />
                             <h:graphicImage alt="cancelling" url="icons/analysis_history_running.png" title="cancelling..." rendered="#{job.jobStatus eq 'CANCEL'}" />
                             <h:graphicImage alt="cancelled" url="images/crossProp.png" title="cancelled" rendered="#{job.jobStatus eq 'CANCELED'}" />-->
                             <f:facet name="header"> <h:outputText value="Status" /></f:facet>                  
                             <h:outputText value="pending" style="color: orange;" rendered="#{job.jobStatus eq 'PENDING' and job.actionType ne 'DYNARCH' and job.actionType ne 'ACTIVEARCH'}"/>
                             <h:outputText value="completed" style="color: green;" rendered="#{job.jobStatus eq 'COMPLETED' and job.actionType ne 'DYNARCH'}"/>
                             <h:outputText value="failed" style="color: red;" rendered="#{job.jobStatus eq 'FAILED'}" />
                             <h:outputText value="processing..." style="color:blue;"  rendered="#{job.jobStatus eq 'PROCESSING'}" />
                             <h:outputText value="cancelling..." style="color:blue;" rendered="#{job.jobStatus eq 'CANCEL'}" />
                             <h:outputText value="cancelled" style="color:green;" rendered="#{job.jobStatus eq 'CANCELED'}" />
                             <h:outputText value="active..." style="color:blue;"  rendered="#{(job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq true}" />
                             <h:outputText value="paused..." style="color:blue;"  rendered="#{(job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq false}" />                             
                             <!--   h:outputText value="analyzing..." style="color:blue;"  rendered="#{job.actionType eq 'INDEXING'}" / -->
                             
                             <a4j:commandButton style="padding-left:20px" action="#{jobController.cancelJob}" title="cancel job"   rendered="#{job.jobStatus eq 'PROCESSING'}" image="images/crossProp.png">
                                  <f:param value="#{job.id}" name="jobId" />                                  
                             </a4j:commandButton>
                             <a4j:commandButton style="padding-left:20px" action="#{jobController.pauseJob}" title="pause/halt job"   rendered="#{(job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq true}" image="images/pause_job.jpg">
                                  <f:param value="#{job.id}" name="jobId" />                                  
                             </a4j:commandButton>
                             <a4j:commandButton style="padding-left:20px" action="#{jobController.resumeJob}" title="resume job"   rendered="#{(job.actionType eq 'DYNARCH' or job.actionType eq 'ACTIVEARCH') and job.readyToExecute eq false}" image="images/resume_job.png">
                                  <f:param value="#{job.id}" name="jobId" />                                  
                             </a4j:commandButton>
                         </rich:column>
                         <f:facet name="footer">
	                          <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
	                     </f:facet>  
                                               
                                                          
                    
               </rich:dataTable>
               <h:panelGroup id="statusGroup" >               
               <h:panelGroup  rendered="#{jobController.showStatusGrid}">
               
               		 <h3>Execution Details  </h3><hr/>
               		 <rich:dataTable value="#{jobController.jobStatisticsList}" var="jobStatistics" styleClass="stylized" rows="10" id="jobsStatistics" rowClasses="even,odd">
               		 <rich:column>               		 
						<f:facet name="header"> <h:outputText value="Sequence ID" /></f:facet>
						<a4j:commandLink value="#{jobStatistics.serialNo}" action="#{jobController.getCurrentExecutionDetails}" render="jobSummary">
						<f:param name="id" value="#{jobStatistics.id}"></f:param>
						<f:param name="serial" value="#{jobStatistics.serialNo}"></f:param>
						<f:param name="executionId" value="#{jobStatistics.executionId}"></f:param>
						<f:param name="jobId" value="#{jobStatistics.job.id}"></f:param>
					 </a4j:commandLink>					 
					 </rich:column>
					 <rich:column>
							<f:facet name="header"> <h:outputText value="Execution ID" /></f:facet>
							<h:outputText value="#{jobStatistics.job.id}-#{jobStatistics.executionId}"></h:outputText>
					 </rich:column>
                        <rich:column >
                             <f:facet name="header"> <h:outputText value="Start Time" /></f:facet>                             
                                <f:param name="id" value="#{jobStatistics.id}"></f:param>
                                <h:outputText value="#{jobStatistics.jobStartTime}"></h:outputText>
                        </rich:column>
                        
                         <rich:column >
                             <f:facet name="header"> <h:outputText value="End Time" /></f:facet>
                             <h:outputText value="#{jobStatistics.jobEndTime}"></h:outputText>
                        </rich:column>
                         
                         <rich:column >
                             <f:facet name="header"> <h:outputText value="Status" /></f:facet>
                             <h:outputText value="#{jobStatistics.status.toLowerCase()}" style="color: green;" rendered="#{jobStatistics.status.toLowerCase() eq 'completed'}"/>
                             <h:outputText value="#{jobStatistics.status.toLowerCase()}" style="color: red;" rendered="#{jobStatistics.status.toLowerCase() eq 'failed'}"/>     
                             <h:outputText value="cancelled" style="color: green;" rendered="#{jobStatistics.status.toLowerCase() eq 'canceled'}"/>                                                    
                         </rich:column>
                         
                         <rich:column  >
                               <f:facet name="header"> <h:outputText value="Analytics" /></f:facet>
                               
                              <a4j:commandLink oncomplete="#{rich:component('graphPopUp')}.show();" action="#{jobAnalysisController.init}" value="Open" render="graphPopUp" rendered="#{jobStatistics.status.toLowerCase() eq 'completed' and jobStatistics.job.actionType eq 'INDEXING' }">
                                   <f:param value="#{jobStatistics.job.id}" name="id"></f:param>
                              </a4j:commandLink>
                               
                         </rich:column>
                         
                         <rich:column>
							<f:facet name="header"> <h:outputText value="Logs" /></f:facet>
							<h:form>
								<h:outputLink onclick="window.open('DownloadLog?jobid=#{jobStatistics.job.id}&amp;execid=#{jobStatistics.executionId}', 'Job Log', 'dependent=yes, menubar=no, toolbar=no, scrollbars=yes, resizable=yes, width='+(window.outerWidth/1.5)+', height='+(window.outerHeight/1.5)+''); return false;" value="#" rendered="#{jobStatistics.numberOfPublicLogs > 0}">
									<h:outputText value="logs" />
								</h:outputLink>								
								<!-- h:outputLink value="DownloadLog" target="_blank" rendered="#{jobStatistics.numberOfPublicLogs > 0}">
									<h:outputText value="Logs"></h:outputText>
									<f:param name="jobid" value="#{jobStatistics.job.id}"></f:param>
									<f:param name="execid" value="#{jobStatistics.executionId}"></f:param>
								</h:outputLink -->
							</h:form>
                         </rich:column>
                         
                         <f:facet name="footer">
	                     <input type="button" class="btn-gray fright" value="Re-run" onclick="toggleRunNowTableFunc('SHOW');"/>	                     
	                     </f:facet>  
                    
               </rich:dataTable>
               

      <div id="divReRunLabel" style="display: none;"><h3>Re-run</h3></div>
     
        <table class="stylized" id="divRunNow" style="display: none;">

          <tbody>

          <tr>
            <td width="900px">
				<h:selectOneRadio  value="#{jobController.job.isScheduled}" layout="pageDirection" onclick="toggleRunNowFunc(this.value);">
			     <f:selectItem itemValue="false" itemLabel="Run Now"/><br/>
			     <f:selectItem itemValue="true" itemLabel="Schedule"/>
			   </h:selectOneRadio>

              <div id="execTimeStartDiv" style="display: none; margin-left:114px">
                <label for="execTimeStart"><h:outputLabel value="Execution Time: " /></label>
                <rich:calendar value="#{jobController.job.execTimeStartDate}" datePattern="d/M/yy HH:mm" name="execTimeStart" />
                
                <!-- br/>
		        <h:selectBooleanCheckbox value="#{jobController.job.isScheduled}" title="ReRun after each Interval" id="isScheduled" />
		        <h:outputLabel value="ReRun after each Interval" for="isScheduled" ></h:outputLabel -->
			    
			    <br />
			    <label for="interval"><h:outputLabel value="Select Interval: " /></label>
			    <h:selectOneMenu id="interval" value="#{jobController.job.executionInterval}">
					<f:selectItem itemLabel="ReRun Daily"	itemValue="1"></f:selectItem>
					<f:selectItem itemLabel="ReRun Weekly"	itemValue="7"></f:selectItem>
					<f:selectItem itemLabel="ReRun Monthly"	itemValue="30"></f:selectItem>
					<f:selectItem itemLabel="ReRun Quarterly"	itemValue="120"></f:selectItem>
					<f:selectItem itemLabel="ReRun Yearly"	itemValue="365"></f:selectItem>
				</h:selectOneMenu>

              </div>
              
          <h:commandButton styleClass="btn-gray fleft" action="#{jobController.reRunJob}" value="OK" style="margin-top: 10px;margin-bottom: 10px;" >
          	<!-- f:param name="currentJobId" value=" # { jobController.jobStatisticsList1.size()==0?0:jobController.jobStatisticsList1.get(0).job.id}"></f:param -->
          </h:commandButton>    
          <input type="button" class="btn-gray fleft" value="Cancel" onclick="toggleRunNowTableFunc('HIDE');" style="margin-top: 10px;margin-bottom: 10px;"/>
          
          <br/>
          </td>
          </tr>

          </tbody>
        </table>
     
               <h3>Statistics Summary </h3><hr/>
				<rich:dataTable value="#{jobController.jobStatisticsList1.size()==0?0:jobController.jobStatisticsList1.get(0)}" var="jobStatistics" styleClass="stylized" rows="10" id="jobSummary" rowClasses="even,odd">
					<rich:column>
						<f:facet name="header"> <h:outputText value="Sequence ID" /></f:facet>
						<h:outputText value="#{jobStatistics.serialNo}"></h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header"> <h:outputText value="Execution ID" /></f:facet>
						<h:outputText value="#{jobStatistics.executionId}"></h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header"> <h:outputText value="Total Visited" /></f:facet>
						<h:outputText value="#{jobStatistics.totalEvaluated}"></h:outputText>
					</rich:column>
					<rich:column rendered="false">
						<f:facet name="header"> <h:outputText value="Visited" /></f:facet>
						<h:outputText value="#{jobStatistics.totalEvaluated}"></h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header"> 
						<h:outputText rendered="#{jobController.isHotStatistics()}" value="Queued" />
						<h:outputText rendered="#{!jobController.isHotStatistics()}" value="Skipped" /></f:facet>
						<h:outputText value="#{jobStatistics.totalSkipped}"></h:outputText>
					</rich:column>						
					<rich:column rendered="#{jobController.job.actionType eq 'EVALUATE'}">
						<f:facet name="header"> <h:outputText value="Qualified" /></f:facet>
						<h:outputText value="#{jobStatistics.totalEvaluated-jobStatistics.totalSkipped}"></h:outputText>
					</rich:column>					
					<rich:column>
						<f:facet name="header"> 
						<h:outputText rendered="#{jobController.getJobFlag() eq 'INDEXING'}" value="Analyzed" />
						<h:outputText rendered="#{jobController.getJobFlag() eq 'EXPORT'}" value="Exported" />
						<h:outputText rendered="#{jobController.getJobFlag() eq 'OTHERS'}" value="Archived" />
						</f:facet>
						<h:outputText value="#{jobStatistics.totalFreshArchived}"></h:outputText>
						
					</rich:column>
					<rich:column rendered="#{jobController.getJobFlag() eq 'OTHERS'}">
						<f:facet name="header"> <h:outputText value="Stubbed" /></f:facet>
						<h:outputText value="#{jobStatistics.totalStubbed}"></h:outputText>
					</rich:column>
					<rich:column rendered="false">
						<f:facet name="header"> <h:outputText value="Duplicate" /></f:facet>
						<h:outputText value="#{jobStatistics.totalDuplicated}"></h:outputText>
					</rich:column>
					<rich:column rendered="#{jobController.getJobFlag() eq 'OTHERS' and false}">
						<f:facet name="header"> <h:outputText rendered="#{job.jobStatus eq 'PROCESSING'}" value="Processing" />
								<h:outputText rendered="#{job.jobStatus ne 'PROCESSING'}" value="Skipped" />
						</f:facet>
						<h:outputText value="#{jobStatistics.totalSkipped}"></h:outputText>						
					</rich:column>
					<rich:column>
						<f:facet name="header"> <h:outputText value="Errored" /></f:facet>
						<h:outputText value="#{jobStatistics.totalFailed}"></h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header"> <h:outputText value="Size (MB)" /></f:facet>
						<h:outputText value="#{jobStatistics.archivedVolume}" rendered="#{jobStatistics.archivedVolume gt 0}"></h:outputText>
					</rich:column>
                    <f:facet name="footer">
	                     <h:outputText value=""></h:outputText>
	                </f:facet> 
				</rich:dataTable>               		 
               </h:panelGroup> 
               </h:panelGroup>  
               
               <rich:popupPanel  autosized="true" domElementAttachment="body" width="985" id="graphPopUp" followByScroll="false" style="margin-top:20px;margin-bottom:20px;" >
                     <f:facet name="header">
				            <h:outputText value="Job Graphs" />
				        </f:facet>
				        
				         <f:facet name="controls">
				            <h:outputLink value="#" onclick="#{rich:component('graphPopUp')}.hide(); return false;">
				                X-Close
				            </h:outputLink>
				        </f:facet>
				        
				        <h:panelGrid>
                           <ui:include src="JobGraph.xhtml"></ui:include>
                        </h:panelGrid>
                     
               </rich:popupPanel>
                   
            </h:form>
            </ui:define> 
                 
               
        </ui:composition>
      
</html>	
	
