<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
   
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
			<style>
			
			.rf-tab-cnt{
			  padding-left: 0 !important;
			  padding-right: 0;
			 
			}
			.rf-tab-hdr-act{
			vertical-align: bottom !important;
			}
			.rf-tab-hdr-top{
			   vertical-align: bottom !important;
			}
			.rf-tab-hdr-act{
			vertical-align:bottom !important;
			}
			.rf-tab-hdr-spcr{
			 background-color: #F5F5F5 !important;
			}
			
			
			</style>
			
            
      <ui:define name="title">Jobs Status List </ui:define>
           
      <ui:define name="breadcrumbs">
           
	            <!-- <a class="main" href="#">System /</a>-->
	            <!--  <a class="main" href="#">Job Management /</a>-->
	            <!-- <a href="#">Jobs Status</a>-->
          	<a href="#" class="main">#{message['breadcrumbs.system.jobStatus']}</a>
       </ui:define>
            
       <ui:define name="content">
                
                <h:form styleClass="common" id="jobStatusForm"> 
                    <a4j:poll action="#{jobStatsController.init}" interval="3000" bypassUpdates="true" immediate="true" limitRender="true" enabled="true" render="statsTabs"></a4j:poll>
                    <!-- allJobsList archivingJobsList stubbingJobsList evalJobsList analysisJobsList exportJobsList activeArchivingJobsList dynaArchivingJobsList -->
                 <h:panelGrid columns="1" width="250" style="padding-bottom:10px;">
                     
                      <h:selectOneRadio value="#{jobStatsController.jobSource}" style="width: 250px;"   >
                         <f:selectItems value="#{jobStatsController.jobSourceList}" var="s" itemLabel="#{s.itemLabel}" itemValue="#{s.value}" />
                         <f:ajax event="change" listener="#{jobStatsController.init}"  render="statsTabs"></f:ajax>
                      </h:selectOneRadio>
                    
                   </h:panelGrid>
                 
                 
                 <rich:tabPanel switchType="ajax" id="statsTabs"   headerPosition="top" >
                         
                         <f:ajax event="itemchange" listener="#{jobStatsController.swithTabAction}" render="statsTabs"></f:ajax>
				         <!--  allStatusGroup statusGroup statsStubbing statsEvaluation statsAnalysis statsExport scheduledStatusGroup statsActiveArchiving statsDynamicArchiving -->
				         
				         <rich:tab name="All" id="allTab" >				         
				              <ui:include  src="/include/Stats_AllJobs.xhtml"></ui:include>				         	
				         </rich:tab>
				         
				         <rich:tab name="Archiving" id="archivingTab" rendered="#{jobStatsController.enableArchiveTab eq true}" >				         
				              <ui:include  src="/include/Stats_Archiving.xhtml"></ui:include>				         	
				         </rich:tab>
				         
				         <rich:tab name="Stubbing"  id="stubbingTab"  rendered="#{jobStatsController.enableStubTab eq true}" >
				             <ui:include src="/include/Stats_Stubbing.xhtml"></ui:include>	
				         </rich:tab>
				         
				          <rich:tab name="Evaluation"  id="evalTab" rendered="#{jobStatsController.enableEvalTab eq true}" >
				              <ui:include src="/include/Stats_Evaluation.xhtml"></ui:include>	
				         </rich:tab>
				         
				          <rich:tab name="Analysis"  id="analysisTab" rendered="#{jobStatsController.enableAnalysisTab eq true}"   >
				              <ui:include src="/include/Stats_Analysis.xhtml"></ui:include>	
				         </rich:tab>
				         
				         <rich:tab name="Export"  id="exportTab"  rendered="#{jobStatsController.enableExportTab eq true}" >
				              <ui:include src="/include/Stats_Export.xhtml"></ui:include>	
				         </rich:tab>
				         
				         <rich:tab name="Active Archiving"  id="activeArchTab" rendered="#{jobStatsController.enableActiveArchiveTab eq true and (empty jobStatsController.jobSource or jobStatsController.jobSource eq 'FS') }" >
				              <ui:include src="/include/Stats_ActiveArchiving.xhtml"></ui:include>	
				         </rich:tab>
				         
				         <rich:tab name="Active Archiving "  id="dynaArchTab"   rendered="#{jobStatsController.enableDynaArchiveTab eq true and jobStatsController.jobSource eq 'SP'}"  >
				              <ui:include src="/include/Stats_DynamicArchiving.xhtml"></ui:include>	
				         </rich:tab>
				         
				         <rich:tab name="Scheduled"  id="scheduledTab"  rendered="#{jobStatsController.enableScheduledTab eq true}" >
				               <ui:include src="/include/Stats_Scheduled.xhtml"></ui:include>	
				         </rich:tab>
				         
				         <rich:tab name="Archive and Delete"  id="withoutStubTab"  rendered="#{jobStatsController.enableWithoutStubTab eq true}" >
				               <ui:include src="/include/Stats_WithoutStub.xhtml"></ui:include>	
				         </rich:tab>
				      			         
				 </rich:tabPanel> 
				 
				 
				  <rich:popupPanel  autosized="true" domElementAttachment="form" width="985" id="graphPopUp" followByScroll="false" style="margin-top:20px;margin-bottom:20px;" >
                     <f:facet name="header">
				            <h:outputText value="Job Graphs" />
				        </f:facet>
				        
				         <f:facet name="controls">
				            <h:outputLink value="#" onclick="#{rich:component('graphPopUp')}.hide(); return false;">
				                X-Close
				            </h:outputLink>
				        </f:facet>
				        
				        <h:panelGrid>
                           <ui:include src="JobGraph.xhtml"></ui:include>
                        </h:panelGrid>
                     
               </rich:popupPanel>
				       
           </h:form>
     </ui:define>              
               
   </ui:composition>
      
</html>	
	
