<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">System Configurations</ui:define>
           
            <ui:define name="breadcrumbs">
             <a href="#" class="main">System Configurations /</a>
				<a href="#" class="main">LDAP Configurations /</a>
				<a href="#">List</a>
            </ui:define>
            
            <ui:define name="content">
            
               <rich:dataTable value="#{systemCodeController.allLDAPCodes}" var="systemCode" styleClass="stylized" rowClasses="even,odd">
                                     
                        <rich:column style="width:400px" >
                             <f:facet name="header"> <h:outputText value="Name" /></f:facet>
                             <h:outputText value="#{systemCode.displayName}"></h:outputText>
                        </rich:column>
                        
                        <rich:column style="width:600px;">
                        	<f:facet name="header"><h:outputText value="Value"/></f:facet>
                        	
                        	<h:outputText value="#{systemCode.codevalue}" rendered="#{systemCode.codename ne 'service.password' }"></h:outputText>
                        	<h:outputText value="******" rendered="#{systemCode.codename eq 'service.password'}" />
                        	
                        </rich:column>
                        
                         <f:facet name="footer"  >
                         
                           <h:link styleClass="btn-gray" outcome="EditLDAPConfig"  style="float: right;color:black" value="Edit"  />           
                         </f:facet>              
                             
               </rich:dataTable>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
