<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">System Maintenance</ui:define>
           
            <ui:define name="breadcrumbs">
             <!-- <a href="#" class="main">System Configurations /</a>
				<a href="#" class="main">System Maintenance </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.systemMaintenance.edit']}" /> </a>
				
            </ui:define>
            
            <ui:define name="content">
            <h:form styleClass="common">
            <h3>#{message['systemMaintenance.reason.heading']}</h3> 
            <hr style="border-bottom:1px solid !important;"/>
            
            <table width="700">
            	<tr>
            		<td>
            			<h:outputLabel value="#{message['systemMaintenance.reason.label']}:"/>
            		</td>
            		<td>
            			<h:inputText value="#{manageSystemController.systemAlert.alertMessage}" size="50" style="width:400px;"/>
            		</td>
            	</tr>
            </table>
            <h3>#{message['systemMaintenance.restartServices.heading']}</h3> 
            <hr style="border-bottom:1px solid !important;"/>
            <h:outputText value="#{message['systemMaintenance.restartServices.text']}"/>
               <h:commandButton value="Restart" action="#{manageSystemController.restartServer}" styleClass="btn-gray fright"/>
               
           	<h3>#{message['systemMaintenance.restartApplication.heading']}</h3> 
            <hr style="border-bottom:1px solid !important;"/>
            <h:outputText value="#{message['systemMaintenance.restartApplication.text']}"/>
               <h:commandButton value="Restart" action="#{manageSystemController.restartAppliance}" styleClass="btn-gray fright"/>
            <h3>#{message['systemMaintenance.shutdownServer.heading']}</h3> 
            <hr style="border-bottom:1px solid !important;"/>
            <h:outputText value="#{message['systemMaintenance.shutdownServer.text']}"/>       
               <h:commandButton value="Shutdown" action="#{manageSystemController.shutdownServer}" styleClass="btn-gray fright"/>
               
            <h3>#{message['systemMaintenance.repoUpdate.heading']}</h3>            
            <hr style="border-bottom:1px solid !important;"/>
            <h:panelGroup id="repoUpdate">
	            <h:panelGroup rendered="#{manageSystemController.batchJobRunning eq false}">
		            <h:outputText value="#{message['systemMaintenance.repoUpdate.fileSize.start']}"/>
		               <a4j:commandButton value="Start" action="#{manageSystemController.startFileSizeBatch}" styleClass="btn-gray fright" render="repoUpdate"/>
	           	</h:panelGroup>         
	           	
	           	<h:panelGroup rendered="#{manageSystemController.batchJobRunning eq true}">
		            <h:outputText value="#{message['systemMaintenance.repoUpdate.fileSize.stop']}"/>       
		               <a4j:commandButton value="Stop" action="#{manageSystemController.stopFileSizeBatch}" styleClass="btn-gray fright"  render="repoUpdate"/>
	           	</h:panelGroup>
             </h:panelGroup>
             <br/>
             <h:outputLabel value="#{message['systemMaintenance.repoUpdate.fileSize.label']}"/><h:outputText value="#{manageSystemController.totalFilesProcessed}"/>
             <br/>
             <br/>
               <h:panelGroup id="archiveUpdate">
	            <h:panelGroup rendered="#{manageSystemController.batchJobRunningForArchiveDate eq false}">
		            <h:outputText value="#{message['systemMaintenance.repoUpdate.archiveDate.start']}"/>       
		               <a4j:commandButton value="Start" action="#{manageSystemController.startFileSizeBatchForArchiveDate}" styleClass="btn-gray fright" render="archiveUpdate"/>
	           	</h:panelGroup>         
	           	
	           	<h:panelGroup rendered="#{manageSystemController.batchJobRunningForArchiveDate eq true}">
		            <h:outputText value="#{message['systemMaintenance.repoUpdate.archiveDate.stop']}"/>       
		               <a4j:commandButton value="Stop" action="#{manageSystemController.stopFileSizeBatchForArchiveDate}" styleClass="btn-gray fright"  render="archiveUpdate"/>
	           	</h:panelGroup>
             </h:panelGroup>
             <br/>
             <h:outputLabel value="#{message['systemMaintenance.repoUpdate.archiveDate.label']} "/><h:outputText value="#{manageSystemController.totalFilesProcessedForArchiveDate}"/>      
            </h:form>   
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
