
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<style>
.rf-pp-cntr {
	border: 0;
	

}

.rf-pp-cnt-scrlr {
	
}

.rf-pp-cnt {
	padding: 0;
	
	border: none;
	
}

</style>
        
		 <h:inputText id="medFP" value="#{explorer.mediaFilePath}"  style="display: none;"></h:inputText>
		
		 <div id='mediaspace' >The player is unable to run file</div>
		    <script src="jwplayer/jwplayer.js" ></script>
		 	<script type='text/javascript'>
		 	       
		 	      var filePath=	document.getElementById("explorerGrid:medFP");
		 	      if(!filePath)
		 	      {
		 	      	filePath = document.getElementById("viewFileOnline:medFP").value;
		 	      }else{
		 	      	filePath = filePath.value;
		 	      }
		 	       	 	      
				  jwplayer('mediaspace').setup({
				  'flashplayer': 'jwplayer/jwplayer.flash.swf',
				  'file': filePath,				  
				   provider:"hls",
				   primary:"flash",
				   logo:"images/logo.png",
				   autostart:"true",
				  'controlbar': 'bottom',
				  'width': '470',
				  'height': '290'
				});
		</script>
						 

</h:body>

</html>
