<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
        
        <h:body>
<ui:composition
        template="pdfViewerTemplate.xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets">        

            <f:metadata >               
               <f:event type="preRenderView" listener="#{documentManager.openDocument}"  />
            </f:metadata>
            <!-- 
           <ui:define name="header">
              
		          <a href="#"></a>
		       
            </ui:define>
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Repository /</a>
				<a href="#" class="main">Pdf Viewer /</a>	
            </ui:define>-->

    <ui:define name="content">
		<h:panelGroup >
		<ui:include src="/include/pdf/commandBar.xhtml"/>
        	<ui:include src="/include/pdf/document.xhtml"/>
        </h:panelGroup>

    </ui:define>

</ui:composition>
</h:body>
</html>
