<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          

        <ui:composition template="stubTemplate.xhtml">
             
            <f:metadata >               
               <f:viewParam name="nodeID" id="nodeID" value="#{stubAccessController.restorePath}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{stubAccessController.restoreFile}" />
            </f:metadata>
           
            
            <ui:define name="title">View File</ui:define>
            
             
            
            <ui:define name="header">
              
		          <a href="#"></a>
		       
            </ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Repository /</a>
				<a href="#" class="main">File Details /</a>	
				
				
				 
            </ui:define>
            
            <ui:define name="content">
            
              <script type="text/javascript" >
                  function closeBrowser(){
                     window.open('','_parent',''); 
                     window.close();                  
                  }
                  
                  function checkProgress(){
                     if(document.getElementById("stubAccess:progressLabel")!=null){
                        
                        var value=document.getElementById("stubAccess:progressLabel").innerHTML;
                         
                        if(value.indexOf("100")!=-1){
                        
                           closeBrowser();
                          
                        }
                     }                 
                     
                  }
                  
		      </script>
            
            
              <style>
				.rf-msgs-sum {
				    display: inline;				    
				    font-size:15px;
				    word-wrap:break-word;
				}

				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-pb-lbl{
				  padding-top:0;
				  padding-bottom: 1px;
				  line-height: 17px;
				}
				.rf-pb-rmng{
				  height: 15px;
				}
  			</style> 
  			      <rich:popupPanel id="loadingPanel" modal="true" width="64" height="64">
			           <h:graphicImage value="/images/spinner.gif"></h:graphicImage>
                  </rich:popupPanel>
               <h:form class="common" id="stubAccess">
               <a4j:poll enabled="true" interval="3000" render="progress messagePanel locationPanel pathPanel"  immediate="true" execute="progress" limitRender="true" oncomplete="changeFont();checkProgress();" > </a4j:poll>               
               <div class="error">
                     <a4j:outputPanel id="messagePanel1" ajaxRendered="true" rendered="false">
                         <!--<h:outputText value="#{stubAccessController.message}" style="color:green;" />-->
                         <h:outputText value="#{stubAccessController.message}"  style="color:green;" />
                     </a4j:outputPanel>     
                     <rich:messages/>
                     <!-- <h:messages id="messagePanel"/>-->
               </div>
               
               <h:panelGroup rendered="#{stubAccessController.authorize eq true}">
               
	               <table class="stylized">
	         			<tr>
							<td>
								<h:panelGroup id="locationPanel">
									<h:outputLabel rendered="#{stubAccessController.completed eq false}" value="Location"/>
									<h:outputLabel rendered="#{stubAccessController.completed eq true}" value="Restored to Location"/>
								</h:panelGroup>
							</td>
							<td>
								<h:panelGroup id="pathPanel">
									<h:outputLabel rendered="#{stubAccessController.completed eq false}" value="#{stubAccessController.selectedNode.compressedURL}"/>
									<h:outputLabel rendered="#{stubAccessController.completed eq true}" value="#{stubAccessController.selectedNode.compressedURL}"/>
								</h:panelGroup>
							<label></label></td>
						</tr>
	               </table>
    				<h:outputText value="  "></h:outputText>
					<h:panelGroup id="progress">
						<h:panelGroup rendered="#{stubAccessController.showProgress eq true}">
							<h:outputLabel style="color: Red;" id="progressLabel" value="Completed: #{stubAccessController.completedPercentage} %"/>
																								
						</h:panelGroup>
					
						
					</h:panelGroup>
    					
					<a4j:outputPanel id="messagePanel" ajaxRendered="true">
			             <!--<h:outputText value="#{stubAccessController.message}" style="color:green;" />-->
			             <h:outputLabel value="#{stubAccessController.message}"  style="color:green;font-size: 14px; " />
			             <h:inputHidden id="hiddenPercent" value="#{stubAccessController.completedPercentage}"/>
		            </a4j:outputPanel>   
				</h:panelGroup>

                       </h:form>
             </ui:define>
             
             
       </ui:composition>       
      
</html>	
	
