<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
                      
            <ui:define name="title">Search Documents</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">System /</a>
				<a href="#" class="main">Repository /</a>
				<a href="#">Search</a>
            </ui:define>
            
            <ui:define name="content">
                <style>
                  .rf-pp-cntr{
                    border: 0;
                    background: transparent;                                     
                  }
                  
                  .rf-pp-cnt-scrlr{
                   background: transparent;
                  }
                  .rf-pp-cnt{ 
                     padding: 0;                   
                     background:transparent;
                     border: none;
                  }
                </style>
               
                  
                  <rich:popupPanel id="loadingPanel" modal="true" width="32" height="32">
			           <h:graphicImage value="/images/spinner.gif"></h:graphicImage>
                  </rich:popupPanel>
              
			      <a4j:region id="searchRegion"> 
			     
			      <a4j:status   onstart="#{rich:component('loadingPanel')} .show()" onstop="#{rich:component('loadingPanel')} .hide()" onsuccess="#{rich:component('loadingPanel')} .hide()" onerror="#{rich:component('loadingPanel')} .hide()" id="spinner"></a4j:status>
			      <h:form styleClass="common"> 
			                   
                     <table width="700">
							
							<tr>
							  <td colspan="2" height="30"> <rich:messages style="font-size:12px;"></rich:messages> </td>
							</tr>
							<tr>	
								<td width="23%"><label>Search String:</label></td>
								<td><h:inputText value="#{searchController.searchString}" size="50" maxlength="40"/></td>
							</tr>
							<tr>	
								<td><label>Document Name:</label></td>
								<td><h:inputText value="#{searchController.documentName}" size="50" maxlength="60" />  e.g.(*.doc,*.pdf)</td>
							</tr>
							<tr>	
								<td><label>Start Date(Modified):</label></td>
								<td><rich:calendar value="#{searchController.modifiedStartDate}" /></td>
							</tr>
							<tr>	
								<td><label>End Date(Modified):</label></td>
								<td><rich:calendar value="#{searchController.modifiedEndDate}" /></td>
							</tr>
							<tr>	
								<td colspan="2">
									<br />
									<div class="fright">
										<a4j:commandButton value="Search" action="#{searchController.search}" render="resultsPanel" styleClass="btn-orange fright" />
										 									
										<a4j:commandButton type="reset" name="reset" value="Reset" styleClass="btn-gray fright"  render="resultsPanel"/>										
									</div>
									<div class="clear"></div>
								</td>
							</tr>
					  </table>
                     </h:form>
                     
                     <h:panelGroup id="resultsPanel" >  
	                    
	                    <h:panelGrid columns="3"  rendered="#{searchController.totalRecords gt 0}" id="searchStatistics" cellpadding="5" cellspacing="10" style="font: bold;">
	                       <h:panelGroup>
		                       <h:column>
		                          Total results:
		                       </h:column>
		                       <h:column>
		                          #{searchController.totalRecords},
		                       </h:column>
		                    </h:panelGroup>   
	                       
	                       <h:panelGroup>
		                       <h:column>
		                          Total Pages:
		                       </h:column>
		                       <h:column>
		                          #{searchController.totalPages},  
		                       </h:column>
		                   </h:panelGroup>
		                   
		                   <h:panelGroup>                       
		                      <h:column >
		                         Execution Time:
		                      </h:column>
		                      <h:column>
		                         #{searchController.executionTime} seconds.
		                      </h:column>
		                  </h:panelGroup>    
	                       
	                    </h:panelGrid>
                    
                     
                           
	                    <rich:dataTable id="resultsGrid"  value="#{searchController.searchResults}" rendered="#{not empty searchController.searchResults}"  var="document" styleClass="stylized" rowClasses="even,odd" style="margin-top: 5px" rows="25" >
	                                                                  
	                         <rich:column style="margin-top:5px" >                            
	                              <h:outputLink value="#{document.documentUrl}"   >
	                                 <h:outputText value="#{document.documentName}" />
	                              </h:outputLink> - <h:outputText value="#{document.documentSize}"></h:outputText> - <h:outputText value="#{document.lastModificationDate}"></h:outputText>
	                              <br />
	                              <h:outputText value="#{document.excerptString}" escape="false"></h:outputText>
	                         </rich:column>
	                        
	                        
	                        <f:facet name="footer">
	                            <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
	                            
	                        </f:facet>
	                                           
	                     </rich:dataTable>
                   
                     </h:panelGroup>
            
                  </a4j:region>               
              
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
