<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
        
            <f:metadata>
		      <f:viewParam  id="id" name="id" value="#{documentClassifyController.documentCategoryId}"  required="true" >
		        <f:validateLongRange minimum="1" maximum="50000" />
		      </f:viewParam>
		      <f:event type="preRenderView" listener="#{documentClassifyController.populateDocumentCategory}" />
		   </f:metadata>
            
            <ui:define name="title">Document Category</ui:define>
           
            <ui:define name="breadcrumbs">
                <a class="main" href="#">Configuration /</a>
				<a class="main" href="#">Document Classifier /</a>
				<a href="#">Show Document Category</a>
            </ui:define>
            
            <ui:define name="content">
              <div class="error" style="padding-bottom: 5px;padding-top:5px;">
				<h:messages/>
			  </div>
            
              <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">#{message['document.category.name.label']}</td>
								<td><h:outputText value="#{documentClassifyController.documentCategory.name}" /></td>
							</tr>
							<tr class="odd">
								<td>#{message['document.category.description.label']}</td>
								<td><h:outputText value="#{documentClassifyController.documentCategory.description}" /></td>
							</tr>
							<tr>
								<td>#{message['document.extension.list.label']}</td>
								<td>
								    <ui:repeat value="#{documentClassifyController.documentTypeList}"  var="documentType" varStatus="index" >
								          <h:link value="#{documentType.name} (#{documentType.value}) " outcome="showDocumentType">
								             <f:param name="id" value="#{documentType.id}"></f:param>
								          </h:link>#{!index.last ? ', ' : ''}

								    </ui:repeat>
									
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
							  <td colspan="2">
							      <h:form  styleClass="common" >
								
										<h:link class="btn-gray fleft" outcome="DocumentCategories.faces?faces-redirect=true;"><span>List All</span></h:link>
										
										<h:link  styleClass="btn-gray fleft" value="Edit" outcome="AddDocumentCategory">
										  <f:param name="id" value="#{documentClassifyController.documentCategoryId}"></f:param>
										</h:link>
										
										<h:commandLink styleClass="btn-gray fleft"   value="Delete" action="#{documentClassifyController.deleteDocumentCategory}" >
										   <a4j:param assignTo="#{documentClassifyController.documentCategoryId}" value="#{documentClassifyController.documentCategory.id}"></a4j:param>
										</h:commandLink>
										
										<a class="btn-gray fright" href="AddDocumentCategory.faces"><span>Add</span></a>
									
								</h:form>
															 
							 </td>
						  
						  </tr>
						
						</tfoot>
					</table>
            
            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
