<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
        
        <ui:composition template="defaultTemplate.xhtml">
            
            <f:metadata>
		      <f:viewParam  id="id" name="id" value="#{documentClassifyController.documentTypeId}"  required="true" >
		        <f:validateLongRange minimum="1" maximum="50000" />
		      </f:viewParam>
		      <f:event type="preRenderView" listener="#{documentClassifyController.populateDocumentType}" />
		   </f:metadata>     
            
            
            <ui:define name="title">Document Type</ui:define>
           
            <ui:define name="breadcrumbs">
                <a class="main" href="#">Configuration /</a>
				<a class="main" href="#">Document Classifier /</a>
				<a href="#">Show Document Type</a>
            </ui:define>
            
            <ui:define name="content">
            
             <div class="error" style="padding-bottom: 5px;padding-top:5px;">
				<h:messages/>
			 </div>
            
              <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">Category Name</td>
								<td><h:outputText value="#{documentClassifyController.documentType.name}" /></td>
							</tr>
							 
							<tr class="odd">
								<td>Value</td>
								
								<td><h:outputText value="#{documentClassifyController.documentType.value}" /></td>
							</tr>
							<tr>
								<td>Document Category</td>
								
								<td><h:outputText value="#{documentClassifyController.documentCategory.name}" /></td>
									
								
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
								   <h:form styleClass="common">
										
										<h:link styleClass="btn-gray fleft" outcome="DocumentTypes" value="List All"></h:link>
										
										<h:link styleClass="btn-gray fleft" value="Edit" outcome="AddDocumentType" >
										   <f:param name="id" value="#{documentClassifyController.documentType.id}"></f:param>
										</h:link>
											
										<h:commandLink styleClass="btn-gray fleft"    value="Delete" action="#{documentClassifyController.deleteDocumentType}" >
										   <a4j:param assignTo="#{documentClassifyController.documentTypeId}" value="#{documentClassifyController.documentType.id}"></a4j:param>
										</h:commandLink>
											
										<a class="btn-gray fright" href="AddDocumentType.faces"><span>Add</span></a>
									
									</h:form>
								</td>
							</tr>
						</tfoot>
					</table>
            
            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
