<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
                      
            <ui:define name="title">System Status</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">System /</a>
				<a href="#" class="main">System Status </a>		-->
				<a href="#" class="main">#{message['breadcrumbs.system.systemStatus']}</a>		
            </ui:define>
            
            <ui:define name="content">
            
               <style>
                 .stylized th {
                   width: 50%;
                 }
               .rf-pb-rmng{
                   width: 160px;
               }
               .rf-pb-prgs{
                  background-image: none;
                  
               }
               .cust-progress-red{
                  background-color: red;
               }
                .cust-progress-yellow{
                  background-color: yellow;
               }
               
               .cust-progress-blue{
                  background-color: #55AAFF;
               }
               
               </style>
               <h:panelGroup rendered="#{repoStatusController.storageLevelCritical eq true}">
            		<p> <FONT color="red"><b>#{message['status.error.criticalLimitExceeded.label']}</b></FONT></p>
            	</h:panelGroup>
                <h3>#{message['status.repository.heading']}</h3>
					<table class="stylized">
						<tbody>
							<tr>
								<td width="50%">#{message['status.repository.status.label']}</td>
								<td>
								<h:panelGroup rendered="#{repoStatusController.repositoryStatus.repositoryStatus eq 'ONLINE'}">
									<img src="images/icon-check.png" alt="" /> Online
								</h:panelGroup>
								
								<h:panelGroup rendered="#{repoStatusController.repositoryStatus.repositoryStatus ne 'ONLINE'}">
									<img src="/images/crossProp.png" alt="" /> 
									<font style="color: red"> #{repoStatusController.repositoryStatus.repositoryStatus} </font>
								</h:panelGroup>
								
								</td>							
							</tr>
							<tr>
								<td>#{message['status.repository.totFolders.label']}</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.totalFolders}"  /></td>							
							</tr>
							<tr>
								<td>#{message['status.repository.totUnique.label']}</td>
								<td>#{repoStatusController.repositoryStatus.uniqueFiles}</td>							
							</tr>
							<tr>
								<td>#{message['status.repository.totDuplicates.label']}</td>
								<td>#{repoStatusController.repositoryStatus.dupFiles}</td>							
							</tr>
							<tr>
								<td>#{message['status.repository.size.label']}</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.repositorySize}" converter="memerySizeConverter" /></td>							
							</tr>
							
							<tr>
								<td>#{message['status.repository.totArchived.label']}</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.totalArchived}" converter="memerySizeConverter" /></td>							
							</tr>
							
							<tr>
								<td>#{message['status.repository.storageSaved.label']}</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.duplicateDataSize}" converter="memerySizeConverter" /></td>						
							</tr>
							
						</tbody>
					</table>
					
					<br />
                    <br /> 
					
				<rich:dataTable styleClass="stylized" value="#{repoStatusController.repositoryStatus.agentDocuments}" var="agentDocument">
				
				     <rich:column >
                           <f:facet name="header"> <h:outputText value="#{message['status.repository.agent.types.header']}" /></f:facet>
                           <h:outputText value="#{agentDocument.agentType}"></h:outputText>
                     </rich:column>
                     
                     <rich:column >
                           <f:facet name="header"> <h:outputText value="#{message['status.repository.agent.documents.header']}" /></f:facet>
                           <h:outputText value="#{agentDocument.totalDocuments}"></h:outputText>
                     </rich:column>
				
				</rich:dataTable>
					
					<h3>#{message['status.server.heading']}</h3>
					<table class="stylized">
					  <tbody>
						 <tr>
							<td  width="50%">#{message['status.server.hostName.label']}</td>
							<td>#{repoStatusController.repositoryStatus.osStatus.hostName}</td>							
						 </tr>
						 <tr>
							<td>#{message['status.server.jvmVersion.label']}</td>
							<td>#{repoStatusController.repositoryStatus.osStatus.javaVersion}</td>							
						 </tr>
						 <tr>
							<td  >#{message['status.server.freeMemory.label']}</td>
							<td><h:outputText value="#{repoStatusController.repositoryStatus.osStatus.freeMemory} " converter="memerySizeConverter" id ="freeMemory" /></td>							
						 </tr>
						 
						 <tr>
							<td >#{message['status.server.totMemory.label']}</td>
							<td><h:outputText value="#{repoStatusController.repositoryStatus.osStatus.totalMemory}" converter="memerySizeConverter" id ="totalMemory"  /></td>							
						 </tr>
						 
						 <tr>
							<td >#{message['status.server.freeMemory.label']}</td>
							<td>
								<rich:progressBar minValue="0"  progressClass="cust-progress-red" maxValue="100" style="line-height:11px;"   enabled="false"  value="#{repoStatusController.repositoryStatus.totalFreeSpaceOnDisk}" rendered="#{repoStatusController.repositoryStatus.totalFreeSpaceOnDisk gt 84}">
	                        	      <h:outputText value="(#{repoStatusController.repositoryStatus.freeSpace}/#{repoStatusController.repositoryStatus.totalSpace})" style="color: white;"></h:outputText>
	                        	</rich:progressBar>
	                        	<rich:progressBar minValue="0"  progressClass="cust-progress-yellow" maxValue="100" style="line-height:13px;"   enabled="false"  value="#{repoStatusController.repositoryStatus.totalFreeSpaceOnDisk}" rendered="#{repoStatusController.repositoryStatus.totalFreeSpaceOnDisk gt 59 and repoStatusController.repositoryStatus.totalFreeSpaceOnDisk lt 85}">
	                        	      <h:outputText value="(#{repoStatusController.repositoryStatus.freeSpace}/#{repoStatusController.repositoryStatus.totalSpace})"></h:outputText>
	                        	</rich:progressBar>
	                        	<rich:progressBar minValue="0"  progressClass="cust-progress-blue" maxValue="100" style="line-height:13px;"   enabled="false"  value="#{repoStatusController.repositoryStatus.totalFreeSpaceOnDisk}" rendered="#{repoStatusController.repositoryStatus.totalFreeSpaceOnDisk lt 60}">
	                        	      <h:outputText value="(#{repoStatusController.repositoryStatus.freeSpace}/#{repoStatusController.repositoryStatus.totalSpace})"></h:outputText>
	                        	      
	                        	</rich:progressBar>
	                        	<h:outputText value="(#{repoStatusController.repositoryStatus.freeSpace} GB/#{repoStatusController.repositoryStatus.totalSpace} GB)" rendered="false"></h:outputText>
	                        	
							</td>
														
						 </tr>
						 
						 </tbody>
					</table>
					
					 <h3>#{message['status.license.heading']} :</h3>
                     <hr style="border-bottom:1px solid !important;width: 30%;float:left;"/>
                     <br/>
					<h:panelGrid columns="2" >
					   
					   <h:column>
					      <h:outputLabel value="#{message['status.license.status.label']}:" ></h:outputLabel>
					   </h:column>
					   
					   <h:column>
					      <h:outputLabel value="Activated"  rendered="#{repoStatusController.active eq true}"></h:outputLabel>
					       <h:outputLabel value="Expired"  rendered="#{repoStatusController.active eq false}"></h:outputLabel>
					   </h:column>
					   
					   <h:column>
					      <h:outputLabel value="#{message['status.license.type.label']}:" ></h:outputLabel>
					  </h:column>
					   
					   <h:column>
					      <h:outputText  value="#{repoStatusController.licenseType}"></h:outputText>
					  </h:column>
					   
					    
					    
					   <h:column rendered="#{repoStatusController.licenseParam ne 'volume'}">
					      <h:outputLabel value="#{message['status.license.expiry.label']}:"></h:outputLabel>
					   </h:column>
					   
					   <h:column rendered="#{repoStatusController.licenseParam ne 'volume'}">
					      <h:outputText value="#{repoStatusController.validUntil}"></h:outputText>
					   </h:column>
						   
						   
						  <h:column rendered="#{repoStatusController.licenseParam ne 'time'}">
					         <h:outputLabel value="Repository Volume Limit:"></h:outputLabel>
					      </h:column>
					   
						  <h:column rendered="#{repoStatusController.licenseParam ne 'time'}">
						      <h:outputText value="#{repoStatusController.repoLimit} Gb"></h:outputText>
						  </h:column>
						   
					    
					   					
					</h:panelGrid>
					
              
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
