<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
   
        <ui:composition template="defaultTemplate.xhtml">
        
            <ui:define name="title">Hot Statistics</ui:define>
           
            <ui:define name="breadcrumbs">
           
	            <a class="main" href="#">System /</a>
	            <a href="#">Hot Statistics <small>[of inProcess Jobs]</small></a>
          
            </ui:define>
            
            <ui:define name="content">
            
				<style>
					.label{
					font-weight:bold;
					}
					.pbody{
					    width:265px;
					}
				</style>
			    <rich:panel>
			        <f:facet name="header">
			            <h:outputText value="Current Jobs"></h:outputText>
			        </f:facet>
			        <h:form>
			        <rich:dataGrid value="#{statController.allExecutions}" var="exec" columns="#{statController.columnsPerRow}" elements="9">
			            <rich:panel bodyClass="pbody" rendered="#{statController.getJob(exec).actionType ne 'EXPORT'}">
			                <f:facet name="header">
			                    <h:outputText value="#{statController.getJob(exec).jobName}"></h:outputText>
			                </f:facet>
			                <h:panelGrid columns="2">
			                    <h:outputText value="Current Job Type : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getJob(exec).actionType}" />
			                    <h:outputText value="Evaluated : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getEvaluatedCount(exec)}" />
			                    <h:outputText value="Archived : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getArchivedCount(exec)}" />
			                    <h:outputText value="Stubbed : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getStubbedCount(exec)}" />
			                    <h:outputText value="Failed : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getFailedCount(exec)}" />
			                    <h:outputText value="Completed : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getCompletedCount(exec)}" />
			                </h:panelGrid>
			            </rich:panel>
			            
			            <rich:panel bodyClass="pbody" rendered="#{statController.getJob(exec).actionType eq 'EXPORT'}">
			                <f:facet name="header">
			                    <h:outputText value="#{statController.getJob(exec).jobName}"></h:outputText>
			                </f:facet>
			                <h:panelGrid columns="2">
			                    <h:outputText value="Current Job Type : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getJob(exec).actionType}" />
			                    <h:outputText value="Evaluated : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getExportEvaluatedCount(exec)}" />
			                    <h:outputText value="Exported : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getExportedCount(exec)}" />
			                    <h:outputText value="Failed : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getExportFailedCount(exec)}" />
			                    <h:outputText value="Completed : " styleClass="label"></h:outputText>
			                    <h:outputText value="#{statController.getExportCompletedCount(exec)}" />
			                </h:panelGrid>
			            </rich:panel>
			            
			            <f:facet name="footer">
	                          <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show">
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>  
	                     </f:facet>  
	                     	                     
			        </rich:dataGrid>
			        </h:form>
			    </rich:panel>
            
            </ui:define>      
               
        </ui:composition>
      
</html>	