<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          

        <ui:composition template="stubTemplate.xhtml">
             
            <f:metadata >               
               <f:viewParam name="nodeID" id="nodeID" value="#{stubAccessController.nodeID}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{stubAccessController.populateStubInfo}"  />
            </f:metadata>
           
            
            <ui:define name="title">View File</ui:define>
            
            <ui:define name="header">
              
		          <a href="#"></a>
		       
            </ui:define>
           
            <ui:define name="breadcrumbs">               
				<a href="#" class="main"><h:outputText value="#{message['breadcrumbs.stubAccess.fileDetails.view']}" /></a>	
            </ui:define>
            
            <ui:define name="content">
              <style>
				.rf-msgs-sum {
				    display: inline;				    
				    font-size:15px;
				    word-wrap:break-word;
				}

				.rf-msgs-inf {
				    background-image: url("/ShareArchiver/javax.faces.resource/ok.png.faces?ln=org.richfaces");
				    color: green;
				}
				.rf-pb-lbl{
				  padding-top:0;
				  padding-bottom: 1px;
				  line-height: 17px;
				}
				.rf-pb-rmng{
				  height: 15px;
				}
  			</style> 
  			      <rich:popupPanel id="loadingPanel" modal="true" width="64" height="64">
			           <h:graphicImage value="/images/spinner.gif"></h:graphicImage>
                  </rich:popupPanel>
               <h:form class="common" id="stubAccess">
               <a4j:poll enabled="true" interval="3000" render="progress messagePanel locationPanel pathPanel" immediate="true" execute="progress" limitRender="true" oncomplete="changeFont()" > </a4j:poll>               
               <div class="error" style="margin-left:20%;">
                     <a4j:outputPanel id="messagePanel1" ajaxRendered="true" rendered="false">
                         <!--<h:outputText value="#{stubAccessController.message}" style="color:green;" />-->
                         <h:outputText value="#{stubAccessController.message}"  style="color:green;" />
                     </a4j:outputPanel>     
                     <rich:messages/>
                     <!-- <h:messages id="messagePanel"/>-->
               </div>
               
               <h:panelGroup rendered="#{stubAccessController.authorize eq true}">
               <table class="stylizedStub">
										<thead>											
												<tr>
													<td colspan="7" height="35" style="background-color: #E9E9E9;"><div ><b>File Details</b></div></td>
												</tr>
										</thead>
										<tbody>
											<tr class="odd">
												<td width="15%">#{message['fExplorer.details.node.name.label']}</td>
												<td width="75%" colspan="2">#{stubAccessController.selectedNode.name}</td>
												<h:panelGroup rendered="#{stubAccessController.showThumbnail and false}">											
													 <td rowspan="5" width="10%">
										    			<h:graphicImage value="#{stubAccessController.currentThumbnailPath}" ></h:graphicImage>
										    		</td> 
									    		</h:panelGroup>	
											</tr>
											<tr>
												<td>
													<h:panelGroup id="locationPanel">
														<h:outputLabel rendered="#{stubAccessController.completed eq false}" value="#{message['fExplorer.details.node.location.label']}"/>
														<h:outputLabel rendered="#{stubAccessController.completed eq true}" value="#{message['fExplorer.details.node.restored.label']}"/>
													</h:panelGroup>
												</td>
												<td colspan="2">
													<h:panelGroup id="pathPanel">
														<h:outputLabel rendered="#{stubAccessController.completed eq false}" value="#{stubAccessController.selectedNode.compressedURL}"/>
														<h:outputLabel rendered="#{stubAccessController.completed eq true}" value="#{stubAccessController.selectedNode.compressedURL}"/>
													</h:panelGroup>
												<label></label></td>
											</tr>
											<tr class="odd">
												<td>#{message['fExplorer.details.node.type.label']}</td>
												<td>#{stubAccessController.selectedNode.fileTypeDesc}</td>
												<h:panelGroup rendered="#{stubAccessController.showThumbnail}">											
													 <td rowspan="7" width="10%">
										    			<h:graphicImage value="#{stubAccessController.currentThumbnailPath.replaceAll(' ', '%20')}" ></h:graphicImage>
										    		</td> 
									    		</h:panelGroup>													
											</tr>
											<tr>
												<td>#{message['fExplorer.details.node.size.label']}</td>
												<td>#{stubAccessController.selectedNode.fileSize}</td>
											</tr>
											<tr class="odd">
												<td>#{message['fExplorer.details.node.createdDate.label']}</td>
												<td colspan="1">#{stubAccessController.selectedNode.createdDate}</td>
											</tr>
											<tr>
												<td>#{message['fExplorer.details.node.archiveDate.label']}</td>
												<td colspan="1">#{stubAccessController.selectedNode.archivedDate}</td>
											</tr>
											<tr class="odd">
												<td>#{message['fExplorer.details.node.modifiedDate.label']}</td>
												<td colspan="1">#{stubAccessController.selectedNode.lastModified}</td>
											</tr>
											<tr>
											<h:panelGroup rendered="#{not stubAccessController.selectedNode.path.contains('/SP/')}">
												<td>#{message['fExplorer.details.node.accessedDate.label']}</td>
												<td colspan="1">#{stubAccessController.selectedNode.lastAccessed}</td>
											</h:panelGroup>
											</tr>
											<tr class="odd" rendered="#{stubAccessController.versionsListSize > 0}">
												<td>Newer Versions / Updates</td>
												<td colspan="2">
												<rich:dataTable id="stubVerGrid" value="#{stubAccessController.nextVersionsList}"
													var="nxtVer" styleClass="stylized" 
													rowKeyVar="verrownum" first="0"
													onrowclick="selectRow('stubAccess:stubVerGrid',#{verrownum});"
													onrowmouseover="highlightRow(this);"
													onrowmouseout="lowlightRow(this);"
													style="border:0;table-layout:fixed;">
												
													<rich:column
														style="border-right:0;border-left:0;">
														
														<a4j:commandLink actionListener="#{stubAccessController.fileSelected}"
															limitRender="true"
															onclick="#{rich:component('loadingPanel')} .show()"
															oncomplete="#{rich:component('loadingPanel')} .hide();"
															style="color: black;cursor:default;">
															<h:graphicImage value="/icons/grid/#{nxtVer.iconUrl}"
																rendered="#{nxtVer.type ne 'nt:folder'}" style="border: 0;" />
							
															<h:outputLabel value="&#160;"></h:outputLabel>
															<h:outputText value="#{nxtVer.name}"></h:outputText>
							
															<f:param value="#{nxtVer.path}" name="selectedNodePath"></f:param>
														</a4j:commandLink>
							
													</rich:column>
													<rich:column
														style="border-right:0;border-left:0;">
														#{nxtVer.lastModified}
													</rich:column>
													<rich:column
														style="border-right:0;border-left:0;">
														#{nxtVer.fileSize}
													</rich:column>
													
												</rich:dataTable>
												</td>
											</tr>
										</tbody>
										<tfoot>
										    									
											<tr>
												<td align="left" colspan="3">
												       
												     
												                        
												    <h:panelGroup rendered="#{not empty stubAccessController.selectedNode}"> 
														
														<table>
														   <tr>
														      <td style="border-right:0;padding:0;"> 
																<h:commandLink  styleClass="btn-gray fleft" style="font-size:11px;" value="Open/Download" action="#{stubAccessController.downloadFile}" immediate="true" >
																    <f:param name="nodeID" value="#{stubAccessController.selectedNode.downloadUrl}"></f:param>
																</h:commandLink>
															  </td>
														     <h:panelGroup rendered="#{not stubAccessController.selectedNode.path.contains('/SP/')}">
														      <td style="border-right:0;padding:0;">
														   
																<a4j:commandButton styleClass="btn-gray" value="Restore" style="font-size:11px;" immediate="true" onclick="#{rich:component('popupRestoreFile')}.show();" >
																	<f:param name="nodeID" value="#{stubAccessController.selectedNode.path}"></f:param>										
																</a4j:commandButton>
															  
															  </td>	
															   <td style="border-right:0;padding:0;">
														   
																<a4j:commandButton styleClass="btn-gray" value="Save As" style="font-size:11px;" immediate="true" onclick="#{rich:component('popupSaveAs')}.show();" >
																	<f:param name="nodeID" value="#{stubAccessController.selectedNode.path}"></f:param>
																</a4j:commandButton>
																<h:outputText value="#{message['stubAccess.saveAs.text']}"/>
															  
															  </td>	
															
															  <td style="border-right:0;">
																<h:outputText value="  "></h:outputText>
																<h:panelGroup id="progress">
																	<h:panelGroup rendered="#{stubAccessController.showProgress eq true}">
																		<h:outputLabel style="color: Red;" id="progressLabel" value="Completed: #{stubAccessController.completedPercentage} %"/>
																																				
																	</h:panelGroup>
																</h:panelGroup>
																<!-- <rich:progressBar mode="ajax" minValue="0" maxValue="100" interval="2000" value="#{stubAccessController.completedPercentage}"   enabled="false"     style="height:17px;" >
																      <h:outputText value="#{stubAccessController.completedPercentage}%"></h:outputText>
																</rich:progressBar>-->
																
																
																
																
																<h:outputText></h:outputText>
														     </td>		  
														     </h:panelGroup>
														     
														 </tr>
													    </table>
													</h:panelGroup>
												</td>
											</tr>
										</tfoot>
									</table>									
								<a4j:outputPanel id="messagePanel" ajaxRendered="true">
			                        <!--<h:outputText value="#{stubAccessController.message}" style="color:green;" />-->
			                        <h:outputLabel value="#{stubAccessController.message}"  style="color:green;font-size: 16px; " />
			                        <h:inputHidden id="hiddenPercent" value="#{stubAccessController.completedPercentage}"/>
		                     	</a4j:outputPanel>   
						</h:panelGroup>
            		  	<rich:popupPanel modal="true" autosized="true" resizeable="false" id="popupSaveAs" domElementAttachment="form" width="700">
								 	<f:facet name="header">
							            <h:outputText value="Save As" />
							        </f:facet>
							        <f:facet name="controls">
							            <h:outputLink value="#" onclick="#{rich:component('popupSaveAs')}.hide(); return false;">
							                X
							            </h:outputLink>
							        </f:facet>
							        <h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							        <h:panelGrid id="restoreTo" columns="2">
							        	<h:outputLabel value="Restore Location: "/>
							        	<h:inputText value="#{stubAccessController.restoreLocation}" style="margin-right: 20px;width: 500px"/>
	        							<a4j:commandButton styleClass="btn-gray fright" value="Restore" style="font-size:11px;" actionListener="#{stubAccessController.restoreFileAE}" limitRender="false" onbegin="#{rich:component('popupSaveAs')}.hide();" >
											<f:param name="nodeID" value="#{stubAccessController.selectedNode.path}"></f:param>
										</a4j:commandButton>
							        </h:panelGrid>
						</rich:popupPanel>
						
													 	
							 		<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFile" domElementAttachment="form" width="700" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFile')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="Are you sure you want to restore the file?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFile"
													action="#{stubAccessController.restoreFile}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="if(#{stubAccessController.alreadyExists eq false}){#{rich:component('popupRestoreFile')}.hide(); return false;}else{#{rich:component('popupRestoreFile')}.hide(); #{rich:component('popupRestoreFileAE')}.show();}"
													limitRender="true" >
														<f:param name="nodeID" value="#{stubAccessController.selectedNode.path}"></f:param>	
													</a4j:commandButton> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFile')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>
						
												<!-- pop-up for file restore-->
						<rich:popupPanel modal="true" autosized="true" resizeable="false"
							id="popupRestoreFileAE" domElementAttachment="form" width="700" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Restore File" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="fileRestoreARGrid"
								>
								<table class="stylized" style="width:700;">
									<tbody>
										<tr class="odd">
											<td width="400"><h:outputLabel value="A file with the same name already exists, are you sure you want to restore?" />
											</td>
										</tr>
										<tr class="even">
											<td colspan="2"><a4j:commandButton value="Ok" id="restoreFileAE"
													action="#{stubAccessController.restoreFileAE}"
													style="margin-left:325px;margin-bottom:10px;"
													styleClass="btn-gray"
													oncomplete="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													limitRender="true" /> 
													<a4j:commandButton value="Cancel"
													style="margin-left:10px;margin-bottom:10px;"
													styleClass="btn-gray"
													onclick="#{rich:component('popupRestoreFileAE')}.hide(); return false;"
													render="" /></td>
										</tr>
									</tbody>
								</table>
							</h:panelGroup>
						</rich:popupPanel>	
                       </h:form>
             </ui:define>
             
             
       </ui:composition>       
      
</html>	
	
