<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
                      
            <ui:define name="title">System Information</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">System /</a>
				<a href="#" class="main">System Information </a>				
            </ui:define>
            
            <ui:define name="content">
            
               
					<table class="stylized">
						<tbody>
							<tr>
								<td width="50%">Server Name</td>
								<td>
									<h:outputText value="#{repoStatusController.repositoryStatus.osStatus.hostName}"  />							
								</td>							
							</tr>
							<tr>
								<td>Server IP Address</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.osStatus.ipAddress}"  /></td>							
							</tr>
							<tr>
								<td>OS Name</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.osStatus.osName}"  /></td>							
							</tr>
							<tr>
								<td>OS Version</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.osStatus.osVersion}" /></td>							
							</tr>
							
							<tr>
								<td>OS Architecture</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.osStatus.osArchitecture}" /></td>							
							</tr>
							
							<tr>
								<td>JVM Version</td>
								<td><h:outputText value="#{repoStatusController.repositoryStatus.osStatus.javaVersion}"  /></td>						
							</tr>
							
						</tbody>
					</table>
					
								              
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
