<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">System Configurations</ui:define>
           
            <ui:define name="breadcrumbs">
             <a href="#" class="main">System Configurations /</a>
				<a href="#" class="main">Global Configurations /</a>
				<a href="#">Configurations List</a>
            </ui:define>
            
            <ui:define name="content">
            
               <rich:dataTable value="#{systemCodeController.allLdapSettings}" var="systemCode" styleClass="stylized" rowClasses="even,odd">
                                     
                        <rich:column >
                             <f:facet name="header"> <h:outputText value="Name" /></f:facet>
                             <h:link outcome="#" >
                                <f:param name="id" value="#{systemCode.id}"></f:param>
                                <h:outputText value="#{systemCode.displayName}"></h:outputText>
                             </h:link>
                        </rich:column>
                        <rich:column>
                        	<f:facet name="header"><h:outputText value="Value"/></f:facet>
                        	<h:outputText value="****" rendered="#{systemCode.codename eq 'service.password' or systemCode.codename eq 'restore.password'}"/>                        	
                        	<h:outputText value="#{systemCode.codevalue}" rendered="#{systemCode.codename ne 'service.password' and systemCode.codename ne 'restore.password' and systemCode.codename ne 'authentication.mode'}"></h:outputText>
                        	<h:outputText value="Database Only" rendered="#{systemCode.codename eq 'authentication.mode' and systemCode.codevalue eq '1'}" />
                        	<h:outputText value="DB, AD" rendered="#{systemCode.codename eq 'authentication.mode' and systemCode.codevalue eq '2'}" />
                        	<h:outputText value="AD, DB" rendered="#{systemCode.codename eq 'authentication.mode' and systemCode.codevalue eq '3'}" />
                        </rich:column>
                        
                         <f:facet name="footer"  >
                         
                           <h:link styleClass="btn-gray" outcome="EditLdap"  style="float: right;color:black" value="Edit All"  />           
                         </f:facet>              
                                                             
                    
               </rich:dataTable>
            
            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
