<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" 
        xmlns:custom=" http://virtualcode.com/custom"  
        >
        
   
        <ui:composition template="defaultTemplate.xhtml">
                                  
            <ui:define name="title">File Explorer</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">System /</a>
				<a href="#" class="main">File Explorer /</a>				
            </ui:define>
            
            <ui:define name="content">
            
              <f:metadata>
                 <f:event type="preRenderView" listener="#{explorer.init}"  />
              </f:metadata>
            
               <h:form  >
		            
		                <rich:extendedDataTable id="searchGrid"   value="#{explorer.firstLevelFiles}" selectionMode="single" 
		                         noDataLabel="No files in Directory"   var="file"  style="width:99%;height:95%"  >                            
                              
                             
                             <rich:column >
                                 
	                             <f:facet name="header"> </f:facet>
	                             <a4j:commandLink action="#{explorer.fileSelected}" render="showname" value="View" >
	                                 <a4j:param value="#{file.uuid}" assignTo="#{explorer.selectedRowIndex}"></a4j:param>
	                             </a4j:commandLink>
	                        </rich:column>   
                                     
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="Name" /></f:facet>
	                              <h:outputText value="#{file.name}"></h:outputText>
	                             
	                            
	                        </rich:column>
	                        
	                         <rich:column >
	                             <f:facet name="header"> <h:outputText value="Update" /></f:facet>
	                             <h:outputLink value="Edit" > 
	                               <h:outputText value="Edit"></h:outputText>
	                                <f:param value="#{file.uuid}" name="id"></f:param>
	                             </h:outputLink>
	                        </rich:column>
	                        
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="Share Allow" /></f:facet>	                             
	                               <h:outputText value="tgrt"></h:outputText>	                              
	                        </rich:column>
	                        
	                        <rich:column >
	                             <f:facet name="header"> <h:outputText value="Share Deny" /></f:facet>	                             
	                               <h:outputText value="fdgdf"></h:outputText>	                              
	                        </rich:column>
	                       
	                         
	                   </rich:extendedDataTable>
	                   
	                   </h:form> 
	                   
                  
		         
		         
			 		
	           
         
       </ui:define>      
            
   </ui:composition>
      
</html>	
	
