<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            <ui:define name="title">System Maintenance</ui:define>
           
            <ui:define name="breadcrumbs">
             <!-- <a href="#" class="main">System Configurations /</a>
				<a href="#" class="main">System Maintenance </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.toolsDownloader.edit']}" /> </a>
				
            </ui:define>
            
            <ui:define name="content">
            <h:form styleClass="common">
            
            <h3>#{message['toolsDownloader.agent.download.heading']}</h3> 
            <hr style="border-bottom:1px solid !important;"/>
            <h:outputText value="#{message['toolsDownloader.agent.download.text']}"/>
               <h:commandLink value="Download" action="#{toolsDownloader.downloadAgent}" styleClass="btn-gray fright"/>
               
           	<h3>#{message['toolsDownloader.script.download.heading']}</h3> 
            <hr style="border-bottom:1px solid !important;"/>
            <h:outputText value="#{message['toolsDownloader.script.download.text']}"/>
               <h:commandButton value="Download" action="#{toolsDownloader.downloadScript}" styleClass="btn-gray fright"/>
            <h3>#{message['toolsDownloader.stubbingAgent.download.heading']}</h3> 
            <hr style="border-bottom:1px solid !important;"/>
            <h:outputText value="#{message['toolsDownloader.stubbingAgent.download.text']}"/>       
               <h:commandButton value="Download" action="#{toolsDownloader.downloadStubbingAgent}" styleClass="btn-gray fright"/>
               
                  
            </h:form>   
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
