<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="extPageTemplate2.xhtml">
            
            
            <f:metadata >               
               <f:event type="preRenderView" listener="#{userPreferenceController.init}"  />
            </f:metadata>
            
            <ui:define name="title">User Preferences</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Account Management /</a>				
				<a href="#">User Preferences</a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common" >
              
              <h:commandLink action="Browse.faces?faces-redirect=true">&lt;&lt;Back</h:commandLink>
              
              <br/>
              <br/>
              <br/>
              
                  <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">User Name</td>
								<td>#{userPreferenceController.username}</td>
							</tr>
							
							<tr>
								<td>Role</td>
								<td>
								
								     <ui:repeat value="#{userPreferenceController.userGroups}"  var="role" varStatus="index" >
								          <li><h:outputText value="#{role}"  /></li>
								     </ui:repeat>     
								
								</td>
							</tr>
							
							
						</tbody>

					</table>
              
					
			  </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
