<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich"
        xmlns:p="http://primefaces.org/ui" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{driveLetterController.driveLetterId}" ></f:viewParam>
               <f:viewParam name="id" id="id2" value="#{shareAnalysisController.driveLetterId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{driveLetterController.populateDriveLetterInfo}"  />
               <f:event type="preRenderView" listener="#{shareAnalysisController.init}"  />              
            </f:metadata>
            
            <ui:define name="title">File Share Details</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">System Configurations /</a>
				<a href="#" class="main">File Shares </a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.systemConfig.monitoring.view']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form  styleClass="common">
              
                  <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">Letter</td>
								<td>#{driveLetterController.driveLetter.driveLetter}</td>
							</tr>
							<tr>
								<td>Share Path</td>
								<td><h:outputText rendered="#{not driveLetterController.driveLetter.sharePath.startsWith('\\\\')}" value="#{'\\\\'}#{driveLetterController.driveLetter.sharePath.substring(driveLetterController.driveLetter.sharePath.indexOf('/FS/')+4).replaceAll('/','\\\\')}"/>
									<h:outputText rendered="#{driveLetterController.driveLetter.sharePath.startsWith('\\\\')}" value="#{driveLetterController.driveLetter.sharePath}"/>
								</td>
							</tr>	
							<tr>
								<td>Domain</td>
								<td>#{driveLetterController.driveLetter.restoreDomain}
								</td>
							</tr>		
							<tr>
								<td>Username</td>
								<td>#{driveLetterController.driveLetter.restoreUsername}
								</td>
							</tr>
							<tr>
								<td>Password</td>
								<td>****
								</td>
							</tr>								
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="DriveLetters.faces" class="btn-gray fleft"><span>List All</span></a>
									<h:link outcome="EditDriveLetter" value="Edit"  styleClass="btn-gray fleft" >
									   <f:param name="id" value="#{driveLetterController.driveLetter.id}" ></f:param>
									</h:link>
									<h:commandLink styleClass="btn-gray fleft" value="Delete" action="#{driveLetterController.delete}" />
									<a href="AddDriveLetter.faces" class="btn-gray  fright"><span>Add</span></a>
								</td>
							</tr>
						</tfoot>
					</table>
					
					<br/>
					<br/>
					
					<h:panelGroup>
					
						<h:selectBooleanCheckbox id="lmChkbox" value="#{shareAnalysisController.showLMGraph}"  >
						   <f:ajax event="valueChange" execute="@this" render="lmAgePanel" ></f:ajax>
						</h:selectBooleanCheckbox>
						<h:outputLabel for="lmChkbox" value="Last Modified  "></h:outputLabel>
						
						<h:outputText value=" &nbsp; &nbsp; " escape="false" />
						
						<h:selectBooleanCheckbox id="laChkbox" value="#{shareAnalysisController.showLAGraph}"  >
						   <f:ajax event="valueChange" execute="@this" render="laAgePanel" ></f:ajax>
						</h:selectBooleanCheckbox>
						<h:outputLabel for="laChkbox" value="Last Accessed  "></h:outputLabel>
						
						<h:outputText value=" &nbsp; &nbsp; " escape="false" />
						
						<h:selectBooleanCheckbox id="cdChkbox" value="#{shareAnalysisController.showCDGraph}"  >
						   <f:ajax event="valueChange" execute="@this" render="cdAgePanel" ></f:ajax>
						</h:selectBooleanCheckbox>
						<h:outputLabel for="cdChkbox" value="Created Date  "></h:outputLabel>
						
					</h:panelGroup>	
					
					<br/>
					<br/>
					
					<table  width="950">
					    <tr>
					       <td width="500">
					          <p:barChart id="basic1" value="#{shareAnalysisController.catModel}" rendered="#{not empty shareAnalysisController.catModel}" legendPosition="ne"  
                                     title="Chart by Document Category"  xaxisLabel="Document Category" yaxisLabel="Volume(in gb)" min="0"   showDatatip="false"  style="height:350px;"/>  
					       </td>
					    </tr>
					</table>
					
					<br/>
					<br/>
					
					<h:panelGroup id="lmAgePanel">
						<h:panelGrid width="950" rendered="#{shareAnalysisController.showLMGraph eq true}">
						    
						   <rich:column width="950">
						      <p:barChart id="lmChart" value="#{shareAnalysisController.lmAgeModel}" rendered="#{not empty shareAnalysisController.lmAgeModel}" legendPosition="ne"  
	                             title="Chart by Document Age(Last Modified)"   xaxisLabel="Last Modified (Months)" yaxisLabel="Volume(in gb)" min="0" style="height:350px;" />  
						   </rich:column>
						</h:panelGrid>   
				   </h:panelGroup>
				   <br/>
				   <br/>
				   
				   <h:panelGroup id="laAgePanel">
						<h:panelGrid width="950" rendered="#{shareAnalysisController.showLAGraph eq true}">
						    
						   <rich:column width="950">
						      <p:barChart id="laChart" value="#{shareAnalysisController.laAgeModel}" rendered="#{not empty shareAnalysisController.laAgeModel}" legendPosition="ne"  
	                             title="Chart by Document Age(Last Accessed)"   xaxisLabel="Last Accessed (Months)" yaxisLabel="Volume(in gb)" min="0" style="height:350px;" />  
						   </rich:column>
						</h:panelGrid>   
				   </h:panelGroup>
				   <br/>
				   <br/>
				   
				    <h:panelGroup id="cdAgePanel">
						<h:panelGrid width="950" rendered="#{shareAnalysisController.showCDGraph eq true}">
						    
						   <rich:column width="950">
						      <p:barChart id="cdChart" value="#{shareAnalysisController.cdAgeModel}" rendered="#{not empty shareAnalysisController.cdAgeModel}" legendPosition="ne"  
	                             title="Chart by Document Age(Created Date)"   xaxisLabel="Created Date(Months)" yaxisLabel="Volume(in gb)" min="0" style="height:350px;" />  
						   </rich:column>
						</h:panelGrid>   
				   </h:panelGroup>
				   <br/>
				   <br/>			
					
			  </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
