<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{jobController.jobId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{jobController.populateJobInfo}"  />
            </f:metadata>
            
            <ui:define name="title">View Job</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Job Management /</a>
				<a href="#">View Job</a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.job.view']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common">
              
                  <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">#{message['job.basicConfigurations.name.label']}</td>
								<td>#{jobController.job.name}</td>
							</tr>
							<tr>
								<td>#{message['job.basicConfigurations.description.label']}</td>
								<td>#{jobController.job.description}</td>
							</tr>
							<tr>
								<td>#{message['job.scheduling.executionTime.label']}</td>
								<td><h:outputText value="#{jobController.job.execTimeStart}" /></td>
							</tr>
							<tr>
								<td>#{message['job.basicConfigurations.actionType.label']}</td>
								<td> <h:outputText value="Archive" rendered="#{jobController.job.actionType eq 'ARCHIVE'}"/>
		                             <h:outputText value="Archive &amp; Stub" rendered="#{jobController.job.actionType eq 'STUB'}"/>
		                             <h:outputText value="Archive &amp; Delete" rendered="#{jobController.job.actionType eq 'WITHOUTSTUB'}"/>
		                             <h:outputText value="Export" rendered="#{jobController.job.actionType eq 'EXPORT'}"/>
		                             <h:outputText value="Export Stubs Only" rendered="#{jobController.job.actionType eq 'EXPORTSTUB'}"/>
		                             <h:outputText value="Restore" rendered="#{jobController.job.actionType eq 'RESTORE'}"/>
		                             <h:outputText value="Dynamic Archiving" rendered="#{jobController.job.actionType eq 'DYNARCH'}"/>
		                             <h:outputText value="Priv User Export" rendered="#{jobController.job.actionType eq 'EXPORTSEARCHED'}"/>
		                          	 <h:outputText value="Active Archiving" rendered="#{jobController.job.actionType eq 'ACTIVEARCH'}"/>
		                             <h:outputText value="Print Archiving" rendered="#{jobController.job.actionType eq 'PRINTARCH'}"/>
		                             <h:outputText value="Analysis" rendered="#{jobController.job.actionType eq 'INDEXING'}"/>
		                             <h:outputText value="Evaluate" rendered="#{jobController.job.actionType eq 'EVALUATE'}"/>
		                             <h:outputText value="Data Retention" rendered="#{jobController.job.actionType eq 'RETENSION'}"/>
								</td>
							</tr>
							<tr>
								<td>#{message['job.basicConfigurations.policy.label']}</td>
								<td>#{jobController.job.policy.name}</td>
							</tr>
							
							<tr>
								<td>#{message['job.basicConfigurations.agent.label']}</td>
								<td>#{jobController.job.agent.name}</td>
							</tr>
							
							<tr>
								<td>#{message['job.basicConfigurations.agentScope.label']}</td>
								<td><h:outputText value="File System" rendered="#{jobController.job.agent.type eq 'FS'}" />
								    <h:outputText value="SharePoint" rendered="#{jobController.job.agent.type eq 'SP'}" />
								</td>
							</tr>
							
							<h:panelGroup rendered="#{jobController.job.isScheduled eq true}">
								<tr>
									<td>#{message['job.scheduling.scheduled.label']} </td>
									<td>#{jobController.job.scheduledLable}</td>
								</tr>
								
								<tr>
									<td>#{message['job.scheduling.nextScheduledRun.label']} </td>
									<td>#{jobController.job.nextTimeOfRun}</td>
								</tr>
							
							</h:panelGroup>
							
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="Jobs.faces" class="btn-gray fleft"><span>List All</span></a>
									<h:link outcome="EditJob" value="Edit"  styleClass="btn-gray fleft" rendered="#{jobController.getJobFlag() ne 'EXPORT' and jobController.job.actionType ne 'EXPORTSEARCHED'}">
									   <f:param name="id" value="#{jobController.job.id}" ></f:param>
									</h:link>
									<h:link outcome="EditExportJob" value="Edit"  styleClass="btn-gray fleft" rendered="#{jobController.getJobFlag() eq 'EXPORT' and jobController.job.actionType ne 'EXPORTSEARCHED'}">
									   <f:param name="id" value="#{jobController.job.id}" ></f:param>
									</h:link>
									<h:commandLink immediate="true" styleClass="btn-gray fleft" value="Delete" onclick="return confirm('Are you sure you want delete this job??');" action="#{jobController.delete}" />									
									<a href="AddJob.faces" class="btn-gray fright"><span>Add</span></a>
								</td>
							</tr>
						</tfoot>
					</table>				
                    <br/>
					<h:panelGroup rendered="#{empty jobController.exportJobSourcePath}">
					  <rich:dataTable id="pathsGrid" value="#{jobController.job.includedLibraries}" var="path" styleClass="stylized" rows="10" rowClasses="odd,even">
					    <rich:column style="vertical-align:top;width:50%" >
                             <f:facet name="header"> <h:outputText rendered="#{jobController.showSPGrid eq false}" value="#{message['job.basicConfigurations.includedPaths.label']}" />
                             <h:outputText rendered="#{jobController.showSPGrid eq true}" value="Library List" /></f:facet>
                             <h:outputText value="#{path.name.replaceAll('%20', ' ')}"></h:outputText>
                             <!-- <rich:list  id="exPathssGrid1" value="#{path.excludedPathList}" var="exPath" style="margin-left:50px;">
                         		<h:outputText value="#{exPath}"></h:outputText>
                         	</rich:list>-->
                        </rich:column>
                        
                         <rich:column style="vertical-align:top;width:50%" rendered="#{jobController.showSPGrid eq false}">
                           	<f:facet name="header"> <h:outputText value="#{message['job.basicConfigurations.excludedPaths.label']}" /></f:facet>
                         	<rich:list  id="exPathssGrid" value="#{path.excludedPathList}" var="exPath" >
                         		<h:outputText value="#{exPath}"></h:outputText>
                         	</rich:list>
                         </rich:column>
                         <rich:column style="vertical-align:top;width:50%" rendered="#{jobController.showSPGrid eq true}">
                           	<f:facet name="header"> <h:outputText value="Content Types" /></f:facet>                         	
                         		<h:outputText value="#{path.contentTypes}"></h:outputText>
                         	
                         </rich:column>
					   </rich:dataTable>
					 </h:panelGroup>
					  
					 <h:panelGroup rendered="false">
						 <table class="stylized">
						    <thead>
								<tr height="30px">
								<th > Source Path</th>
								<th > <h:outputText rendered="#{jobController.showSPGrid eq true}" value="Destination Library" />
								<h:outputText rendered="#{jobController.showSPGrid eq false}" value="Destination Path" /></th>
								</tr>
						     </thead>
						   <tr>
						      <td>#{jobController.exportJobSourcePath}</td>
						   
						      <td>#{jobController.exportJobDestinationPath}</td>
						   </tr>
						 
						 </table>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{not empty jobController.exportPathList}">
					  <rich:dataTable id="pathsGrid2" value="#{jobController.exportPathList}" var="path" styleClass="stylized" rows="10" rowClasses="odd,even">
					    <rich:column style="vertical-align:top;width:50%" >
                             <f:facet name="header"> <h:outputText rendered="#{jobController.showSPGrid eq false}" value="Source Path" />
                             <h:outputText rendered="#{jobController.showSPGrid eq true}" value="Library List" /></f:facet>
                             <h:outputText value="#{path.path}"></h:outputText>
                        </rich:column>
                        
                         <rich:column style="vertical-align:top;width:50%">
                           	<f:facet name="header"> <h:outputText rendered="#{jobController.showSPGrid eq true}" value="Destination Library" />
								<h:outputText rendered="#{jobController.showSPGrid eq false}" value="Destination Path" /></f:facet>
                         	<h:outputText value="#{path.destinationPath.replaceAll('%20', ' ')}"></h:outputText>
                         </rich:column>
					   </rich:dataTable>
					 </h:panelGroup>	 
              
			  </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
