<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{agentRegController.agentId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{agentRegController.populateAgentInfo}"  />
            </f:metadata>
            
            <ui:define name="title">Agent Registration</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Agent Registration /</a>
				<a href="#">View Agent</a>-->
				<a href="#"><h:outputText value="#{message['breadcrumbs.configuration.agent.view']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common" >
	            <div class="error">
	            	<h:messages/>
	            </div>
                  <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">#{message['agent.agentName.label']}</td>
								<td>#{agentRegController.agent.name}</td>
							</tr>
							<tr>
								<td>#{message['agent.description.label']}</td>
								<td>#{agentRegController.agent.description}</td>
							</tr>
							<tr>
								<td>#{message['agent.agentType.label']}</td>
								<td><h:outputText value="File System" rendered="#{agentRegController.agent.type eq 'FS'}" /> <h:outputText value="Share Point" rendered="#{agentRegController.agent.type eq 'SP'}" /></td>
							</tr>
							<tr>
								<td>#{message['agent.loginName.label']}</td>
								<td>#{agentRegController.agent.login}</td>
							</tr>
							<tr>
								<td>#{message['agent.sourceIp.label']}</td>
								<td>#{agentRegController.agent.allowedIps}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="Agents.faces" class="btn-gray fleft"><span>List All</span></a>
									<h:link outcome="EditAgent" value="Edit"  styleClass="btn-gray fleft" >
									   <f:param name="id" value="#{agentRegController.agent.id}" ></f:param>
									</h:link>
									<h:commandLink styleClass="btn-gray fleft" value="Delete" action="#{agentRegController.delete}" />
									<a href="AddAgent.faces" class="btn-gray fright"><span>Add</span></a>
								</td>
							</tr>
						</tfoot>
					</table>
              
					
			  </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
