<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          

        <ui:composition template="pdfViewerTemplate.xhtml">
             
            <f:metadata >               
               <f:viewParam name="nodeID" id="nodeID" value="#{viewFileController.nodeID}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{viewFileController.populateFileInfo}" />
            </f:metadata>
           
            
            <ui:define name="title">View File</ui:define>
            
            <ui:define name="content">
          
  			      <rich:popupPanel id="loadingPanel" modal="true" width="64" height="64">
			           <h:graphicImage value="/images/spinner.gif"></h:graphicImage>
                  </rich:popupPanel>
	               <h:form class="common" id="viewFileOnline">
	            		<h:panelGroup id="viewAsPdfDiv" rendered="#{viewFileController.selectedNode.mediaFile eq false}">
				        	<h:panelGroup  style="width:100%;height:100%;">
				         		<iframe  src="#{viewFileController.pdfViewerUrl}=#{viewFileController.urlForPdf}" width="100%" height="100%" ></iframe>
				         	</h:panelGroup>
				         </h:panelGroup>
				         <h:panelGroup rendered="#{viewFileController.selectedNode.mediaFile eq true}" id="explorerGrid">
				         	<h:outputText value="playing file"></h:outputText>
				         	<ui:include src="/MediaPlayer.xhtml"></ui:include>
				         </h:panelGroup>
				         
               </h:form>                          
               
             </ui:define>
             
             
       </ui:composition>       
      
</html>	
	
