<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{userRegController.userId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{userRegController.populateUserInfo}"  />
            </f:metadata>
            
            <ui:define name="title">Account Management</ui:define>
           
            <ui:define name="breadcrumbs">
                <!-- <a href="#" class="main">Account Management /</a>				
				<a href="#">View User</a> -->
				<a href="#"><h:outputText value="#{message['breadcrumbs.acctManagement.user.view']}" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common" >
              
                  <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">#{message['shiroUser.username.label']}</td>
								<td>#{userRegController.user.username}</td>
							</tr>
							<tr>
								<td>#{message['shiroUser.firstname.label']}</td>
								<td>#{userRegController.user.firstName}</td>
							</tr>
							
							<tr>
								<td>#{message['shiroUser.lastname.label']}</td>
								<td>#{userRegController.user.lastName}</td>
							</tr>
							<tr>
								<td>#{message['shiroUser.email.label']}</td>
								<td>#{userRegController.user.email}</td>
							</tr>
							
							<tr>
								<td>#{message['shiroUser.lockstatus.label']}</td>
								<td><h:outputText value="Active" rendered="#{userRegController.user.lockStatus eq 'Active'}" />
								    <h:outputText value="In Active" rendered="#{userRegController.user.lockStatus ne 'Active'}" />
								</td>
							</tr>
							
							<tr>
								<td>#{message['shiroUser.role.label']}</td>
								<td>
								
								     <ui:repeat value="#{userRegController.userRoles}"  var="role" varStatus="index" >
								          <h:outputText value="#{role}"  />								            
								          #{!index.last ? ', ' : ''}
								     </ui:repeat>     
								
								</td>
							</tr>
							
							
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="Users.faces" class="btn-gray fleft"><span>List All</span></a>
									<h:link outcome="EditUser" value="Edit"  styleClass="btn-gray fleft" >
									   <f:param name="id" value="#{userRegController.user.id}" ></f:param>
									</h:link>
									<h:commandLink styleClass="btn-gray fleft" value="Delete" action="#{userRegController.delete}" />
									<a href="AddUser.faces" class="btn-gray fright"><span>Add</span></a>
								</td>
							</tr>
						</tfoot>
					</table>
              
					
			  </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
