<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
        <style>
        	 html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, p, form, fieldset, table, th, td, input {
        	 	word-wrap:break-word;
        	 }
        </style>    
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{jobController.jobId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{jobController.populateJobInfo}"  />
            </f:metadata>
            
            <ui:define name="title">View Retention Job</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Repository Management /</a>
				<a href="#" class="main">Data Retention /</a>
				<a href="#"><h:outputText value="Job" /> </a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common">
              
                  <table class="stylized">
						<tbody>
							<tr>
								<td width="20%">Name</td>
								<td>#{jobController.job.name}</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>
									<h:outputText value="[Approved]" rendered="#{jobController.job.actionType eq 'RETENSION' and jobController.job.activeActionType eq 'REMOVENOW'}"/>
									<h:outputText value="[Not Approved]" rendered="#{jobController.job.actionType eq 'RETENSION' and jobController.job.activeActionType ne 'REMOVENOW'}"/>
								</td>
							</tr>
							<tr>
								<td>Description</td>
								<td>#{jobController.job.description}</td>
							</tr>
							<tr>
								<td>Execution Time</td>
								<td><h:outputText value="#{jobController.job.execTimeStart}" /></td>
							</tr>
							<tr>
								<td>Action</td>
								<td> <h:outputText value="Data Retention" rendered="#{jobController.job.actionType eq 'RETENSION'}"/>
								</td>
							</tr>
							<tr>
								<td>Retention Policy</td>
								<td> <h:outputLink >#{jobController.job.policy.name}
									<a4j:ajax listener="#{jobController.getPoilcyDetails}" oncomplete="#{rich:component('popupPolicy')}.show(); return false;" event="click" render="policyGrid"></a4j:ajax>
								</h:outputLink></td>
							</tr>
							<tr>
								<td>Total Documents</td>
								<td>${jobController.job.includedLibraries.size()}</td>
							</tr>
							
							<tr style="display: none">
								<td>Agent Name</td>
								<td>#{jobController.job.agent.name}</td>
							</tr>
							
							<tr style="display: none">
								<td>Agent Scope</td>
								<td><h:outputText value="File System" rendered="#{jobController.job.agent.type eq 'FS'}" />
								    <h:outputText value="SharePoint" rendered="#{jobController.job.agent.type eq 'SP'}" />
								</td>
							</tr>
							
							<h:panelGroup rendered="#{jobController.job.isScheduled eq true}">
								<tr>
									<td>Scheduled </td>
									<td>#{jobController.job.scheduledLable}</td>
								</tr>
								
								<tr>
									<td>Next Scheduled run </td>
									<td>#{jobController.job.nextTimeOfRun}</td>
								</tr>
							
							</h:panelGroup>
							
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="Jobs.faces" class="btn-gray fleft"><span>List All</span></a>
									<h:commandLink immediate="true" styleClass="btn-gray fleft" value="Delete" onclick="return confirm('Are you sure you want delete this job??');" action="#{jobController.delete}" />									
									<a href="AddDelJob.faces" class="btn-gray fright"><span>Add</span></a>
								</td>
							</tr>
						</tfoot>
					</table>				
                    <br/>
					<h:panelGroup rendered="#{empty jobController.exportJobSourcePath}">
					  <rich:dataTable id="pathsGrid" value="#{jobController.job.includedLibraries}" var="path"  styleClass="stylized" style="width:100%;font-size:10px;" rows="100" rowClasses="even,odd">

					    
					    <rich:column width="3%" rendered="#{jobController.job.activeActionType ne 'REMOVENOW'}" style="width:10%">
					    	<h:selectBooleanCheckbox value="#{path.recursive}">
					    		<a4j:ajax event="change" listener="#{jobController.pathSelectionChangeListner}" ></a4j:ajax>
					    	</h:selectBooleanCheckbox>
					    </rich:column>
					    
					    <rich:column width="25%" style="max-width:27%;word-break: break-all;word-wrap:break-word;">
                             <f:facet name="header">Name</f:facet>
                             <h:outputText value="#{path.name.replaceAll('%20', ' ')}"></h:outputText>
                        </rich:column>
                        
					    <rich:column width="25%" style="min-width:25%" >
                             <f:facet name="header">DateArchived</f:facet>
                             <h:outputText value="#{path.site}"></h:outputText>
                        </rich:column>
                        
					    <rich:column width="45%" style="width:40%;max-width:40%;word-break: break-all;" >
                             <f:facet name="header">Path</f:facet>
                             <h:outputText value="#{path.drivePath}"></h:outputText>
                        </rich:column>
                        
                         <f:facet name="footer" >  
                               
                              <h:commandButton styleClass="btn-gray fright" action="#{jobController.approveForRemoval}" rendered="#{jobController.job.activeActionType ne 'REMOVENOW' and jobController.job.readyToExecute eq false}" immediate="true"  value="APPROVE" style="margin-top: 10px;margin-bottom: 10px;" >
					          	<f:param name="jobId" value="#{jobController.job.id}"></f:param >
					          </h:commandButton>
					           <h:commandButton styleClass="btn-gray fright" action="#{jobController.rejectToRemove}" immediate="true"  value="Do Nothing" style="margin-top: 10px;margin-bottom: 10px;" >
					          	<f:param name="jobId" value="#{jobController.job.id}"></f:param >
					          </h:commandButton>
					                         
                             <rich:dataScroller  maxPages="7" renderIfSinglePage="false" fastControls="hide" stepControls="hide" boundaryControls="show"  >
                                    
                                    <f:facet name="first">
						                <h:graphicImage value="images/first.png" />
						            </f:facet>
						            
                                    <f:facet name="last">
						                <h:graphicImage value="images/last.png" />
						            </f:facet>
						            
						            
						             <f:facet name="first-disabled">
						                <h:graphicImage value="images/first-disabled.png" />
						            </f:facet>
						            
                                    <f:facet name="last_disabled">
						                <h:graphicImage value="images/last-disabled.png" />
						            </f:facet>					            
                                   
                               </rich:dataScroller>         
							</f:facet>              
					   </rich:dataTable>
					 </h:panelGroup>
					  
					 <h:panelGroup rendered="false">
						 <table class="stylized">
						    <thead>
								<tr height="30px">
								<th > Source Path</th>
								<th > <h:outputText rendered="#{jobController.showSPGrid eq true}" value="Destination Library" />
								<h:outputText rendered="#{jobController.showSPGrid eq false}" value="Destination Path" /></th>
								</tr>
						     </thead>
						   <tr>
						      <td>#{jobController.exportJobSourcePath}</td>
						   
						      <td>#{jobController.exportJobDestinationPath}</td>
						   </tr>
						 
						 </table>
				  </h:panelGroup>
				  <h:panelGroup rendered="#{not empty jobController.exportPathList}">
					  <rich:dataTable id="pathsGrid2" value="#{jobController.exportPathList}" var="path" styleClass="stylized" rows="100" rowClasses="odd,even">
					    <rich:column style="vertical-align:top;width:50%" >
                             <f:facet name="header"> <h:outputText rendered="#{jobController.showSPGrid eq false}" value="Source Path" />
                             <h:outputText rendered="#{jobController.showSPGrid eq true}" value="Library List" /></f:facet>
                             <h:outputText value="#{path.path}"></h:outputText>
                        </rich:column>
                        
                         <rich:column style="vertical-align:top;width:50%">
                           	<f:facet name="header"> <h:outputText rendered="#{jobController.showSPGrid eq true}" value="Destination Library" />
								<h:outputText rendered="#{jobController.showSPGrid eq false}" value="Destination Path" /></f:facet>
                         	<h:outputText value="#{path.destinationPath.replaceAll('%20', ' ')}"></h:outputText>
                         </rich:column>
					   </rich:dataTable>
					 </h:panelGroup>
					 
					 
					

				
				<rich:popupPanel modal="true" autosized="true" resizeable="false" followByScroll="false"
							id="popupPolicy" domElementAttachment="form" width="800" style="background:white;">
							<f:facet name="header">
								<h:outputText value="Retention Policy" />
							</f:facet>
							<f:facet name="controls">
								<h:outputLink value="#"
									onclick="#{rich:component('popupPolicy')}.hide(); return false;">
							                X
							            </h:outputLink>
							</f:facet>
							<h:graphicImage value="images/logo.png" width="142" height="75" style="padding-left:10px;"></h:graphicImage> 
							<h:panelGroup id="policyGrid">
								<table class="stylized">
									<tr class="odd">
										<td width="35%">Name</td>
										<td>#{jobController.job.policy.name}</td>
									</tr>
									<tr class="even">
										<td>Description</td>
										<td>#{jobController.job.policy.description}</td>
									</tr>
									<tr class="odd">
										<td>Document Age (Older than)</td>
										<td>
										 #{jobController.job.policy.docAgeYears} years &amp; #{jobController.job.policy.docAgeMonths} months							
										</td>
										 								
									</tr>
									<tr class="even">
										<td>Effective Last Modified Date (Older than)</td>
										<td>
										   #{jobController.job.policy.lastModifiedYears} years &amp; #{jobController.job.policy.lastModifiedMonths} months
										</td>
									</tr>
									<tr class="odd">
										<td>Last Accessed Date (FileServers only)</td>
										<td>
										#{jobController.job.policy.lastAccessedYears} years &amp; #{jobController.job.policy.lastAccessedMonths} months
										</td>
									</tr>
									
									<tr class="even">
										<td>Size Larger than</td>
										<td>#{jobController.job.policy.sizeGreaterThan} #{jobController.job.policy.sizeUnits}</td>
									</tr>
									<tr class="odd">
										<td>Document Types</td>
										<td style="overflow: scroll;">#{jobController.job.policy.documentTypesStr}</td>
									</tr>
								</table>

							</h:panelGroup>
						</rich:popupPanel>
					 
              
			  </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
