<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"  
        xmlns:h="http://java.sun.com/jsf/html"      
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:a4j="http://richfaces.org/a4j"
        xmlns:rich="http://richfaces.org/rich"
        xmlns:c="http://java.sun.com/jsp/jstl/core" 
        xmlns:fn="http://java.sun.com/jsp/jstl/functions" >
          
   
        <ui:composition template="defaultTemplate.xhtml">
            
            
            <f:metadata >               
               <f:viewParam name="id" id="id" value="#{policyController.policyId}" ></f:viewParam>
               <f:event type="preRenderView" listener="#{policyController.init}"  />
               <f:event type="preRenderView" listener="#{policyController.populatePolicyInfo}"  />
            </f:metadata>
            
            <ui:define name="title">Policy Management</ui:define>
           
            <ui:define name="breadcrumbs">
                <a href="#" class="main">Configuration /</a>
				<a href="#" class="main">Policy Management /</a>
				<a href="#">View Policy</a>
            </ui:define>
            
            <ui:define name="content">
            
              <h:form styleClass="common">
              <div class="error">
              		<h:messages/>
              </div>
                  <table class="stylized">
						<tbody>
							<tr>
								<td width="35%">#{message['policy.policyName.label']}</td>
								<td>#{policyController.policy.name}</td>
							</tr>
							<tr>
								<td>#{message['policy.description.label']}</td>
								<td>#{policyController.policy.description}</td>
							</tr>
							<tr>
								<td>#{message['policy.documentAge.label']}</td>
								<td>
								 #{policyController.policy.docAgeYears} years &amp; #{policyController.policy.docAgeMonths} months							
								</td>
								 								
							</tr>
							<tr>
								<td>#{message['policy.lastModifiedDate.label']}</td>
								<td>
								   #{policyController.policy.lastModifiedYears} years &amp; #{policyController.policy.lastModifiedMonths} months
								</td>
							</tr>
							<tr>
								<td>#{message['policy.lastAccessedDate.label']}</td>
								<td>
								#{policyController.policy.lastAccessedYears} years &amp; #{policyController.policy.lastAccessedMonths} months
								</td>
							</tr>
							
							<tr>
								<td>#{message['policy.sizeLargerThan.label']}</td>
								<td>#{policyController.policy.sizeGreaterThan} #{policyController.policy.sizeUnits}</td>
							</tr>
							
							<tr>
								<td><h:outputText value="Documents Filter" rendered="#{empty policyController.policy.policyDocumentTypes}" /></td>
								<td><h:outputText value="This Policy runs on all Document Categories" rendered="#{empty policyController.policy.policyDocumentTypes}" /></td>
							</tr>
							
							
							
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="Policies.faces" class="btn-gray fleft"><span>List All</span></a>
									<h:link outcome="EditPolicy" value="Edit"  styleClass="btn-gray fleft" >
									   <f:param name="id" value="#{policyController.policy.id}" ></f:param>
									</h:link>
									<h:commandLink styleClass="btn-gray fleft" value="Delete" onclick="return confirm('Are you sure you want delete this policy??');" action="#{policyController.delete}" />
									<a href="AddPolicy.faces" class="btn-gray fright"><span>Add</span></a>
								</td>
							</tr>
						</tfoot>
					</table>
					<br/>
					<br/>
					
					 <h:panelGroup rendered="#{not empty policyController.policy.policyDocumentTypes}">
					    <h:outputText value="Documents Filter" style="font-weight: bold;font-size:14px"></h:outputText>
					    <br/>
					    <rich:dataTable styleClass="stylized"  value="#{policyController.rootNodes}" var="documentCategory">
					       
					       <rich:column >
                             <f:facet name="header"> <h:outputText value="#{message['document.category.heading']}" style="font-size: 12px" /></f:facet>
                             <h:outputText value="#{documentCategory.name}"></h:outputText>
                           </rich:column>
					              					       
					      <rich:column>
					         <f:facet name="header"> <h:outputText value="#{message['document.extension.name.label']}" style="font-size: 12px" /></f:facet>
                                   <ui:repeat value="#{documentCategory.documentTypesList}"  var="documentType" varStatus="index" >
							          <h:panelGroup rendered="#{documentType.selected}">
								          <h:outputText value="#{documentType.name}"  >
								           
								          </h:outputText>#{!index.last ? ', ' : ''}
                                      </h:panelGroup>
								   </ui:repeat>
                           </rich:column>
					        				    
					    </rich:dataTable>
					 
					 
					 </h:panelGroup>  		
							
					
					
              
					
			  </h:form>            
            
            </ui:define>      
               
        </ui:composition>
      
</html>	
	
