/**
 * default development theme for jQRangeSlider
 * Using fam fam icon set from Mark James, http://www.famfamfam.com/lab/icons/silk/ (Creative Commons Attribution 2.5 License)
 */

.ui-rangeSlider{
	height:10px;
}

.ui-rangeSlider .ui-rangeSlider-innerBar{
	height:10px;
	/*margin:3px 6px;*/
	background:#DDD;
}

.ui-rangeSlider .ui-rangeSlider-handle{
	width:6px;
	height:10px;
	background:#AAA;
	/*background:rgba(100,100,100, 0.3);*/
	cursor:col-resize;
	

	border: 1px solid gray; /*Add 1px solid border, use any color you want*/
	background-color: rgb(224,224,224) ; /*Add a background color to the box*/
	text-align:center; /*Align the text to the center*/
}

.ui-rangeSlider .ui-rangeSlider-bar{
	margin: 1px 0;
	background:#CCC;
	background:rgba(100,100,150, 0.2);
	height:10px;
	cursor:move;
	cursor:grab;
	cursor: -moz-grab;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
	cursor:	-moz-grabbing;
	cursor:grabbing;
}

.ui-rangeSlider-arrow{
	height:10px;
	margin:0px 0;
	width:16px;
	background-repeat:no-repeat;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
	background-image: url('icons-classic/resultset_previous.png');
	background-position:center left;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
	background-image: url('icons-classic/resultset_next.png');
	background-position:center right;
}

.ui-rangeSlider-arrow-inner{
	display: none;
}

.ui-rangeSlider-container{
	height:10px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
	margin:0 11px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
	margin:0;
}

.ui-rangeSlider-label{
	margin:0 2px 2px;
	background-image:url('icons-classic/label.png');
	background-position:bottom center;
	background-repeat:no-repeat;
  white-space: nowrap;
  bottom:10px;
  padding:3px 6px 7px;
  cursor:col-resize;
}

.ui-rangeSlider-label-inner{
	display:none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue{
	width:3em;
	vertical-align: middle;
	text-align:center;
}
