@CHARSET "UTF-8";

body {
	margin:0;
    padding:0;
	background: #f5f5f5 url(../images/bg-header2.png) left top repeat-x;
}

#page {
	background: url(../images/page-login-bg.gif) left top no-repeat;
	width: 100%;
	min-height: 600px;
}
#page-login {
	margin:0 auto; padding:0px;
	text-align:center; 
	width: 370px;
	
}
#page-login > a {
	display: block;
	text-align: center;
	margin-bottom: 60px;
}
#page-login input[type=submit] {
	margin-right: 0;
}

#footer {
	
	font-size: 11px;
	margin-left: 230px;
}