@CHARSET "UTF-8";

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, p, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    background: white;
    font: 13px Arial, Helvetica, sans;
    color: #3e3f3e;
}
h2 {
    margin: .2em 0;
    padding: 20px 0 0 20px;
}
div#content {
    /*
   border-left: 1px solid #ccc;
    padding: 0 0 40px 0;
    margin-left: 200px;
    min-height: 600px;

 */
}
div#content h1 {
    background: url(../images/theme/subheader-bg.png);
    position: relative;
    font: bold 19px/34px Arial, sans;
    text-shadow: 1px 1px 1px #fff;
    padding: 2px 0 0 20px;
    height: 32px !important;
    height: 34px;
    margin: 0 0 5px 0;
    color: #3b3b39;
}
div#content h1 span {
    display: block;
    position: absolute;
    left: 31px;
    top: 32px;
    width: 16px;
    height: 10px;
    background: url(../images/theme/subheader-arrow.png);
}
div#content div.main-area {
    position: relative;
    padding: 20px 25px;
    width: 738px !important;
    width: 788px;
    margin: 0 4px;
    border: 2px solid #dcddda;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    behavior: url(pie/pie.php);
}
div#content div.main-area > span:first-child {
    display: block;
    position: absolute;
    left: 26px;
    top: -2px;
    width: 14px;
    height: 10px;
    background: url(../images/theme/content-bg.gif);
}
div#content table.list {
    width: 982px;
    margin: 0 4px;
    border: 2px solid #dcddda;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    behavior: url(pie/pie.php);
}
div#content table.list strong {
    color: #cb0f00;
    font-weight: bold;
    font-size: 12px;
}
div#content table.list thead {
    background: url(../images/theme/thead-bg.gif);
    line-height: 31px;
    height: 31px;
}
div#content table.list thead th {
    text-shadow: 1px 1px 1px #fff;
    font-size: 11px;
    text-align: left;
    padding: 0 0 0 15px;
    background: url(../images/theme/table-topsep.png) left top no-repeat;
}
div#content table.list thead th:first-child {
    background: none;
}
div#content table.list thead th:first-child div {
    position: relative;
}
div#content table.list thead th:first-child span {
    display: block;
    position: absolute;
    left: 12px;
    top: -2px;
    width: 12px;
    height: 9px;
    background: url(../images/theme/table-list-arrow.gif);
}
div#content table.list tbody td {
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    padding: 0 0 0 15px;
    border-left: 1px solid #e8e8e6;
}
div#content table.list tbody td.icon-doc {
    padding-left: 30px;
    background: url(../images/theme/icon-doc.png) 5px 5px no-repeat;
}
div#content table.list tbody td.icon-movie {
    padding-left: 30px;
    background: url(../images/theme/icon-movie.png) 5px 5px no-repeat;
}
div#content table.list tbody td.icon-music {
    padding-left: 30px;
    background: url(../images/theme/icon-music.png) 5px 5px no-repeat;
}
div#content table.list tbody td a {
    color: #f35500;
}
div#content table.list tbody tr.odd {
    background: #fff;
}
div#content table.list tbody tr.even {
    background: #f5f6f5;
}
div#content table.list tfoot {
    background: url(../images/theme/tfoot-bg.gif);
}
div#content table.list tfoot td {
    line-height: 42px;
    height: 42px;
}
/* added for button styles on viewfile.jsp*/
.button {
    float: left;
    height: 24px;
    border: none;
    padding: 0 0 0 15px;
    margin: 0;
    display: block;
    text-shadow: 1px 1px 1px #fff;
    font: bold 10px/24px Tahoma;
    cursor: pointer;
    color: #3e3f3e;
}

.button_download {
    float: left;
    height: 24px;
    border: none;
    padding: 0 0 0 0;
    margin: 0;
    display: block;
    text-shadow: 1px 1px 1px #fff;
    font: bold 10px/24px Tahoma;
    cursor: pointer;
    color: #3e3f3e;
}

.btn-search {
    width: 72px;
    background: url(../images/theme/btn-search.png);
}
.btn-create {
    width: 72px;
    background: url(../images/theme/btn-create.png);
    margin: 12px 30px 0 0;
}
.fright {
    float: right;
    margin: 0 3px;
}

.btn-cancel {
    width: 72px;
    background: url(../images/theme/btn-cancel.png);
}
.mr-30 {
    margin-right: 30px;
}
.btn-agentlist {
    width: 99px;
    background: url(../images/theme/btn-agentlist.png);
}
.btn-joblist {
    width: 99px;
    background: url(../images/theme/btn-joblist.png);
}
.btn-remove-all {
    width: 93px;
    background: url(../images/theme/btn-removeall.png);
}
.btn-add-extension {
    width: 109px;
    background: url(../images/theme/btn-plain.png);
}
.btn-reevaluate {
    width: 109px;
    background: url(../images/theme/btn-reevaluate.png);
}
.btn-add-download {
    width: 109px;
    background: url(../images/theme/btn-add-extension.png);
}
.img-xml-loading {
    background: url(../images/loading.gif);
}