@CHARSET "UTF-8";

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, p, form, fieldset, table, th, td, input { 
	margin: 0; 
	padding: 0; 
	font-family: verdana,helvetica,arial,sans-serif;
	color: #474747;
	font-size:11px;
	font-stretch:normal;
	text-shadow: 1px 1px 1px #fff;
}
img{
	border:0;
}
body {
	margin:0;
    padding:0;
	background: #f5f5f5 url(../images/main-bg.gif) left top repeat-x;	
	width: 99.2%;	
	height: 98%;
	
}
h3 {	
	font-size: 12px;
	font-weight: bold;
	margin: 29px 0 10px 0;
}
hr {
	border-top: 1px	 #d2d2d2;
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right:0 !important;
}
a, a:visited {
	outline: none;
	color: #626060;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #f87933;
}

#page {
	background: url(../images/page-bg.gif) left top no-repeat;
	width: 100%;
	height: 100%;
}

#header {
	position: relative;
	height: 60px;
}
#header > a:first-child {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 136px;
/*	background: url(../images/logo.png) left top no-repeat;*/
}
#header > ul {
	position: absolute;
	right: 0;
	top: 65px;
	height: 20px;
}
#header > ul > li {
	float: left;
	list-style: none;
	
	position: relative;	
	width: 120px;
	height: 20px;
	text-align: center;
}
#header > ul > li > a {
	display: block;
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	text-align: center;
	width: 110px;
	text-decoration: none;
	color:#626060;
	font-family: verdana,helvetica,arial,sans-serif;
}
#header > ul > li:first-child, #header > ul > li:first-child a {
	width: 109px;
	
}
#header > ul > li > a.active, #header > ul > li > a:hover {
	color: #626060;;
	
}
#header > ul > li > a.open {
	background: url(../images/icon-dropdown.png) right 0 no-repeat;
}
#header > ul > li > a.close {
	background: url(../images/icon-dropdown.png) right -20px no-repeat;
}
#header > ul > li ul {
	cursor: pointer;
	display: none;
	position: absolute;
	right: 0;
	top: -6px;
	z-index: 100;
	background: url(../images/dd-overlay.png) left top no-repeat;
	border-bottom: 1px solid #ccc;
	padding: 32px 0 0 0;
	text-align: left;
	
}
#header > ul > li ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
}
#header > ul > li ul li a {
	display: block;
	font-size: 14px;
	line-height: 36px;
	background: url(../images/icon-submenu.png) 18px no-repeat;
	width: 174px !important;
	width: 228px;
	padding: 0 0 0 54px;
	text-decoration: none;
	vertical-align:middle;
	color:#626060;
	font-family: verdana,helvetica,arial,sans-serif;
}
#header > ul > li ul li a:hover {
	color: #f87933;
	background-position: 27px -30px;
}
#crumbs {
	line-height: 30px;
	padding-left: 10px;
}
#crumbs a {
	font: 14px verdana,helvetica,arial,sans-serif;
	color: #474747;
}
#crumbs a.main {
	font-size: 16px;	
}

#page .left {
	float: left;
	width: 20%;
	margin: 70px 0 0 0;
}
#page .left > ul > li {
	margin: 0 0 8px 0;
}
#page .left > ul > li > a {
	font-size: 16px;
	font-family:verdana,helvetica,arial,sans-serif;
	color: #474747;
	line-height: 30px;
	margin: 0 0 0 10px;
	padding: 0 0 0 27px;
	display: block;
}

#page .left > ul > li > a.repository {
	background: url(../images/icon-repository.png) 0 0 no-repeat;
}
#page .left > ul > li > a.repository:hover {
		color: #f87933;
	}
#page .left > ul > li > a.system {
	background: url(../images/icon-system.png) 0 0 no-repeat;
}
#page .left > ul > li > a.system:hover {
		color: #f87933;
	}
#page .left > ul > li > a.configuration {
		background: url(../images/icon-configuration.png) 0 0 no-repeat;
}
#page .left > ul > li > a.configuration:hover {
		color: #f87933;
	}
#page .left > ul > li > a.account-management {
	background: url(../images/icon-account-management.png) 0 0 no-repeat;
}
#page .left > ul > li > a.account-management:hover {
		color: #f87933;
	}
#page .left > ul > li li a {
	display: block;
	font-size: 14px;
	color: #474747;
	line-height: 30px;
	margin: 0 0 0 30px;
	padding: 0 0 0 27px;
	background: url(../images/icon-submenu.png) 0 0 no-repeat;
}
#page .left > ul > li li a:hover {
		color: #f87933;
	}
#page .left > ul > li.active > a, #page .left > ul > li.active a.active {
	color: #f87933;
	background-position: 0 -30px;
}
#page .left > ul > li ul {
	display: none;
}
#page .left > ul > li.active ul {
	display: block;
}
#page .right {
	float: left; 
	width: 77% !important;
	width: 77%;
	padding: 0 20px 65px 20px;
	padding-left:0;
}
#page .right .content {
	margin: 45px 0 0 0;
	height: 100%;
}

.search {
	margin: 1px 0 0 0;	
}
.search-tree {
	float: left;
	width: 100%;
	max-width:100%;
	height: 490px;
	max-height:490px;	
	/*margin-right: 5px;*/
	overflow:scroll !important;
	overflow-X:scroll !important;
	overflow-Y:scroll;
	background: white;
	border-left: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.search-grid {
	float: left;
	width: 77%;
	
	height: 525px;
	max-height:525px;
	 
	margin-top: 5px;	
	  
}



.search-tree .extend {
	display: block;
	background: url(../images/icon-extend.png) right center no-repeat;
}
.search-content {
	height: 503px;
	overflow-y: auto;
	margin-top: 1px;
	border-top: 1px solid #d2d2d2;
}
.search-content > div {
	height: 460px;
	overflow: auto;
}
div.show-up, div.show-down {
	height: 28px;
	padding-top: 5px;
	padding-left: 5px;	
	
}
div.show-up {
	background: url(../images/icon-up.png) right center no-repeat;

}

.search-content tr {
	cursor: pointer;
}

.type-category {
	height: 200px;
	overflow-y: auto;
	border: 1px solid #d2d2d2;
	background: #fff;
	padding: 5px;
	line-height: 1.7em;
}

.fileexp-category {
	height: 500px;
	overflow-y: auto;
	border: 1px solid #d2d2d2;
	background: #fff;
	padding: 5px;
	line-height: 1.7em;
}

.type-category dt {
	background: url(../images/list-bg.png) left 0 no-repeat;
	padding: 0 0 0 20px;
}
.type-category dt.active {
	background-position: 0 -34px;
}

.pagination {
	margin: 1em 0;
	width: 90%;
}
.pagination, .pagination * {
	font-size: 11px;
	line-height: 30px;
}
.pagination p {
	width: 50%;
}
.pagination div {
	float: right;
}
.pagination div a {
	font-size: 11px;
	font-weight: bold;
	color: #474747;
	float: left;
	display: block;
	width: 27px;
	margin: 0 5px;
	text-align: center;
	line-height: 30px;
	background: url(../images/btn-gray-small.png);
}
.pagination div a.wide {
	width: 73px;
	background: url(../images/btn-gray.png);
}
.pagination div a:hover {
	text-decoration: none;
	color: #474747;
	background-position: 0 -30px;
}

.search-result {
	border: 1px solid #d2d2d2;
	height: 400px;
	overflow-y: auto;
}
.search-result li {
	padding: 10px 15px 10px 60px;
	list-style: none;
	background-color: #fff;
}
.search-result li.type-word {
	background-image: url(../images/icon-word.gif);
	background-repeat: no-repeat;
	background-position:  10px 5px;
	font-size: 11px;
	color: #949292;
	}
.search-result li.odd {
	background-color: #f5f5f5;
}

.search-result li a {
	font-size: 11px;
	font-weight: bold;
	color: #f87933;
}
.search-result li p {
	margin-top: 10px;
}

.even{
background-color: #ffffff;
}
.odd{
background-color: #f5f5f5;
}


table.stylized {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border: 1px solid #d2d2d2;	
	
}
table.stylized tfoot td {
	background: #e9e9e9;
	height: 40px;
	
}
table.stylized tr {
	background: #fff;
	
}
table.stylized tr.odd {
	background: #f5f5f5;
}

table.stylized thead td {
	height: 40px;
	line-height: 40px;
}

table.stylized th {
	line-height: 40px;
	text-align: left;
	background: url(../images/bg-tableheader.png);
	padding: 0 15px;
	border-right: 1px solid #d2d2d2;
	font-weight: bold;
	font-family:verdana,helvetica,arial,sans-serif;
  
}
table.stylized td {
	line-height: 30px;
	padding: 0 15px;
	border-right: 1px solid #d2d2d2;
	font-family:verdana,helvetica,arial,sans-serif;
	border-bottom: 0 ;   
    font-size: 11px;
    padding-top:5px; 
    padding-left:15px ;   
	
}
table.stylized td a {
	color: #f87933;
	font-family:verdana,helvetica,arial,sans-serif;
    font-size: 11px;
    	
}

table.stylized thead a {
	color: #f87933;
	font-family:verdana,helvetica,arial,sans-serif;
    font-size: 11px;
    	
}

form.common {
	display: block;
}
form.common label {
  font-weight: bold;
  color: #3c3d3c;
}
form.common td {
	padding-top: 5px;
}
form.common input[type=text], form.common input[type=password] {
	color: #626060;
	border: 1px solid #d2d2d2;
	border-top: none;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	padding: 0 5px;
	width:220px;
	background: url(../images/bg-inputbox.png);
	font-family: verdana,helvetica,arial,sans-serif;
}

form.common select {
	color: #626060;
	border: 1px solid #d2d2d2;
	border-top: none;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	padding: 0 5px;
	width:232px;
	background: url(../images/bg-inputbox.png);
	font-family: verdana,helvetica,arial,sans-serif;
}


form.common textarea.resizable {
	width: 100%;
	height: 90px;
	border: 1px solid #d2d2d2;
	
	background: #fff url(../images/bg-inputbox.png) left top repeat-x;
}
form.common select {
	padding: 3px 0;
}

.error {
	color: #ff1413;
	font-family: verdana,helvetica,arial,sans-serif;
}
.error div {
	font-weight: bold;
	color: #ff1413;
	border-bottom: 1px solid #d2d2d2;
	margin: 0 0 1px 0;
}
.error li {
	font-weight: bold;
	color: #ff1413;
	list-style: none;
	background: #ffecd9 url(../images/icon-error.png) 20px center no-repeat;
	line-height: 2.2em;
	padding: 0 0 0 45px;
}
.orange {
	color: #f87933;
}
.green {
	color: #52c95c;
}

/* Buttons start */

.stylized td a.button, form.common a.button {
	display: block;
	color: #626060;
	line-height: 26px;
	text-align: left;
	
}
.stylized td a.button:hover, form.common a.button:hover {
	text-decoration: none;
}
.stylized td a.button span, form.common a.button span {
	display: block;
	height: 26px;
}
.stylized td a.button-small, form.common a.button-small {
	width: 73px;
	text-align:center;	
	background: url(../images/btn-gray.png) no-repeat;
}
.stylized td a.button-small:hover, form.common a.button-small:hover {
	background-position: 0 1 ;
}
.stylized td a.button-rerun span, form.common a.button-rerun span {
	font-size: 11px;
	padding: 0 0 0 25px;
	background: url(../images/icon-rerun.png) 10px 10px no-repeat;
}
.stylized td a.button-export span, form.common a.button-export span {
	font-size: 11px;
	padding: 0 0 0 25px;
	background: url(../images/icon-export.png) 10px 10px no-repeat;
}
.stylized td a.button-add span, form.common a.button-add span {
	font-size: 11px;
	padding: 0 0 0 25px;
	background: url(../images/icon-add.png) 10px 10px no-repeat;
}
.stylized td .lbtn {
	 float: left;
	 text-align: center !important; 
	 margin-right: 10px;
}

/* Buttons end */

#footer {
	margin-left: 228px;
	font-size: 11px;	
}

#main{
	line-height: 40px;
}


a{
	font-family: verdana,helvetica,arial,sans-serif;
	font-size:11px;
	font-weight: normal;
}



/* Common CSS styles */

.clear {
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.hidden {
	display: none;
}
.visible {
	display: block !important;
}


table.stylized-narrow{
	width: 100%;
}
table.stylized-narrow tfoot td {
	background: #e9e9e9;
	height: 30px;  
	
}
table.stylized-narrow tr {
	background: #ffffff;
	
}
table.stylized-narrow tr.odd {
	background: #f5f5f5;
}
table.stylized-narrow th {
	line-height: 30px;
	text-align: left;
	background: url(../images/bg-tableheader.png);
	padding: 0 5px;
	border-right: 1px solid #d2d2d2;
	font-weight: bold;
	font-family:verdana,helvetica,arial,sans-serif;
  
}
table.stylized-narrow td {
	line-height: 20px;
	padding: 0 5px;
	border-right: 1px solid #d2d2d2;
	font-family: verdana,helvetica,arial,sans-serif;
	border-bottom: 0 ;   
    font-size: 11px;
    padding-top:5px; 
    padding-left:5px ;   
	
}
table.stylized-narrow td a {
	color: #f87933;
	font-family: verdana,helvetica,arial,sans-serif;
    font-size: 11px;
    padding-top:5px;    
	
}
 .sh-link{
    color: #f87933;
	font-family: verdana,helvetica,arial,sans-serif;
    font-size: 11px;
    padding-top:5px;  
 }
/* paging control */

 .rf-ds-nmb-btn{
    background-image: none !important;
    height:13px !important;
    line-height: 26px;
    border:0 !important;
    padding-top: 3px !important;
    background-color: transparent !important;
    vertical-align: bottom !important;  
    color: #f87933;                 
  }
  
  #rf-ds-nmb-btn a{
      color: #f87933 !important;
  }
  
  .rf-ds-act{
      height: 13px;
      color: black !important;
      vertical-align: bottom;
  }
  .rich-datascr-inact{
    color: #f87933 !important;
    
  }
  
  .rf-ds{
     background-color: #E9E9E9 !important;
     vertical-align: bottom;
     border:0;
     
     vertical-align:middle;
  }
  .rf-ds-btn{
     background-color:transparent !important;
     background:none !important;
     border: 0 !important;
     height: 5px;
     width:13px;
     vertical-align:middle;
     
  }
  .rf-ds-nmb-btn:hover{
     background-color:transparent !important;
     background-image:none !important;
     border: 0 !important;
  }
  
  .rf-ds-btn-first{
   width: 13px !important;
   height: 5px !important;
   vertical-align: middle;
  
  }
  
  .rf-ds-btn-first img{
   border:0;
  
  }
    
  .rf-ds-btn-last{
   width: 13px;
   height: 5px;
   vertical-align: middle;
   
  }
   
   .rf-ds-btn-last img{
   border:0;
  
  } 
   
  /* paging control */



.rf-tab-hdr-act{
	
	padding: 0 25px 8px 35px !important;
}

.rf-tab-hdr-inact {	
	
	padding: 0 25px 8px 35px !important;
}
.rf-tab-hdr-tabline-bottom{
	border:0 !important;
}

.rf-tab-hdr-tabline-vis{
	border: none !important;
	
}
.rf-tab-hdr-tabline-top{
	border:none !important;
}


.rf-tab-hdr-tabs{
	border: 0 !important;
}
.rf-tab-hdr-spcr{
	border:0 !important;
}

.rf-pm-top-gr-lbl{
 color:#f87933 !important;
}

/* buttons styles */

form.common .btn-orange {
	/*height: 26px !important;
	line-height:26px !important;
	text-align: center !important;
	border: none;
	font-size: 11px;
	font-weight:normal;	
	font-family: verdana,helvetica,arial,sans-serif;
	color: #000000;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;		*/
}


form.common .btn-gray {
	/*height: 26px !important;
	line-height:26px !important;	
	text-align: center !important;
	border: none;
	font-size: 11px;		
	color: #000000;
	font-weight:normal;	
	font-family: verdana,helvetica,arial,sans-serif;	
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;	*/
}

form.common .btn-back {

	height: 30px !important;
	line-height:30px !important;
	text-align: center !important;
	border: none;
	font-size: 11px;
	
	color: black;
	font-family: verdana,helvetica,arial,sans-serif;
}
	
}

.btn-gray, .btn-orange {
	/*cursor: pointer;	
	height: 26px !important;
	
	width:110px;
	text-align: center !important;
	border: none;
	font-size: 11px;
		
	font-family: verdana,helvetica,arial,sans-serif;*/
	
	
}
.btn-gray {
	/*background: url(../images/btn-gray-round.png) no-repeat !important;
	width: 110px;
	height:26px;
	border:0;
	
	margin-right:5px;
	text-align: center;	
	font-family: verdana,helvetica,arial,sans-serif !important;*/
	background: linear-gradient(#F4F4F4, #DEDEDE) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #9B9B9B !important;
    color: #000000 !important;
    display: inline-block !important;
    font-size: 12px !important;
    text-align: center !important;
    text-decoration: none !important;
    width: 110px !important;
    margin-top: 7px !important;
    height: 22px;
    margin-left: 5px;
    line-height:22px;
}

.btn-back {
	background: url(../images/btn-back.png) no-repeat !important;
	width: 27px;
	height:30px;	
}

.btn-orange { 
	/*
	color: #000000;
	background: url(../images/btn-gray-round.png) no-repeat !important;
	width: 110px;
	height:26px;
	border:0;
	margin-right: 5px;
	font-family: verdana,helvetica,arial,sans-serif !important;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;*/
    background: linear-gradient(#F4F4F4, #DEDEDE) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #9B9B9B !important;
    color: #000000 !important;
    display: inline-block !important;
    font-size: 12px !important;
    text-align: center !important;
    text-decoration: none !important;
    width: 110px !important;
    margin-top: 7px !important;
    height: 22px;
    margin-left: 5px;
    line-height:22px;		
}
.btn-gray:hover, .btn-orange:hover {

	/*color: #ffffff !important;	
	text-shadow: 1px 1px 1px #777;
	background: url(../images/btn-orange-round.png) no-repeat !important;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 0;*/
    color: #f87933 !important;
    font-weight:bold;
	/*background: linear-gradient(#F3AD4F, #DD7B30) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;*/
}

.btn-paging { 
	color: #000000;
	background: url(../images/btn-gray-round.png) no-repeat center !important;
	width: 40px;
	height:26px;
	border:0;
	margin-right: 5px;
	font-family: verdana,helvetica,arial,sans-serif !important;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;		
}
.btn-paging:hover {
	color: #ffffff !important;	
	text-shadow: 1px 1px 1px #777;
	background: url(../images/btn-orange-round.png) no-repeat center !important;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 0;	
}
.btn-paging-hover {
	color: #ffffff !important;	
	text-shadow: 1px 1px 1px #777;
	background: url(../images/btn-orange-round.png) no-repeat center !important;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 0;
}

.rf-trn {
   font-family: verdana,helvetica,arial,sans-serif !important;		
}
/*for radio button*/
table.stylizedRadio {
	width: 35%;
	border: none;
	border-collapse: collapse;
	padding: 0px;
	/*border: 1px solid #d2d2d2;*/	
	
}
table.stylizedRadio td {
	line-height: 30px;
	padding: 0 15px;
	border-right: 0;
	font-family:verdana,helvetica,arial,sans-serif;
	border-bottom: 0 ;   
    font-size: 11px;
    padding-top:5px; 
    padding-left:15px ;   
    background-color:#f5f5f5;    
}

/*for radio white bg button*/
table.stylizedRadioWhite {
	width: 35%;
	border: none;
	border-collapse: collapse;
	padding: 0px;
	/*border: 1px solid #d2d2d2;*/	
	
}
table.stylizedRadioWhite td {
	line-height: 30px;
	padding: 0 15px;
	border-right: 0;
	font-family:verdana,helvetica,arial,sans-serif;
	border-bottom: 0 ;   
    font-size: 11px;
    padding-top:5px; 
    padding-left:15px ;
    background: transparent;
}

/*for stub access page*/

table.stylizedStub {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border: 1px solid #d2d2d2;	
	
}
table.stylizedStub tfoot td {
	background: #e9e9e9;
	/*height: 40px;*/
	
}
table.stylizedStub tr {
	background: #fff;
	
}
table.stylizedStub tr.odd {
	background: #f5f5f5;
}

table.stylizedStub thead td {
	height: 30px;
	line-height: 30px;
}

table.stylizedStub th {
	line-height: 40px;
	text-align: left;
	background: url(../images/bg-tableheader.png);
	padding: 0 15px;
	border-right: 1px solid #d2d2d2;
	font-weight: bold;
	font-family:verdana,helvetica,arial,sans-serif;
  
}
table.stylizedStub td {
	line-height: 20px;
	padding: 0 15px;
	border-right: 1px solid #d2d2d2;
	font-family:verdana,helvetica,arial,sans-serif;
	border-bottom: 0 ;
    font-size: 11px;
    padding-top:5px;
    padding-left:15px ;  
	
}
table.stylizedStub td a {
	color: #f87933;
	font-family:verdana,helvetica,arial,sans-serif;
    font-size: 11px;
    	
}

table.stylizedStub thead a {
	color: #f87933;
	font-family:verdana,helvetica,arial,sans-serif;
    font-size: 11px;
    	
}
.rf-pp-shdw{
	width: 0 !important;
}


.rf-ulst-itm, .rf-olst-itm, .rf-dlst-trm, .rf-dlst-dfn {
	color:#474747;
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 11px;
}

.logged-in-label{
	float: right;
	margin-top: 40px;
	color:#626060;
}