<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:head>
		<title>pdfNavigation.xhtml</title>
		<meta http-equiv="keywords" content="enter,your,keywords,here" />
		<meta http-equiv="description" content="A short description of this page." />
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
		
		<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
	</h:head>
	<h:body>
		
		<h:form id="navigationForm">
			<h:panelGroup style="align: center;" id="pagination">
			<table class="stylized">
				<tr>
					<td align="center" width="30%">
					        <!-- previous page -->
			            <h:panelGroup styleClass="floatLeft">
			                <a4j:commandLink value="&lt;&lt;prev"
			                        styleClass="command previousCommand"
			                        disabled="#{documentManager.currentDocumentState == null}"
			                        actionListener="#{documentManager.previousPage}" render="documentPanel pagination">
			                    <h:graphicImage
			                            value="./css/images/spacer.gif"
			                            alt="#{msgs['command.navigation.previous.label']}"
			                            title="#{msgs['command.navigation.previous.label']}"
			                            width="30" height="25" rendered="false"/>
			                </a4j:commandLink>
			            </h:panelGroup>				

							            <!-- manual page entry-->
			            <h:panelGroup 
			                            style="padding-top:3px;padding-left:8px;padding-right:8px;">
			                <h:outputLabel value="#{msgs['command.page.entry.label']}"/>
			                <h:inputText maxlength="5" size="2" id="pageNumber"
			                               disabled="#{documentManager.currentDocumentState == null}"
			                               onkeypress="if(event.keyCode==13){document.getElementById('navigationForm:goToPageButton').click();return true;}return true;"
			                               value="#{documentManager.currentDocumentState.pageCursor}" required="true"/>
			                <h:outputLabel
			                        value="#{msgs['command.page.display.label']} of #{documentManager.currentDocumentState.documentLength}"/>
			            </h:panelGroup>
		            	<a4j:commandButton id="goToPageButton" style="display:none;"
							action="#{documentManager.goToPage}" value="Search"
							render="documentPanel pagination pageNumber"
							rendered="false">
						</a4j:commandButton>

							                                   <!-- next page -->
			            <h:panelGroup style="height:40px;background:none !important;">
			                <a4j:commandLink value="next &gt;&gt;"
			                        disabled="#{documentManager.currentDocumentState == null}"
			                        actionListener="#{documentManager.nextPage}" render="documentPanel pagination">
			                    <h:graphicImage value="./css/images/spacer.gif"
			                                      alt="#{msgs['command.navigation.next.label']}"
			                                      title="#{msgs['command.navigation.next.label']}"
			                                      width="30" height="25" rendered="false"/>
			                </a4j:commandLink>
			            </h:panelGroup>
					</td>
					<td align="center" width="30%">
					<b>
						<h:outputLabel value="Zoom:"/>
						</b>

					<!-- Document zoom -->
					    <h:panelGroup>
			                <h:selectOneMenu partialSubmit="true"
			                                   disabled="#{documentManager.currentDocumentState == null}"
			                                   value="#{documentManager.currentDocumentState.zoom}">
			                    <f:selectItems
			                            value="#{documentManager.currentDocumentState.zoomLevels}"/>
			                            
			                            <a4j:ajax event="change" listener="#{documentManager.documentZoomLevelChange}" render="documentPanel pagination"></a4j:ajax>
			                </h:selectOneMenu>
			            </h:panelGroup>
					</td>
					<td width="20%">
						            <!-- rotate left -->
			            <h:panelGroup
			                            style="padding-left:20px;padding-right:10px">
			                <a4j:commandLink			                       
			                        disabled="#{documentManager.currentDocumentState == null}"
			                        actionListener="#{documentManager.rotateDocumentLeft}" render="documentPanel pagination pageNumber"
			                        title="rotate left">
			                    <h:graphicImage
			                            value="/images/rotate-ccw-standard.gif"
			                            alt="#{msgs['command.rotation.left.label']}"
			                            title="#{msgs['command.rotation.left.label']}"
			                            width="30" height="25"/>
			                </a4j:commandLink>
			            </h:panelGroup>
			            <!-- rotate right -->
			            <h:panelGroup >
			                <a4j:commandLink			                       
			                        disabled="#{documentManager.currentDocumentState == null}"
			                        actionListener="#{documentManager.rotateDocumentRight}" render="documentPanel pagination pageNumber"
			                        title="rotate right">
			                    <h:graphicImage
			                            value="/images/rotate-cw-standard.gif"
			                            alt="#{msgs['command.rotation.right.label']}"
			                            title="#{msgs['command.rotation.right.label']}"
			                            width="30" height="25"/>
			                </a4j:commandLink>
			            </h:panelGroup>
					</td>
					<td width="20%">
					            <!-- enable/disable font engine -->
			            <h:panelGroup  >
			                <a4j:commandLink
			                        actionListener="#{documentManager.toggleFontEngine}" render="documentPanel pagination pageNumber">
			                    <h:graphicImage
			                            value="/images/font-engine_#{documentManager.fontEngine}.gif"
			                            width="112" height="25"
			                            alt="font engine"
			                            title="#{msgs['command.fontengine.label']}"/>
			                </a4j:commandLink>
			            </h:panelGroup>			        
					</td>
					<td>
						<h:commandLink  immediate="true" action="#{documentManager.downloadFile}" rendered="#{explorer.downloadEnabled eq true}" >							
							<h:graphicImage value="/images/icon-open-download.png" width="20" height="20" title="Open/Download"></h:graphicImage>
					    </h:commandLink>
					</td>
				</tr>
				
			</table>
				<h:panelGroup styleClass="floatLeft" style="width:5px" rendered="false">
                	&amp;nbsp;
            	</h:panelGroup>


	            
		                        <!-- spacer -->
	            <h:panelGroup styleClass="floatLeft" style="width:10px" rendered="false">
	                &amp;nbsp;
	            </h:panelGroup>
	

            	
			</h:panelGroup>
		</h:form>
	</h:body>
</html>
