<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:head>
		<title>document.xhtml</title>
		<meta http-equiv="keywords" content="enter,your,keywords,here" />
		<meta http-equiv="description" content="A short description of this page." />
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
		
		<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
	</h:head>
	<h:body>
		<h:form>
			<h:panelGroup>
			<a4j:commandLink value="click me" actionListener="#{documentManager.openDocument}" render="documentPanel" rendered="false">
    			<a4j:param name="documentPath" value="/archive/FS/192.168.30.27/Books &amp; Tutorials on AtiqurRehman (Vc8)/Groovy Grails/Beginning_Groovy_and_Grailstqw.pdf"></a4j:param>
    	 	</a4j:commandLink>
    	 	<table class="stylized">
    	 		<tr>
    	 			<td align="center">
    	 							        <!-- current page image snapshot -->				        
			        <h:panelGroup styleClass="documentPageView" id="documentPanel">
			            <h:graphicImage
			                    rendered="#{documentManager.currentDocumentState != null}"
			                    width="#{documentManager.currentDocumentState.pageWidth}"
			                    height="#{documentManager.currentDocumentState.pageHieght}"
			                    value="/pdfRenderer/?documentId=#{documentManager.currentDocumentState.documentId}"/>
			            <rich:messages/>
			
			        </h:panelGroup>
    	 			</td>
    	 		</tr>
    	 	</table>

			</h:panelGroup>
		</h:form>
	</h:body>
</html>
